@import "../utils/_variables.scss";

.nav {
  padding: 0;
  height: 60px;

  &__link {
    text-transform: uppercase;
    font-weight: 500;
    padding: 23px 0;
    text-decoration: none;
    font-size: 12px;
    height: 60px;
    color: $color-main-accent;
    display: block;
    white-space: nowrap;

    &:hover {
      color: $color-accent-blue;
    }

    &-item {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
}
