html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.header {
  -webkit-box-shadow: 0 2px 4px 0 #0000000d;
          box-shadow: 0 2px 4px 0 #0000000d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.nav__logo {
  height: 40px;
  width: 40px;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0 0 0 20px;
}

.nav__item:first-child {
  margin: 0 0 0 -40px;
}

.nav__link {
  text-decoration: none;
  height: 60px;
  color: #060b35;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
}
