* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h2,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.header {
  -webkit-box-shadow: 0 2px 4px 0 #0000000d;
          box-shadow: 0 2px 4px 0 #0000000d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
}

.nav__logo {
  height: 40px;
  width: 40px;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin: 0 0 0 20px;
}

.nav__item:first-child {
  margin: 0 0 0 -40px;
}

.nav__link {
  text-decoration: none;
  height: 60px;
  color: #060b35;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #00acdc;
  border-radius: 8px;
}

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__logo {
  width: 160px;
  height: 134px;
  margin: 32px auto 40px;
}

.card__content {
  margin: 0 16px;
}

.card__header {
  font-size: 12px;
  font-weight: 500;
  color: #060b35;
  line-height: 18px;
}

.card__code {
  font-weight: 400;
  font-size: 10px;
  color: #616070;
  line-height: 14px;
  margin-top: 4px;
}

.card__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.card__reviews {
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
}

.card__price {
  margin-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__price-value {
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.card__price-cost {
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}

.card__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #00acdc;
  text-decoration: none;
  background: #00acdc;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition: color 0.8s linear, background-color 0.8s;
  transition: color 0.8s linear, background-color 0.8s;
  margin: 16px 0;
}

.card__button:hover {
  background: white;
  color: #00acdc;
}

/* #endregion */
/* #region stars */
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__star {
  background: url(../images/star.svg) 50% no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.stars__star:first-child {
  margin: 0;
}

.stars--1 :nth-child(1),
.stars--2 :nth-child(-n + 2),
.stars--3 :nth-child(-n + 3),
.stars--4 :nth-child(-n + 4),
.stars--5 :nth-child(-n + 5) {
  background-image: url(../images/star-active.svg);
}

/* #endregion */
