:root {
  box-sizing: border-box;
 }

body,
nav {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;  

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #fff;
  cursor: pointer;
  height: 60px;
  border-bottom: 1px solid #f3f3f3;
  position: sticky;
  top: 0;

  
  @media (min-width: 1024px) {
    gap: 243px;
  }

  @media (min-width: 1200px) {
    gap: 419px;
  }


  &__logo {
    height: 40px;
    width: 40px;

    &-image {
      height: 100%;
      width: 100%;
    }
  }

  &__nav {
    display: block;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: auto;
    list-style: none;
  }


  &__link {
    display: flex;
    align-items: center;
    line-height: 60px;
    font-family: Roboto,sans-serif;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: row-reverse;
    color: #060b35;

    &--apple {
      position: relative;
      color: var(--main-color);

      &.is-active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: 8px;
        width: 100%;
        background-color: var(--main-color);
      }
    }

    &:hover {
      color: var(--main-color);
    }
  }
}
