.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: $color-white-accent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  &__logo {
    height: 40px;
    width: 40px;
  }
}
