.main {
  display: block;
  padding: 50px 0 26px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 4 * $cardWidth + 3 * $cardMrgnRight;
  }

  &__card {
    margin-right: 48px;

    &:nth-last-child(-n + 4) {
      margin-top: 48px;
    }
    
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
