.stars {
  width: 100%;
  display: flex;
  align-items: center;

  margin-top: 16px;
}

.stars__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: bottom;

  color: $main-text-color;

  margin-left: auto;
  align-self: end;
}

.stars--4 .stars__item{
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: $stars-size;
  height: $stars-size;
}

.stars--4 .stars__item:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: $stars-size;
  height: $stars-size;

  margin-right: $stars-gap;
}
