.card__buy-button {
  display: inline-block;
  width: 166px;
  height: 40px;
  padding: 12px 0;
  background: var(--button-color);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card__buy-button:hover {
  background: #fff;
  border-color: var(--button-color);
  color: var(--button-color);

  transform: scale(1.1);
  z-index: 2;
}
