.card {
  &__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: url(../images/star.svg) no-repeat center;
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} {
    .card__star:nth-child(-n + #{$i}) {
      background: url(../images/star-active.svg) no-repeat center;
    }
  }
}
