.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: maxWidth(4, 48);
  margin: 0 auto;
  padding: 50px 0;

  &__item {
    margin: 0 48px 46px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
