.main {
  &__grid-container {
    padding: 50px 40px;
    margin: 0 auto;

    @include catalogWidth;

    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    row-gap: 46px;
    column-gap: $catalogColumnGap;
  }

  &__grid-item {
    list-style: none;
  }
}
