.main {
  &__grid-container {
    padding: 50px 40px;
    margin: 0 auto;

    @include catalogWidth;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 46px;
  }

  &__grid-item {
    list-style: none;
  }
}
