@use '../abstracts/styles' as *;

.product-card {
  display: grid;
  grid-template-columns: repeat(4, $card-size);
  gap: 48px 46px;
  padding: 50px 40px;
  justify-content: center;
  justify-items: center;
  transition: all 300ms;

  @include grid(lg) {
    grid-template-columns: repeat(3, $card-size);
  }

  @include grid(md) {
    grid-template-columns: repeat(2, $card-size);
  }

  @include grid(sm) {
    grid-template-columns: $card-size;
  }
}
