@import "../abstracts/_variables.scss";
@import "../base/base";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $padding-size;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  background: $white;

  &__logo {
    display: block;
    height: 40px;
    width: 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    height: 60px;
    color: $main-accent;
    transition: color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover {
      color: $nav-link-hover-color;
    }

    &.is-active {
      position: relative;
      color: $blue-color;
    }

    &.is-active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      border-radius: 2px;
      background-color: $blue-color;
    }
  }
}
