* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #090b35;
}

body {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

p {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
  font-family: inherit;
}
