@import "../abstracts/_variables.scss";

.card__stars {
  display: flex;

  &-star {
    background-image: url("../../src/images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: $star-dimensions;
    width: $star-dimensions;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(-n+1),
    &:nth-child(-n+2),
    &:nth-child(-n+3),
    &:nth-child(-n+4),
    &:nth-child(-n+5) {
      background-image: url("../../src/images/star-active.svg");
    }

    &:nth-child(5) {
      background-image: url("../../src/images/star.svg");
    }
  }
}
