.stars {
  display: flex;
  
  &__block {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: $starImgLocation no-repeat center;
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} {
    .stars__block {
      &:nth-child(-n + #{$i}) {
        background: $starActiveImgLocation no-repeat center;
      }
    }
  }
}
