.is-active {
  color: $hover-color;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: $hover-color;
  }
}
