.card {
  @include with-smooth-transition;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $card-border-color;
  border-radius: 5px;
  width: $card-width;
  height: 406px;
  background-color: $white;
  padding: 0 16px;
  margin-bottom: 2px;

  &__image {
    background-image: url(../images/imac.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 134px;
    margin-top: 32px;
  }
  &__title {
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
    margin-top: 40px;
  }
  &__code {
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $gray;
    margin-top: 4px;
    align-self: flex-start;
  }
  &__review {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__review-count {
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
    transform: translateY(-1px);
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 24px;
  }
  &__price-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $gray;
  }
  &__price-value {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $secondary-color;
  }
  &__button {
    @include with-smooth-transition;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 166px;
    height: 40px;
    border: 1px solid transparent;
    background-color: $primary-color;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    text-transform: uppercase;
    margin-top: 16px;
    &:hover {
      @include with-smooth-transition;

      background-color: $white;
      color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 5px;
    }
  }
  &:hover {
    @include with-smooth-transition;

    transform: scale(1.2);
    transform-origin: center;

    .card__title {
      color: $card-title-hover-color;
    }
  }
}
