.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  background-color: $main-background-color;
  border: 1px solid $card-border-color ;
  border-radius: 5px;
  transition: transform 300ms;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: $main-font-size;
    line-height: 18px;
    font-weight: 500;
    color: $main-color-font;
  }

  &__code {
    margin-bottom: 16px;
    font-size: $small-font-size;
    line-height: 14px;
    color: $card-secondary-font;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: $small-font-size;
    line-height: 14px;
    color: $main-color-font;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-color-font;
  }

  &__price-title {
    // font-weight: normal;
    font-size: $main-font-size;
    line-height: 18px;
    color: $card-secondary-font;
  }

  &:hover {
    transform: scale(1.2);

    .card__title {
      color: $card-title-hover-color;
    }
  }

  &__button {
    display: block;
    padding: 12px 0;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-background-color;
    background-color: $hover-color-font;
    border: 1px solid $hover-color-font;
    border-radius: 5px;

    &:hover {
      color: $hover-color-font;
      background-color: transparent;
    }
  }
}

.cards {
  display: grid;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 72px;
  grid-template-columns: repeat(1, 200px);
  column-gap: 48px;
  row-gap: 46px;
  place-content: center;

  @media (min-width:488px) {
    grid-template-columns: repeat(2,200px);
  }

  @media (min-width:768px) {
    grid-template-columns: repeat(3,200px);
  }

  @media (min-width:1024px) {
    grid-template-columns: repeat(4,200px);
  }
}
