$cards-container-columns: 4;
$cards-container-padding: 50px 0;
$card-container-col-gap: 48px;
$card-container-row-gap: 46px;

.cards-container {
  padding: $cards-container-padding;
  display: grid;
  grid-template-columns: repeat($cards-container-columns, auto);
  justify-content: center;
  column-gap: $card-container-col-gap;
  row-gap: $card-container-row-gap;
}
