@each $width in $widths {
  $column-count: $column-count + 1;

  @media (min-width: $width) {
    .cards {
      justify-content: center;

      margin: 0;
      padding: 50px 40px;

      display: grid;
      grid-template-columns: repeat($column-count, $card-width);
      gap: 46px 48px;
    }
  }
}
