.product {
  width: $cardWidth;
  height: $cardHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f3f3;

  &:nth-child(n+5) {
    margin-top: 50px;
  }

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
  
  &__picture {
    margin-top: 30px;
  }
  
  &__info {
    margin: 42px 15px 15px;
  }
  
  &__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  
  &__reviews {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__price-info {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  &__price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  
  &__btn {
    margin-top: 20px;
    width: $btnWidth;
    height: $btnHeight;
    background-color: $accentColor;
    border: 1px solid $accentColor;
    border-radius: 5px;
  }
  
  &__btn:hover {
    background-color: #fff;
    color: $accentColor;
  }
  
  &__btn-link {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  
  &__btn:hover &__btn-link {
    color: $accentColor;
  }
}
