.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: getListSize($card-width, $card-margin, 4);
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
