.card {
  width: $card-width;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__product-image {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__product-title {
    font-weight: $fw-medium;

    margin-bottom: 4px;
  }

  &__product-title,
  &__price-value {
    line-height: 18px;
  }

  &__product-title,
  &__price {
    font-size: $fs-regular;
  }

  &__product-code {
    line-height: 14px;
  }

  &__product-code,
  &__reviews {
    font-size: 10px;
  }

  &__product-code,
  &__price {
    color: #616070;
  }

  &__product-code,
  &__product-price {
    margin-bottom: 16px;
  }

  &__product-raiting,
  &__product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__product-raiting {
    margin-bottom: 24px;
  }

  &__price-value {
    font-size: 16px;
  }

  &__price-value,
  &__button {
    font-weight: 800;
  }

  &__button {
    display: block;
    padding: 11px 0;

    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: $white;

    background-color: $primary;
    border-radius: 5px;
    border: 1px solid $primary;

    transition: color $transition-default ease-in,
      background-color $transition-default ease;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }
}
