.catalog-container {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  justify-content: center;
  gap: 46px 48px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: var(--color-main-text);
  padding: 50px 40px;
}

@media (min-width: 488px) {
  .catalog-container {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .catalog-container {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .catalog-container {
    --column-count: 4;
  }
}
