.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $article-width);
  grid-template-rows: auto;
  gap: 46px 48px;
  padding: 50px 40px;

  @include screen-sm {
    grid-template-columns: repeat(2, $article-width);
  }

  @include screen-md {
    grid-template-columns: repeat(3, $article-width);
  }

  @include screen-lg {
    grid-template-columns: repeat(4, $article-width);
  }
}
