.products-catalog {
  max-width: $maxContainerWidth;
  margin: 50px auto;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, $cardWidth);
  column-gap: $containerColumnGap;
  row-gap: $containerRowGap;
}
