.main {
  box-sizing: border-box;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 200px);

  gap: 46px 48px;

  align-items: center;

  align-content: center;
  justify-content: center;
  padding: 50px 40px;
}
