.container {
  max-width: 1500px;
  width: calc(100% - 100px);
  margin: 0 auto;
}

.container-main {
  max-width: 992px;
  width: calc(100% - 256px);
  margin: 0 auto;

  @media only screen and (max-width: $breakpoint-md) {
    width: calc(100% - 80px);
  }
}
