.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 50px;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo-link {
    height: 40px;
  }
}
