.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  height: 60px;
  box-shadow: 0 1px 6px 0 $border-accent;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  font-size: $font-size_md;
}

.logo {
  display: flex;
}
