.main-content {
  $cards-row: 4;

  padding: 50px 0;

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $card-width * $cards-row + $card-margin * ($cards-row - 1);
  }

  &__card {
    margin-bottom: 23px;

    &:not(:nth-child(-n + #{$cards-row})) {
      margin-top: 23px;
    }

    &:not(:nth-child(#{$cards-row}n)) {
      margin-right: $card-margin;
    }
  }
}
