.nav {
  &__list {
    display: flex;
    text-transform: uppercase;
    list-style: none;
  }

  &__item:not(:last-child) {
    height: 100%;

    margin-right: 20px;
  }

  &__link {
    display: block;

    color: $blue-80;
    text-decoration: none;
    line-height: 60px;

    transition: color $transition-duration;

    &:hover {
      color: $blue;
    }

    &.is-active {
      position: relative;

      color: $blue;

      &::after {
        content: '';

        height: 4px;
        width: 100%;

        display: block;
        position: absolute;
        bottom: 0;

        border-radius: 8px;

        background-color: $blue;
      }
    }
  }
}
