.header__navigation,
.header__navigation ul,
.header__navigation a {
  height: 100%;
}

.navigation ul {
  display: flex;
  gap: 20px;

  .navigation__link {
    display: flex;
    align-items: center;

    &.is-active {
      position: relative;
      color: $accent-btn;

      &::after {
        content: '';
        position: absolute;
        border-radius: 8px;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: $accent-btn;
      }
    }
  }
}
