.row {
  display: flex;
  justify-content: center;

  &__shift {
    margin-right: 48px;
    margin-bottom:50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.product-card {
  @include position(flex, flex-start, center);
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;

  &__poster {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__name {
    margin-bottom: 4px;
    @include font-style(12px, 500, 18px);
    color: #060b35;
  }

  &__code {
    align-self: flex-start;
    margin-bottom: 15px;
    @include font-style(10px, 400, 14px);
    color: #616070;
  }

  &__rating {
    @include position(flex, space-between, center);
    width: 100%;
    margin-bottom: 24px;
    color: #060b35;
  }

  &__reviews {
    @include font-style(10px, 400, 14px);
  }

  &__price {
    @include position(flex, space-between, baseline);
    width: 100%;
    margin-bottom: 16px;
  }

  &__price-word {
    @include font-style(12px, 400, 18px);
    color: #616070;
  }

  &__price-value {
    @include font-style(16px, 700, 18px);
    color: #060b35;
  }

  &__buy-button {
    @include position(flex, center, center);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    @include font-style(14px, 700, 16px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #00acdc;

    &:hover {
      border: 1px solid #00acdc;
      color: #00acdc;
      background-color: #fff;
    }
  }
}
