.stars {
  $blockName: &;

  height: 15px;
  width: 91px;
  display: flex;
  justify-content: space-between;

  &__item {
    content: url(../images/star.svg);

    @for $i from 1 through 5 {
      #{$blockName}--#{$i} &:nth-child(-n+#{$i}) {
        content: url(../images/star-active.svg);
      }
    }
  }
}
