$star-size: 16px;
$star-url: url(../images/star.svg);
$active-star-url: url(../images/star-active.svg);

.stars {
  display: flex;

  &__star {
    width: $star-size;
    height: $star-size;
    background: $star-url no-repeat center;
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }

  @for $n from 0 through 5 {
    &--#{$n} &__star:nth-child(-n + #{$n}) {
      background-image: $active-star-url;
    }
  }
}
