$accent-btn: #00acdc;
$main-accent: #060b35;
$secondary-accent: #616070;
$hovered-accent: #34568b;
$border-accent: #f3f3f3;
$line-height_xl: 18px;
$line-height_lg: 16px;
$line-height_md: 14px;
$font-size_xl: 16px;
$font-size_lg: 14px;
$font-size_md: 12px;
$font-size_sm: 10px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$transition-time: 0.3s;
$article-width: 200px;

@mixin screen-sm {
  @media (min-width: 488px) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: 1024px) {
    @content;
  }
}
