$main-background-color: #fff;
$main-color-font: #060b35;
$hover-color-font:#00acdc;
$card-border-color: #f3f3f3;
$card-secondary-font: #616070;
$card-title-hover-color: #34568b;
$main-font-size: 12px;
$small-font-size: 10px;
