.cards {
  padding-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: $field-width;

  &__product-card {
    margin: 0 50px 48px 0;
    width: $card-width;

    &:nth-child(4n) {
      margin: 0 0 48px;
    }
  }
}
