.card-field {
  padding-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: $field-width;

  &__cell {
    margin: 0 50px 48px 0;
  }

  &__cell:nth-child(4n) {
    margin: 0 0 48px;
  }

  &__product-card {
    width: $card-width;
  }
}
