.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid $border_color;
  border-radius: 5px;
  width: 200px;
  background-color: $white_color;
  padding: 32 16 16;
  transition: width 300ms ease;

  &:hover {
    width: 240px;
    transition: width 300ms ease;
  }

  &__images {
    display: flex;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $text_color;
    transition: 0.2s;

    &:hover {
      color: $hover_text_color;
      transition: 0.2s;
    }
  }

  &__code {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 14px;
    color: $second_text_color;
  }

  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__review-count {
    color: $text_color;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-title {
    font-size: 12px;
    line-height: 18px;
    color: $second_text_color;
  }

  &__price {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    color: $text_color;
  }

  &__button {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 1px solid $sky-blue_color;
    border-radius: 5px;
    background-color: $sky-blue_color;
    font-size: 14px;
    font-weight: 700;
    color: $white_color;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background-color: $white_color;
      color: $sky-blue_color;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
