.catalog {
  font-family: $body_font;
  font-size: 10px;
  padding: 50px 40px;

  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 48px;
  row-gap: 46px;
  justify-content: center;
}

@media (max-width: $layout-breakpoint-small) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}

@media (min-width: $layout-breakpoint-small) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: $layout-breakpoint-large) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}
