.body__card-field {
  margin: auto;
}

.card-field {
  padding-top: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: $field-width;

  &__cell {
    margin: 0 50px 48px 0;
  }

  &__cell:nth-child(4n) {
    margin: 0 0 48px;
  }

  &__product-card {
    width: $card-width;
  }
}

.product-card {
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  &__item-img {
    height: 134px;
    margin-bottom: 40px;
  }

  &__item-title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $text-color-main;
    margin-bottom: 4px;
  }

  &__item-code {
    align-self: flex-start;
    margin-bottom: 16px;
    color: $text-color-secondary;
  }

  &__reviews {
    margin-bottom: 24px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__review-count {
    align-self: center;
    color: $text-color-main;
  }

  &__price {
    display: flex;
    justify-content: space-between;

    box-sizing: content-box;

    margin-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
    color: $text-color-secondary;
    align-self: center;
  }

  &__price-numbers {
    font-size: 16px;
    font-weight: 700;
    color: $text-color-main;
  }

  &__button-buy {
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

    padding: 12px 0;

    background-color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
  }

  &__button-buy:hover {
    background-color: #fff;
    color: #00acdc;
  }
}
