@use "../../other/extends";

.product-list {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 26px 80px;
  max-width: 1200px;

  @media (max-width: 1200px) {

    padding: 26px 16px;

  }
}

.product-list__item {
  margin: 24px 24px 26px;
}
