.stars {
  display: flex;
  padding-left: 2px;

  &__image {
    height: 16px;
    width: 16px;
    padding-left: 4px;
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: left;
  }
  @for $index from 1 to 5 {
    &--#{$index} :nth-child(-n + #{$index}) {
      @include active-stars();
    }
  }
}
