.stars {
  display: flex;
  padding-left: 2px;

  &__image {
    height: 16px;
    width: 16px;
    padding-left: 4px;
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: left;
  }

  &--4 :nth-child(-n + 4) {
    background-image: url(/images/star-active.svg);
    background-repeat: no-repeat;
  }
}
