.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  box-sizing: border-box;
  background-color: $button-color;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  transition: transform 0.3s ease 0s;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    align-self: center;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 4px;
    transition: color 0.3s ease 0s;
  }

  &:hover &__title {
    color: #34568b;
  }

  &__subtitle {
    font-size: 10px;
    line-height: 14px;
    color: $subtitle-color;
    margin-bottom: 16px;
  }

  &__grade-inner {
    @include flex-align(space-between);
    margin-bottom: 24px;
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
  }

  &__price-inner {
    @include flex-align(space-between);
    margin-bottom: 16px;
  }

  &__price-cost {
    font-size: 16px;
    font-weight: 700;
  }

}
