.header {
  box-shadow: 0 2px 4px 0  rgba(0, 0, 0, 0.05);
}

.logo__img {
  display: block;
}

.header-container {
  @include flex-align(space-between);
  box-sizing: border-box;
  font-weight: 500;
}
