.nav {
  &__list {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    list-style: none;
    display: flex;
  }

  &__item:not(:first-of-type) {
    margin-left: 20px;
  }

  &__link {
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $font-color-main;
  }

  &__link:hover {
    color: $blue-color-accent;
  }

  &__link--is--active {
    color: $blue-color-accent;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      border-radius: 2px;
      background-color: $blue-color-accent;
    }
  }
}
