.header {
  position: relative;
  width: 1200px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  @media (max-width:1200px) {
    .header {
      max-width: 1200px;
    }

    .nav--position {
      margin-left: 509px;
    }

  }

  @media (max-width:1024px) {
    .header {
      max-width: 1024px;
    }

    .nav--position {
      margin-left: 333px;
    }
  }
}
