.card {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  font-weight: 400;
  background: $header-color;

  &__image {
    margin-bottom: 37px;
    padding: 32px 19px 0;

    &-product {
      width: 160px;
      height: 134px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 16px;
    margin-bottom: 16px;

    &-code {
      padding-top: 4px;
      margin: 0;
      font-size: 10px;
      line-height: 14px;
      color: $color-secondary;
    }

    &-name {
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $color-main;

      &:hover {
        color: #34568b;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 16px;

    &-txt {
      color: $color-secondary;
      font-size: 12px;
      line-height: 18px;
      margin: 0;
    }

    &-check {
      text-align: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin: 0;
    }
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: 24px;

    &-index {
      display: flex;
      align-items: flex-end;
      font-size: 10px;
      line-height: 14px;
      margin: 0;
    }
  }

  &__button {
    display: inline-block;
    border-radius: 5px;
    background-color: $link-color;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 16px;
    width: calc(100% - 32px);
    padding: 12px;
    text-decoration: none;
    color: $header-color;
    margin: 16px;

    &:hover {
      border-radius: 5px;
      padding: 11px;
      border: 1px solid $link-color;
      background: $header-color;
      color: $link-color;
    }
  }
}
