@import './variables';

.card {
  display: flex;
  flex-direction: column;

  width: $card-width;
  padding: 32px 16px 16px;
  border: 1px solid $color-card-border;

  background-color: $color-white;
  transition: transform 0.3s ease;

  &__image {
    width: 160px;
    height: 134px;
    margin: auto;

    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-size: 160px 134px;
  }

  &__content {
    font-family: $font-main;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__title {
    margin: 0;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $color-title;
  }

  &__code {
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    color: $color-text-gray;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 16px;
    padding: 0;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 8px;

    &-label {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: $color-text-gray;
    }

    &-value {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      color: $color-title;
    }
  }

  &:hover {
    transform: scale(1.05);
  }

  &__buy-button {
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;
    margin: 0;
    border: 1px solid $color-accent-blue;
    border-radius: 5px;

    font-family: $font-main;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: $color-white;

    background-color: $color-accent-blue;

    &:hover {
      color: $color-accent-blue;
      background-color: $color-white;
    }
  }
}
