.content {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 16px;

  &__tittle {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: #616070;
    margin-top: 4px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  &__link {
    text-decoration: none;
  }
}

.price__cost {
  font-weight: 400;
  font-size: 12px;
}

.price__hrn {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
