.main {
  display: grid;
  gap: 46px 48px;
  padding: 50px 40px;
  justify-content: center;
  grid-template-columns: $cardSize;

  @include on-mobile {
    grid-template-columns: repeat(2, $cardSize);
  }

  @include on-tablet {
    grid-template-columns: repeat(3, $cardSize);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, $cardSize);
  }
}
