.reviews {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  &__feedback {
    font-size: 10px;
    font-weight: 400;
    color: #060b35;
    order: 1;
  }

  &__stars {
    display: flex;
    flex-direction: row;
  }
}
