@import '../variables/variables';

.stars {
  display: flex;
  justify-content: space-between;
  width: 96px;
  height: 16px;

  &__item {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/src/images/star.svg');
  }

  &--1 &__item:nth-child(-n + 1),
  &--2 &__item:nth-child(-n + 2),
  &--3 &__item:nth-child(-n + 3),
  &--4 &__item:nth-child(-n + 4),
  &--5 &__item:nth-child(-n + 5) {
    background-image: url('/src/images/star-active.svg');
  }
}
