.stars {
  display: flex;
}

.stars__star {
  background: url(../images/star.svg) no-repeat 50%;
  border-radius: 0.5px;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

@for $starCount from 1 through 4 {
  .stars__star:nth-child(-n + #{$starCount}) {
    background-image: url(../images/star-active.svg);
  }
}
