$weight-normal: 400;
$weight-medium: 500;
$weight-large: 700;
$size-normal: 10px;
$size-medium: 12px;
$line-height-normal: 14px;
$line-height-medium: 16px;
$line-height-large: 18px;
$color-text: #060b35;
$color-text-code: #616070;
$color-primary: #00acdc;
$color-white: #fff;
$color-black: #000;
$color-card-title-hover: #34568b;
$color-border: #f3f3f3;
$card-width: 200px;
