$lineHeightMedium: 16px;
$lineHeightSmall: 14px;
$lineHeightLarge: 18px;

$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

$darkBlue: #060b35;
$gray: #616070;
$cyan: #00acdc;
$wite: #fff;

$cardWidth: 200px;
$cardMrgnRight: 48px;
$cardMrgnBottom: 46px;
