$color-main-accent: #060b35;
$color-secondary: #616070;
$color-accent-blue: #00acdc;
$cards-count: 4;
$card-width: 200px;
$card-margin-x: 48px;
$card-margin-y: 46px;
$container-padding-x: 40px;
$container-padding-y: 50px;

$container-width: ($cards-count * $card-width)
  + ($card-margin-x * ($cards-count - 1))
  + ($container-padding-x * 2);
