$link-class-color: #00acdc;

$card-width: 200px;

$stars-size: 16px;

$card-imagine-height: 134px;
$card-imagine-width: 160px;

$card-position-shift: 16px;

$main-text-color: #060b35;

$card-button-margin: 16px;
$card-background-color: #fff;
$button-background-color: #00acdc;
