// header
$color-link: #060b35;
$color-link-active: #00acdc;

// card
$card-main-color: #060B35;
$card-second-color: #616070;
$card-btn-color: #00ACDC;
$card-white-color: #FFF;
$card-title-hover: #34568b;
