$colorBtn: #fff;
$gbColor-bt: #00acdc;
$bgcolor-bt-hover: #b9d7df;
$color-grey: #616070;
$color-black: #292929;
$fsInTitle: 12px;
$textNavLink:  #000;
$textNavLinkHover: #00acdc;
$borderInCard: #f3f3f3;
$borderInBtn: #00acdc;
$max-width: 1200px;
$transition-all: transform 0.3s ease 0.1s;

$starCount: 5;
