.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: $card-border solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;

  &__img {
    padding: 0 3px;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__description {
    margin-top: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #060b35;
  }
  
  &__code {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #616070;
  }
  
  &__reviews {
    margin-bottom: 24px;
  }

  &__buy {
    margin-top: 16px;
    padding: 11px 0;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px ;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
  
  &__buy:hover {
    background-color: #fff;
    color: #00acdc;
  }
}
