.card {
  display: flex;
  flex-direction: column;
  width: $width-card;
  padding: 32px 16px 16px;
  background: $white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img {
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__heading {
    margin: 0 0 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-accent;
  }

  &__details {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 10px;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__rewiews {
    font-size: 10px;
    color: $main-accent;
  }

  &__price {
    &-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    &-text {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      font-style: normal;
      color: $secondary-color;
    }
    &-number {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      font-style: normal;
      color: $main-accent;
    }
  }

  &__btn {
    display: block;
    padding: 10px 0 11px;
    text-align: center;

    &--blue-link {
      font-size: 14px;
      font-weight: 700;
      font-style: normal;
      color: $white;
      text-transform: uppercase;
      background-color: $blue-accent;
      border: 1px solid transparent;
      border-radius: 5px;

      &:hover {
        color: $blue-accent;
        background-color: transparent;
        border-color: $blue-accent;
      }
    }
  }
}
