*,
*::before,
*::after {
  box-sizing: border-box;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 48px 46px;
  padding: 50px 40px;

  max-width: calc(4 * 200px + 3 * 46px + 2 * 40px);
  margin: 0 auto;

  // @media (min-width: 1200px) {
  //   padding: 50px 30px;
  // }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
