.is-active {
  color: #00acdc;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #00acdc;
    right: 0;
    left: 0;
    height: 4px;
  }
}
