.price {
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #616070;
  }
  
  &__number {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #060b35;
  }
}
