.products {
  &__list {
    padding: 50px $products-hor-padding;
    margin: 0 auto;
    width: $card-container-size;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: $products-bot-marg;
  }

  &__item:not(&__item:nth-of-type(4n)) {
    margin-right: $products-rh-marg;
  }
}
