.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 4px;
    }

    @for $count-stars from 1 to 5 {
      .stars--#{$count-stars} &:nth-child(-n + #{$count-stars}) {
        background-image: url("../images/star-active.svg");
      }
    }

  }
}
