:root {
  --primary-color: #060b35;
  --secondary-color: #616070;
  --active-color: #00acdc;
  --menu-item-color: #060b35;
  --main-accent-color: #060b35;
  --blue-accent-color: #00acdc;
  --card-hover-card-title-color: #34568b;
  --menu-item-hover-color: #00acdc;
  --cl-white: #fff;
  --cl-card-border-color: #f3f3f3;
  --card-image-width: 160px;
  --card-image-height: 134px;
  --border-radius: 5px;
}
