$color-dark: #060b35;
$color-small: #616070;
$color-button: #00acdc;
$color-bck: #f3f3f3;
$width-card: 198px;
$card-margin-right: 48px;
$padding-horizont: 40px;
$padding-vertical: 50 px;
$card-margin-bottom: 46px;
$width: ($width-card * 4) + (48px * 3) + ($padding-horizont * 2);
$head-padding: 0 50px;
$link-rightmarg: 20px;
$link-padding: 23px 0;
$font-ten: 10px;
$font-twelve: 12px;
$size: 40px;
