.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: $header-padding;
  width: 100%;
  min-height: 60px;
  background-color: $header-bg-color;
}

.header__logo {
  display: block;
  width: $logo-size;
  height: $logo-size;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}
