@import "../utils/variables";

.content {
  padding: 50px 40px 0;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
  justify-content: center;

  @media (min-width: $large-screen) {
    grid-template-columns: repeat(4, 200px);
  }

  @media (min-width: $medium-screen) and (max-width: $large-screen - 1) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: $small-screen) and (max-width: $medium-screen - 1) {
    grid-template-columns: repeat(2, 200px);
  }
}
