@use '../../variables' as *;

@mixin is-active {
  .is-active {
    color: $link-active-color;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 4px;
      background-color: $link-active-color;
      border-radius: 2px;
    }
  }
}
