@use '../../variables' as *;

@mixin header-logo {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    .header__img {
      width: $square-logo;
      height: $square-logo;
    }
  }
}
