.card__img
  img
    height: 134px

.card__title
  margin-top: 41px
  font-weight: 500
  font-size: 12px
  line-height: 15px

.card__subtitle
  margin-top: 5px
  font-size: 11px
  line-height: 13px

.card-wrap
  margin-top: 15px

.card-wrap-price
  margin-top: 20px

.card-stars__star
  background-image: url(../images/star.svg)
  width: 15px
  height: 15px
  margin-right: 5px

.card-stars__star--active
  background-image: url(../images/star-active.svg)

.card__reviews
  font-size: 11px
  line-height: 13px

.card__price
  font-size: 11px
  line-height: 13px
  span
    font-weight: bold
    font-size: 16px
    line-height: 19px

.card-link__btn
  margin-top: 20px
  padding: 11px
  text-align: center
  background: #00acdc
  border-radius: 5px
  color: white
  font-weight: bold
  font-size: 14px
  line-height: 16px
  border: 1px solid transparent
  &:hover
    background: white
    border: 1px solid #00acdc
    color: #00acdc
