@import "../utils/_var";

.btn {

  &__link {
    align-items: center;
    height: 40px;
    width: 100%;
    font-weight: 700;
    font-style: 14px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    background: $color-def;
    border-radius: 5px;
    border: 0;
    color: #fff;

    &:hover {
      transition: color 1s background-color 1s;
      background-color: #fff;
      color: $color-def;
      border: 1px solid $color-def;
    }
  }
}
