@import "../utils/_var";

.card {
  width: 200px;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  
  &__img {
    padding: 29px 19px 42px;

  }

  &__info {
    padding: 0 14px 20px;
  }

  &__button {
    padding: 0 14px 15px;
  }
}
