.info {
  &__name {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #000;
    margin-bottom: 6px;
  }
  &__base {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    font-size: 11px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-stars {
      display: flex;
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }
}
