.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.bay-link-box {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background: $blue;
  border: 1px solid $blue;
  border-radius: 5px;

  &:hover {
    background: #fff;
    cursor: pointer;
  }

  &:hover .link {
    color: $blue;
  }
}
