@import "../utils/_variables";

.push {
  box-sizing: border-box;
  justify-content: center;
  font-weight: bold;
  color: #f3f3f3;
  text-transform: uppercase;
  text-align: center;
  background: $blue-color;
  border: $border-rule;
  border-radius: 5px;
  width: 166px;
  margin: 16px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;

}

.push:hover {
  color: $blue-color;
  background: #f3f3f3;
  cursor: pointer;
  transition: $transition-speed;
}
