@use 'variables';

.button {
  text-align: center;

  &__link {
    display: block;
    margin: variables.$general-size variables.$margin-space
      variables.$margin-space;
    padding: variables.$size-title variables.$padding-space;
    background-color: variables.$color-accent;
    border-radius: variables.$border-radius-5;
    border: 1px solid variables.$color-accent;
    cursor: pointer;
    color: variables.$background-color-card-block;
    font-size: variables.$font-size-button;
    font-weight: variables.$font-weight-7;
    line-height: variables.$general-size;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    transition-duration: variables.$transition-duration;

    &:hover {
      background-color: variables.$background-color-button;
      color: variables.$color-accent;
    }
  }
}
