.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: $color-primary-accent-blue;
  border: 1px solid $color-primary-accent-blue;
  transition: 0.3s all;
  word-break: break-all;
}
