.card-info {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  background: white-color;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: $card-size;

  &__image {
    margin: 0 3px 36px;
    width: 160px;
    height: 134px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-text-color;
    margin: 0 0 4px;
  }

  &__code {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-text-color;
  }

  &__price-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: $blue-color;
    border-radius: 5px;
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $white-color;
    cursor: pointer;
    text-decoration: none;
  }

  &__button:hover {
    background: $white-color;
    border: 1px solid $blue-color;
    color: $blue-color;
  }
}
