.card-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  padding: 50px 0;
  width: width($cardWidth, $cardPadding, $cardCount);

  &__item {
    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:nth-child(n+5) {
      margin-top: 46px;
    }
  }
}
