.card {
  width: 200px;
  border: 1px solid var(--c-gray-elements);
  border-radius: 5px;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 160px;
    height: 134px;

    img {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--c-main-accent);
    margin: 0 0 4px;
    transition: all 0.3s ease;
  }

  &:hover {
    transform: scale(1.2);

    .card__title {
      color: var(--c-main-accent-hover);
    }
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: var(--c-secondary);
    margin: 0 0 16px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    color: var(--c-main-accent);
  }

  &__views {
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 16px;

    &-label {
      font-size: 12px;
      line-height: 18px;
      color: var(--c-secondary);
    }

    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: var(--c-main-accent);
      margin-top: -1px;
    }
  }

  &__button {
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--c-blue-accent);
    box-sizing: border-box;
    background-color: var(--c-blue-accent);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: var(--c-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: 0;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--c-white);
      color: var(--c-blue-accent);
    }
  }
}
