
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}

.card {
  box-sizing: border-box;
  width: 200px;
  height: fit-content;
  position: relative;
  border: 1px solid #f3f3f3;
  padding: 29px 14px 14px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  &__image {
    width: 160px;
    height: 134px;
    margin: auto;
    margin-bottom: 45px;
  }

  &__name-header {
    margin: 0;
    margin-bottom: 6px;
    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
  }

  &__code {
    font-weight: 400;
    font-size: 11px;
    margin-bottom: 15px;
  }

  &__reviews {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__reviews-stars {
    display: flex;
  }

  &__review-star {
    &:nth-child(-n+4) {
      background-image: url(/images/star-active.svg);
    }
    
    margin-right: 4px;
    width: 15px;
    height: 15px;
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__reviews-text {
    font-weight: 400;
    font-size: 11px;
  }

  &__price {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price-text {
    font-weight: 400;
    font-size: 11px;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
  }

  &__button-link {
    text-decoration: none;
    padding-top: 1px;
    padding-left: 1px;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;
    color: white;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #00acdc;
      background-color: white;
      border: 1px solid #00acdc;
    }
  }

}
