.card-conteiner {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__name {
    margin-top: 40px;
    margin-left: $card-side-margin;
  }

  &__code {
    margin-top: 4px;
    margin-left: $card-side-margin;
  }

  &__review {
    margin-top: 16px;
    margin-left: $card-side-margin;
    margin-right: $card-side-margin;
  }

  &__price {
    margin-left: $card-side-margin;
    margin-right: $card-side-margin;
    margin-top: 24px;
  }

  &__bay-link-box {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
