@import "mixins";

.cards {
  @include flex(center);
  flex-wrap: wrap;
  width: 1000px;

  line-height: 13px;
  @include fontExtraSmall;

  &__card {
    margin: 0 0 50px 48px;

    &:first-child,
    &:nth-child(5) {
      margin-left: 0;
    }
  }
}
