.card {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  color: $dark-nave;
  border: 1px solid $aqua-haze;
  max-width: 198px;

  &__container {
    @extend %flexJustifyCenter;
    padding: 32px 16px 16px;
    flex-direction: column;
  }

  &__image {
    @extend %flexJustifyCenter;
    height: 134px;
    margin: 0 3px;
  }

  &__title {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 12px;
    padding-top: 40px;
    line-height: 18px;
  }

  &__code {
    font-size: 10px;
    padding: 4px 0 16px;
    font-weight: 400;
    line-height: 14px;
    color: $mid-grey;
  }

  &__rating {
    @extend %flexSpaceBetweenCenter;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    line-height: 18px;
  }

  &__price-title {
    font-size: 12px;
    line-height: 18px;
    color: $mid-grey;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
  }

  &__button-link {
    @extend %flexJustifyCenter;
    align-items: center;
    text-decoration: none;
    width: 100%;
    margin-top: 16px;
    border-radius: 5px;
    background: $color-blueaccent;
    color: $color-white;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    height: 40px;

    &:hover {
      box-sizing: border-box;
      border: 1px solid $color-blueaccent;
      color: $color-blueaccent;
      background: $color-white;
    }
  }
}
