.cards {
  display: flex;
  flex-wrap: wrap;

  width: getContainerWidth($card-width, $card-gap, $card-horizontal-padding);
  padding: 50px $card-horizontal-padding;

  &--indent {
    margin: 0 auto;
  }

  &__card {
    margin-right: $card-gap;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 46px;
    }
  }
}
