body {
  box-sizing: border-box;
}

p,
h2,
body,
html {
  margin: 0;
  padding: 0;
}

.card-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 408px;
  width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card-block__pic {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 3px;

  background-size: cover;
}

.card-block__name {
  margin-top: 40px;
}

.card-block__title {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  color: $second-color;
}

.card-block__par {
  line-height: 14px;
  margin-top: 4px;
}

.card-block__parag {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: $main-color;
}

.card-block__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.card-block__price-name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: $main-color;
}

.card-block__price-value {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $second-color;
}

.card-block__link {
  text-decoration: none;
}

.card-block__button {
  margin-top: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  box-sizing: border-box;

  height: 40px;
  line-height: 16px;
  width: 100%;

  background-color: $button-color;
  border: 1px solid $button-color;
  border-radius: 5px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  color: $button-color;
}
