.cards-container {
  --column-count: 1;
  display: grid;
  padding-top: 50px;
  padding-bottom: 72px;
  grid-template-columns: repeat(var(--column-count), 200px);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
}

@media (max-width: 488px) {
  .cards-container {
    --column-count: 1;
  }
}

@media (min-width: 488px) {
  .cards-container {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .cards-container {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .cards-container {
    --column-count: 4;
  }
}
