.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 40px;
  width: 1024px;
  margin: 0 auto;

  &:nth-last-child(-n + 4) {
    margin-bottom: 73px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__card {
    margin-right: 48px;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
