$margin-right: 48px;
$card-width: 200px;
@function catalogSize() {
  @return ($card-width *4) + ($margin-right * 3);
}

.catalog {
  display: flex;
  justify-content: center;
  min-width: catalogSize();
  padding-top: 50px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: catalogSize();
  }

  &__item {
    padding-bottom: 46px;
  }

  &__item:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
