.catalog-page {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__product-card {
    margin: 0 24px 50px;
  }
}
