.catalog-page {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: $wrapper-width;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__product-card {
    margin: 0 $margin-between-cards 50px;
  }
}
