.catalog {

  &__container {
    display: grid;
    grid-template-columns: repeat($cards-count, $card-width);
    row-gap: $cards-row-gap;
    column-gap: $cards-column-gap;
    justify-content: center;
    max-width: containerMaxWitdh($cards-count, $card-width, $cards-column-gap);
    padding: 50px 128px 72px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      padding: 50px 40px 72px;
    }
  }
}
