.content {
  display: flex;
  justify-content: center;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 992px;
    margin-top: 25px;
  }

  &__card {
    margin: 25px 24px;
  }
}
