.container {
  margin-top: 50px;
  width: 950px;
  height: 862px;
  display: flex;
  flex-wrap: wrap;

  @media(min-width: 1024px) {
    margin-left: 40px;
  }

  @media (min-width: 1200px) {
    margin-left: 130px;
  }
}
