.container {
  padding: 50px 40px 72px;
  width: 950px;
  height: 862px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (min-width: 1200px) {
    padding: 50px 130px 72px;

  }
}
