@import "./utils/variables";

.content {
  &__header {
    margin-bottom: 50px;
  }
  &__main {
    margin: 0 auto;
  }
}

.main {
  max-width: #{$contentWidth};
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
