.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 944px;
  flex-wrap: wrap;
  margin-top: 50px;

  &__cards:not(:nth-child(4n)) {
    margin-right: $gap;
  }

  &__cards:not(:nth-last-child(-n + 4)) {
    margin-bottom: 46px;
  }
}
