.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  &__logo {
    height: $header-height;
    padding: 0;
    line-height: normal;
    margin-left: 50px;

    @extend %df-center;

    .img {
      display: block;
    }
  }
}
