@use '../variables' as *;

.header {
  height: $header-height;

  display: flex;
  align-items: center;

  background-color: $header-background-color;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__content {
    width: 100%;
    max-width: $container-width;

    height: 100%;

    margin: 0 auto;

    padding: 0 $container-padding;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    transition: transform $transition-duration;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__logo img {
    display: block;
  }
}
