.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    @include square($logo-size);
    display: block;
    padding: 10px 0;
  }
}
