.hero {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 408px);
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;

  &__card {
    background-color: #fff;
  }
}
