.is-active {
  position: relative;
  color: $color-blue-accent;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: $color-blue-accent;
  }
}
