.is-active {
  color: $blue-accent;
  &:visited {
    color: $blue-accent;
  }
  &::after {
    content: "";
    height: 2px;
    display: block;
    background-color: $blue-accent;
    border: 1px solid $blue-accent;
    border-radius: 2px;
    position: relative;
    bottom: 4px;
    transition: 0.3s;
  }
}
