@import "variables";

.is-active {
  color: $main-color;
  
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: $main-color;
  }
}
