a {
  height: 60px;
  box-sizing: border-box;

  &:hover {
    color: $--color;
  }
}

.is-active {
  color: $--color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $--color;
    border-radius: 8px;
  }
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__item--hover {
  color: $--color;
}
