.main {
  &__container {
    display: flex;
    width: 945px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 27px 0;
  }

  &__card {
    width: 200px;
    margin-top: 23px;
    margin-bottom: 23px;
  }
}
