.container {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;

  @media (max-width: 1199px) {
    $paddingX: 40px;
    padding: $paddingY $paddingX;
    width: containerWidth($paddingX);
  }
  @media (min-width: 1200px) {
    $paddingX: 128px;
    padding: $paddingY $paddingX;
    width: containerWidth($paddingX);
  }

  &__item {
    width: $cardWidth;

    &:not(:nth-child(#{$cardsInRow}n)) {
      margin-right: $gapX;
    }

    &:not(:nth-child(-n + #{$cardsInRow})) {
      margin-top: $gapY;
    }
  }

}
