// Main
.main {
  @extend %flex-center;
  background-color: $color-white;
  padding: $dim-container-margin $dim-main-margin;
  grid-gap: $dim-grid-gaps;
  display: grid;
  justify-items: center;
  grid-template-columns: 1, $dim-card-width;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $dim-card-width);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, $dim-card-width);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, $dim-card-width);
  }

}
