.main {
  @extend %flexJustifyCenter;
  margin: auto;

  &__container {
    display: flex;
    max-width: 944px;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 46px;
    flex-grow: 2;
  }

  &__card:not(:nth-child(4n)) {
    margin: 0 48px 46px 0;
  }
}
