.main {
  @extend %flexJustifyCenter;
  margin: auto;

  &__container {
    @extend %flexJustifyCenter;
    max-width: 990px;
    flex-wrap: wrap;
    padding-top: 50px;
  }

  &__product-wrapper {
    margin-bottom: 46px;
  }

  &__product-wrapper:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
