.main {

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 944px;
    // padding-top: 50px;
    // margin-bottom: 46px;
    padding-top: 50px;
    margin: auto;
  }

  &__card:not(:nth-child(4n)) {
    margin: 0 48px 46px 0;
  }
}
