.main {
  padding-top: 50px;
  display: flex;
  justify-content: center;

  &__product-card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: #{$product-cards-in-row * $product-card-width + $gap-between-cards *
      ($product-cards-in-row - 1)};

    & > *:nth-child(-n + 4) {
      margin-bottom: 50px;
    }
  }
}
