.main {
  display: flex;
  justify-content: center;

  &__content {
    max-width: maxWidth(
      $card-width,
      $cards-columns-quantity,
      $cards-gaps-value,
      $cards-gaps-quantity
    );
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
  }

  &__card {
    margin-right: $cards-gaps-value;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
