.main-cards {

  &__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 72px;
    max-width: calcCardsContainerWidth(
      $width-card,
      $qty-card-per-row,
      $margin-right-product-item
    );
  }

  &__item {
    @include marginCardsRightBottom($qty-card-per-row);
  }

  &__card {
    margin: 0 auto;
  }
}
