
@mixin base_width {
  max-width: 1024px;
  width: calc(100% - 80px);
  margin: 0 auto;
}

@mixin flex_aligning($horizontal: null, $vertical: null) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin font_values($fontSize: null, $lineHeight: null, $fontWeight: null) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}
