.nav {
  &__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__link {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 60px;
    color: #060b35;
    text-decoration: none;
  }

  &__link:hover {
    color: #00acdc;
  }
}
