.nav__link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  line-height: 60px;
  position: relative;

  &:hover {
    color: $blue-custom-color;
  }

  &--is-active {
    color: $blue-custom-color;
    
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 4px;
      background-color: $blue-custom-color;
      border-radius: 8px;
    }
  }
}
