.nav {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    color: #060b35;
    text-decoration: none;
    padding: 20px 0;
    display: block;
  }

  &__link:hover {
    color: #00acdc;
  }
}

.is-active {
  color: #00acdc;
  position: relative;
  display: inline-block;
}

.is-active::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 4px solid #00acdc;
  bottom: 0;
  border-radius: 4px;
  width: 100%;
}
