@import "./utils/_variables";

.nav {

  &__list {
    display: flex;
    padding-right: 50px;
  }

  &__item {
    padding-right: 20px;
    list-style: none;
  }

  &__links {
    line-height: 12px;
    text-decoration: none;
    @extend %large-text;
    text-transform: uppercase;
    position: relative;
  }

  &__links:hover {
    color: $blue-color;
    transition: $transition-speed;
  }

  .is-active::after {
    content: "";
    width: 100%;
    border-radius: 8px;
    position: absolute;
    background-color: $blue-color;
    height: 4px;
    top: 34px;
    left: 0;
  }
}
