.nav {
  display: flex;
  align-items: stretch;

  &_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &_item {
    display: block;
    height: 100%;
    margin-right: 20px;
  }

  &_item:last-child {
    margin-right: 0;
  }

  &_links {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    height: 100%;
    cursor: pointer;
    color: #060b35;
    text-decoration: none;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
  }

  &_links:hover {
    color: #00acdc ;
  }

  &_links--is-active {
    color: #00acdc;
  }

  &_links--is-active::after {
    position: absolute;
    background: #00acdc;
    border-radius: 8px;
    width: 37px;
    height: 4px;
    content: "";
    bottom: 0;
  }
}
