.nav {
  display: block;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: list-item;
    margin-left: 20px;
    text-transform: uppercase;

    &-ap {
      margin-left: 0;
    }
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
    color: #060b35;
    height: 60px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;

     &:hover {
    color: #00acdc;
  }

    &.is-active {
      color: $link-color;
      margin: 0;
    }

    &.is-active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: $height-line;
      border-radius: $border-radius-line;
      margin-top: $margin-top-line;
      background-color: $link-color;
      color: $link-color;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: $height-line;
      border-radius: $border-radius-line;
      margin-top: $margin-top-line;
      background-color: $link-color;
      color: $link-color;
      transform: scaleX(0);
    }

    &:hover {
      color: $link-color;

      &::before {
        transform: scaleX(1);
      }
    }
  }
}
