body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

[class*='__container'] {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
