.product-page__content {
  margin-top: 50px;
}

.product-list {
  padding: 0 40px;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 944px;
    display: flex;
    flex-wrap: wrap;
  }

  &__content > :not(:nth-child(4n+1)) {
    margin-left: 48px;
  }

  &__card {
    margin-bottom: 50px;
  }
}
