.product-list {
  margin-top: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__row {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}

.product-card ~ .product-card {
  margin-left: 48px;
}
