.page {
  font-family: "Roboto", sans-serif;
  &__body {
    margin: 0;
    padding: 0;
  }
  &__header {
    padding: 0 50px;
  }
  &__catalog {
    padding: 50px 40px;
    margin: 0 auto;
    @media (min-width: 1199px) {
      padding: 50px 128px;
    }
  }
}
