.page {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 72px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 950px;
  }

  &__card {
    width: $card-width;
    display: flex;
    flex-direction: column;
    margin-right: $card-distance;
    margin-bottom: 46px;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }
}
