.page {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  color: $color-text;
  background-color: $color-white;
}

.page a {
  text-decoration: none;
}

.page h2,
.page p,
.page ul {
  margin: 0;
}

.page ul {
  padding: 0;
  list-style: none;
}

.page img {
  display: block;
}
