main {
  display: flex;
  justify-content: center;
}

.grid {

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 200px);
  gap: 48px;
  justify-content: center;
  width: calc(246px * 4);
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(3, 246px);
  }
}

@media (min-width: 488px) and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 246px);
  }
}

@media (max-width: 487px) {
  .grid {
    grid-template-columns: 246px;
  }
}
