.price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
    margin: 0;
  }

  &__value {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
  }
}
