.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
  margin-right: $card-margin;

  &:nth-last-child(-n + 4) {
    margin-top: 46px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__picture {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 160px;
    height: 134px;
  }

  &__description {
    width: 166px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    margin-top: 4px;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    color: $color-light-grey;
  }

  &__reviews {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__number-of-reviews {
    font-size: 10px;
    color: #060b35;
  }

  &__price {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__price-label {
    font-size: 12px;
    color: $color-light-grey;
  }

  &__price-value {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #060b35;
  }

  &__button {
    box-sizing: border-box;
    margin-top: 16px;
    height: 40px;
    width: 166px;
    color: #fff;
    background-color: $color-blue;
    border-radius: 5px;

    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 12px 0;
    text-decoration: none;
    font-size: 14px;
    border: none;
  }

  &__button:hover {
    border: 1px solid $color-blue;
    background-color: #fff;
    color: $color-blue;
  }
}
