.product-card {
  width: 200px;
  padding: 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img-wrap {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 160px;
    height: 134px;
  }
  &__description {
    margin-top: 45px;
  }

  &__description-text {
    margin: 0;
    font-weight: 500;
    line-height: 15.5px;
  }

  &__description-code {
    margin-top: 6px;
    font-size: 11px;
    line-height: 13px;
  }

  &__rating {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rating-review {
    font-size: 11px;
  }
  
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  &_price-text {
    font-size: 11px;
  }

  &__price-cost {
    font-size: 16px;
    font-weight: 700;
  }

  &__buy-button {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: $button-color;
    color: $button-text-color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid $button-color;
  }

  &__buy-button:hover {
    background-color: $button-hover-color;
    color: $button-hover-text-color;
  }
}

.stars {
  display: flex;
}

.stars__star {
  @include star-square($star-size);
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:nth-child(-n + 4) {
  margin-right: 4px;
  background-image: url(../images/star-active.svg);
}
