.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    width: 160px;
    height: 134px;
    align-self: center;
  }

  &__title {
    margin-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    align-self: flex-start;
    margin-top: 4px;
    line-height: 14px;
    color: #616070;
  }

  &__reviews {
    display: flex;
    width: 100%;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__reviews-text {
    color: #060b35;
    line-height: 16px;
  }

  &__price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    line-height: 14px;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }

  &__price-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }

  &__button {
    width: 100%;
    margin-top: 16px;

  }

  &__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00acdc;
    height: 40px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;

    &:hover {
      background: #fff;
      border-radius: 5px;
      color: #00acdc;
    }
  }
}
