.products {
  max-width: $product-card-width * 4 + $product-card-margin * 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  &__product-card {
    margin-top: 50px;
  }
}
