@use "../utils/variables" as *;

.product-card {
  background-color: #fff;
  border: 1px solid $color-gray-light;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: 200px;

  &__image {
    align-self: center;
    height: 134px;
    margin-bottom: 40px;
    vertical-align: bottom;
    width: 160px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    margin-bottom: 4px;
  }

  &__code {
    color: $color-gray;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;
    align-self: flex-start;
  }

  &__rating {
    align-items: center;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-bottom: 24px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    line-height: 18px;
    width: 100%;
  }

  &__price-text {
    color: $color-gray;
  }

  &__price-amount {
    font-weight: 700;
    font-size: 16px;
  }

  &__button {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $color-active;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background-color: #fff;
      border-color: $color-active;
      color: $color-active;
    }
  }
}
