.main {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  padding: 50px 40px;
  margin: 0 auto;

  @media (min-width:1200px) {
    width: 1200px;
    padding: 50px 128px;
  }
}

.product-info {
  width: 200px;
  height: 406px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  background: #fff;
  margin: 0 48px 48px 0;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__img {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 4px;
    color: $text-color;
  }

  &__code {
    margin-bottom: 17px;
    font-size: 10px;
    color: $neitral-color;
  }

  &__reviews-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__reviews {
    font-size: 10px;
    color: $text-color;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 12px;
    color: $neitral-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    color: $text-color;
  }

  &__button {
    text-transform: uppercase;
    padding: 11px 70px 12px 69.5px;
    background: $basic-color;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    
    &:hover {
      background: #fff;
      padding: 10px 70px 11px 68.5px;
      color: $basic-color;
      border: 1px solid $basic-color;
    }
  }
}
