.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: $container-top;
  padding-bottom: $container-bottom;
  width: $container-width;
  margin: 0 auto;

  &__card {
    margin-right: $card-distance;
    margin-bottom: $card-bottom;
    box-sizing: border-box;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
