.product-cards {
  display: grid;
  gap: 46px 48px;
  padding-top: 50px;
  padding-bottom: 72px;
  justify-content: center;
  grid-template-columns: $card-width;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
