.products {
  margin: 0 auto 73px;
  padding-top: 50px;
  max-width: $catalog-width;
  // max-width: 1024px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  &__card {
    margin-right: $card-margin-right;
    margin-bottom: $card-margin-bottom;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
