.product {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $product-width;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    height: 134px;
    width: 160px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: $font-size-medium;
    font-weight: 500;
    line-height: 18px;
    color: $color-black;
  }

  &__code {
    margin-bottom: 16px;
    font-size: $font-size-small;
    color: $color-grey;
  }

  &__reviews {
    @extend %between-centered-items;
    margin-bottom: 24px;
  }

  &__count-reviews {
    font-size: $font-size-small;
    color: $color-black;
  }

  &__price {
    @extend %between-centered-items;
    margin-bottom: 16px;

    &-title {
      font-size: $font-size-medium;
      color: $color-grey;
    }

    &-amount {
      font-size: 16px;
      font-weight: 700;
      color: $color-black;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-light-blue;
    color: #fff;
    border: 1px solid $color-light-blue;
    border-radius: 5px;

    &--active:hover {
      background-color: #fff;
      color: $color-light-blue;
    }
  }
}
