.review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;

  width: $card-width-without-border * 0.83;
  margin-bottom: $card-width-without-border * 0.12;
}

.review__stars {
  display: flex;
  flex-direction: row;
}

.review__star {
  height: $card-width-without-border * 0.08;
  width: $card-width-without-border * 0.08;
  
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.review__star + .review__star {
  margin-left: $card-width-without-border * 0.02;
}

.review__stars--4 .review__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.review__link {
  font-style: normal;
  text-decoration: none;
  font-weight: $basic-font-weight * 0.8;
  font-size: $basic-font-size * 10 / 12;
  line-height: $basic-font-size * 14 / 12;
  color: $primary-color;
}
