.reviews {
  font-size: 10px;
  display: flex;
  width: 166px;
  justify-content: space-between;
  align-items: flex-end;

  &__stars {
    display: flex;
    flex-direction: row;
    gap: 4px;

    &--0 > :nth-child(n+1),
    &--1 > :nth-child(n+2),
    &--2 > :nth-child(n+3),
    &--3 > :nth-child(n+4),
    &--4 > :nth-child(n+5),
    &--5 > :nth-child(n+6) {
      background-image: url(../images/star.svg);
    }
  }

  &__star {
    height: 16px;
    width: 16px;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
