@import "../utils/_variables.scss";

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  
  &__stars {
    display: flex;
    padding-top: 16px;
  }
  
  &__amount {
    padding-top: 16px;
    font-style: normal;
    font-size: 10px;
    color: black;
    line-height: 14px;
    display: flex;
    align-items: center;
    height: 16px;
  }
}
