.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__star {
    width: 16px; // 13
    height: 16px; // 13
    margin-right: 4px; // 2
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/star.svg'); // Szara gwiazdka domyślnie

    &:nth-child(-n + 4) {
      background-image: url('../images/star-active.svg');
    }
  }

  &__reviews {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1px;
    height: 16px;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    margin: 0 0 0 22px;
  }
}
