.stars {
  display: flex;

  &__star {
    background: url(/images/star.svg) no-repeat center;
    @include star($star-size);

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} :nth-child(-n+#{$i}) {
      background-image: url(/images/star-active.svg);
    }
  }
}
