// ------COLORS------
$linkHeader-color: #000;
$brand-color: #00acdc;
$primary-blue: #060b35;
$secondary-gray: #616070;
$cardTitleHover: #34568b;
$cardBorder-color: #f3f3f3;
$boxShadow-color: #0000000d;
$backgroundColorButton: #fff;

// -----SCREEN SIZES------
$screeSize-S: 488px;
$screeSize-M: 768px;
$screeSize-L: 1024px;

// ----FONT SIZES------
$fs-S: 10px;
$fs-M: 12px;
$fs-L: 14px;
$fs-XL: 16px;

// -------SPACING-------
$spacing-xs: 4px;
$spacing-s: 16px;
$spacing-m: 20px;
$spacing-l: 24px;

// ----SIZES-----
$size: 16px;
