$base-card-width: 200px;
$displey-width: ($base-card-width * 4) + (48 * 3);
$dark-color-for-text: #060b35;
$lighter-color-for-text: #616070;
$special-blue: #00acdc;
$card-border-color: #f3f3f3;
$button-buy-text-color:#fff;
$color-link-black:#000;
