$font-html: Roboto, sans-serif;
$font-wight-4: 400;
$font-wight-5: 500;
$font-weight-7: 700;
$color-accent: #00acdc;
$color-text-title: #060b35;
$color-text: rgb(97, 96, 112);
$color-border: rgb(243, 243, 243);
$background-color-card-block: rgb(255, 255, 255);
$background-color-button: #fff;
$color-text-card-hover: #34568b;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$border-1: 1px;
$margin-right-4: 4px;
$border-radius-5: 5px;
$border-radius-8: 8px;
$size-spase-10: 10px;
$size-title: 12px;
$font-size-button: 14px;
$general-size: 16px;
$margin-space: 17px;
$line-height: 18px;
$margin-left-20: 20px;
$margin-top-24: 24px;
$margin-top-33: 33px;
$width-is-active: 36px;
$padding-space-4: 40px;
$grid-row-gap: 46px;
$grid-column-gap: 48px;
$padding-space-5: 50px;
$line-height-59: 59.5px;
$padding-space: 70px;
$img-height-y: 134px;
$img-width-x: 160px;
$block-width: 200px;
$transition-duration: 0.3s;
