.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 944px;

  .card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
  
  .card:not(:nth-child(-n+4)) {
    margin-top: 46px;
  }
}
