.is-active {
  color: $button-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $button-color;
    border-radius: 8px;
  }
}
