.is-active {
  position: relative;
  color: $hover-color;

  &::after {
    content: "";
    display: block;
    height: 4px;
    background: $hover-color;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
