.is-active {
  position: relative;
  color: $base-color-blue;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    content: "";
    background-color: $base-color-blue;
    border-radius: 2px;
  }
}
