.is-active {
  position: relative;
  color: $second-color;

  &::after {
    content: "";
    display: block;
    background-color: $second-color;
    border-radius: 8px;
    height: 4px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
