.all-products {
  display: flex;
  flex-wrap: wrap;
  min-width: getWidth(
    $card-width,
    $card-margin-right,
    $all-products-margin-small);

  @media (max-width: 1024px) {
    padding: $all-products-margin-top
      $all-products-margin-small
      $all-products-margin-bottom;
  }

  @media (min-width: 1025px) {
    padding: $all-products-margin-top
      $all-products-margin-big
      $all-products-margin-bottom;
  }
}
