.all-products {
  display: flex;
  flex-wrap: wrap;
  min-width: getWidth(
    $card-width,
    $card-margin-right,
    $all-products-margin-small);

  &__card {
    margin-right: $card-margin-right;
  }

  @media (max-width: 1199px) {
    padding: $all-products-margin-top
      $all-products-margin-small
      $all-products-margin-bottom;
  }

  @media (min-width: 1200px) {
    padding: $all-products-margin-top
      $all-products-margin-big
      $all-products-margin-bottom;
  }
}
