.appleSection {
  display: grid;
  grid-template-columns: repeat(1,200px);
  grid-template-rows: 1fr 1fr;
  gap: 46px 48px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2,200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3,200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4,200px);
  }

  @media (min-width:1200px) {
    padding: 50px 128px;
  }

  &__card {
    border: 1px solid rgba(243, 243, 243, 1);
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 32px 0 16px;

    &-img {
      width: 160px;
      height: 134px;
      background-image: url(../images/imac.jpeg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: auto auto 40px;
    }

    &-container {
      padding: 0 16px;
    }

    &-title {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 4px;
    }

    &-code {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: $second-color;
      margin-bottom: 16px;
    }

    &-review {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-rate {
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
    }

    &-price {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
    }

    &-priceText {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $second-color;
      margin-right: 86px;
    }

    &-amount {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }

    &-button {
      font-family: Roboto, Helvetica, sans-serif;
      height: 40px;
      width: 166px;
      color: rgba(255, 255, 255, 1);
      border-radius: 5px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      background-color: $blue-color;
      border: 1px solid transparent;
    }

    &-button:hover {
      color: $blue-color;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid $blue-color;
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}
