@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    background: url(../images/star.svg) no-repeat 50%;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &--1 :nth-child(-n+1),
  &--2 :nth-child(-n+2),
  &--3 :nth-child(-n+3),
  &--4 :nth-child(-n+4),
  &--5 :nth-child(-n+5) {
    background-image: url(../images/star-active.svg);
  }
}

.product-card {
  font-family: Roboto, sans-serif;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: $color-white;
  color: $main-accent;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__product-number {
    font-size: 10px;
    line-height: 14px;
    color: $secondary;
    margin-bottom: 16px;
    font-weight: 400;
  }

  &__ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 14px;
    margin-bottom: 24px;
  }

  &__reviews-count {
    font-size: 10px;
  }

  &__price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-caption {
    font-size: 12px;
    line-height: 18px;
    color: $secondary;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  &__button {
    display: inline-block;
    width: 100%;
    padding: 11px 0;
    text-align: center;
    color: $color-white;
    background-color: $blue-accent;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    &:hover {
      background: none;
      border-color: $blue-accent;
      color: $blue-accent;
    }
  }
}
