.assortment-of-devices {
  display: grid;
  row-gap: 48px;
  column-gap: 46px;

  @each $size, $column-count in $column-quantity {
    @media (min-width: $size) {
      & {
        grid-template-columns: repeat($column-count, $card-width);
      }
    }
  }
}
