* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.button {
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: $main-accent-blue;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}
