body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: $section-width;
  padding: 50px 40px;

  &__container {
    margin-right: $card-spacing;
    margin-bottom: 46px;

    &:nth-child(#{$cards-in-row}n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + #{$cards-in-row}) {
      margin-bottom: 0;
    }
  }
}
