body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.main {
  background-color: $white;
  padding: 50px 40px 72px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $productWidth);
  grid-row-gap: 44px;
  grid-column-gap: 48px;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $productWidth);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, $productWidth);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, $productWidth);
  }

}
