.basic {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  padding: $main-container-padding;
  
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: $main-content-width;
  }
}
