.stars {
  width: $stars-size * 5 + $stars-shifts * 4;
  height: $stars-size;
  display: flex;
  align-items: space-between;

  &__star {
    @include stars($stars-size);
    background: url(../images/star.svg) no-repeat;
    background-position: 50%;

    &:not(:last-child) {
      margin-right: $stars-shifts;
    }
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} .stars__star:nth-child(-n+#{$i}) {
    background: url(../images/star-active.svg) no-repeat;
    background-position: 50%;
  }
}
