body {
  @extend %normal-text;
  line-height: 14px;

  @extend %reset-margin;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 40px;
  margin: auto;
  width: 944px;

  &__card:not(:nth-child(4n)) {
    margin-right: $cardGapLeft;
  }

  &__card:not(:nth-last-child(-n + 4)) {
    margin-bottom: $cardGapBottom;
  }


}
