.main {
  justify-content: center;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  padding: 50px 40px;
  gap: 46px 48px;
  grid-template-columns: repeat(1, $card-width);

  @include on-bigger-screen;
}
