* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

body {
  font-family: $font-text;
  font-size: 12px;
  font-weight: 500;
  color: $main-color-text;
}
