@use '../utils/variables';

.catalog {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 280px;
  align-items: center;
  justify-content: flex-start;
}

.catalog__main {
  margin: 0 auto;
}
