.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 950px;
  

  &_cards {
    margin-right: 48px;
    margin-top: 50px;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n+5) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
