.card__buy-button {
  background-color: #00acdc;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #00acdc;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: #00acdc;
  }
}
