* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
}

body,
ul,
h2,
p {
  margin: 0;
  padding: 0;
}

.catalog {
  display: flex;
  flex-direction: column;
}

@import url("../blocks/header.scss");
@import url("../blocks/logo.scss");
@import url("../blocks/nav.scss");
@import url("../blocks/cards.scss");
@import url("../blocks/card.scss");
@import url("../blocks/stars.scss");
