.button{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 11px 70px;
  margin-top: 16px;

  border: 1px solid $bg-button-color;
  border-radius: 5px;

  text-decoration: none;

  color: $background-button-color;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: $bg-button-color;

  &:hover {
    background-color: $background-button-color;
    color: $bg-button-color;
  }
}

