.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-blue-accent;
  border-radius: 5px;
  @include textDesign($m-text, $line-height-medium, $font-weight-bold);
  background-color: $color-blue-accent;
  color: white;

  &:hover {
    background-color: #fff;
    color: $color-blue-accent;
  }
}
