.button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
  font-family: inherit;
  font-size: 14px;
  padding: 11px 69px;

  @include smooth-animation;
}

.button--cta {
  background-color: $primary;
  border: 1px solid $primary;
  color: white;
  font-weight: 700;

  &:hover {
    background-color: white;
    border: 1px solid $primary;
    color: $primary;
  }
}
