.button-buy {
  @include text-style(14px, 700, 16px, #fff);

  max-height: 40px;
  max-width: 166px;
  padding: 12px 55px;

  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  background-color: $main-links-color;

  &:hover {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $main-links-color;
    color: $main-links-color;
  }
}
