.button {
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $main-moyo-color;
  color: $background-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  transition-duration: $effect-duration;

  &:hover {
    cursor: pointer;
    border-color: $main-moyo-color;
    background-color: $background-color;
    color: $main-moyo-color;
  }
}
