.information__link {
  margin-top: var(--margin-basic);
  
  display: flex;
  text-decoration: none;

  justify-content: center;
  align-items: center;
  flex-grow: 1;

  height: 38px;

  background: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.information__link:hover {
  background: #fff;
  border-color: #00acdc;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #00acdc;

  text-align: center;
  text-transform: uppercase;
}
