.button-buy {
  @extend %flex-center;
  box-sizing: border-box;
  border: 1px solid $blue-accent;
  border-radius: 5px;
  background-color: $blue-accent;
  color: white;
}

.button-buy__link {
  line-height: 16px;
  font-weight: $weight-bold;
  font-size: $m-text;
  text-decoration: none;
  color: inherit;
}

.button-buy:hover {
  background-color: #fff;
  color: $blue-accent;
}
