.btn-buy__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: $button-color;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $button-color;
    background-color: #fff;
    border: 1px solid $button-color;
    transition: color 0.3s;
  }
}
