/* #region Button card */
.button-buy {
  display: flex;
  height: 40px;

  &__link {
    display: block;
    width: 100%;
  
    font-size: #{$font-size-large};
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 38px;
    text-align: center;
  
    background: #{$colorBlue};
    border-radius: 5px;
    border: 1px solid #{$colorBlue};
  
    &:hover {
      color: #{$colorBlue};
      background-color: #fff;
    }
  }
}
/* #endregion */
