.buy-button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 11px 55px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-white;
  background-color: $color-blue;
  border: 1px solid $color-blue;
  border-radius: 5px;
  
  &:hover {
    color: $color-blue;
    background-color: $color-white;
  }
}
