.buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  @include f-size-f-weight-l-height (14, 700);
  color: $color-white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-blue;

  &:hover {
    color: $color-blue;
    border: 1px solid $color-blue;
    background-color: $color-white;
  }
}
