.product-card__buy-button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  width: 170px;
  background-color: $lightblue;
  border-radius: 5px;

  &:hover {
    background-color: #fff;
    color: $lightblue;
    border: 1px solid $lightblue;
  }
}
