.buy-button {
  text-decoration: none;

  .buy-button__button {
    @extend %flexAbsoluteCenter;
    box-sizing: border-box;
    width: $cardContentWidth;
    height: 40px;
    background-color: $brandColor;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    border-radius: 5px;
  }

  .buy-button__button:hover {
    background-color: #fff;
    color: $brandColor;
    border: 1px solid $brandColor;
  }
}
