
.buy {
  background-color: $secondary_color;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $btn_color;
  padding: 11px 10px;
  border: 1px solid transparent;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $btn_color;
    color: $secondary_color;
    border-color: $secondary_color;
  }

}
