.card__buy-button {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 70px;
  color: rgba(255, 255, 255, 1);
  background-color: $blue-accent;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: $rounding;
  transition: $transition-duration;
  border: 2px solid transparent;

  &:hover {
    background-color: $white;
    color: $blue-accent;
    border-color: $blue-border;
  }
}
