@use '../variables/variables.scss' as vars;

.container {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, vars.$card-size);
  gap: 46px 48px;
  justify-content: center;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, vars.$card-size);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, vars.$card-size);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, vars.$card-size);
  }
}
