.cards-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 944px;

  padding: 50px 0;
}

.cards-catalog__card {
  margin-top: $vertical-spacing-between-cards;
  margin-right: $horizontal-spacing-between-cards;

  &:nth-child(-n + 4) {
    margin-top: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}
