.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
}

.catalog__card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  height: 406px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px;
}

.catalog__card:not(:nth-child(4n)) {
  margin-right: 48px;
}
