.card-content__rate_stars {
  display: flex;
}

.rate-star {
  height: 16px;
  width: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:last-child {
    background-image: url(../images/star.svg);
  }
}
