.main {
  padding: 50px 40px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: containerWidth($card-width, $card-margin-right);
  margin: 0 auto;

  &__card {
    padding: 16px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $card-width;
  margin: 0 $card-margin-right 45px 0;
  padding: 16px;
  border: 1px solid $color-white;
  border-radius: 5px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__img {
    margin: 16px 3px 0;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin: 0;
    padding-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $color-black;
  }
  
  &__code {
    font-size: 10px;
    line-height: 1.4;
    color: $color-grey;
    padding-top: 4px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    &-reviews {
      font-size: 10px;
      line-height: 1.4;
      color: $color-black;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;

    &-text {
      font-size: 12px;
      line-height: 1.5;
      color: $color-grey;
    }
    
    &-amount {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.12;
      color: $color-black;
    }
  }

  &__buy {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: $color-white;
    margin-top: 16px;
    padding: 11px 70px;
    text-align: center;
    text-transform: uppercase;
    background-color: $color-blue;
    border: 1px solid transparent;
    border-radius: 5px;
  
    &:hover {
      color: $color-blue;
      background: $color-white;
      border-color: $color-blue;
    }
  }
}
