.main {

  display: flex;
  flex-wrap: wrap;
  width: 1024px;

  padding: 51px 41px;
  margin: 0 auto;

}

.card-container {
  display: flex;
  flex-direction: column;

  align-items: center;

  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;

  margin-bottom: 48px;
  margin-right: $card-margin-right;

  background-color: #fff;

  width: $card-width;

  &__img {
    margin: 31px 0 40px;
    width: 160px;
    height: 134px;

    background-color: transparent;
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 166px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    color: $basic-color;
    line-height: 18px;

    margin: 0;
  }

  &__product-code {
    color: $secondary-color;

    height: 14px;

    margin: 4px 0 16px;

    left: calc(50% - (92px / 2) - 37px);

    font-size: 10px;
    font-weight: 400;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    color: $basic-color;

    margin: 0;
    padding: 0;
  }

  &__review-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 166px;
    height: 16px;
  }

  &__stars-block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__stars-block :nth-child(-n+4) {
    background-image: url(/images/star-active.svg);
    margin: 0 4px 0 0;
  }

  &__stars-block :nth-child(5) {
    background-image: url(/images/star.svg);
  }

}

.card-container:nth-child(4),
.card-container:nth-child(8) {
  margin-right: 0;
}

.stars {
  background-color: transparent;
  background-repeat: no-repeat;

  background-position: 50%;

  padding: 0;

  border-radius: 0.5px;
  border: none;

  width: 16px;
  height: 16px;
}

.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 166px;
  height: 18px;

  margin: 24px 0 0;

  &__text {
    font-weight: 400;
    font-size: 12px;
    color: $secondary-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $basic-color;
  }
}

.card-container__button-block {
  margin: 16px 0;
}

.button-block__link {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 172, 220, 1);
  border: 1px solid rgba(0, 172, 220, 1);

  width: 166px;
  height: 40px;
  border-radius: 5px;

  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.button-block__link:hover {
  background: #fff;

  color: rgba(0, 172, 220, 1);
}
