.card-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 4 * $product-card-width + 3 * 48;
  margin: auto;
  padding-top: 50px;

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
