.cards-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 0;
}

.cards-section--size_4-cards-in-row {
  max-width: calc((#{$card_width} * 4) + (48px * 3));
}

.cards-section__card {
  margin-right: 48px;
  margin-bottom: 47px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
