.card-info {
  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__product-code {
    margin-top: 6px;
    font-size: 11px;
    line-height: 13px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  &__review {
    font-size: 11px;
    line-height: 13px;
  }

  &__price-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
  }
}
