.cards-area {
  @include flexing(flex, center, center);
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 51px 0;
  width: 950px;
  margin: 0 auto;

  &__card {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 48px;

    &:nth-last-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
