.card-container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 40px;
  display: grid;
  gap: 46px 48px;
  justify-items: center;

  @media (min-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(4 * 200px + 3 * 48px + 80px);
  }
}
