.card {
  max-width: var(--card-size);
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color);
  margin: 40px 16px 4px;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  color: var(--price-color);
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 16px;
}

.card__reviews {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: var(--text-color);
  margin: 0 16px 0 0;
}

.card__price-text {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: var(--price-color);
  margin: 0;
}

.card__sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: var(--text-color);
  margin: 0 16px 0 0;
}

.card__button {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  width: 166px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: var(--button-color);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.card__button:hover {
  background: #fff;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
