.card-catalog {
  margin: 0 auto;
  padding: 0 40px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: getWidthCatalog($card-width, $card-right-margin, $card-row);
}

.card-catalog .card:not(:nth-child(-n + 4)) {
  margin-top: 46px;
}

.card-catalog__card {
  margin-top: 50px;
}
