.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding-bottom: 17px;

  &__image {
    width: 160px;
    height: 134px;
    padding: 32px 19px;
  }

  &__title-text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding: 8px 16px;
  }

  &__title-text_small {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    padding-top: 4px;
  }

  &__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    padding-bottom: 0;

    &-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

    &-coast {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__button {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    width: 166px;
    height: 40px;
    background-color: #00acdc;
    color: #ffff;
    border-radius: 5px;
    padding: 12px 56px 12px 55px;
    text-decoration: none;
    margin: 16px;

    &:hover {
      border: 1px solid #00acdc;
      color: #00acdc;
      background-color: #fff;
    }
  }

  &__feetback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__responce {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: min-content;
    padding-right: 16px;
  }
}
