
.page {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 944px;
  height: 844px;

  &__column {
    display: flex;
    flex-wrap: wrap;
  }

  &__column:last-child {
    margin-bottom: 0;
  }

  &__catalog {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__catalog:nth-child(4n) {
    margin-right: 0;
  }
}
