.container {

  display: flex;
  flex-wrap: wrap;
  width: $main-width;

  padding: 50px 40px;
  margin: 0 auto;

}

.card-container {
  display: flex;
  flex-direction: column;

  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;
  margin-bottom: $card-margin-bottom;
  margin-right: $card-margin-right;

  background-color: #fff;

  width: $card-width;

  &__img {
    margin: 32px auto 40px;
    width: 160px;
    height: 134px;

    background-color: transparent;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    color: $basic-color;

    width: 166px;
    line-height: 18px;

    margin: 0 16px;
  }

  &__product-code {
    color: $secondary-color;

    height: 14px;

    margin: 4px 16px 16px;

    font-size: 10px;
    font-weight: 400;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    color: $basic-color;

    margin: 0;
    padding: 0;
  }

  &__review-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 16px;

    width: 166px;
    height: 16px;
  }

}

.card-container:nth-child(4n) {
  margin-right: 0;
}

.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 18px;

  margin: 24px 16px 0;

  &__text {
    font-weight: 400;
    font-size: 12px;
    color: $secondary-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $basic-color;
  }
}

.card-container__button-block {
  margin: 16px;
}

.button-block__link {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 172, 220, 1);
  border: 1px solid rgba(0, 172, 220, 1);

  height: 40px;
  border-radius: 5px;

  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.button-block__link:hover {
  background: #fff;

  color: rgba(0, 172, 220, 1);
}
