.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  transition: transform 300ms;

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__title {
    color: $color-big-text;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 4px;
    align-items: flex-start;
    width: $button-width;
  }

  &__product {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
    margin-bottom: 16px;
    color: $text-grey-color;
    width: $button-width;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover .card__title {
    color: #34568b;
  }
}
