@import "src/styles/utils/_variables.scss";

.card-product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $white-border-color;
  max-width: $card-product-width;
  border-radius: 5px;
  padding: 16px;
  color: $primary-color;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__information {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 500;
    font-size: $font-size-normal;
    line-height: 18px;
    margin: 0;
    margin-bottom: 4px;
    color: $primary-color;
  }

  &__code {
    font-weight: 400;
    font-size: $font-size-small;
    margin: 0;
    margin-bottom: 16px;
    line-height: 14px;
    color: $secondary-color;
  }

  &__rating-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__review {
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 16px;
    color: $primary-color;
    margin: 0;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    margin-bottom: 16px;
  }

  &__price-title {
    font-weight: 400;
    font-size: $font-size-normal;
    margin: 0;
    color: $secondary-color;
  }

  &__price {
    font-weight: 700;
    font-size: $font-size-large;
    line-height: 18px;
    margin: 0;
  }

  &__button {
    text-align: center;
    text-decoration: none;
    padding: 11px 0;
    background-color: $bg-color-blue;
    border-radius: 5px;
    color: $bg-color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid transparent;

    &:hover {
      background-color: $bg-color-white;
      border-color: $bg-color-blue;
      color: $bg-color-blue;
    }
  }
}
