.cards-section {
  display: flex;
  width: maxWidth($card-per-row);
  flex-wrap: wrap;

  &__product-card {
    margin-right: 4.8rem;
    margin-bottom: 4.6rem;
    padding: 3.2rem 1.6rem 1.6rem;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}
