.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 944px;
  box-sizing: border-box;
  margin: 0 auto;
}

.catalog__card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 48px;
  margin-right: 48px;
}

.catalog__card:nth-child(4n) {
  margin-right: 0;
}

.catalog__card:nth-child(-n + 4) {
  margin-top: 48px;
}
