.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 40px 72px;

  &__card {
    max-width: 200px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  &__card:nth-child(-n+4) {
    margin-bottom: 46px;
  }
}
