.card_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  max-width: countWidth($cards-in-a-row, $cards-margin-right, $cards-width);

  padding: 50px 40px;
  
  @media (min-width: 1200px) {
    padding: 50px 128px;
  }
}
