.cards {
  &__card {
    border-radius: 5px;
    border: 1px solid $secondary_color;
    transition: transform 0.3s;
    max-width: 200px;
    box-sizing: border-box;
    padding: 32px 16px 16px;
  }

  &__product {
    width: 98px;
    height: 14px;
    margin-top: 4px;
    font-family: $text;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
    color: $tertiary_color;
    display: inline;
  }

  &__screen {
    width: 160px;
    height: 134px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    font-weight: 500;
    line-height: 18px;
    color: $primary_color;
    font-family: $text;
    font-size: 12px;
    width: 166px;
    height: 36px;
    margin-top: 40px;
    transition: color 0.3s;
  }

  &__rating {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
  }

  &__reviews {
    text-align: right;
    font-family: $text;
    color: $primary_color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
  }

  &__money {
    width: 166px;
    margin-top: 24px;
    display: flex;
  }

  &__price {
    color: $tertiary_color;
    width: 31px;
    height: 18px;
    font-family: $text;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
  }

  &__number {
    color: $primary_color;
    margin-left: auto;
    width: 50px;
    height: 18px;
    text-align: right;
    font-family: $text;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
  }

  &__buy {
    left: 86px;
    font-family: $text;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0;
    text-align: center;
    color: $quaternary_color;
    border: 1px solid $quinary_color;
    background: $quinary_color;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  &__buy-wraper {
    display: block;
    width: 100%;
  }

  &__buy:hover {
    background-color: $quaternary_color;
    border: 2px solid $quinary_color;
    color: $quinary_color;
  }

  &__card:hover .text {
    color: #34568b;
  }

  &__card:hover {
    transform: scale(1.2);
  }
}
