.main__cards-container {
  display: flex;
  padding: 50px 40px;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: ($card-width-size * $cards-amount) +
    ($card-margin-right * ($cards-amount - 1)) + 80px
  ;
  max-width: 1200px;
}

.card {

  margin-bottom: 48px;
}

.card:not(:nth-child(4n)) {
  margin-right: $card-margin-right;
}
