.main {
  display: grid;
  grid-template-columns: repeat(var(--s), 200px);
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;
}

@media (min-width: 488px) {
  .main {
    --s: 2;
  }
}

@media (min-width: 768px) {
  .main {
    --s: 3;
  }
}

@media (min-width: 1024px) {
  .main {
    --s: 4;
  }
}
