.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 166px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  background-color: $color-blue-sky;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid $color-blue-sky;
  
  &:hover {
    background-color: #fff;
    color: $color-blue-sky;
  }
}
