.card__stars {
  display: flex;
}

.rate-star {
  height: $rate-star-height;
  width: $rate-star-width;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;

  @for $index from 1 through 5 {
    .stars--#{$index} &:nth-child(-n + #{$index}) {
      background-image: url(../images/star-active.svg);
    }
  }

  &:not(:last-child) {
    margin-right: 4px;
  }
}
