$main-color: #00acdc;
$card-width: 200px;
$card-margin-right: 48px;
$cards-vertical-padding: 40px;

.cards {
  display: flex;
  flex-wrap: wrap;

  width: $card-width * 4 + $card-margin-right * 3 + $cards-vertical-padding *2;
  padding: 50px 40px;

  &__card {
    margin-right: $card-margin-right;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
