.cards-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 46px 48px;


  max-width: 1024px;
  margin: 0 auto 72px;
  padding: 50px 40px;


  @media (min-width: 488px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 40px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
