.button {
  background-color: #00acdc;
  border-radius: 5px;
  width: 168px;
  height: $buy-box-height;
  padding: 12px 57px 12px 56px;

  &:hover {
    border: 1px solid #00acdc;
    background-color: #fff;
  }

  &__link {
    text-decoration: none;
    line-height: $buy-box-height;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
  }

  &__link:hover {
    color: #00acdc;
  }
}

.card__button {
  margin-right: $side-margins-text;
  margin-left: $side-margins-text;
  margin-bottom: 16px;
}
