.cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px $padding-sides-catalog 0;
  max-width: getWidth($card-size, $margin-btw-cards, $padding-sides-catalog);

  &__card {
    margin: 0 $margin-btw-cards 46px 0;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }
}

.catalog__block {
  margin: 0 auto;
}
