.basket__link {
  color: $color-white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}

.card__box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  color: #000;
  &:hover {
    background: $color-white;
    border: 1px solid $color;
  }
  &:hover .basket__link {
    color: $color;
  }
}

// .basket__link {
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 16px;
//   text-decoration: none;
//   text-align: center;
// }
