.card-field {
  display: flex;
  flex-wrap: wrap;
  width: 4 * $card-width + 3 * $card-margin-right + 2 * 40;

  @media (max-width:1024px) {
    padding: 50px 40px;
  }
  
  @media (min-width:1025px) {
    width: 4 * $card-width + 3 * $card-margin-right + 2 * 128;
    padding: 50px 128px;
  }

  & > :not(:nth-child(4n)) {
    margin-right: $card-margin-right;
  }

  & > :nth-child(n) {
    margin-bottom: 46px;
  }
}
