.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 32px 16px 16px;
  width: $cardWidth;
  margin-right: $cardGapX;
  margin-bottom: $cardGapY;
  border: 1px solid #f3f3f3;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__photo {
    align-self: center;
    margin-bottom: 40px;
    height: 134px;
    width: 160px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $colorSecond;
  }

  &__code {
    display: block;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $colorMain;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 10px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    height: 18px;
  }

  &__priceText {
    color: $colorMain;
    font-weight: 400;
    font-size: 12px;
  }

  &__priceNum {
    color: $colorSecond;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $colorBlue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid $colorBlue;
    color: $colorBlue;
  }
}
