@import "./../utils/variables.scss";

.card-block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-right: 48px;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: $text-price-code-color;
    margin-bottom: 4px;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    font-weight: 400;
    color: $text-price-code-color;
    line-height: 14px;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__rating-feedback {
    padding-top: 2px;
    font-size: 10px;
    font-weight: 400;
    color: $text-price-code-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }

  &__price-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #616070;
  }

  &__price-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $text-price-code-color;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-child(-n + 4) {
    margin-top: 50px;
    margin-bottom: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-top: 46px;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: $main-color;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      color: $main-color;
      border: 1px solid #00acdc;
      box-sizing: border-box;
    }
  }
}
