.cards-grid {
  display: flex;
  flex-wrap: wrap;
  width: getCardGridWidth($card-width, $card-row-amount, $card-gap);
  padding: 50px 0;

  &--position--center {
    margin: 0 auto;
  }

  &__card {
    &:not(:nth-child(4n)) {
      margin-right: $card-gap;
    }

    &:nth-last-child(-n + 4) {
      margin-top: 46px;
    }
  }
}
