.price {
  display: flex;
  justify-content: space-between;
  height: 18px;
  white-space: nowrap;

  &__tag {
    font-weight: 400;
    color: #616070;
    font-size: 12px;
    line-height: 18px;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }
}

.card__price {
  margin-bottom: 16px;
}
