.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
  margin: auto;
  max-width: 1024px;
}

.card {
  border: 1px solid #f3f3f3;
  margin-top: 50px;
  width: 200px;
  border-radius: 5px;
  padding: 14px;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 15px auto 45px;
  }
  
  &__opus {
    margin-bottom: 6px;
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
  }
  
  &__code {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 15px;
    text-transform: none;
  }

  &__rating {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: none;
  }

  &__price-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;

    &--price {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #00acdc;
    background-color: #00acdc;
    border-radius: 5px;
    color: #fff;
  }
  
  &__button-link:hover {
    background-color: #fff;
    color: #00acdc;
  }
}
