.card {
  width: $card-width;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px $section-bottom-gap;
  margin: 0 $card-margin-right 46px 0;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  &__logo {
    width: 160px;
    height: 134px;
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: $main-text-color;
    margin-bottom: 4px;
  }

  &__product-code {
    color: $secondary-text-color;
    margin-bottom: $section-bottom-gap;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__rewiews {
    color: $main-text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $section-bottom-gap;
  }

  &__price-text {
    font-size: 12px;
    line-height: 1.5;
    color: $secondary-text-color;
  }

  &__cost {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: $main-text-color;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $button-secondary-color;
    background: $main-brand-color;

    &:hover {
      color: $main-brand-color;
      background-color: $button-secondary-color;
      border: 1px solid $main-brand-color;
      box-sizing: border-box;
    }
  }
}
