.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 14px;
  margin-top: 50px;

  &__images {
    width: 160px;
    height: 134px;
    margin: 15px 5px 42px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  &__text,
  &__prise-text {
    font-weight: 400;
    margin-top: 6px;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 15px;
  }

  &__reviews-text {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  &__prise {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    height: 20px;
  }

  &__prise-currency {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
  }

  &__buy-link {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #00acdc;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;

    &:hover {
      background-color: #fff;
      color: #00acdc;
    }
  }

}
