.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 40px;
  // .cards__item
  &__item {
    margin: 0 48px 46px 0;
  }
}

.card {
  width: 200px;
  padding: 32px 16px 16px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  &:nth-child(4n) {
    margin-right: 0;
  }
  // .card__img
  &__img {
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
    display: block;
  }

  // .card__title
  &__title {
    font-weight: 500;
    font-size: $fontMiddle;
    line-height: 18px;
    margin-bottom: 4px;
    color: $darkBlue;
  }

  // .card__code
  &__code {
    font-size: $fontSmall;
    line-height: 14px;
    margin-bottom: 16px;
    color: $grey;
  }

  // .card__rating
  &__rating {
    margin-bottom: 24px;
  }

  // .card__price
  &__price {
    margin-bottom: 16px;
  }

  // .card__button
  &__button {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    border-radius: 5px;
    border: 1px solid $blue;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease 0s;
    padding: 5px;
    line-height: 16px;
    &:hover {
      background-color: transparent;
      color: $blue;
    }
  }
}