.price {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  height: 18px;
  width: 168px;
  white-space: nowrap;
  font-family: Roboto, sans-serif;
}

.card__price {
  margin-left: $side-margins-text;
  margin-right: $side-margins-text;
  margin-bottom: 16px;
}

.price__tag {
  font-weight: 400;
  color: #616070;
  font-size: 12px;
  line-height: 18px;
}

.price__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
