.main {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), $cards-width);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
  perspective: 200px;
  padding-top: 50px;
}

@media (min-width: 488px) {
  .main {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .main {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .main {
    --column-count: 4;
  }
}
