.card-catalog {
  display: flex;
  justify-content: center;
  min-width: $catalog-width + 2 * $catalog-horizontal-padding;

  &__container {
    box-sizing: content-box;
    display: flex;
    width: $catalog-width;
    flex-wrap: wrap;
    padding: $catalog-horizontal-padding 40px;
  }

  &__card {
    margin-bottom: 46px;

    &:not(:nth-child(4n)) {
      margin-right: $card-indent;
    }
  }

  @media (min-width:1199px) {
    padding: 0 78px ;
  }

}
