.card {
  width: $card-width; //200px
  padding: 16px;

  background-color: $white-color;
  border: 1px solid $grey-elements-color;
  border-radius: 5px;

  &__img {
    display: block;
    margin: 16px auto 40px;

    width: 160px;
    height: 134px;
  }

  &__product-name {
    margin-bottom: 4px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-accent-color;
  }

  &__code {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
  }

  &__number-of-reviews {
    display: flex;

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $main-accent-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 16px;
  }

  &__price-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-accent-color;
  }

  .card__review {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
  }

  &__buy-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $white-color;

    border-radius: 5px;
    background-color: $blue-accent-color;
  }

  &__buy-link:hover {
    color: $blue-accent-color;
    background-color: $white-color;
    border: 1px solid $blue-accent-color;
  }
}
