.catalog__content {
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;

  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
