.catalog-page {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  &__row {
    max-width: 1024px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
