@use "../utils/_functions.scss";

.catalogue {
  display: flex;
  flex-wrap: wrap;
  &__card:nth-child(-n+4) {
    margin-bottom: 49px;
  }
}

.page__catalogue {
  margin: auto;
  max-width: 1000px;
}
