.catalog-main {
  width: 100%;
  @extend %flex-centr;

  .cards {
    max-width: getWidht($card-width, $cards-margin-r);
    @extend %flex-center;
    flex-wrap: wrap;
    padding: 50px 0;

    &__position {
      margin-right: $cards-margin-r;
      margin-bottom: $cards-margin-b;
    }

    .card:nth-child(4n) {
      margin-right: 0;
    }

    .card:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
