.content {
  display: flex;
  justify-content: center;

  &__catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: mapWidht($number-card, 48px);
    padding-top: 50px;
    padding-bottom: 72px;
  }
}

.catalog__card {
  margin-bottom: 46px;
  margin-right: 48px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
