.catalog {
  display: grid;
  padding: 50px 40px;

  grid-template-columns: repeat(1, $column-width);
  justify-content: center;

  gap: 48px 46px;
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, $column-width);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, $column-width);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, $column-width);
  }
}
