.catalog-page {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: $font-size-default;
  line-height: 18px;

  &__cards-row {
    max-width: calc(#{$card-width} * 5);
    margin: auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
