.catalog {
  width: calcMaxWidth(
    $card-width,
    $card-side-gap,
    $catalog-side-padding,
    $cardsCount
  );
  display: flex;
  flex-wrap: wrap;

  &__card {
    margin: 0 $card-side-gap 0 0;
    margin-bottom: $card-bottom-gap;

    &:nth-child(#{$cardsCount}n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + #{$cardsCount}) {
      margin-bottom: 0;
    }
  }
}
