.catalog {
  background: var(--gray-white, #fff);

  &__cards {
    --column-count: 1;

    margin-bottom: 73px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--column-count), $card-width);
    row-gap: $row-gap-width;
    column-gap: $colunm-gap-width;
    justify-content: center;
    padding-top: 50px;

    @media (max-width: 487px) {
      --column-count: 1;
    }

    @media (min-width: 488px) {
      --column-count: 2;
    }

    @media (min-width: 768px) {
      --column-count: 3;
    }

    @media (min-width: 1024px) {
      --column-count: 4;
    }
  }
}
