.catalog {
  display: flex;
  flex-wrap: wrap;
  width: $catalog-width;
  margin: 0 auto;
  padding: 50px 0;

  @media (min-width: 1024px) {
    & {
      padding: 50px 40px;
    }
  }

  @media (min-width: 1200px) {
    & {
      padding: 50px 128px;
    }
  }
}
