@import "./src/styles/variables.scss";

.catalog {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px $product-card-padding 73px;
  width: $catalog-width;
  justify-content: center;
}
