.catalog {
  max-width: max-width($cardCountInRow, $card-width, $card-shift);
  margin: 0 auto;
  padding-top: 50px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
