* {
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;
}

.catalog {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  height: 100%;

  &__body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__cards-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 200px);
    padding: 50px 40px;
    gap: 46px 48px;

    @media (min-width: 488px) {
      grid-template-columns: repeat(2, 200px);
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 200px);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 200px);
    }
  }
}
