.block-1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.block-2 {
  display: flex;
  flex-wrap: wrap;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
}

.page__catalogue {
  position: absolute;
  top: 110px;
}

@media (width: 1024px) {
  .page__catalogue {
    left: 40px;
  }
}

@media (width: 1200px) {
  .page__catalogue {
    left: 128px;
  }
}
