.catalogs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  justify-content: flex-start;
  padding-bottom: 72px;

  & > .card:nth-child(4n) {
    margin-right: 40px;
  }
  
  & > .card:nth-child(-n + 4) {
    margin-top: 50px;
  }
  
  & > .card.card:nth-child(4n + 1) {
    margin-left: 40px;
  }
}
i