.catalog {
  width: getCatalogWidth($card-width, $card-per-row, $space, $hor-padding);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px $hor-padding;
    box-sizing: border-box;
  }
}
