@import "./../utils/variables";

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 32px 16px 16px;
  background: $bg-color;
  border: 1px solid $border-card-elements;
  border-radius: 5px;
  width: 200px;

  &__image {
    align-self: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }
  
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: $title-size;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent-color;
    margin-bottom: 4px;
  }
  
  &__code {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $secondary-size;
    line-height: 14px;
    color: $secondary-color;
    margin-bottom: 16px;
  }
  
  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin-bottom: 24px;
  }
  
  &__number-review {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $secondary-size;
    line-height: 14px;
    color: $main-accent-color;
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    margin-bottom: 16px;
    color: $secondary-color;
  }
  
  &__price-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: $price-text;
    line-height: 18px;
    color: $secondary-color;
  }
  
  &__price-count {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-accent-color;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    height: 40px;
    background-color: $main-blue-accent;
    border-radius: 5px;
    color: $bg-color;
    text-transform: uppercase;
    border: 1px solid $bg-color;
    transition: 0.3s;

    &:hover {
      border: 1px solid $main-blue-accent;
      background-color: $bg-color;
      color: $main-blue-accent;
      transition: 0.3s;
    }
  }
}
