
.main {
  margin: 0;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 72px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: $column $column $column $column;
  grid-template-rows: $row $row;
  grid-column-gap: 48px;
  grid-row-gap: 46px;
}

.footer {
  min-height: 10vh;
}
