@import "./utils/variables";

.catalog {
  font-family: $main-font;

  &__content {
    display: flex;
    justify-content: center;
    padding: 50px 40px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1024px;
  }

  &__card {
    margin-right: 48px;
    margin-bottom: 45px;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }

  &__card:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
