.category {
  min-width: 1024px;
  padding-top: 50px;
}

.category__card {
  width: 198px;
  height: 406px;
  margin-right: 48px;
  margin-bottom: 46px;
}

.category__card:nth-child(4n) {
  margin-right: 0;
}

.category__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
