.catalog {
  padding: 50px 40px;
  
  &--container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    min-width: getWidth(
      $card-width,
      $margin-card-right,
      $pading-min-catalog-horizontal
    );

    max-width: getWidth(
      $card-width,
      $margin-card-right,
      $pading-max-catalog-horizontal
    );
  }
}
