.catalog {
  padding: 50px 40px;
  font-size: 0;
  
  &--container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    // min-width: 1024px;
    // max-width: calc(4 * 200px + 3 * #{$margin-card-right} + 80px);
    min-width: getWidth(
      $card-width,
      $margin-card-right,
      $pading-min-catalog-horizontal
    );
    max-width: getWidth(
      $card-width,
      $margin-card-right,
      $pading-max-catalog-horizontal
    );
  }
}
