.catlog {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-width: 1024;
  max-width: 1200px;
  // padding-top: 50px;
  // padding-left: 40px;
  padding: 50px 40px;

  @media (min-width:1200px) {
    padding: 50px 128px;
    // padding-top: 50px;
    // padding-left: 128px;
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
  }

  &__item {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }

  // @media (min-width:1024) {
  //   padding-left: 41px;
  // }
}
