body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
}

.moyo-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: $size;
  height: $size;
  margin: 0 auto;
  padding: 50px 0;
  align-content: flex-start;
}
