* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

body,
h2,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
}

.main {
  display: flex;
  padding-top: 50px;
  padding-bottom: 72px;
}

.container {
  max-width: getShift($card-width, $card-amount, $card-position-shift);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width: 1024px) {
    flex-shrink: 0;
    margin-left: 40px;
  }
}
