.container {

  &__cards {
    display: flex;
    flex-wrap: wrap;

    max-width: getWidth($card-width, $card-margin-left, $cards-per-row);
    min-width: getWidth($card-width, $card-margin-left, $cards-per-row);

    margin: 0 auto;
    padding: 50px 0 72px;
  }

  &__card {
    width: $card-width;

    &:not(:nth-child(4n + 1)) {
      margin-left: 48px;
    }

    &:not(:nth-child(-n + 4)) {
      margin-top: 46px;
    }
  }
}
