.contant {
  display: grid;
  row-gap: 46px;
  column-gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 50px 40px 72px;
  }

  @media (min-width: 1200px) {
    padding: 50px 128px 72px;
  }
}
