.content {
  display: flex;
  flex-wrap: wrap;

  width: getContentWidth($card-width, $gap, $rows);
  margin: auto;
  padding: 50px 0;

  & > :nth-last-child(-n + 4) {
    margin-top: 46px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $gap;
  }
}
