.content {
  display: flex;

  &__section {
    display: flex;
    flex-wrap: wrap;
    min-width: $content-size;
    max-width: $content-size;
    margin: 50px auto 0;
  }

  &__card {
    margin-right: $card-margin-right;
    margin-bottom: $card-margin-bottom;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
