.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 48px;
  row-gap: 46px;
  justify-content: center;
  padding: 50px 40px;
  margin: 0 auto;
  width: 1024px;
}
