.container {
  background: white;
  width: auto;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  
  &_navigation-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
    height: 40px;
    width: 40px;
    padding-top: 24px;
  }
}
