.container {
  min-width: 1024px;

  &-catalog {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
