.content {
  display: flex;
  justify-content: center;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 992px;
  }

  &__card {
    margin: 50px 24px 0;
  }
}
