.catalog {
  display: grid;
  place-items: center;

  &__wrap {
    --column-count: 1;

    max-width: 944px;

    // height: 862px;

    padding: 50px 40px;

    display: grid;

    grid-template-columns: repeat(var(--column-count), 200px);
    gap: 46px 48px;

    justify-content: center;
  }
}
