* {
  margin: 0;
  transition-duration: 0.3s;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-decoration: none;
  font-style: normal;
  color: $color-black;
  font-weight: 400;
  box-sizing: border-box;
}
