.description {
  display: block;

  &__title {
    margin-top: 45px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__code {
    display: inline-block;
    margin-bottom: 15px;
    @include smallText;
  }

}
