.description {
  &__name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #060b35;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: #616070;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__comment {
    font-size: 10px;
    color: #060b35;
  }
}
