.description {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
  &__title {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
    line-height: 18px;
    color: #060b35;
    
  }
    
  &__code {
    font-size: 10px;
    margin: 0 0 16px;
    line-height: 13px;
    color: #616070;
    
  }
    
  &__rate {
    margin-bottom: 24px;
  }
    
  &__feedback {
    font-size: 10px;
    line-height: 14px;
    color: #060b35;
    margin: 0 0 24px;
      
  }
    
  &__price {
    font-size: 12px;
    line-height: 19px;
    color: #616070;
    margin: 0;
  }
    
  &__amount {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin: 0;
  }
}
