.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;

  &__text {
    display: inline-block;
    font-size: 10px;
    color: $main-color;
    line-height: 14px;
  }

  &__stars {
    display: inline-block;
  }
}
