.field {
  width: (4 * $product-width) +
    (3 * $product-margin) +
    (2 * $field-side-padding);
  padding: 50px $field-side-padding 0;
  flex-wrap: wrap;
  display: flex;

  &__product:not(:nth-child(4n)) {
    margin-right: $product-margin;
  }

  &__product:nth-child(-n+4) {
    margin-bottom: 50px;
  }

  &__product:nth-child(n + 5) {
    margin-bottom: 77px;
  }
}
