
.body {
  display: flex;
  flex-direction: column;
}

.body__field {
  margin: 0 auto;

}

.field {
  display: flex;
  flex-wrap: wrap;
  max-width: $width-field;
  padding: 50px 40px;

  @media (min-width: 1200px) {
    padding: 50px 128px;
  }

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;

    }
  }
}
