@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular_1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold_1.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium_1.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
