@font-face {
  font-family: Roboto;
  src: url(../../src/fonts/Roboto-Regular-webfont.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../src/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../../src/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

html {
  font-family: Roboto, serif;
}
