.general {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px calc((100% - $card-width * 4 - $card-margin-right * 3) / 2);
}

.general__card {
  margin-right: $card-margin-right;
  margin-bottom: 46px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
