@use "./../blocks/card.scss";

@use "./utils/variables" as *;

.general {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px calc((100% - $card-width * 4 - $card-margin-right * 3) / 2);
}
