body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.main-container {
  padding: 50px 40px 72px;
  display: grid;
  justify-content: center;
  gap: 46px 48px;

  --column-count: 1;

  grid-template-columns: repeat(var(--column-count), auto);

  @media (min-width: 488px) {
    --column-count: 2;
  }

  @media (min-width: 768px) {
    --column-count: 3;
  }

  @media (min-width: 1024px) {
    --column-count: 4;
  }
}
