.goods {
  display: flex;
  flex-wrap: wrap;
  width: $section-width;
  margin: 0 auto;
  padding: $section-vertical-padding $section-sides-padding;

  &__card {
    width: $card-width;
    margin-right: $card-margin-right;
    margin-bottom: $card-margin-bottom;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
