$blue-color: #00acdc;
$button-color: #fff;
$main-text-color: #000;

.goods {
  display: flex;
  width: 198px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  &__list {
    margin: 12px auto;
    padding: 0;
    list-style: none;
  }

  &__img {
    margin-top: 16px;
    height: 136px;
  }

  &__text {
    margin-top: 38px;
    width: 166px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__code {
    margin-top: 4px;
    width: 92px;
    height: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
    padding-bottom: 16px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text-review {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  
  &__price-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }
  &__price-sum {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }
  
  &__button {
    margin-top: 16px;
    display: flex;
    width: 166px;
    height: 40px;
    background-color: $blue-color;
    border-radius: 5px;
    align-items: center;
    text-align: center;
  }
}

.buy {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 12px 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: $button-color;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
}

.goods__button:hover,
.buy:hover {
  background-color: $button-color;
  border-color: $blue-color;
  color: $blue-color;
}

.goods:nth-last-child(-n + 4) {
  margin-top: 46px;
}
