.stars__star {
  display: flex;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.grade {

  &__stars {
    display: flex;
    flex-direction: row;
  }
  

  &__stars--1 :nth-child(-n + 4) {
    flex-direction: column;
    background-image: url(../images/star-active.svg);
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
    color: rgba(6, 11, 53, 1);
  }
}
