main {
  padding: 50px 40px;

  display: grid;
  grid-template-columns: repeat(1, $item-width);
  gap: 46px 48px;

  place-items: center;
  place-content: center;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $item-width);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, $item-width);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, $item-width);
  }
}
