.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fill, 408px);
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;

  @include set-columns(488px,2);
  @include set-columns(768px,3);
  @include set-columns(1024px,4);
}
