.grid {
  padding: 50px 0 72px;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
}

@include mediaGrid(488px, 2);

@include mediaGrid(768px, 3);

@include mediaGrid(1024px, 4);
