.header {
  height: 60px;
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  box-shadow: $header-box-params;

  &__link {
    width: 40px;
    height: 40px;

  }
}
