.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: $main-accent-color;

  &__logo {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 0;
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  &__item {
    margin-left: 20px;
    position: relative;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
    height: 14px;
    padding: 30px 0;

    &:link {
      color: $main-accent-color;
    }

    &:hover {
      color: $main-page-color;
    }
  }
}

.is-active::after {
  content: "";
  border-radius: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: $main-page-color;
  position: absolute;
}

.is-active:link {
  color: $main-page-color;
}
