.header {
  display: flex;
  color: $Main-accent;
  justify-content: space-between;
  align-items: center;
  background-color: $White;
  font-weight: 500;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 12px;
  height: 60px;
  box-shadow: 0 2px 4px 0
    rgba(0, 0, 0, 0.05)
  ;
}

.logo__img {
  display: block;
  width: 40px;
  height: 40px;
}

.is-active::after {
  display: block;
  content: "";
  position: absolute;
  background-color: $Blue-accent;
  height: 4px;
  width: 100%;
  bottom: 0;
  border-radius: 2px;
}

.is-active {
  color: $Blue-accent;
}
