.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  &__img {
    height: 40px;
  }
}
