@import "./utils/_variables.scss";

header {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  font-family: $tekst;
  max-width: 1024px;
}

img {
  margin-left: 0;
  display: block;
  height: 40px;
}

.nav__list-part {
  position: relative;
  margin-right: 20px;
}

.nav__list-part:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  font-size: 12px;
  line-height: $header-height;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}

.nav__link:hover {
  cursor: pointer;
  color: $nav-link-color;
}

.nav__list {
  display: flex;
  list-style-type: none;
}

.is-active:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  background: $blue;
}

.is-active {
  color: $blue;
}
