
.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }

  &__logo {
    height: 40px;
    width: 40px;
    padding-top: 10px;
  }
}
