.header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    flex-grow: 1;
    min-width: 140px;
    background-color: #fff;
  }
}

.nav {
  width: 758px;
  margin-right: 50px;
  background-color: #fff;
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-inline-start: 0;
  }

  &__item {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    padding-top: 21px;
    padding-bottom: 24px;
  }
}

.nav__link:hover,
.is-active {
  color: #00acdc;
}

.is-active {
  position: relative;

  &::after {
    position: absolute;
    top: 56px;
    display: block;
    content: "";
    height: 4px;
    width: 37px;
    background-color: #00acdc;
    border-radius: 2px;
  }
}

.logo {
  position: absolute;
  top: 10px;
  left: 50px;
}
