.header-menu {
  display: grid;
  grid-template-columns: 90px auto min-content 50px;
  justify-items: end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: $color-wight;

  &__logo {
    margin: 10px 0;
  }
}
