.nav {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
    align-items: center;
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: #000;
    display: flex;
    line-height: 60px;

    &:hover {
      color: var(--blue);
    }
  }
}

.is-active {
  margin-left: 0;
  color: var(--blue);
  position: relative;

  &:after {
    content: "";
    border-radius: 8px;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    position: absolute;
    bottom: 0;
  }
}
