.nav {
  &__list {
    list-style: none;
    display: flex;
    padding-left: 0;
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    color: #060b35;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    position: relative;

    &.is-active {
      color: $color-blue;
    }

    &.is-active::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 4px;
      background-color: $color-blue;
      border-radius: 8px;
    }

    &:hover {
      color: $color-blue;
    }
  }
}
