.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    margin: 10px 0 10px 50px;
  }
}
