.nav {
  display: flex;

  &__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

  }

  &__item {
    display: flex;
  }

  &__item:last-of-type {
    margin-right: 0;
  }

  &__link {
    color: $main_text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 23px 0;
    margin-left: 20px;
    position: relative;
  }

  &__link:hover {
    color: $blue-color;
  }
}

.is-active {
  color: $blue-color;
  margin-left: 0;
}

.is-active::after {
  position: absolute;
  border-radius: 8px;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: $blue-color;
  content: "";
}
