.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    height: 100%;
    margin: 0 20px 0 0;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__link {
    display: flex;
    height: 60px;
    align-items: center;
    text-decoration: none;
    color: #060b35;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__link:hover {
    color: #00acdc;
  }
}
