.header-navigation {
  display: flex;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    margin-left: 20px;
    text-transform: uppercase;
  }

  &__link {
    padding: 23px 0;
    color: #060b35;
    text-decoration: none;

    &--is-active,
    &:hover {
      color: #00acdc;
    }

    &--is-active::after {
      position: absolute;
      bottom: 0;
      display: block;
      content: "";
      width: 100%;
      height: 4px;
      background-color: #00acdc;
      border-radius: 8px;
    }
  }
}
