.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 50px;

  font-family: Roboto, sans-serif;
  font-variation-settings: 'wdth' 100;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  &__logo {
    height: 40px;
  }
}
