.home-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: $color-main-text;

  &__card {
    margin-right: $card-gap;

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: $card-bottom ;
    }
  }

  &__catalog {
    margin: auto;
    padding: 50px $catalog-paddings;
    display: flex;
    flex-wrap: wrap;
    width: ($card-width * 4) + ($card-gap * 3) + $catalog-paddings * 2 ;
  }
}
