@font-face {
  font-family: "Roboto";
  src: url(https://fonts.google.com/share?selection.family=Roboto:wght@500);
  font-style: normal;
  font-weight: 500;
}

html {
  font-family: "Roboto", sans-serif;
  @extend %text-small;
  line-height: 14px;
  color: $color-secondary-grey;
}
