html {
  font-family: $base-font-family;
  font-style: $base-font-style;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $bace-font-color;
}
