@import "../utils/variables";

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.google.com/share?selection.family=Roboto:wght@500);
  font-style: normal;
  font-weight: 500;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: $color-secondary-grey;
}

body {
  margin: 0;
}
