.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    background-image: url(../images/burger-menu.svg);

    &:hover {
      background-image: url(../images/burger-menu-hover.svg);
    }
  }
}
