.image {
  box-sizing: border-box;
  height: 134px;
  width: 160px;
  background-image: url('../images/imac.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 32px 19px 40px;
}
