@use "../utils/variables" as *;

.image {
  width: $cards-image-width;
  height: $cards-image-height;
}

.product-card__image {
  margin-left: calc(50% - 160px / 2);
  margin-top: 32px;
  margin-bottom: 40px;
  width: $cards-image-width;
  height: $cards-image-height;
}
