* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  margin: initial;
}

body {
  margin: inherit;
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
