* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-style: normal;
  font-weight: 400;
}

main {
  display: grid;
  max-width: 1120px;
  grid-template-columns: repeat(auto-fit,200px);
  row-gap: 46px;
  column-gap: 48px;
  padding: 50px 40px;
  margin: 0 auto;
  justify-content: center;
}

button {
  border: none;
}
