@import './variables';
@import './header';
@import './nav';
@import './catalog';
@import './card';
@import './button';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
