.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__model {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $dark-font-color;
    margin-bottom: 4px;
  }

  &__id {
    font-size: 10px;
    line-height: 14px;
    color: $grey-font-color;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__raiting {
    height: 16px;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
  }
  
  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: $grey-font-color;
  }
  
  &__price-amount {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $dark-font-color;
  }
}
