.info {
  display: flex;
  flex-direction: column;

  &__image {
    margin: 32px 19px 0;
    height: 134px;
    width: 160px;
  }

  &__name {
    @extend %text-darkgrey;
    height: 36px;
    width: 166px;
    margin: 40px 16px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    @extend %text-grey;
    margin: 4px 16px 0;
    font-weight: 400;
    font-size: 10px;
  }

  &__review {
    display: flex;
    height: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 17px 16px 0;
  }

  &__price {
    display: flex;
    height: 18px;
    justify-content: space-between;
    align-items: center;
    margin: 23px 16px 16px;
  }

  &__buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 16px;
    height: 40px;
    text-decoration: none;
    background-color: #00acdc;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
  }

  &__buttom:hover {
    background-color: #fff;
    color: #00acdc;
    border: 1px solid #00acdc;
    box-sizing: border-box;
  }
}
