.is-active {
  &:link {
    position: relative;
    color: #00acdc;
  }

  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    height: 4px;
    border-radius: 8px;
    background: #00acdc;
  }

  &:visited {
    color: #00acdc;
  }
}
