.is-active {
  color: $bgcolor;

  &::after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: $bgcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
  }
}
