.is-active {
  color: var(--blue-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--blue-color);
    border-radius: 8px;
  }
}
