.is-active {
  color: $blue-accent-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $blue-accent-color;
    border-radius: 8px;
    height: 4px;
  }
}
