$main-color: #00acdc;
$main-background-color: #fff;

.is-active {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  color: $main-color;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: $main-color;
    border-radius: 8px;
  }
}
