.is-active {
  position: relative;
  color: $main-theme-color;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    height: 4px;
    width: auto;

    border-radius: 8px;

    background-color: $main-theme-color;
  }
}
