.is-active {
  color: $moyo-accent-color;

  &::after {
    position: absolute;
    display: block;
    content: "";
    background-color: $moyo-accent-color;
    height: 4px;
    border-radius: 8px;
    bottom: 0;
    width: 100%;
  }
}
