.is-active {
  position: relative;
  color: #00acdc;

  &::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    box-sizing: border-box;
    background-color: $link-color;
  }
}
