.is-active {
  color: #00acdc;
}

.is-active::after {
  display: block;
  position: absolute;

  height: 4px;
  background-color: #00acdc;
  border-radius: 8px;
  content: " ";

  bottom: 0;
  left: 0;
  right: 0;
}
