.is-active {
  color: $nav__list-item-link-color;

  &::after {
    display: block;
    height: 4px;
    width: 100%;
    background-color: $card__button-color;
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    content: "";
  }
}
