.is-active {
  color: $blueColor;

  &::after {
    position: relative;
    content: "";
    display: block;
    top: 19px;
    bottom: 0;
    height: 4px;
    border-radius: 8px;
    background-color: $blueColor;
  }
}
