.is-active {
  position: relative;
  color: $additional-color;

  &::after {
    content: "";
    position: absolute;
    background-color: $additional-color;
    border-radius: 4px;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
