.item-card {
  width: 200px;
  padding: 32px 16px 16px;
  margin-bottom: 48px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__pic {
    display: block;
    height: 134px;
    width: 160px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    margin-bottom: 16px;

    color: #616070;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
  }

  &__ref {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__ref-quantity {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;

    color: #616070;
  }

  &__price-amount {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  &__buy-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;

    background: #00acdc;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__buy-btn:hover {
    background: #fff;
    border-color: #00acdc;
    color: #00acdc;
  }

}
