.header {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  display: inline-block;
}

.nav {
  display: flex;
  height: 100%;
  justify-content: flex-end;

  &__link {
    display: flex;
    align-items: center;
  
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover,
    &:active {
      color: $lightblue;
      position: relative;
    }
  }
}

a.is-active {
  color: $lightblue;
  position: relative;
}

a.is-active::after {
  position: absolute;
  bottom: 0;

  content: "";
  height: 4px;
  width: 100%;
  background: $lightblue;
  border-radius: 8px;
}
