@use '../utils/variables' as *;

.link {
  &:not(:first-child) {
    margin-left: 20px;
  }

  &__page {
    color: $nav-link-color;
    display: grid;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
    place-items: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover,
    &.is-active {
      color: $blue-color;
    }

    &.is-active::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 4px;
      border-radius: 2px;
      background-color: $blue-color;
    }
  }
}
