.link-buy {
  border: 1px solid transparent;
  border-radius: 5px;
  background: $c-blue;
  color: $c-white;
  width: 166px;
  height: 40px;
  font-weight: $font-weight--bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: $c-white;
    color: $c-blue;
    border-color: $c-blue;
  }
}
