.is-active {
  position: relative;
  color: $color-accent-blue;

  &::after {
    position: absolute;
    content: "";
    top: 56px;
    left: 0;

    width: 37px;
    height: 4px;

    border-radius: 8px;
    background: $color-accent-blue;
  }
}
