.link {
  margin: 16px;
  background-color: rgba(0, 172, 220, 1);
  border: 1px solid rgba(0, 172, 220, 1);
  border-radius: 5px;
  text-align: center;
  padding: 11px 55px;
  text-decoration: none;
  color: white;
  list-style: none;
  text-transform: uppercase;
  margin-top: 16px;

  &:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 172, 220, 1);
  }
}

.sell {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
