.list {
  list-style-type: none;
  padding: 0;

  &__item {
    margin-left: 20px;
    padding-top: 23px;
  }

  &__first {
    padding-top: 23px;
    margin-left: 0;
  }

  &__link {
    color: $color-main-accent;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 23px;

    &:hover {
      color: $color-accent-blue;
    }
  }
}
