.list {
  &__item {
    display: list-item;
    align-self: center;
  }

  &__item-link {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: $main-color;
    padding: 23px 0;
    transition: $transition-time;

    &:hover {
      color: $main-background-color;
    }
  }
}
