.logo {
  &__icon {
    display: block;
    width: 40px;
    height: 40px;
  }
}
// usually logo(with name of company) need to be used in header and footer both
//so I decided to separate that in special block
