.logo {
  // Changed to inline-flex to make the logo a standalone and re-usable block
  display: inline-flex;  // display: block;
  width: 40px;
  height: 40px;

  &__image {
    height: 100%;
    width: 100%;
  }
}
