.main-part {
  display: flex;
  justify-content: center;
  background-color: #{$second-light-color};

  &__content-of-card {
    display: flex;
    flex-wrap: wrap;
    width: 944px;
    height: 862px;
    margin: 50px 40px 0;
  }

  &__card {
    margin-right: 48px;
    margin-bottom: 46px;

    &:nth-child(-n +4) {
      margin-top: 0;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
