.main {
  --columnsCount: 1;
  display: grid;
  padding: 50px 0;
  grid-template-columns: repeat(var(--columnsCount), 1fr);
  row-gap: 46px;
  column-gap: 48px;
  max-width: 956px;
  margin: 0 auto;

  @media (min-width: 488px) {
    --columnsCount: 2;
  }

  @media (min-width: 768px) {
    --columnsCount: 3;
  }

  @media (min-width: 1024px) {
    --columnsCount: 4;
  }
}
