.main {
  padding: 50px 0 26px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 4 * $cardWidth + 3 * $cardMrgnRight;

    & :nth-child(4n) {
      margin-right: 0;
    }
  }
}
