.main-card {
  display: flex;
  flex-wrap: wrap;
  width: 944px;
  box-sizing: border-box;

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  &__card:not(:nth-child(-n + 4)) {
    margin-top: 46px;
  }
}
