.main {
  padding: 50px 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;

    width: 1024px;
  }

  &__product-card {
    margin-bottom: 46px;
    margin-right: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
