.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 40px;
  margin: 0 auto;
  min-width: 1024px;

  &__container {
    display: flex;
    justify-content: center;
    width: 944px;
    align-items: center;
    flex-wrap: wrap;
  }
}
