
.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: $row-width;

  padding: 50px 40px;

  &__card {
    margin-right: $gap-between-card;
    margin-bottom: $gap-between-row;
  }

  &__card:nth-child(#{$cards-in-row}n) {
    margin-right: 0;
  }

  &__card:nth-last-child(-n + #{$cards-in-row}) {
    margin-bottom: 0;
  }
}
