$width: 200px;
$marginRight: 48px;
$containerWidth: $width*4 + $marginRight*3;


.main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 73px;
  justify-content: center;
  font-family: "Roboto" , sans-serif;

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: $containerWidth;
  }

  &__card {
    padding: 32px 16px 16px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    width: 200px;

    &--margin {
      margin-right: $marginRight;
      margin-bottom: 46px;
    }

    &--margin:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__img {
    width: 160px;
    height: 134px;
  }

  &__header {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $darkGray;
  }

  &__common {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $lightGray;
  }

  &__price ,
  &__reviewes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__priceTag {
    color: $darkGray;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $lightBlue;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $lightBlue;

    &:hover ,
    &:focus {
      background: none;
      color: $lightBlue;
    }
  }

  &__common--size {
    font-size: 12px;
    line-height: 18px;
  }

  &__image-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  &__header--position {
    margin-bottom: 4px;
  }

  &__common--position {
    margin-bottom: 16px;
  }

  &__reviewes--position {
    margin-bottom: 24px;
  }

  &__price--position {
    margin-bottom: 16px;
  }

}

.darkGray {
  color: $darkGray;
}
