.main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  min-width: 1024px;
  width: 1024px;
  // padding: 1px;

  & > :nth-child(n) {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  & > :nth-child(1),
  & > :nth-child(5) {
    margin-left: 40px;
  }

  & > :nth-child(4n) {
    margin-right: 0;
  }

  & > :nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
