.main-card {
  display: grid;
  grid-template-rows: 2px 408px 408px 24px;
  gap: 48px;
  justify-items: center;
  justify-content: center;


  &-section {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 48px;

    grid-row: 2 / -2;
    grid-column: 1 / -1;
  }
}
