@use "../utilis/_variables" as *;
@use "../utilis/_extend";

.main-page {
  display: flex;
  justify-content: center;
  padding: 50px #{$padding-sides};

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: #{$field-size};
    min-width: 1024px;
  }

  :nth-child(4),
  :last-child {
    margin-right: 0;
  }

}
