.main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 40px;
  width: $card-width * $column + $gap * ($column - 1) + $paddingX * 2;

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
}
