.main {
  padding: 0 $pading;
  display: flex;
  justify-content: center;

  &__card {
    margin-right: $gap;
    margin-bottom: 50px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__container {
    width: mainWidth($cardWidth, $gap, $pading);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
  }
}
