.main-card {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 46px;
  column-gap: 48px;
  padding: 50px 40px 72px;

  @media (min-width:1032px) {
    padding: 50px 128px 72px;
  }
}
