.main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 40px 73px;
  width: 944px;

  &--space {
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    & {
      padding: 50px 128px 73px;
    }
  }
}
