* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  width: 944px;
  padding-top: 50px;
  padding-bottom: 72px;
}
