.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  padding: 50px 100px;
  @media (max-width: 1024px) {
    padding: 50px 40px;
  }

  &__content {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    width: (4 * $width-product-card) + (3 * $gap-product-card);
  }
}
