body {
  margin: 0;
}

.main-info {
  display: flex;
  flex-direction: column;

  
  &__price {
    margin-top: 24px;
  }

  &__reviews {
    margin-top: 15px;
  }

  &__button {
    margin-top: 15px;
    margin-bottom: 16px;
  }

  &__text {
    @extend %medium-text;
    font-weight: 500;
    color: $color-main;
  }
  
  &__code {
    @extend %small-text;
    font-weight: 400;
    margin-top: 4px;
    color: $color-secondary;
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  &__feedback {
    @extend %small-text;
    font-weight: 400;
    color: $color-main;
  }
}

.price {
  display: flex;
  justify-content: space-between;

  &__name {
    font-size: $st-size;
    font-weight: 400;
    line-height: 20px;
    color: $color-secondary;
  }
  
  &__value {
    font-size: $lt-size;
    font-weight: bold;
    line-height: 18px;
    color: $color-main;
  }
}
