.catalog {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  min-width: 4 * 200px + 3 * 48px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 4 * 200px + 3 * 48px;
  }
}
