.main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  padding: 50px 0;
  width: $catalog-size;
}

.card:not(:nth-child(4n)) {
  margin-right: $margin-right;
}

.card:nth-last-child(-n + 4) {
  margin-top: 46px;
}
