.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $ver-padding $hor-padding;
  width: $main-dimension;

  &--side-margins--auto {
    margin: 0 auto;
  }

  &__card {
    margin-right: $card-shift-right;
    margin-bottom: $card-shift-bottom;

    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
