.main-content {
  max-width: 1200px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  column-gap: 48px;
  row-gap: 46px;

  @include onMobile {
    grid-template-columns: repeat(2, 200px);
  }
  @include onTablet {
    grid-template-columns: repeat(3, 200px);
  }
  @include onDesktop {
    grid-template-columns: repeat(4, 200px);
  }
}
