.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 50px 0;
    max-width: containerWidth($card-width, $card-margin-right);
  }
}
