.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 1024px;
  padding: 50px 40px;

  &--center {
    margin: auto;
  }

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
