.cards-container {
  font-family: $main-font-family;
  font-size: $main-font-size;
  color: $main-text-color;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  display: grid;
  gap: 46px 48px;
  grid-template-columns: repeat(1, 200px);
  align-items: center;
  justify-content: center;
  padding: 50px 40px;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
