.main-container {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  padding: 50px 40px 71px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: $main-container-size;

  @media (min-width: 1200px) {
    padding: 50px 128px 71px;
  }

  &__card {
    margin-right: $space-between-card;
  }

  .main-container__card:nth-child(4n) {
    margin: 0;
  }

  .main-container__card:nth-child(n + 5) {
    margin-top: 46px;
  }
}
