.main {
  &__catalog {
    max-width: 1024px;
    width: calc(100% - 256px);
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 1024px) {
      width: calc(100% - 80px);
    }
  }
}
