.main-card {
  margin: 50px 0 72px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 1fr 1fr;
  row-gap: 48px;
  column-gap: 48px;
  justify-items: center;
  justify-content: center;
}
