@import "../utils/variables";

.main-data {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  &__container {
    width: 100%;
    padding-top: $gap;

    &:nth-child(1) {
      padding-top: 50px;
    }
  }

  &__row {
    margin: auto;
    width: $rowWidth;
    display: flex;
    // gap: $gap;
    height: 406px;
  }
}
