.main {
  display: flex;
  flex-direction: column;

  &__first-row {
    @extend %center-location;
    margin: 50px auto 46px;
  }

  &__second-row {
    @extend %center-location;
    margin: 0 auto 72px;
  }

  &__card:not(:nth-child(4n)) {
    margin: 0 48px 0 0;
  }
}
