.main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    flex-direction: row;
    max-width: containerWidth($card-width, $card-margin-right);
    padding: 50px 0;
  }
}
