.main {
  display: flex;
  flex-wrap: wrap;
  padding: 50px calc((100% - 944px) / 2);
  min-width: 1024px;
  // width: #{($product-card-width * 4) + ($-product-card-margin-right * 3)};
  // margin: auto;
}
