.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 944px;

  &__container {
    margin-right: 48px;
    margin-bottom: 46px;

    &--gap_right:nth-child(4n) {
      margin-right: 0;
    }
  }
}
