.main {
  display: grid;
  grid-template-columns: $card-width;
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;

  @each $columns, $vw in $viewports-width {
    @media (min-width: $vw) {
      grid-template-columns: repeat($columns + 1, $card-width);
    }
  }
}
