.description {
  @extend %flex-display;
  flex-direction: column;

  &__text {
    @extend %medium-text;
    font-weight: $font-wieght5;
    color: $color-main;
  }

  &__code {
    @extend %small-text;
    font-weight: $font-wieght4;
    margin-top: 4px;
    color: $color-secondary;
  }

  &__price {
    margin-top: 24px;
  }

  &__reviews {
    margin-top: 15px;
  }

  &__button {
    margin-top: 15px;
    margin-bottom: 16px;
  }
}
