.main {
  width: 100%;

  &__product-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 944px;
    padding: 50px 0;
    margin: 0 auto;
  }

  &__product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 198px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin: 0 48px 46px 0;
    padding: 32px 16px 16px;

  }
}
