.main-grid {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
  padding: 50px 40px 72px 40px;
}

@media (min-width: 488px) {
  .main-grid {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .main-grid {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .main-grid {
    --column-count: 4;
  }
}
