@use "../utilis/_variables" as *;
@use "../utilis/_extend";

.main-page {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    max-width: #{$field-size};
    min-width: 1024px;
    padding: 50px #{$padding-sides};
  }

  :nth-child(4),
  :last-child {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
