.main {
  --column-count: 1;

  &__wrapper  {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 46px 48px;
    place-content: center center;
    place-items: center center;
    padding: 50px 40px;
    margin: 0 auto;
    max-width: 1024px;

    @media (min-width: 480px) {
      --column-count: 2;
    }

    @media (min-width: 768px) {
      --column-count: 3;
    }

    @media (min-width: 1024px) {
      --column-count: 4;
    }
  }

}
