.main-catalog {
  display: flex;
  justify-content: center;
  min-width: 1024px;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1024px;

    & > :nth-child(-n + 4) {
      margin: 50px 24px 0;
    }
    
    & > :nth-last-child(-n + 4) {
      margin: 46px 24px 0;
    }

  }
}
