.main {
  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: 200px;
    gap: 46px 48px;

    padding-top: 50px;
    padding-bottom: 72px;


  }
}
@media (min-width: 488px) {
  .main__container {
    grid-template-columns: 200px 200px;
  }
}

@media (min-width: 768px) {
  .main__container {
    grid-template-columns: 200px 200px 200px;
  }
}

@media (min-width: 1024px) {
  .main__container {
    grid-template-columns: 200px 200px 200px 200px;
  }
}


