@import "../utils/variebles";

.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 24px;
}

.stars {
  display: flex;

  &__item {
    background-image: url("../../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  &--1 .stars__item:first-child,
  &--2 &__item:nth-child(-n+2),
  &--3 &__item:nth-child(-n+3),
  &--4 &__item:nth-child(-n+4),
  &--5 &__item:nth-child(-n+5) {
    background-image: url("../../images/star-active.svg");
  }
}

.stars_review {
  display: flex;
  font-size: 10px;
  align-items: center;
  color: $color-main-accent;
}
