
@media screen and (max-width: 1023px) {
  .main {
    grid-template-columns: repeat(3, $column) ;
    grid-template-rows: repeat(3, $row);
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(2, $column);
    grid-template-rows: repeat(4, $row);
  }
}

@media screen and (max-width: 488px) {
  .main {
    grid-template-columns: $column;
    grid-template-rows: repeat(8, $row);
  }
}
