@media screen and (max-width: 943px) {

  .cards-container {
    max-width: 696px;
  }

  .card:nth-child(4n),
  .card:nth-child(8n) {
    margin-right: 48px;

  }

  .card:nth-child(3n),
  .card:nth-child(6n) {
    margin-right: 0;

  }

}

@media screen and (max-width: 795px) {
  .nav__link {
    margin: 0 10px;
  }
}

@media screen and (max-width: 726px) {
  .nav__link {
    font-size: 10px;
  }
}

@media screen and (max-width: 695px) {

  .nav__list {
    justify-content: center;
  }

  .cards-container {
    max-width: 448px;
  }

  .card:nth-child(3n) {
    margin-right: 48px;

  }

  .card:nth-child(2n),
  .card:nth-child(4n),
  .card:nth-child(6n),
  .card:nth-child(8n) {
    margin-right: 0;

  }
}

@media screen and (max-width: 447px) {

  .cards-container {
    max-width: 200px;
  }

  .card {
    margin-right: 0;
  }
}
