@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1024px);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 768px);
  }
}

@media (min-width: 488px) {
  .container {
    grid-template-columns: repeat(2, 488px);
  }
}

@media (min-width: 488px) {
  .container {
    grid-template-columns: repeat(1, 488px);
  }
}
