.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;

  &__item {
    padding: 23px 0;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  &__link {
    position: relative;
    padding: 23px 0;
    text-decoration: none;
    color: #060b35;

    &:hover {
      color: #00acdc;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      border-radius: 8px;
      height: 4px;
    }
  }

}

.is-active {
  color: #00acdc;

  &::after {
    background-color: #00acdc;
  }
}
