.nav {
  margin: 0;
  padding: 0;

  &__items {
    display: flex;
    font-style: normal;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    gap: 20px;
  }
}

.nav__link {
  align-items: center;
  display: inline-flex;
  padding: 0;
  text-transform: uppercase;
  height: $nav-height;
  text-decoration: none;
  color: $main-color;

  &[data-qa='nav-hover']:hover {
    color: $color-header-blue;
  }
}

.is-active {
  position: relative;
  color: $color-header-blue;
  align-items: center;
  display: inline-flex;
  padding: 0;
  text-transform: uppercase;
  height: $nav-height;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    border-radius: 8px;
    width: 100%;
    background: $color-header-blue;
  }
}

.logo {
  height: 40px;
  display: block;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px 0 rgba(6, 11, 53, 0.06);
  background: $card-background-color;
  padding: 0 50px;
}
