html {
  font-family: $main-font-family;
}

.header {
  font-size: 12px;
  font-weight: 500;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 50px;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: $color-blue;
  height: 4px;
  width: 100%;
  border-radius: 8px;
}

.is-active {
  color: $color-blue;
  position: relative;
}
