$small-tablet-width: 488px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin on-small-tablet {
  @media (min-width: $small-tablet-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
