.model {
  display: flex;
  flex-direction: column;

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
    margin-bottom: 16px;
  }
}
