.nav__link.is-active {
  color: $turquoise;
}

.nav__link:hover {
  color: $turquoise;
}

.is-active::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $turquoise;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.2);
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
}

.card__button:hover {
  background-color: $white;
  border: 1px solid $turquoise;
}

.card__button--styles {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $turquoise;
    border: 1px solid $turquoise;
  }
}
