header {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-link {
  text-align: center;
}

a.is-active {
  color: #00acdc;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 37px;
  height: 4px;
  border-radius: 8px;
  background-color: #00acdc;
}

.logo-list {
  list-style: none;
}

.nav {
  height: 60px;
  background-color: #fff;

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    text-transform: uppercase;
    margin-left: 20px;
  }

  &__link {
    text-decoration: none;
    font-weight: bold;
  }

  &__link:hover {
    color: #00acdc;
  }
}
