body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

.header {
  line-height: 14px;
  grid-area: header;
  padding: 0 50px;
  background-color: white;
  box-shadow: 0 2px 4px 0 #0000000d;
  align-items: center;

  &__container {
    justify-content: space-between;
    display: flex;
  }
}

.logo {
  margin: 10px auto;
  width: 40px;

  &_link {
    height: 60px;
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: $main-color;
    cursor: pointer;
    height: 60px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    text-decoration: none;
    color: $second-color;
  }

}

.is-active {
  position: relative;
  color: $second-color;
}

.is-active::after {
  content: "";
  display: block;
  background-color: $second-color;
  border-radius: 8px;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
