.name-code {
  width: $cardContentWidth;

  &__name {
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    margin-bottom: 6px;
  }

  &__code {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
  }
}
