.product__description {
  margin-top: 40px;

  &-name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $dark_blue;
  }
  &-id {
    line-height: 14px;
    font-size: 10px;
    color: $grey;
  }
}
