.nav {
  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: block;
    font-size: $font-size-m;
    text-transform: uppercase;
    text-decoration: none;
    color: #060b35;
    font-weight: $font-weight-medium;
    padding: 23px 0;

    &:hover {
      color: #00acdc;
    }
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  .is-active {
    position: relative;
    color: #00acdc;

    &::after {
      content: "";
      position: absolute;
      border-radius: 2px;
      height: 4px;
      background-color: #00acdc;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
