.nav-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  min-width: 1024px;

  &__logo {
    margin: 3px 0 0 50px;
  }

  &__nav-block {
    display: inline-block;
    height: 100%;
    margin-right: 50px;
    text-align: right;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    padding-left: 20px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: $main-color;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 60px;
  }

  &__link:first-child {
    padding-left: 0;
  }

  &__link:hover {
    transition: 0.3s;
    color: $main-blue-color;
  }

}

.is-active {
  color: $main-blue-color;
  position: relative;
}

.is-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: $main-blue-color;
  border-radius: 2px;
}
