.nav-bar {
  @extend %flex;

  &__item {
    list-style-type: none;
    display: inline-block;
    margin-left: 17px;
    padding: 23px 0;

    &:first-child {
      margin-left: 0;
    }
  }
  &__link {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    padding: 23px 0;
    color: #000;

    &:hover {
      color: $secondColor;
      justify-content: sp;
    }

  }
}
