.is-active {
  position: relative;
  color: $color-background;

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: $color-background;
    border-radius: 8px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
