@import "../utils/variables";

.nav-list {
  display: flex;
  padding: 0;

  &--position {
    margin: 0;
  }

  &__link {
    display: inline-block;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    padding: 30px 0;
    line-height: 0;
    max-height: 60px;
    box-sizing: border-box;
    margin-right: 20px;
    font-weight: 500;
    
    &:hover {
      color: $blue;
    }
  }

  &__item:last-child {
    margin-right: -20px;
  }
}
