.nav-list {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;

  &__link {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color-main-accent;

    &:hover {
      color: $color-blue-accent;
    }

    &--active {
      color: $color-blue-accent;

      &::after {
        position: absolute;
        align-self: flex-end;
        background-color: $color-blue-accent;
        height: 4px;
        content: "Apple";
        color: rgba(0, 0, 0, 0);
      }
    }
  }
}
