.nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    text-decoration: none;
    color: $mainTextColor;

    &:hover {
      color: $linkHoverTextColor;
    }
  }
}

.is-active {
  color: $linkHoverTextColor;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $linkHoverTextColor;
    border-radius: 8px;
  }
}
