.nav {
  &__list {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 9px;
  }
  &__item {
    display: block;
    margin-right: 20px;
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    color: $main-color;
    padding: 23px 0;

    &:hover {
      color: $blue-color;
    }
  }
  .is-active {
    position: relative;
    color: $blue-color;
  
    &::after {
      position: absolute;
      content: "";
      width: 37px;
      height: 4px;
      background: $blue-color;
      border-radius: 8px;
      left: 0;
      top: 56px;
    }
  }
}
