$main-color: #00acdc;
$main-background-color: #fff;

.nav__list {
  display: flex;
}

.nav__item {
  display: flex;
  height: 60px;
  margin-right: 20px;
  list-style: none;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #060b35;

  &:hover {
    color: $main-color;
  }
}

.is-active {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  color: $main-color;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: $main-color;
    border-radius: 8px;
  }
}
