.nav__list {
  display: flex;
  align-items: center;
  line-height: 14px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
  list-style: none;
}
