.nav__link {
  position: relative;
  display: flex;
  line-height: 14px;
  padding: 23px 0;
  text-transform: uppercase;
  color: #{$color-black};
  text-decoration-line: none;

  &:hover {
    color: #{$color-blue};
  }
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.is-active {
  position: relative;
  color: #{$color-blue};

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #{$color-blue};
    border-radius: 8px;
    bottom: 0;
    left: 0;
    color: #{$color-blue};
  }

  &:hover {
    color: #{$color-blue};
  }
}
