.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

  box-sizing: border-box;

  &__list {
    position: relative;

    margin: 0;
    height: 100%;
    padding-left: 0;
  }
}
