.nav {
  &__list {
    display: flex;
    padding: 0;
  }

  &__item {
    margin-right: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    list-style-type: none;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    height: 60px;
    align-items: center;
    color: $main-color;
    text-decoration: none;

    &:hover {
      color: $blue-color;
    }
  }
}

.is-active {
  position: relative;
  color: $blue-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: $blue-color;
    border-radius: 8px;
  }
}
