.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item:first-child a {
    color: $blue-accent-color;
  }

  &__link {
    font-size: $main-font-size;
    font-weight: $main-font-weight;
    color: $main-text-color;
    line-height: 60px;
    white-space: nowrap;

    display: inline-block;
    position: relative;
    text-transform: uppercase;

    &:hover {
      color: $blue-accent-color;
    }
  }
}

.is-active::after {
  content: '';
  position: absolute;
  width: 37px;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: $blue-accent-color;
  border-radius: 8px;
}
