.nav {
  width: 635.5px;
  padding-right: 50px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
  }

  &__link {
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: $link-color;

    &:hover {
      color: $hover-active-color;
    }
  }

  .is-active {
    color: $hover-active-color;
    position: relative;

    &::after {
      content: "";
      background-color: $hover-active-color;
      height: 4px;
      width: 100%;
      border-radius: 8px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
