@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px [col-start]);
  justify-content: center;
  gap: 48px;
  row-gap: 46px;
  padding: 50px 40px 72px 40px;
}
