* {
  box-sizing: border-box;
}

body,
main,
section,
article,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
p,
form,
fieldset,
input,
textarea {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

a {
  text-decoration: none;
}
