* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  text-decoration: none;
}
