html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: $main-font-weight;
  line-height: 14px;
  color: $main-text-color;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
