body {
  font-family: "Roboto", Georgia, serif;
  font-size: 12px;
  color: #616070;
  background: #fff;
}

body,
p,
h1,
ul {
  margin: 0;
  padding: 0;
}

ul {
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
