* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 47px 48px;
  padding: 50px 40px;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}
