body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.page-content {
  box-sizing: border-box;
  display: flex;
  width: 1024px;
  flex-wrap: wrap;
  padding: 50px 40px;
  margin: 0 auto;
}
