.page-content {
  @extend %adjust-flex;
  flex-direction: column;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  @extend %regular-text;
  color: $main-accent-color;

  &__main-block {
    align-self: center;
  }
}
