@use '../utils/variables' as v;

.page {
  scroll-behavior: smooth;

  &__body {
    box-sizing: border-box;
    font-family: v.$font-family;

    /* background-color: blue; */

    background-color: v.$white;

    color: v.$text;
    width: 100%;
    height: 100vh;
  }
}
