.page {
  font-family: Roboto, sans-serif;
  font-size: 12px;

  @include card_element_props(12px, 500);

  &__main {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 51px auto 129px;
    gap: 50px;

    width: calc(
      #{$width_of_card} * #{$cards_in_row}
      + #{$cards_in_row - 1} * 50px
    );
  }

  &__content {
    margin: 0;
  }
}
