.page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: MaxWidth($card-width, $card-margin-right, $cards-per-row);
  margin: 0 auto;
  padding: 50px 0 72px;
}

.page-cards__card {
  &:not(:nth-child(4n)) {
    margin-right: 48px;
  }

  &:not(:nth-child(-n + 4)) {
    margin-top: 46px;
  }
}
