* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 13px;

  --color-blue-accent: #00acdc;
  --color-main-accent: #060b35;
  --color-secondary: #616070;

}

body {
  margin: 0;
}
