@use '../utils/mixins' as *;

.page-content {
  max-width: 100vw;
  min-height: 100vh;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;

  &__main-content {
    @include flex-center;
  }
}
