.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin-bottom;

  &__tag {
    font-size: 12px;
    line-height: 18px;
    color: $color-gray;
    margin: 0;
    padding: 0;
  }

  &__amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
  }
}
