.products {
  padding: 50px 0;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  max-width: productsWidth($cardWidth, $cardMarginRight);
}

.card {
  margin-right: $cardMarginRight;
  margin-bottom: 46px;
  padding: 32px 16px 16px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  width: $cardWidth;

  background: $baseColor;
  border: 1px solid $cardBorderColor;
  border-radius: 5px;

  &:last-child,
  &:nth-child(4n) {
    margin-right: 0;
  }

  &__img {
    display: flex;
    align-items: center;

    margin-bottom: 40px;
    padding: 0 3px;

    width: 160px;
    height: 134px;
  }

  &__name {
    display: flex;
    justify-content: center;

    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $primaryTextColor;
  }

  &__code {
    display: flex;
    align-content: flex-start;
    margin-top: 4px;

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondaryTextColor;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__reviews {
    display: flex;

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    color: $primaryTextColor;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  &__text {
    display: flex;
    justify-content: flex-start;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $secondaryTextColor;
  }

  &__amount {
    display: flex;
    justify-content: flex-end;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $primaryTextColor;
  }
}

.button {
  margin-top: 16px;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 164px;
    height: 38px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $mainThemeColor;
    color: $baseColor;

    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
      background: $baseColor;

      border-color: $mainThemeColor;

      color: $mainThemeColor;
    }
  }
}
