.prd-card {
  box-sizing: border-box;

  width: $prd-card-width;
  padding: 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    width: 100%;
    height: 134px;
    padding: 17px 0 26px;
    object-fit: contain;
  }

  &__title {
    margin-bottom: 4px;

    @include prd-card-title($business-color-dark);
  }

  &__code {
    margin-top: 0;
    margin-bottom: 15px;

    @include prd-card-code-label($color-light);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
  }

  &__reviews {
    @include prd-card-reviews-label($business-color-dark);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  
    margin-bottom: 17px;
  }
  
  &__price-label {
    @include prd-card-price-label($color-light);
  }

  &__price-number {
    @include prd-card-price-font($business-color-dark);
  }

  &__buy {
    display: block;
    padding: 12px 0 10px;

    @include prd-card-buy-btn-font;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    background-color: $business-color-blue;
    border: 1px solid $business-color-blue;
    border-radius: 5px;

    &:hover {
      color: $business-color-blue;
      background-color: #fff;
    }
  }
}
