.price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.price__title {
  color: $secondary-color;
  font-size: 12px;
  line-height: 18px;
}
  
.price__value {
  color: $main-color;
  font-size: 16px;
  font-weight: 700;
}
