.price-label {
  @extend %flexSpaseBetweenCenter;
  width: $cardContentWidth;

  &__label {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
  }

  &__price {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
  }
}
