.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__elem {
    font-weight: 400;
    color: $secondary-color;
  }

  &__item {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
}
