.price-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  font-weight: 400;
  &__price {
    font-weight: 700;
    font-size: 16px;
  }
}
