@import "../utils/variables.scss";

.card__price {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-right: 0;

  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    color: $grey;
  }

  &_value {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    text-align: right;
    color: $darkBlue;
  }
}
