.product-cards {
  &__container {
    width: $width;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 50px 40px;
  }

  &__cards {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__cards:nth-child(4n) {
    margin-right: 0;
  }
}
