.product-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background: $color-blue;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-white;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    color: $color-blue;
    border: 1px solid $color-blue;
    box-sizing: border-box;
    background: $color-white;
  }
}
