.stars {
  display: flex;

  &__star {
    background: url("../images/star.svg") center no-repeat;

    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__star:last-child {
    margin-right: 0;
  }

  @for $index from 1 through 5 {
    &--#{$index} :nth-child(-n + #{$index}) {
      background: url("../images/star-active.svg") center no-repeat;
    }
  }
}
