.product-list {
  box-sizing: content-box;
  padding: 50px 40px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: $card-width * 4 + $product-list-card-gap * 3;

  &__card {
    margin-bottom: 46px;
  }
}
