.main {
  @include font (400, 11);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    min-width: mainWidth($productWidth, $productIndent);
  }

  &__product {
    margin: 0 #{$productIndent/2} 50px;
  }
}
