.product-card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  border: 1px solid $c-gray-border;
  border-radius: 5px;
  font-weight: 400;


  &--standart-size {
    width: $card-size;
  }

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: auto;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $c-main-dark;
    margin-bottom: 4px;
    width: $card-content-width;
  }

  &__id {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;
    color: $c-gray-id;
    
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    width: $card-content-width;
  }

  &__item {
    font-size: 10px;
    line-height: 14px;
    color: $c-main-dark;
  }

  &__price-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    width: $card-content-width;

    .product-card__text {
      font-size: 12px;
      line-height: 18px;
      color: $c-gray-id;
    }

    .product-card__price {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $c-main-dark;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    display: block;
    height: 40px;
    background: $c-blue-main;
    border-radius: 5px;
    color: $c-white-botton-text;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    width: $card-content-width;
  }

  &__button:hover {
    color: $c-blue-main;
    border: 1px solid $c-blue-main;
    border-radius: 5px;
    background: transparent;
  }
}
