.product-catalog {
  max-width: #{max-width($cardNumber,200,48,40)}px;
  padding: 50px 40px 72px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__card {
    margin-left: 48px;
    margin-bottom: 46px;

    &:nth-child(4n + 1) {
      margin-left: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
      align-self: flex-start;
    }
  }

}
