.product-card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 14px;
  font-style: normal;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__image {
    padding: 12px 0;
    box-sizing: content-box;
    width: 160px;
    height: 134px;
    border: 3px solid transparent;
    transition: transform 400ms;
    transition-timing-function: linear;

  }

  &__image:hover {
    border-color: #f3f3f3;
    transform: scale(1.2);
  }

  &__name {
    @include font-size-weigth(12, 500);
    margin-bottom: 6px;
    line-height: 15px;
  }

  &__product-code {
    margin-bottom: 15px;
  }

  &__product-code,
  &__response,
  &__label {
    @include font-size-weigth(11, 400);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__price {
    @include font-size-weigth(11, 400);

    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__current-price {
    @include font-size-weigth(16, 700);
  }

  &__buy-button {
    @include font-size-weigth(14, 700);

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: $light-blue-color;
    border: 1px solid $light-blue-color;
    border-radius: 5px;
    transition: 400ms linear;

    &:hover {
      color: $light-blue-color;
      background-color: transparent;
    }
  }

}
