.product-rating {
  display: flex;
  justify-content: space-between;

  &__reviews {
    @include fz-fw-lh (10, 400, 16);
  }
  
  &__stars {
    display: flex;
  }
  
  &__star {
    margin-right: 4px;
    @include w-h (16, 16);
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }
  
  &__stars--4 :nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
