.button {
  @include flex-center;
  
  border-radius: 4px;
  border: 1px solid $button-color;
  background-color: $button-color;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  width: $width-of-buy-button;
  height: $height-of-buy-button;

  &:hover {
    background: #fff;
    color: $button-color;
  }
}
