.product-list {
  box-sizing: content-box;
  padding: 50px 40px 0;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 944px;
}

.product-list__card {
  margin-bottom: 46px;
}
