
.product-box-container {
  display: flex;
  justify-content: space-between;
  width: $product-box-container-width;
  flex-wrap: wrap;
  padding: 48px 0;

  &__product-box {
    margin-bottom: $product-box-bottom-gap;
  }

  &__product-box:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.product-box {
  display: flex;
  flex-direction: column;
  width: $product-box-width;
  border: 1px solid rgb(236, 236, 238);
  padding: 32px 15px 10px;
  border-radius: 5px;

  &:not(:nth-child(4n)) {
    margin-right: $product-box-right-margin;
  }

  &__item {
    margin: 0 auto 41px;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18.5px;
  }

  &__id-code {
    font-size: 9px;
    margin-bottom: 18px;
    color: #5c5b5b;
  }

  &__stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 21px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 17px;
  }

  &__price-word {
    font-size: 12px;
    font-family: $page-font;
    font-weight: 500;
  }

  &__price-amount {
    font-size: 16px;
    font-family: $page-font;
    font-weight: 700;
    color: #000;
  }

  &__buy-botton {
    height: 40px;
    border-radius: 7px;
    background-color: $blue-color;
    color: white;
    text-align: center;
    line-height: 38px;
    font-size: 12.8px;
    border: 1px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
  }

  &__buy-botton:hover {
    background-color: white;
    color: $blue-color;
    border: 1px solid $blue-color;
  }
}
