.container {
  box-sizing: border-box;
  padding: 50px $container-padding-horizontal;
  width: $container-size;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-container {
  &:not(:nth-child(4n)) {
    margin-right: $card-margin-right;
  }

  &:nth-child(-n + 4) {
    margin-bottom: $card-margin-bottom;
  }
}

.card {
  box-sizing: border-box;
  width: $card-width;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  
  &__image {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    align-self: center;
  }

  &__description {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    margin-bottom: 4px;
    color: $main-color;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 16px;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
  }

  &__star {
    height: 16px;
    width: 16px;
    background: url("../images/star-active.svg") no-repeat center;
    margin-right: 4px;
  }

  &__star:last-child {
    background-image: url("../images/star.svg");
    margin-right: 0;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
    color: $main-color;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $secondary-color;
  }

  &__sum {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
  }

  &__num {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0;
    color: $main-color;
  }

  &__submit {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $button-color;
    border-radius: 5px;
    text-transform: uppercase;
    width: 166px;
    height: 40px;
    text-decoration: none;
    border: 1px solid $button-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
  }

  &__submit:hover {
    color: $button-color;
    background-color: white;
  }
}
