.info {
  display: flex;
  flex-direction: column;

  &__product-name {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 2px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: #616070;
  }

  &__feedback {
    margin-bottom: 24px;
  }

  &__price {
    margin-bottom: 15px;
  }

  &__buy-link {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  &__item {
    flex-grow: 1;
    padding: 12px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    background-color: $color-blue;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    border: 1px solid $color-blue;

    &:hover {
      background-color: #fff;
      color: $color-blue;
    }
  }
}
