.product-page {

  &__content {
    margin: 50px auto 73px;
    display: flex;
    flex-wrap: wrap;

    width: productCardWidth($product-card-width, $margin-right, $index);
  }

  &__product-card {
    margin-bottom: 48px;
    margin-right: 50px;

    &:nth-child(#{$index}n) {
      margin-right: 0;
    }

    &:nth-child(#{$index}n+1):nth-last-child(-n+#{$index}),
    &:nth-child(#{$index}n+1):nth-last-child(-n+#{$index}) ~ & {
      margin-bottom: 0;
    }
  }
}
