$column-count: 1;

.product-section {
  display: grid;
  place-items: center;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat($column-count, 1fr);
  gap: 46px 48px;
  padding: 50px 40px;

  @media (min-width: 488px) {
    $column-count: 2;
    & {
      grid-template-columns: repeat($column-count, 1fr);
    }
  }

  @media (min-width: 768px) {
    $column-count: 3;
    & {
      grid-template-columns: repeat($column-count, 1fr);
    }
  }

  @media (min-width: 1024px) {
    $column-count: 4;
    & {
      grid-template-columns: repeat($column-count, 1fr);
    }
  }
}
