.product-rating {
  @include flex-space-beetwen;

  &__stars {
    display: flex;
  }

  &__opinion {
    margin: 0;
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    line-height: 14px;
    align-self: center;
  }
}

.stars {
  &__star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
}

.stars--5 > .stars__star,
.stars--4 > :nth-child(-n+4),
.stars--3 > :nth-child(-n+3),
.stars--2 > :nth-child(-n+2),
.stars--1 > :first-child {
  background-image: url(../images/star-active.svg);
}
