.price {
  &__section {
    display: flex;
    justify-content: space-between;
  
    margin: 24px 0 15px;
  }

  &__text {
    margin: 0;
    
    line-height: 20px;
    font-weight: $secondary-font-weight;
    color: $secondary-color;
  }

  &__amount {
    margin: 0;
  
    line-height: 18px;
    font-weight: 700;
    font-size: 16px;
  }
}
