.products {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 70px;
  width: (4 * $product-width) + (3 * $products-margin-right);

  &__product {
    margin-right: $products-margin-right;
    margin-top: $products-margin-top;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(-n + 4) {
      margin-top: 0;
    }
  }
}
