@use "../utils/variables" as *;

.product-card-wrapper:nth-child(-n+4) {
  margin-bottom: 48px;
}

.product-card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;

  &__section {
    padding: 32px 16px 16px;

    &-wrapper-image {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;

      .image {
        width: 160px;
        height: 134px;
      }
    }
  }

  &__title {
    margin-bottom: 16px;

    &-wrapper {
      margin-bottom: 4px;
      line-height: 18px;
    }
  
    &-under-text {
      font-weight: 400;
      color: $light--text--color;
      font-size: 10px;
      margin: 0;
    }

    &-text {
      font-weight: 500;
      font-size: 12px;
      color: $text--color;
      margin: 0;
    }

  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

  
    .product-card__review {
      font-size: 10px;
    }

  }
  
  &__product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-text {
      color: $light--text--color;
      font-size: 12px;
    }
  
    &-text-product-price-value {
      font-size: 16px;
      font-weight: 700;
      color: $text--color;
    }
  }

  &__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: $button--color;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    padding: 12px;

    &:hover {
      background-color: #fff;
      color: $button--color;
      border: 1px solid $button--color;
      padding: 11px;
    }

  }
}
