.products {
  display: flex;
  flex-wrap: wrap;
  max-width: $products-padding * 2 + $card-space * 3 + $card-width * 4;
  background-color: $bgc;
  padding: 50px $products-padding;
  &__container {
    &:not(:nth-child(4n)) {
      margin-right: $card-space;
    }
    &:nth-last-child(-n + 4) {
      margin-top: 46px;
    }
  }
}
