.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 104px;
  margin-right: 104px;

  @media (max-width: 1199px) {
    margin-left: 12px;
    margin-right: 12px;
  }
}
