.ProductCard {
  box-sizing: border-box;
  width: 200px;
  height: 408px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  transition: 0.3s;
}

.ProductCard__Image {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;

}

.ProductCard__Title {
  margin: 0 0 4px;

  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-accent-color);
  transition: 0.3s;

}

.ProductCard__ProductCode {
  margin-bottom: 16px;
}

.ProductCard__ProductReviewsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.ReviwesCount {
  color: var(--main-accent-color);
}

.ProductCard__PriceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

}

.ProductCard__Price-label {
  font-size: 12px;
  line-height: 18px;
}

.ProductCard__Price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-accent-color);

}

.ProductCard__Buy {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  height: 40px;
  background-color: var(--blue-accent-color);
  border-radius: 5px;
  overflow: none;
  text-decoration: none;
  color: var(--whyte-bg-color);
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;

}

.ProductCard__Buy:hover {
  background-color: var(--whyte-bg-color);
  border: 1px solid var(--blue-accent-color);
  color: var(--blue-accent-color);
  transition: 0.3s;
}

.ProductCard:hover {
  transform: scale(120%);
  transition: 0.3s;
}

.ProductCard__Title:hover {
  color: #34568b;
  transition: 0.3s;
}
