.main {
  @include font (400, 11);
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: mainWidth($productWidth, $productIndent);
  }

  &__product {
    margin: 50px #{$productIndent/2} 0;
  }
}
