.product-info {
  display: flex;
  flex-direction: column;
  line-height: 18px;

  &__name {
    margin-top: 40px;
  }

  &__code {
    margin-top: 4px;
    margin-bottom: 15px;
  
    line-height: 14px;
    color: $secondary-color;
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
  }
}
