.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  padding: 0 40px;
}

  .card {
    width: 200px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    padding: 14px;
    margin-top: 50px;
  
  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 15px auto 45px;
  }
  
  &__product {
    margin-bottom: 6px;
    line-height: 15px;

    font-size: 12px;
    font-weight: 500;
    text-transform: none;
  }
  
  &__code {
    margin-bottom: 15px;

    font-size: 10px;
    font-weight: 400;
    text-transform: none;
  }
  
  &__reccomend {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    font-size: 10px;
    font-weight: 400;
    text-transform: none;
  }
  
  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    font-size: 12px;
    font-weight: 400;
    text-transform: none;
  }
  
  &__amount {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
  
  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
  
    border: 1px solid #00acdc;
    background-color: #00acdc;
    border-radius: 5px;
    color: white;
  
  &:hover {
    background-color: #fff;
    color: #00acdc;
  }
 }
}
