.product {
  @include crossAxisCentered;
  flex-direction: column;
  padding: 30px 0 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;
  }

  &-item {
    width: $cardWidth - 30px;
  }

  &__buy {
    @include flexCentered;
    height: 40px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $secondaryColor;
    border-radius: 5px;
    color: $primaryColor;

    &:hover {
      background: $primaryColor;
      border: 1px solid ;
      color: $secondaryColor;
    }
  }
}
