.main {
  @include font (400, 11);
  margin-top: 50px;
  padding-bottom: 28px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: mainWidth($productWidth, $productIndent);
  }

  &__product {
    margin: 0 #{$productIndent/2}px 50px;
  }
}
