.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid $borderProductColor;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    display: inline-block;
    align-self: center;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    color: $mainBlue;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    color: $secondaryTextColor;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__rating-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    color: $mainBlue;
    font-weight: 400;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 12px;
    line-height: 18px;
    color: $secondaryTextColor;
    font-weight: 400;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $mainBlue;
  }

  &__buy-link {
    max-width: 100%;
    background: $accentBlue;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    line-height: 38px;
    font-size: 14px;
    border: 1px solid transparent;
    color: #fff;

    &:hover {
      background: inherit;
      color: $accentBlue;
      border-color: $accentBlue;
    }
  }
}
