* {
  box-sizing: border-box;
}

.product-page {
  margin: 0;
  font-family: "Roboto", sans-serif;

  // &__content-wrap {
  //   display: flex;
  //   justify-content: center;
  // }

  &__content {
    display: flex;
    justify-content: center;
  }
}
