.product-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;

  &__image {
    margin: 0 auto 40px;
    height: 134px;
    object-fit: contain;
    object-position: center;
  }
  
  &__title {
    margin-bottom: 4px;
    @include textDesign ($s-text, $line-height-big, $font-weight-normal);
    color: $color-main-accent;
  }
  
  &__code {
    margin-bottom: 15px;
    @include textDesign ($xs-text, $line-height-small, $font-weight-thin);
    color: $color-secondary-accent;
  }
  
  &__other {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  &__rating {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  &__rating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    @include textDesign ($xs-text, $line-height-small, $font-weight-thin);
    color: $color-main-accent;
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
  
  &__price-label {
    color: $color-secondary-accent;
    @include textDesign ($s-text, $line-height-big, $font-weight-thin);
  }
  
  &__price-number {
    @include textDesign ($l-text, $line-height-big, $font-weight-bold);
    color: $color-main-accent;
  }
  
  &__buy {
    height: 40px;
    width: 100%;
  }
}
