.card {
  display: flex;
  flex-direction: column;

  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    margin: auto;
    margin-bottom: 40px;

    width: 160px;
    height: 134px;
  }

  &__title {
    margin-bottom: 5px;

    line-height: 18px;
    font-weight: 500;
    font-size: 12px;
  }

  &__product-code {
    margin-bottom: 18px;

    color: $color-light-gray;
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__price {
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__price-text {
    font-size: 12px;
    color: $color-light-gray;
  }

  &__price-nums {
    font-weight: 700;
    font-size: 16px;
  }

  &__buy-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    background: $color-light-blue;
    color: #fff;
    border-radius: 5px;
  }

  &__buy-button:hover {
    cursor: pointer;
    background: #fff;
    color: $color-light-blue;
    border: 1px solid $color-light-blue;
  }

}
