
/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $card-hor-margin 49px;

  padding: 29px 14px 14px;
  width: $card-width;
  min-height: 403px;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  &__product-image {
    margin-bottom: 45px;
    width: 160px;
    height: 134px;
    object-fit: fill;
  }
  &__device-name {
    margin-bottom: 6px;
    padding: 0;

    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  &__product-code {
    align-self: start;
    margin-bottom: 14px;
  }
  &__feedback {
    margin-bottom: 20px;
  }
  &__buy-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    width: 170px;
    height: 40px;

    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    background-color: $moyo-color;
    border-radius: 5px;
    border: 1px solid $moyo-color;
    &:hover {
      color: $moyo-color;
      background: #fff;
    }
  }
}

/* product-code */
.product-code {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

/* feedback */
.feedback {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
  width: 100%;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-content: start;
  width: 100px;
  height: 15px;
  &__point {
    width: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/star.svg");
    &:nth-child(-n+4) {
      background-image: url("images/star-active.svg");
    }
    &:last-of-type {
      margin-right: 10px;
    }
    &:first-of-type {
      margin-left: 1px;
    }
  }
}

.comments {
  padding-top: 1px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
}

/* price-field */
.price-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  &__label {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }
  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
}
