.product-card-info {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  text-align: center;
  line-height: 18px;

  &__aditional {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  }

  &__price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
  }
}
