.product-list {
  padding-top: 50px;
  padding-bottom: 73px;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 944px;
  }

  &__item {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }

  &__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
