.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0 72px;
  width: 994px;

  &__product {
    flex-basis: 25%;
    margin: 0 48px 46px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
