.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 166px;
  padding: 0 16px;
  background: $card-background-color;
  border: 1px solid $card-border;
  border-radius: 5px;

  &__imac {
    display: block;
    margin-top: 32px;
    height: 134px;
  }

  &__description {
    display: flex;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    margin-top: 40px;
  }

  &__code {
    display: flex;
    font-family: inherit;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $card-color;
    width: $container-width;
    margin-top: 4px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    width: $container-width;
    margin-top: 16px;
  }

  &__review {
    display: flex;
    align-items: flex-end;
    font-family: inherit;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: $link-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    width: $container-width;
    margin-top: 24px;
  }

  &__price1 {
    font-family: inherit;
    font-weight: normal;
    color: $card-color;
  }

  &__price2 {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    width: $container-width;
    height: 38px;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $card-background-color;
    background-color: $hovered-color;
    border: 1px solid $hovered-color;
    border-radius: 5px;

    &:hover {
      background-color: $card-background-color;
      color: $hovered-color;
    }
  }
}
