.raiting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__stars {
    display: flex;
  }

  &__reviews{
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
   }
  }



