.rate-stars {
  display: flex;

  &__star {
    @include square($star-size);

    background-image: url("./../images/star.svg");
    background-repeat: no-repeat;

    &:nth-of-type(-n + 4) {
      margin-right: 6px;
      background-image: url("./../images/star-active.svg");
    }
  }
}
