
.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &-stars {
    display: flex;
  }

  &-stars__star {
    width: 15px;
    height: 15px;
    background-image: url(/images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  &-stars__star:last-child {
    width: 15px;
    height: 15px;
    background-image: url(/images/star.svg);
  }
}
