.rate-stars {
  display: flex;

  &__star {
    background-image: url(../../src/images/star-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 4px;

    &:last-of-type {
      background-image: url(../../src/images/star.svg);
      margin-right: 0;
    }
  }
}
