.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;

    color: $dark;
  }
}
