.rating {
  display: flex;
  align-items: center;

  &__stars {
    margin-right: 4px;
    height: 15px;
    width: 15px;
    background-image: url("../images/star-active.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--4 :nth-child(n+5) {
    background-image: url("../images/star.svg");
  }
}
