.reference {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  &__button {
    box-sizing: border-box;
    height: 40px;

    @include card_element_props(14px, 700);
    @extend %width_of_card_elements;

    background-color: $button_color;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;

    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

    transition: color 0.5s;

      &:hover {
      @include buy_button($button_color);

      transition: background-color 0.5s;

      background-color: rgba(255, 255, 255, 1);
    }
  }

}
