html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

body {
  margin: 0;
}

li {
  // I use this, because it's rule for rule of the entire project.
  float: left;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}
