body,
ul {
  margin: 0;
}

.nav {
  &__list {
    padding: 0;

    list-style: none;
  }

  &__item {
    &:first-child a {
      margin-left: 0;
    }

    &:last-child a {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
  }
}

.price {
  margin-top: 0;
  margin-bottom: 0;
}

.reviews {
  margin: 0;
}
