.response {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  &__count {
    font-size: 10px;
    line-height: 13px;
    color: $color-black;
    margin: 0;
  }
}
