.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;

    &--active {
      background-image: url(../images/star-active.svg);
    }
  }

  &__amount {
    @include set-font(10px, 400, 14px, $main-accent);
  }
}
