.reviewSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &--Card {
    margin-bottom: 0;
    margin-top: 16px;
  
  }
  
  &__reviewRate {
    font-weight: 400;
    font-size: 10px;
    color: $focusColor;
    margin: 0;
  }
}
