.reviews-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__reviews {
    justify-self: end;
    font-size: 10px;
    line-height: 14px;
  }
}
