.review {
  &__stars--stars--4 {
    display: flex;
    justify-content: space-around;
    height: 16px;
    margin-left: 2px;
  }

  &__count {
    @extend %text-darkgrey;
    font-weight: 400;
    font-size: 10px;
  }

  &__star {
    background: url("../images/star.svg") no-repeat;
    width: 16px;
    margin: 2px 0 0;
  
    &:not(:last-child) {
      margin-right: 4px;
    }

    &:nth-child(-n + 4) {
      background: url("../images/star-active.svg") no-repeat;
    }
  }
}
