.reviews {
  @extend %flex-space;
  text-align: center;
  align-items: center;

  &__feedback {
    @extend %small-text;
    font-weight: $font-wieght4;
    color: $color-main;
  }
}

.price {
  @extend %flex-space;

  &__name {
    font-size: $st-size;
    font-weight: $font-wieght4;
    line-height: 20px;
    color: $color-secondary;
  }
  
  &__value {
    font-size: $lt-size;
    font-weight: bold;
    line-height: 18px;
    color: $color-main;
  }
}
