.reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &__text {
    color: $main-accent;
    text-align: right;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
  }
}
