.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  box-sizing: border-box;

  @media (min-width: 1024px) {
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    padding: 0 128px;
  }

  &__card {
    margin-right: 48px;
    margin-bottom: 46px;

    &:last-child {
      margin-right: 0;
    }
  }
}
