.sale-page {
  padding: 50px 0;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;

    width: $content-width;
    margin: 0 auto;
  }

  &__card {
    &:not(:nth-child(4n)) {
      margin-right: $card-margine-right;
    }

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: 46px;
    }
  }
}
