.section-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  max-width: 4 * $card-width + (3 * $column-gap);
  justify-content: center;
  place-items: center;
  gap: $row-gap $column-gap;
}
