/* #region section */
.section {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  width: 200px;
  margin-right: 48px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  justify-content: end;

  display: flex;
  flex-direction: column;
  padding: 16px;
  color: #060b35;

  &__iconProduct {
    margin: 16px auto 0;
    width: 160px;
    height: 134px;
  }

  &__nameProduct {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__article {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #616070;
    margin-top: 4px;
  }

  &__stars {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__review {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: #060b35;
  }

  &__price {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-name {
      font-weight: 400;
      font-size: 12px;
    }

    &-sum {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__button {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 10px 54px 12px;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
  }

  &__button:hover {
    color: #00acdc;
    background-color: #fff;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-top: 46px;
  }
}
/* #endregion section*/
