.section-catalog {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: $color-black;

  &__product-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    padding: 50px 40px;
  }

  
}
