.section {
  --column-count: 1;
  padding: 50px 40px;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: repeat(var(--column-count),200px);
  column-gap: 48px;
  row-gap: 46px;
  justify-content: center;
}

@media (min-width: 488px) {
  .section {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .section {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .section {
    --column-count: 4;
  }
}
