.shop {

  &__cards {
    display: grid;
    justify-content: center;
    padding: 50px 40px;
    gap: 46px 48px;

    @media(min-width: $phone-width) {
      grid-template-columns: repeat(2, 200px);
    }

    @media(min-width: $tablet-width) {
      grid-template-columns: repeat(3, 200px);
    }

    @media(min-width: $pc-width) {
      grid-template-columns: repeat(4, 200px);
    }
  }

  &__card {

    &:nth-child(n+4) {
      margin-right: 0;
    }
  }
}
