.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: $width-showcase;
  margin: 0 auto;
  padding-top: $padding-showcase-top;

  &__card-margins {
    margin-bottom: $margin-card-y;
  }
}
