.showcase {
  display: flex;
  width: screenWidth($card-width, $card-margin-right);
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 0;

  &__card {
    margin-right: $card-margin-right;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
