$basic-color: #616070;
$color-nav-default: #060b35;
$color-accent: #00acdc;
$color-title-hover: #34568b;
$card-width: 200px;
$gap-horizontal: 46px;
$gap-vertical: 48px;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$transition-duration: 300ms;
$card-bg: #fff;
$card-bg-hover: #f0f0f0;
