.stars {
  display: flex;
  font-size: 10px;

  &_star {
    background: url(../images/star.svg) no-repeat center;
    height: 16px;
    width: 16px;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $index from 1 through 5 {
    &__stars--#{$index} &_star:nth-child(-n + #{$index}) {
      background: url(../images/star-active.svg) no-repeat center;
    }
  }
}
