.stars {
  display: flex;

  &__star {
    @include star($star-size);
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &--5 &__star,
  &--4 &__star:nth-child(-n+4),
  &--3 &__star:nth-child(-n+3),
  &--2 &__star:nth-child(-n+2),
  &--1 &__star:nth-child(1) {
    background-image: url(/images/star-active.svg);
  }
}
