.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    display: flex;
    background: url(../../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  @for $i from 1 through 5 {
    &--#{$i} > :nth-child(-n + #{$i}) {
      background: url(../../images/star-active.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & > :nth-child(-n+4) {
    margin-right: 4px;
  }
}
