.stars {
  display: flex;

  &__star {
    @include square(16px);
    margin-right: 4px;

    background: url(../images/star.svg) no-repeat center;

    &:last-child {
      margin-right: 0;
    }
  }

  @for $index from 1 through 5 {
    &--#{$index} > &__star:nth-child(-n + #{$index}) {
      background: url(../images/star-active.svg) no-repeat center;
    }
  }
}
