.stars {
  display: flex;
  height: 15px;

  &__star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-right: 4px;

    &:nth-last-child(n + 2) {
      background-image: url(../images/star-active.svg);
    }
  }
}
