.stars {
  display: flex;

  &__star {
    width: $star-size;
    height: $star-size;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__star + &__star {
    margin-left: 4px;
  }

  @for $i from 1 through 5 {
    &.stars--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
