.stars {
  display: flex;

  &__item {
    height: 16px;
    width: 16px;
    background: url(../images/star.svg) no-repeat center;
    margin-right: 4px;
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} .stars__item:nth-child(-n + #{$i}) {
    background: url(../images/star-active.svg) no-repeat center;
  }
}
