.stars {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    list-style-type: none;
    background-position: center;
  }

  &__item:not(:last-child) {
    margin-right: 4px;
  }
  
  &__list--4 > :nth-of-type(-n+4) {
    background-image: url(/images/star-active.svg);
  }
  
  &__review-number {
    font-size: 10px;
    font-family: $page-font;
  }
}
