.star {
  display: flex;
  align-self: flex-start;
  
  &__star {
    display: inline-block;
    margin: 2px 6px 2px 2px;
    height: 12px;
    width: 12px;
    background-image: url(images/star.svg);
  }
}

.stars--4 .star__star:nth-child(-n+4),
.stars--5 .star__star:nth-child(-n+5) {
  background-image: url("images/star-active.svg");
}
