.stars-container {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $starsCount from 1 through 5 {
    &--stars-#{$starsCount} &__star:nth-child(-n + #{$starsCount}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
