.stars {
  display: flex;

  &__star {
    @include star($star-size);

    list-style: none;
    margin-right: 4px;

    &:last-child {
      background: url(./star.svg) no-repeat center;
    }
  }
}
