.is-active {
  color: $--blue-accent;

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background-color: $--blue-accent;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
