.card {
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 5px;

  @include transition (all, 300ms);

  &__image {
    background-size: cover;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 18px;
    color: $main-color-font;
    margin-bottom: 4px;
  }

  &:hover {
    transform: scale(1.2);

    .card__title {
      color: #34568b;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: $second-font-size;
    line-height: 14px;
    color: #616070;
    margin-bottom: 16px;
    align-self: start;
  }

  &__reting {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 24px;
    width: 100%;
    justify-items: space-between;
  }

  &__reviews {
    justify-self: end;
    padding: 0;
    font-weight: 400;
    font-size: $second-font-size;
    line-height: 14px;
    color: $main-color-font;
    align-self: end;
  }

  &__price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center space-between;
    width: 100%;
    margin: 0 auto 16px;
  }

  &__price-title {
    justify-self: start;
    font-weight: 400;
    font-size: $main-font-size;
    line-height: 18px;
    color: #616070;
  }

  &__price-cost {
    justify-self: end;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-color-font;
  }

  &__link {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #00acdc;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    border: 1px solid transparent;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    @include transition (all, 300ms);

    &:hover {
      color: #00acdc;
      background: hsl(0, 0%, 100%);
      border-color: hsl(193, 100%, 43%);
      border-radius: 5px;
    }
  }
}
