.main {
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  max-width: 955px;
  margin: 0 auto;
  border: 1px solid #000;

  &__card {
    width: 200px;
    margin-right: $margin_between_cards;
    margin-bottom: $margin-bottom-cards;
  }
}

@media (min-width: 1200px) {
  .main {
    margin-left: 129px;
  }
}
