html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  color: $color-header;
}

body {
  margin: 0;
}

.header {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-header;
}

.logo__img {
  display: block;
  width: 40px;
  height: 40px;
}

.nav {
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  padding: 0;
  position: relative;
  display: flex;
  height: 60px;
  margin-left: 20px;
  align-items: center;
  color: #060B35;
  text-decoration: none;
  background-color: $background-color-header;
}

.nav__item:hover {
  color: $color-header;
}

.is-active::after {
  color: $color-header;
  background: $color-header;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  border-radius: 8px;
  position: absolute;
  transform: scaleX(1);
  transition: all;
  width: 100%;
}

.is-active {
  margin-left: 0;
  color: $color-header;
}
