.things {
  &__list {
    display: grid;
    grid-template-columns: repeat(1, $card-width);
    place-content: center;
    place-items: center;

    gap: $things__gaps;

    padding: $things-list-padding;

    @media (min-width: $small__screen) {
      grid-template-columns: repeat(2, $card-width);
    }

    @media (min-width: $medium__screen) {
      grid-template-columns: repeat(3, $card-width);
    }

    @media (min-width: $large__screen) {
      grid-template-columns: repeat(4, $card-width);
    }
  }
}
