.title {
  text-align: left;
  font-size: $card-titles-font-size;
  font-weight: 500;
  line-height: $card-font-lines-height;
  margin-top: 40px;
  
  transition: color $transition-duration ease;

  &--product-code {
    text-align: left;
    color: $secondary-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-top: $card-titles-margin;
  }
}
