.title {
  &__info {
    font-size: $font-size-m;
    line-height: 18px;
    font-weight: 500;
    color: #060b35;
  }
    
  &__code {
    height: 14px;
    margin: 4px 0 15px;
    font-size: $font-size-s;
    line-height: 14px;
    font-weight: 400;
    color: #616070;
    display: flex;
  }
}
