.title {
  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    color: var($color-title);
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: var($color-subtitle);
  }
}
