$main-color-for-buttons: #00acdc;
$main-color: #060b35;
$secondary-color: #616070;
$main-padding: 16px;
$border-color: #f3f3f3;
$main-color-for-style: #00acdc;
$card-background-color: linear-gradient(0deg, #fff, #fff);
$text-color-linksAndButtons: #fff;
$transition-time: 300ms;
$nav-link-color: #060B35;
$default-font-weigth: 400;
$bold-font-weigth: 700;
$main-background-color: #fff;

html,
body,
div,
h1,
h2,
h3,
nav {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}
