// font variables
$font-size-light: 10px;
$font-size-mid: 12px;
$font-size-mid-large: 14px;
$font-size-large: 16px;
$font-weight-light: 400;
$font-weight-mid: 500;
$font-weight-bold: 700;

// line-height variables
$line-height-small: 14px;
$line-height-medium: 18px;
$line-height-large: 40px;

// card variables
$font-family: Roboto, sans-serif;
$card-width: 200px;

// card__product variables
$card__product-padding: 32px 16px 16px;

// card__image variables
$card__image-width: 160px;
$card__image-heigth: 134px;

// card__reviews variables
$card__reviews-width: 166px;
$card__title-margin: 16px 0 0;

// card__reviews-count variables
$card__reviews-count-width: 53px;

// card__price variables
$card__price-margin: 24px 0 0;

// stars variables
$stars-size: 16px;
$stars-gap: 4px;

// border-radius variables
$border-radius-small: 5px;
$border-radius-big: 8px;

// color variables
$color-blue: #00acdc;
$color-dark: #060b35;
$color-grey: #616070;
$color-black: #060b35;
$color-early-blue: #34568b;
$color-white: #fff;

// header__logo variables
$logo-size: 40px;

// nav__link variables
$link-size: 60px;
