$color-primary: #00acdc;
$color-text: #060b35;
$color-text-light: #616070;
$font-base: Roboto, sans-serif;
$font-size-sm: 10px;
$font-size-md: 12px;
$font-size-lg: 16px;
$border-radius: 5px;
$star-size: 16px;
$header-height: 60px;
$card-border-color: #f3f3f3;
$card-bg-color: #fff;
$card-hover: #34568b;
$card-margin-bottom: 16px;
$card-width: 200px;
