$main-color: #00acdc;
$text-accent-color: #060b35;
$text-secondary-color: #616070;
$background-color: #fff;
$border-color: #f3f3f3;
$box-shadow-color: rgba(0, 0, 0, 0.05);
$column-count: 1;
$color-cards-hover: #34568b;
$width-card: 200px;
$logo-width-height: 40px;
$stars-width-height: 16px;
$margin-left: 20px;
$height: 60px;
$font-size: 12px;
$height-after: 4px;
$border-radius-after: 2px;
$margin-right_star: 4px;

