$secondary: #616070;
$main-accent: #060b35;
$blue-accent: #00acdc;
$border-color: #f3f3f3;
$animation-speed: 300ms;
$big-screen-width-min: 1024px;
$small-screen-width-min: 768px;
$tablet-screen-width-min: 488px;
$card-horizontal-padding: 16px;
$card-width: 200px;
$card-height: 408px;
$card-border: 1px;
