$nav-link-cards-title-color: #060b35;
$grey-card-color: #616070;
$hover-link-button-buy-color: #00acdc;
$card-width: 200px;
$basic-transition: 300ms;
$font-weight-regular: 400;
$basic-padding-inline: 50px;
