.wrapper-card {
  width: 100%;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(4, 198px);
  row-gap: 46px;
  column-gap: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
