.wrapper-card {
  display: grid;
  grid-template-columns: repeat(4, 198px);
  row-gap: 48px;
  column-gap: 50px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  justify-self: center;
}
