.main {
  // width: 944px;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  margin: 0 auto;
  width: getWidth(4, $cards-width, $vertical-shift);
  
  &__card {
    padding: 32px 16px 16px;
    width: $cards-width;
    margin-right: $vertical-shift;
  }
}

