.main {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: ($card-width * 4) + ($card-margin * 3);

  &__card {
    display: flex;
    justify-content: center;
    margin-right: $card-margin;
    margin-top: 50px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-top: 46px;
    }
  }
}
