# Force CRLF no Windows/Linux para HTML, CSS, SCSS, JS, JSON
*.html text eol=crlf
*.css  text eol=crlf
*.scss text eol=crlf
*.js   text eol=crlf
*.json text eol=crlf

# Outros arquivos de texto
*.md   text eol=crlf
