$basic-color: #060b35;
$color-double: #616070;
$color-button-hover: #00acdc;
$basic-indent: 16px;
$width-of-card: 200px;
$color-text-button: #fff;
$basic-background-color: #fff;
$card-border-color: #f3f3f3;
