.card {
  @include center;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 15px 14px;

  &--position {
    margin: 0 24px 50px;
  }

  &__avatar {
    margin: 15px 0 45px;
    width: 160px;
    height: 134px;
  }

  &__content {
    flex-direction: row;
    justify-content: flex-start;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  &__info {
    @include center;
    justify-content: space-between;
    
    &--vote {
      margin: 15px 0 20px;
    }

    &--price {
      justify-items: flex-end;
    }
  }

  &__sum {
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
  }

  &__btn {
    width: 100%;
    background: $colorActive;
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 20px;
    padding: 11px 0;
    border: 1px solid $colorActive;
    border-radius: 5px;

    &:hover {
      background: #fff;
      color: $colorActive;
    }
  }
}
