@import "./utils/variable";
@import "./blocks/reset.scss";

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $basic-color;
}

@import "./blocks/moyo.scss";
@import "./blocks/stars.scss";
@import "./blocks/card.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 40px 0;
}
