body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.product-card {
  margin-top: 51px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  background: #fff;
  list-style: none;
}
.product-card__imac {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}
.product-card__name {
  margin-bottom: 0;
  margin-top: 40px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}
.product-card__code {
  display: flex;
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}
.product-cardcard__rating {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.product-cardcard__reviews {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}
.product-card__price-uah {
  margin-left: 55px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}
.product-card__price {
  margin-top: 24px;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}
.product-card__button {
  display: block;
  margin-top: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00acdc;
  border-radius: 5px;
}
.product-card__button:hover {
  color: #00acdc;
  background-color: #fff;
  border-color: #00acdc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.header__logo {
  display: block;
  width: 40px;
  height: 40px;
}
.header__image {
  width: 100%;
  height: 100%;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.nav_list__item {
  margin-left: 20px;
}
.nav_list__item:first-child {
  margin-left: 0;
}
.nav_list__link {
  position: relative;
  display: flex;
  align-items: center;
  color: #060b35;
  height: 60px;
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}
.nav_list__link:hover {
  color: #00acdc;
}
.nav_list__is-active {
  color: #00acdc;
}
.nav_list__is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 37px;
  border-radius: 8px;
  background-color: #00acdc;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("C:Users\dIVINE\1layout_catalogsrcimagesstar.svg");
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url("C:Users\dIVINE\1layout_catalogsrcimagesstar-active.svg");
}

/*# sourceMappingURL=main.css.map */
