.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $basic-background-color;
  box-sizing: border-box;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    width: 40px;
    height: 40px;
  }
}

.nav {
  margin-left: 50px;

  &__list {
    margin-left: 0;
    padding: 0;

    display: flex;
    align-items: center;

    list-style: none;

    text-transform: uppercase;
    text-align: center;
  }

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    height: 60px;

    display: flex;
    align-items: center;
    text-align: center;

    color: $basic-color;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $color-button-hover;
      cursor: pointer;
    }
  }
}

.is-active {
  color: $color-button-hover;

  &::after {
    content: "";

    position: absolute;
    width: 36px;
    height: 4px;
    top: 56px;

    background-color: $color-button-hover;
    border-radius: 8px;
  }
}
