.nav {
  background-color: #fff;

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: inline-block;
    position: relative;
    padding: 23px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
  }

  &__link:active {
    color: $colorActive;
  }

  &__link:hover {
    color: $colorActive;
  }

  .is-active {
    color: $colorActive;
  }

  .is-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 8px;
    border-bottom: 4px solid $colorActive;
  }
}
