.card-container, .phone-card, .phone-card__button, .mac-shop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars__list, .nav__list, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #060b35;
}

.header-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.header-menu__image {
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}
.nav__list-item {
  margin-right: 20px;
  list-style: none;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__list-item:last-child {
  margin-right: 0;
}
.nav__list-tag {
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  padding: 23px 0;
  color: #060b35;
}
.nav__list-tag:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
}
.is-active:after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: 0;
  background: #00acdc;
  left: 0;
  right: 0;
  border-radius: 8px;
}

.card-container {
  max-width: 1000px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.phone-card {
  width: 200px;
  margin: 50px 24px 46px;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
}
.phone-card:nth-child(n+5) {
  margin-top: 0;
}
.phone-card__image-box {
  margin: 16px 0 40px;
  width: 160px;
  height: 134px;
}
.phone-card__image {
  width: 100%;
  height: 100%;
}
.phone-card__mac-model {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.phone-card__product-code {
  font-style: normal;
  padding: 4px 0 0;
  margin: 0;
  width: 166px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
}
.phone-card__price {
  margin: 0;
  padding: 24px 0 16px;
  width: calc(160px + 6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
}
.phone-card__price-title {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}
.phone-card__price-total {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}
.phone-card__button-div {
  width: 160px;
}
.phone-card__button {
  margin: 0;
  height: 40px;
  width: 100%;
  background: #00acdc;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.phone-card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}

.stars {
  padding: 16px 0 0;
  margin: 0;
  width: calc(160px + 6px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars__text {
  font-weight: 400;
  margin: 0;
  font-size: 10px;
  color: #060b35;
}
.stars__list {
  display: flex;
}
.stars__star {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  list-style: none;
  background-image: url(src/images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5px;
}
.stars__star:nth-child(-n+4) {
  background-image: url(src/images/star-active.svg);
}

/*# sourceMappingURL=styles.css.map */
