.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  display: flex;
}
.nav__item:not(:first-child) {
  margin-left: 20px;
}
.nav__link {
  padding: 23px 0;
  line-height: 14px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #060b35;
  font-weight: 500;
}
.nav__link.is-active, .nav__link:hover {
  color: #00acdc;
}
.nav__link.is-active {
  position: relative;
}
.nav__link.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #00acdc;
}

.cards-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1024px;
  padding: 50px 40px;
}
.cards-container__card:nth-child(-n+4) {
  margin-bottom: 46px;
}
.cards-container__card:not(:nth-child(4n)) {
  margin-right: 48px;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}
.card__image {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}
.card__title {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}
.card__product-code {
  display: block;
  margin-bottom: 16px;
}
.card__button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  padding: 0;
}
.card__button:hover {
  background-color: #fff;
  color: #00acdc;
}
.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.card__pice-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
.card__pice-amount {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}

.reviews-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-container__reviews {
  justify-self: end;
  font-size: 10px;
  line-height: 14px;
}

.stars {
  display: flex;
  justify-content: space-between;
}
.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.stars__stars--1 :nth-child(-n+1) {
  background-image: url(../images/star-active.svg);
  display: flex;
}
.stars__stars--2 :nth-child(-n+2) {
  background-image: url(../images/star-active.svg);
  display: flex;
}
.stars__stars--3 :nth-child(-n+3) {
  background-image: url(../images/star-active.svg);
  display: flex;
}
.stars__stars--4 :nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
  display: flex;
}
.stars__stars--5 :nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
  display: flex;
}

body,
h2 {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.logo {
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=styles.css.map */
