.head-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-family: "Roboto", "Georgia", sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.head-menu .logo > {
  width: 20px;
  height: 20px;
}
.head-menu .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 759px;
  height: 60px;
  color: #000;
}
.head-menu .navigation .nav-item {
  display: flex;
  align-items: center;
  line-height: 60px;
  color: #000;
}
.head-menu .navigation .nav-item .link {
  color: #000;
  text-decoration: none;
}
.head-menu .navigation .nav-item .link:hover {
  color: #00acdc;
}
.head-menu .navigation .nav-item .is-active {
  position: relative;
  color: #00acdc;
}
.head-menu .navigation .nav-item .is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 8px;
  width: 100%;
  background-color: #00acdc;
  bottom: 0;
  left: 0;
}
.head-menu .navigation .nav-item:not(:last-of-type) {
  padding-right: 20px;
}

.container {
  display: flex;
  width: 944px;
  height: 856px;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .product-card {
  box-sizing: border-box;
  padding: 30px 15px 15px;
  width: 200px;
  height: 403px;
  border: 1px #f3f3f3 solid;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 50px;
  font-family: "Roboto", "Georgia", serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}
.container .product-card .product-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 134px;
}
.container .product-card .product-card__product-name {
  margin-left: -1px;
  margin-top: 45px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.container .product-card .product-card__product-id {
  margin-top: 5px;
  margin-left: -1px;
}
.container .product-card .product-card__product-rate {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.container .product-card .product-card__product-rate .product-rate__product-mark {
  display: flex;
}
.container .product-card .product-card__product-rate .product-rate__product-mark .product-mark__star {
  background-image: url("../images/star-active.svg");
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: center;
  margin-right: 4px;
}
.container .product-card .product-card__product-rate .product-rate__product-mark .product-mark__star:last-child {
  background-image: url("../images/star.svg");
}
.container .product-card .product-card__product-rate .product-rate__product-response {
  margin-top: -1px;
  margin-right: -1px;
}
.container .product-card .product-card__price-stroke {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 23px;
}
.container .product-card .product-card__price-stroke .price-stroke__price-name {
  margin-left: -1px;
}
.container .product-card .product-card__price-stroke .price-stroke__price-number {
  width: 79px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-right: -1.5px;
  margin-top: -6px;
}
.container .product-card .product-card__select-buy {
  display: flex;
  box-sizing: border-box;
  background-color: #00acdc;
  height: 40px;
  width: 170px;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.container .product-card .product-card__select-buy:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px; */
}

/* // body {
//   margin: 0;
//   font-family: "Roboto", "Georgia", serif;
//   font-weight: normal;
//   font-size: 11px;
//   line-height: 13px;
//   color: #000;
// } */

/*# sourceMappingURL=style.css.map */
