ul {
  margin: 0;
  padding: 0;
}

.header {
  --color: #00acdc;

  font-family: Roboto, sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.nav {
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    color: #060b35;
    font-size: 12px;
    text-decoration: none;
    padding: 23px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 500;
    transition: color 300ms;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link:hover {
    color: #00acdc;
  }
}

.img {
  height: 40px;
  width: 40px;
}

.is-active {
  position: relative;
  color: var(--color);
}

.is-active::after {
  content: '';
  left: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4px;
  background-color: var(--color);
  border-radius: 10px;
}
