* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
  place-content: center;

  // row-gap: 46px;
  // column-gap: 48px;
  gap: 46px 48px;

  @media (min-width: 1px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
