.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 1024px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__nav {
    height: 60px;
  }

  &__list {
    margin-right: 40px;
    margin-top: 19px;
  }

  &__logo {
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 50px;
  }
}
