@import "./nav.scss";

.header {
  @extend %flexConfigSpaceBetween;
  align-items: center;
  background-color: $color-white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;

  &__logo {
    display: flex;
    @include square(40px);
  }
}
