// TEXT-COLOR
$color-txt-dark: #060b35;
$color-txt-semi-dark: #616070;
$color-txt-light: #fff;
$color-title-hover: #34568b;

// BACK-GROUND-COLOR
$color-card-bgc: #f3f3f3;
$color-button-bgc: #00acdc;

// BORDER-COLOR
$color-border-light: #f3f3f3;

// LINK-COLOR
$link-color: #060b35;
$link-active-color: #00acdc;

// MEDIA-WIDTH
$media-width-decstop: 1024px;
$media-width-tablet: 768px;
$media-width-mobile: 488px;
