@mixin font($size, $weight: 400, $height, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin border($size, $color, $raduis: none) {
  border: $size solid $color;
  border-radius: $raduis;
}

@mixin media-decstop {
  @media (min-width: $media-width-decstop) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $media-width-tablet) {
    @content;
  }
}

@mixin mobile-mobile {
  @media (min-width: $media-width-mobile) {
    @content;
  }
}
