.header {
  display: flex;
  box-shadow: 0 2px 4px 0 $box-shadow-color;
  justify-content: space-between;
  position: relative;
  height: 60px;
  align-items: center;

  &__logo-link {
    display: flex;
    margin-left: 50px;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__nav {
    margin-right: 50px;
  }

  &__nav-list {
    display: flex;
    margin: 0;
    line-height: 60px;
    padding: 0;
    list-style: none;
  }

  &__nav-item {
    display: inline-block;
    margin-right: 20px;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    display: block;
    line-height: 60px;
    color: $main-font-color;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &:hover {
      color: $button-color;
    }
  }
}

.is-active {
  color: $button-color;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    height: 4px;
    background-color: $button-color;
    border-radius: 8px;
    width: 100%;
  }
}
