* {
  box-sizing: border-box;

}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  // display: block;
  max-width: 1200px;
  // margin: 0 auto;
  // border: 2px solid black;
}
