.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Roboto , sans-serif;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;
  margin-right: 50px;
  margin-bottom: 48px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}
