.stars {
  display: flex;
  padding-left: 14px;

&__star {
    padding-top: 16px;
    margin-right: 4px;
    height: 16px;
    width: 16px;
    border-radius: 0.5px;
    background: url(../images/star.svg) no-repeat center;
  }
}
.stars--4 :nth-child(-n+4) {
    background: url(../images/star-active.svg) no-repeat center;
  }