.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  background: $white-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-style: normal;

  &__logo {
    height: 40px;
  }

  &__navigation {
    display: flex;

    &-list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style-type: none;

      & > li:first-child a {
        margin-left: 0;
      }
    }

    &-link {
      position: relative;
      display: flex;
      font-weight: 500;
      font-size: 12px;
      margin-left: 20px;
      height: 60px;
      align-items: center;
      text-decoration: none;
      color: $main-color;
      text-transform: uppercase;

      transition: 300ms;

      &:hover {
        color: $blue-color;
      }
    }
  }
}

.is-active {
  color: $blue-color;

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: $blue-color;
    border-radius: 8px;
  }
}
