@import './button';
@import './price';
@import './product_img';
@import './stars';
@import './title';

.card {
  display: flex;
  flex-direction: column;

  width: $card-size;

  padding: $card-padding;

  color: $main-text-color;
  background-color: #fff;

  border: $card-border-size solid #f3f3f3;
  border-radius: 5px;
}
