.nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-left: 20px;
    line-height: 60px;

    &:first-of-type {
      margin-left: 0;
      color: $link-color;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        color: $link-color;
        background-color: $link-color;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 8px;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 60px;

    &:hover {
      color: $link-color;
    }
  }
}

.is-active {
  background-color: inherit;
}
