@use './variables.scss' as *;

.card {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: center;
  width: 200px;
  padding: 32px 16px 16px;
  box-sizing: border-box;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  transition: 300ms;

  &__img {
    display: flex;
    align-self: center;
    width: 160px;
    height: 134px;

    &--spacing {
      margin-bottom: 40px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: end;

    &--spacing {
      margin-bottom: 16px;
    }
  }

  &__review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--spacing {
      margin-bottom: 23px;
    }
  }

  &__title {
    color: $main-accent-color;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0%;

    transform: 300ms;

    &--spacing {
      margin-bottom: 4px;
    }
  }

  &__product-code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    color: $secondary-font-color;

    &--spacing {
      margin-bottom: 16px;
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover .card__title {
    color: #34568b;
  }
}
