$main-text-color: #060b35;
$secondary-text-color: #616070;
$blue: #00acdc;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$logo-size: 40px;
$star-size: 16px;
$star-margin-right: 4px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
$card-width: 200px;
$section-sides-padding: 40px;
$section-vertical-padding: 50px;
$section-width: 1024px;
