$primary-font-size: 12px;
$secondary-font-size: 10px;
$light-font-weight: 400;
$medium-font-weight: 500;
$heavy-font-weight: 700;
$primary-text-color: #060b35;
$secondary-text-color: #616070;
$action-color: #00acdc;
