@use 'sass:map';

@mixin font-s() {
  font-weight: $font-weight-s;
  font-size: $font-size-s;
  line-height: 14px;
}

@mixin font-m() {
  font-size: $font-size-m;
  line-height: 18px;
}

@mixin on-hover-smooth($props-map, $animation-target: null) {
  // SASS documentation is a load of smelly crap.

  $props: map.keys($props-map);
  $transition-props: (
    transition-duration: 0.3s,
    transition-property: $props,
  );

  @if $animation-target {
    #{$animation-target} {
      @include helper-apply-props($transition-props);
    }
  } @else {
    @include helper-apply-props($transition-props);
  }

  &:hover #{$animation-target} {
    @each $prop, $val in $props-map {
      #{$prop}: $val;
    }
  }
}

// helper
@mixin helper-apply-props($props-map) {
  @each $prop, $val in $props-map {
    #{$prop}: $val;
  }
}
