// colors
$color-main-accent: #060b35;
$color-blue-accent: #00acdc;
$color-secondary: #616070;
$color-white: #fff;
$color-border: #f3f3f3;
$color-highlight: #34568b;

// font size
$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;

// line height
$line-height-s: 14px;
$line-height-m: 16px;
$line-height-l: 18px;

// font weight
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;

// border
$primary-border-width: 1px;

// paddings
$general-padding-1: 50px;

// animation
$transition-duration: 0.3s;
$magnification: 1.2;

// media
$viewport-width-s: 488px;
$viewport-width-m: 768px;
$viewport-width-l: 1024px;

// block: header
$header-height: 60px;
$header-gap: 20px;
$nav-active-indicator-height: 4px;
$nav-active-incicator-radius: $nav-active-indicator-height / 2;

// block: catalog
// $catalog-column-width: 200px; made it the same as card
$catalog-padding-inline: 40px;
$catalog-gap-vertical: 46px;
$catalog-gap-horizontal: 48px;

// block: card
$card-width: 200px;
$card-greater-padding: 32px;
$card-lesser-padding: 16px;
$card-border-radius: 5px;
$card-title-push: 40px;
$card-product-code-section-push: 4px;
$card-review-section-push: 16px;
$card-price-section-push: 24px;
$card-button-push: 16px;

// block: product picture
$product-picture-width: 160px;
$product-picture-height: 134px;

// block: stars
$stars-max-count: 5;
$star-size: 16px;
$star-gap: 4px;

// block: purchase-button
// $button-border-width: 1px; made it "primary".
$button-height: 40px;

// Is it variables or
// removing of product-picture animation that fixed everything?
