// Colors
$main-accent: #060b35;
$blue-accent: #00acdc;
$hovered: #34568b;
$secondary: #616070;
$white: #fff;
$border-color: #f3f3f3;

// Sizes & Spacing
$card-width: 200px;
$logo-size: 40px;
$nav-height: 60px;
$button-height: 40px;
$active-line-height: 4px;
$border-radius-s: 5px;
$border-radius-m: 8px;
$gap-card-h: 48px;
$gap-card-v: 46px;

// Typo
$font-size-xs: 10px; // reviews, code
$font-size-s: 12px;  // title, price label, nav
$font-size-m: 14px;  // button
$font-size-l: 16px;  // price number
$line-height-s: 14px;
$line-height-m: 18px;

// Assets
$star-url: '../images/star.svg';
$star-active-url: '../images/star-active.svg';
