// colors
$color-main-accent: #060b35;
$color-blue-accent: #00acdc;
$color-secondary: #616070;
$color-white: #fff;
$color-border: #f3f3f3;
$color-highlight: #34568b;

// font size
$font-size-s: 10px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;

// font weight
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;

// block: catalog
$catalog-column-width: 200px;

// block: card
$card-border-radius: 5px;

// block: stars
$stars-max-count: 5;

// block: purchase-button
$button-border-width: 1px;
$button-border-style: solid;
