$main-font: Roboto, sans-serif;
$main-font-size: 12px;
$main-accent-color: #060b35;
$secondary-color: #616070;
$accent-color: #00acdc;
$header-paddings: 0 50px;
$card-width: 200px;
$card-title-fontWeight: 500;
$card-title-lineHeight: 18px;
$product-code-fw: 400;
$card-border-width: 1px;
$card-title--hover: #34568b;
$card-border-color: #f3f3f3;
$card-background-color: #fff;
$card-padding: 32px 16px 16px;
$card-border-radius: 5px;
$link-color: #fff;
$link-border-radius: 5px;
$header__link--height: 60px;
$nav__link--color: #060b35;
$things__gaps: 46px 48px;
$small__screen: 488px;
$medium__screen: 768px;
$large__screen: 1024px;
$transition-timing: 300ms;
$things-list-padding: 50px 40px;
$stars-margin: 4px;
$stars-size: 16px;
