.catalog {
  justify-content: center;
  padding: 50px 40px;
  display: grid;

  grid-template-columns: repeat(4, 200px);
  grid-template-rows: (2, 408px);

  grid-row-gap: 46px;
  grid-column-gap: 48px;
}
