.header {
  display: flex;
  background-color: $color-white;

  justify-content: space-between;
  padding-inline: $padding-general-1;
  align-items: center;

  box-shadow: 0 $shadow-size-base $shadow-size-base $color-border;
}
