.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    margin-left: 20px;

    display: flex;
    align-items: center;

    height: 60px;

    text-decoration: none;

    color: #000;
    text-transform: uppercase;
    font-size: $font-size-m;
    font-weight: $font-weight-m;
    letter-spacing: 0%;

    min-width: max-content;

    &:hover {
      color: $color-blue-accent;
    }

    &.is-active {
      position: relative;
      color: $color-blue-accent;

      &::after {
        content: '';
        background-color: $color-blue-accent;
        position: absolute;

        height: 4px;
        border-radius: 2px;

        width: 100%;
        left: 0;
        top: 100%;
        transform: translateY(-100%);
      }
    }
  }

  &__item:first-child > &__link {
    margin-left: 0;
  }
}
