// Кольори
$color-border: rgba(243, 243, 243, 1);
$color-bg: rgba(255, 255, 255, 1);
$color-text-dark: rgba(6, 11, 53, 1);
$color-card-title-hover: #34568b;
$color-text-gray: #616070;
$color-primary: #00acdc;
$color-white: #fff;
$card-width: 200px;
$card-padding: 32px 15.9px 16px;
$border-radius: 5px;
$catalog-padding: 50px 128px 72px 128px;
$gap-horizontal: 48px;
$gap-vertical: 46px;
$catalog-padding-y: 50px;
$catalog-padding-x: 40px;

:root {
  --color-blue: rgba(0, 172, 220, 1);
  --color-link-hover: #00acdc;
}
