.nav {
  &__list {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-main-accent;
    @include font(500, 12px);

    &:hover {
      color: $color-accent-blue;
    }

    &.is-active {
      color: $color-accent-blue;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $color-accent-blue;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 4px;
        border-radius: 8px;
      }
    }
  }

  &__item {
    margin: 0 10px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
