.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__nav__item {
    font-weight: 500;
  }

  .nav__item:not(:last-child) {
    margin-right: 20px;
  }

  .nav__link {
    color: $main-accent-color;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 23px 0;
    display: block;
  }

  .nav__link:hover {
    color: $blue-accent-color;
  }

  .is-active {
    color: $blue-accent-color;
    position: relative;
  }

  .is-active::after {
    content: "";
    background-color: $blue-accent-color;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 8px;
  }

}
