
.card {
  display: flex;
  flex-direction: column;
  width: $cardsWidth;
  height: 403px;
  padding: 29px 14px 14px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img {
    margin: 0 5px 45px;
    height: 134px;
    width: 160px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: 6px;
    
      font-size: 12px;
      line-height: 15.5px;
      font-weight: 500;
    }
  }

  &__text-code,
  &__rate-response {
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
  }

  &__text-code {
    margin-bottom: 15px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
  }

  &__rate-response {
    margin-top: 1px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__price :first-child {
    margin-top: 5px;

    font-size: 11px;
    font-weight: normal;
  }

  &__price :last-child {
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: bold;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;

    background-color: $color_text;
    border: 1px solid $color_text;
    border-radius: 5px;
  }

  &__link:hover {
    color: $color_text;

    background-color: #fff;
  }
}
