.card__rate-stars :nth-child(n) {
  margin-bottom: 16px;
  display: inline-block;
  height: 15px;
  width: 15px;

  background-image: url(./../images/star-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__rate-stars :last-child {
  display: inline-block;
  height: 15px;
  width: 15px;

  background-image: url(./../images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
}
