.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  width: 200px;

  border: 1px solid $GrayElement;
  border-radius: 5px;

  &:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }

  &__image {
    width: 160px;
    height: 134px;

    margin-top: 32px;
  }

  &__info {
    width: 166px;
    padding: 0 16px 16px;
  }

  &__title {
    text-align: start;

    margin-top: 40px;
    line-height: 18px;

    color: $MainAccent;

    @include fonts(500, 12px);
  }

  &__code {
    margin-top: 4px;
    line-height: 14px;

    color: $Secondary;

    @include fonts(400, 10px);
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 16px;
  }

  &__reviews {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 16px;
    width: 100%;

    color: $MainAccent;

    @include fonts(400, 10px);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 24px;
  }

  &__price-label {
    line-height: 18px;
    vertical-align: bottom;

    color: $Secondary;

    @include fonts(400, 12px);
  }

  &__price-value {
    text-align: right;
    vertical-align: bottom;

    line-height: 18px;

    color: $MainAccent;

    @include fonts(700, 16px);
  }

  &__buy-button {
    box-sizing: border-box;
    border: 1px solid $BlueAccent;
    border-radius: 5px;

    width: 100%;
    height: 40px;
    margin-top: 16px;

    color: $White;
    background-color: $BlueAccent;

    @include fonts(700, 14px);
  }

  &__buy-button:hover {
    background-color: $White;
    color: $BlueAccent;
  }

  &:hover &__title {
    color: $TitleHover;
  }
}
