.card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border: 1px solid $card-border-color;
  background-color: $card-bgr-color;
  transition: transform 1.1s;
  padding: 32px 16px 16px;

  &__shell {
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 160px;
    min-height: 134px;
    margin: 0 3px 40px;
  }

  &__goods {
    &-name {
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      color: $card-goods-name-color;
      margin: 0 0 4px;
    }

    &-code {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;

      margin: 0 0 16px;
      color: $card-goods-code-color;
    }
  }

  &__rate {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__view {
    color: $card-goods-view-color;
    font-size: 10px;
    height: 14px;
    line-height: 16px;
  }

  &__wrap {
    display: flex;

    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $card-goods-price-color;
  }

  &__price-value {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $card-goods-value-color;
  }

  &:hover {
    transform: scale(1.2);
  }
}
