@import "../utils/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  width: 166px;
  padding: 16px;
  padding-top: 32px;
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $PrimaryColor;
    margin-bottom: 4px;
  }

  &__code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $SecondaryColor;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    margin-bottom: 24px;
  }

  &__reviewsNumber {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $PrimaryColor;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__priceTitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $SecondaryColor;
  }

  &__priceNumber {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $PrimaryColor;
  }

  &__btn {
    display: block;
    padding: 11px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    background-color: $btnColor;
    border: 1px solid $btnColor;
    border-radius: 5px;
  }

  &__btn:hover {
    color: $btnColor;
    background-color: transparent;
  }
}
