.catalog {
  min-width: 200px;
  width: 100%;
  padding: 50px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
  grid-auto-flow: dense;
  justify-content: center;

  @include screen-width(448px) {
    grid-template-columns: repeat(2, 200px);
  }

  @include screen-width(768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @include screen-width(1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
