@import "./card.scss";
@import "./stars";

.main {
  display: flex;
  max-width: 1044px;
  min-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 50px;
  box-sizing: border-box;
  justify-content: center;

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
