.main {
  padding: 50px 0 73px;
  display: flex;
  justify-content: center;

  &__wrapper {
    max-width: 944px;
    width: 100%;
  }

  &__row {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 46px;

    &:last-child {
      padding-bottom: 0;
    }

  }
}
