.main {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 408px);
    column-gap: 48px;
    row-gap: 46px;
    justify-content: center;
    padding-top: 50px;

    @include onDesktop {
      & {
        grid-template-columns: repeat(4, 200px);
      }
    }

    @include onSmallDesktop {
      & {
        grid-template-columns: repeat(3, 200px);
      }
    }

    @include onTablet {
      & {
        grid-template-columns: repeat(2, 200px);
      }
    }

    @include onPhone {
      & {
        grid-template-columns: repeat(1, 200px);
      }
    }
  }
}

