.main {
  padding: 50px 0 73px;
  max-width: 944px;
  margin: 0 auto;

  &__row {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 46px;
    margin: 0 auto;

    &:last-child {
      padding-bottom: 0;
    }

  }
}
