@import "./card.scss";
@import "./stars";

.main {
  display: flex;
  justify-content: space-between;
  max-width: 944px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-top: 50px;

  &__card {
    margin-bottom: 45px;
  }
}
