.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    background-image: url("../images/star-active.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  @for $starCount from 0 through 4 {
    &--#{$starCount} .stars__star:nth-child(n+ #{$starCount+1}) {
      background-image: url("../images/star.svg");
    }
  }
}
