$color-small-text: #616070;
$color-big-text: #060b35;
$color-buy: white;
$color-border-buy: rgba(0, 172, 220, 1);

$font-small-weight: 400;
$font-bold-weight: 700;

$bord-width: 1px;
$card-border: $bord-width * 2;
$card-width: 198px + $card-border;
$margin-size: 50px - $card-border;
$cards-count: 4;
$padding-horyzontal-size: 40px;
$catalog-width:
$cards-count * $card-width + ($cards-count - 1) * $margin-size + 2 * $padding-horyzontal-size;
