@mixin on-smartphone {
  @media ($smartPhone-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media ($tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media ($desktop-min-width) {
    @content;
  }
}

@mixin goods-card {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  background-color: $card-bg-color;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

@mixin inline-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

@mixin card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid $button-bg-color;
  color: $button-text-color;
  background-color: $button-bg-color;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
