@mixin gap($grid-gap) {
  row-gap: $grid-gap;
  column-gap: $grid-gap;
}

@mixin flex( $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin size($size) {
  width: $size;
  height: $size;
}

