@mixin gap($grid-gap) {
  row-gap: $grid-gap;
  column-gap: $grid-gap;
}

@mixin flex( $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin logo($header-logo-size) {
  width: $header-logo-size;
  height: $header-logo-size;
}
