$main-accent: #060b35;
$secondary-accent: #616070;
$button-color: #00acdc;
$button-font-color: #fff;
$main-background-color: #fff;
$border-color: #f3f3f3;
$main-size: 12px;
$secondary-size: 10px;
$main-line-height: 18px;
$secondary-line-height: 14px;
$header-height: 60px;
$card-width: 200px;
$transition-duration: 0.3s;
