$card-size : 200px;
$margin-right-card: 48px;
$margin-bottom-card: 46px;

$width-container: ($card-size * 4) + ($margin-right-card * 3);

$c-link-blue: #00acdc;
$c-dark-blue: #060b35;
$c-white: #fff;
$c-little-gray: #f3f3f3 ;
$c-gray: #616070 ;
