$main-color: #060b35;

$is-active: #00acdc;
$header-height: 60px;
$background-color: #fff;

$card-width: 200px;
$card-container-padding:32px 16px 16px;
$card-default-font-size: 10px;
$card-background-color: #fff;
$card-secondary-color: #616070;
$card-color-button: #00acdc;
$card-text-color-button: #fff;
$card-active-title-color: #34568b;
