$main-text-color: #060b35;
$main-color: #00acdc;
$second-text-color: #616070;
$terciary-text-color: #34568b;
$white: #fff;
$light-grey: #f3f3f3;
$main-size: 16px;
$text-50-size: 50px;
$text-40-size: 40px;
