@mixin add-border($color: $color-white) {
  border-color: $color;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}

@mixin resposive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
