$blue-color: #00acdc;
$padding-size: 50px;
$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$description-hover-color: #34568b;
$nav-link-hover-color: #00acdc;
$white: #fff;
$border-color: #f3f3f3;
$stars-margin: 4px;
$star-dimensions: 16px;
$button-width: 166px;
$button-height: 40px;
$card-width: 200px;
$horizontal-gap: 48px;
$vertical-gap: 46px;
$cards-padding: 50px 40px;
$card-padding: 32px 16px 16px;
