$border-color: #f3f3f3;
$secondary-color: #00acdc;
$button-color-second: #fff;
$text-bold: 700;
$text-normal: 500;
$text-thin: 400;
$text-middle: 12px;
$text-small: 10px;
$line-small: 14px;
$line-middle: 18px;
$line-tall: 40px;
$border-radius: 5px;
$star: 16px;
$breakpoints: (
  'sm': 487px,
  'md': 767px,
  'lg': 1023px,
);
$card-size: 200px;
