$border-color: #f3f3f3;
$text-color-main: #060b35;
$text-color-small: #616070;
$title-color: #34568b;
$secondary-color: #00acdc;
$secondary-color-second: #fff;
$text-bold: 700;
$text-normal: 500;
$text-thin: 400;
$text-middle: 12px;
$text-small: 10px;
$line-small: 14px;
$line-middle: 18px;
$line-tall: 40px;
$border-radius: 5px;
$star: 16px;
$breakpoints: (
  'sm': 488px,
  'md': 768px,
  'lg': 1024px,
);
$card-size: 200px;
