$white: #FFF;
$blue-accent: #00ACDC;
$secondary: #616070;
$main-text-color: #060B35;
$hover-color: #34568b;
$all-transition-duration: 300ms;
$ff: 'Roboto', sans-serif;
$grid-var: (
  468px: 2,
  768px: 3,
  1024px: 4
);
$base-width: 200px;
