$secondary-color: #616070;
$button-color: #00acdc;

$secondary-font-size: 10px;
$secondary-font-weight: 400;

$width-of-card: 200px;

$width-of-img: 160px;
$height-of-img: 134px;

$width-of-buy-button: 167px;
$height-of-buy-button: 40px;
