$main-color: #616070;
$second-color: #00acdb;
$third-color: rgb(255, 255, 255);
$cards-border-color: rgb(243, 243, 243);
$link-text-color: #060b35;
$star-size: 16px;
$logo-size: 40px;
$card-width: 200px;
$gap-size: 48px * 3;
$max-width: $card-width * 4 + $gap-size;
