$for-button: hsl(193, 100%, 43%);
$light-gray: hsl(244, 8%, 41%);
$dark-blue: hsl(234, 80%, 12%);

@for $i from 1 through 5 {
  .stars-#{$i} .star:nth-child(-n+#{$i}) {
    background-image: url(../images/star-active.svg);
  }
}

@mixin width-height ($width-value, $height-value) {
  width: $width-value;
  height: $height-value;
}
