.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__text {
  color: $color-grey;
  font-size: 12px;
}

.price__number {
  color: $color-black;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
