.stars {
  display: flex;
  align-items: center;
  justify-content: center;

  &__star {
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0 2px;
    width: 16px;
    height: 16px;
  }

  @for $starCount from 1 through 5 {
    &--#{$starCount} &__star:nth-child(-n + #{$starCount}) {
      background-image: url("../images/star-active.svg");
    }
  }
}
