
.logo_img {
  display: block;
  padding: 10px 0;
}

.nav {
  display: block;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: #00acdc;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 23px 0;
    text-decoration: none;
    color: $link-color;
    font-weight: 500;
    line-height: 14px;
    white-space: nowrap;
    font-size: 12px;
    transition: color 0.3s;
    text-transform: uppercase;

    &:hover {
      color: $primary-color;
    }
  }
}

.is-active {
  color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    top: 56px;
    margin-left: 0;
    width: 37px;
    height: 4px;
    border-radius: 8px;
    background: $primary-color;
  }
}
