%flexBetween {
  display: flex;
  justify-content: space-between;
}

%flexCenter {
  display: flex;
  justify-content: center;
}

%flexStart {
  display: flex;
  justify-content: flex-start;
}

%stylesCardLink {
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $whiteColor;
}

%activeStar {
  background-image: url(/images/star-active.svg);
}

%starsBackgroundPicture {
  background-image: url(/images/star.svg);
}
