$main-color: #00acdc;
$header-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$text-main-color: #060b35;
$text-second-color: #616070;
$background-color: #fff;

$distans-between-cards: 50px;
$card-size: 198.5px;
