$mainColor: #060b35;
$secondaryColor: #616070;
$blueColor: #00acdc;
$whiteColor: #fff;
$widthCard: 200px;
$distanceBetweenCards: 48px;
$horizontalPaddingsCatalog: 40px;
$verticalPaddingsCatalog: 50px;
$numberOfCardsInRow: 4;
$sizeStar: 16px;
$headerPaddings: 0 50px;
$navigationHeight: 60px;
$droppingSettings: 0;
