$font-family: Roboto, sans-serif;
$font-weight: 500;
$font-size: 12px;
$main-color: #060b35;
$secondary-color: #00acdc;
$secondary-text-color: #616070;
$secondary-button-color: #fff;
$hover-card-text-color: #34568b;
$nav-height: 60px;
$logo-size: 40px;
$std-transition: 0.3s;
$media-breakpoints: (
  0: 1,
  488px: 2,
  768px: 3,
  1024px: 4,
);
