@import "../../utils/vars";

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  height: 406px;
  width: 198px;
  display: flex;
  flex-direction: column;

  &__image {
    display: flex;
    justify-content: center;
    margin: 32px 0 40px;
  }

  &__image-item {
    height: 134px;
    width: 160px;
  }

  &__description {
    margin-left: 16px;
    margin-bottom: 16px;
  }

  &__description-content {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $main-dark-color;
    margin-bottom: 4px;
  }

  &__description-code {
    font-size: 10px;
    font-weight: 400;
    color: #616070;
    line-height: 14px;
  }

  &__ratio {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 24px;
  }

  &__ratio-link {
    text-decoration: none;
    font-size: 10px;
    font-weight: 400;
    color: $main-dark-color;
    line-height: 16px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 16px;
  }

  &__price-content {
    font-size: 12px;
    font-weight: 400;
    color: #616070;
    line-height: 18px;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-dark-color;
  }

  &__buy-button {
    background-color: $main-blue-color;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0 16px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
  }

  &__buy-button--hover:hover {
    background-color: #fff;
    border: 1px solid $main-blue-color;
  }

  &__buy-link {
    text-decoration: none;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
  }
  &__buy-link--hover:hover {
    color: $main-blue-color;
  }

  &__stars {
    display: flex;
  }
}
