.catalog {
  box-sizing: content-box;
  display: grid;
  max-width: 944px;
  height: 862px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 46px 48px;
  place-items: center;
  padding: 50px 40px;

}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
