* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $background_white-color;
  font-family: "Roboto", sans-serif;
}
