* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.content {
  margin: 50px 0 0 72px;
  max-width: 944px;
  max-height: 862px;

}

.content__row {
  display: flex;
}

@media (max-width:1200px) {
  .content--position {
    margin: 50px 128px 72px;
  }
}

@media (max-width:1024px) {
  .content--position {
    margin: 50px 40px 72px;
  }
}

.content__card {
  margin-bottom: 47px;
}

.content__card:not(:last-child) {
  margin-right: 49px;
}
