$white-color: #fff;
$border-color: #f3f3f3;
$title-color: #060b35;
$subtitle-color: #616070;
$color-for-link: #00acdc;

.card {
  padding: 32px 16px 16px;
  margin: 0 48px 46px 0;
  width: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $white-color;
  position: relative;

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto 40px;
  }

  &__title {
    left: calc(50% - 166px / 2);
    bottom: 147px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $title-color;
  }

  &__subtitle {
    display: block;
    margin-top: 4px;
    padding-left: 0;
    font-weight: 400;
    left: calc(50% - 92px / 2 - 37px);
    font-size: 10px;
    line-height: 14px;
    color: $subtitle-color;
  }
  &__reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $title-color;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    margin-top: 16px;
    bottom: 165px;
  }

  &__pricing {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    color: $subtitle-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $title-color;
  }
}

.cards__item:nth-child(4n) {
  margin-right: 0;
}
