.card {
  box-sizing: border-box;
  width: $card-width;
  background-color: $color-white;
  border: 1px solid $color-card-border;
  padding: $card-padding;
  display: flex;
  flex-direction: column;
  transition: transform $transition-speed;

  &:hover {
    transform: scale($card-hover-scale);

    &__title {
      color: $color-title-hover;
    }
  }

  &__image {
    width: $card-img-width;
    height: $card-img-height;
    align-self: center;
    margin-bottom: $card-image-margin-bottom;
  }

  &__title {
    font-size: $font-size-card-title;
    font-weight: 500;
    color: $color-title;
    line-height: $line-height-card-title;
    margin: 0 0 $card-title-margin-bottom;
    transition: color $transition-speed;
  }

  &__code {
    font-size: $font-size-card-code;
    color: $color-text-gray;
    margin: 0 0 $card-code-margin-bottom;
    font-weight: 400;
    line-height: $line-height-card-code;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__reviews-count {
    font-size: $font-size-card-reviews;
    font-weight: 400;
    line-height: $line-height-card-reviews;
    color: $color-text-gray;
  }

  &__price-row {
    color: $color-title;
    display: flex;
    justify-content: space-between;
    margin: $card-price-row-margin-top 0 0;
  }

  &__price-label {
    font-size: $font-size-card-title;
    font-weight: 400;
    line-height: $line-height-card-price-label;
    color: $color-text-gray;
  }

  &__price {
    font-size: $font-size-card-price;
    font-weight: 700;
    line-height: $line-height-card-price;
    color: $color-title;
  }

  &__buy {
    background-color: $color-accent;
    color: $color-white;
    border: 1px solid $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: $font-size-card-button;
    margin: $card-button-margin-top 0 0;
    box-sizing: border-box;
    height: $card-button-height;
    line-height: $line-height-card-button;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: $card-button-border-radius;
    transition: all $transition-speed;

    &:hover {
      background-color: $color-white;
      color: $color-accent;
    }
  }
}
