@import "../../utils/variables";

.catalog {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  // padding: 40px 0;
  width: $card-size * 4 + $card-margin-rigth * 3;

  &--margin_center {
    margin: 0 auto;
  }
}
