@import '../../utils/vars';

.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: $product-card-width;
  gap: $catalog-gap-vertical $catalog-gap-horizontal;
  padding: $catalog-padding-block $catalog-padding-inline;

  @media (min-width: $layout-viewport-width-s) {
    grid-template-columns: repeat(2, $product-card-width);
  }

  @media (min-width: $layout-viewport-width-m) {
    grid-template-columns: repeat(3, $product-card-width);
  }

  @media (min-width: $layout-viewport-width-l) {
    grid-template-columns: repeat(4, $product-card-width);
  }
}
