.catalog {
  --column-count: 1;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  column-gap: $horizontal-gap;
  row-gap: $vertical-gap;
  justify-items: center;
  padding-bottom: 72px;
}

@media (min-width: 488px) {
  .catalog {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .catalog {
    --column-count: 3;
  }
}
@media (min-width: 1024px) {
  .catalog {
    --column-count: 4;
  }
}
