.main {
  display: grid;
  justify-content: center;
  gap: $main-gap-vertical $main-gap-horizontal;
  padding: $main-padding-vertical $main-padding-horizontal;

  @media (min-width: $breakpoint-small) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: $breakpoint-medium) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, $card-width);
  }
}
