.catalog {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 46px 48px;
  justify-content: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}
