@import "../page-content.scss";

$maxWidth: 200px * 4 + 3 * 48px;

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: $maxWidth;

  padding-top: 50px;

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
