.stars {
  display: flex;

  &__star {
    width: $star-size;
    aspect-ratio: 1;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: $star-gap;
    }
  }

  @for $star-index from 1 through 5 {
    &--#{$star-index} .stars__star:nth-child(-n + #{$star-index}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
