.card {
  padding: 32px 14px 14px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  max-width: $card-width;

  @include margins;

  &__image {
    margin: 0 5px;
    width: 160px;
    height: 134px;
  }

  &__name {
    margin: 36px 2px 4px;
    width: 166px;
    color: $text-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__code {
    margin: 0 2px 16px;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 15px;
    margin-right: 2px;
    color: $text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;

    &-text {
      font-size: 12px;
      line-height: 12px;
      margin-left: 2px;
      margin-top: 3px;
      color: #616070;
    }

    &-numbers {
      font-size: 16px;
      font-weight: bold;
      line-height: 12px;
      margin-right: 2px;
      margin-top: 6px;
      color: $text-color;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 166px;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background-color: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;

    &:hover {
      color: #00acdc;
      background-color: #fff;
      border: 1px solid #00acdc;
    }
  }
}
