.card {
  width: 100%;
  padding: 32px 16px 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  transition: transform 300ms ease-in-out,
    width 300ms ease-in-out,
    padding 300ms ease-in-out,
    border-radius 300ms ease-in-out;

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    transition: color 300ms ease-in-out;
  }

  &:hover {
    transform: scale(1.1);
    .card__title {
      color: #34568b;
    }
  }

  &__photo {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__code {
    margin-bottom: 16px;
    color: $code-color;
    line-height: 14px;
    font-size: 10px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto 16px;

  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $code-color;
    margin-bottom: 0;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $main-color;
    border-radius: 5px;
    background-color: $main-color;

    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

    &:hover {
      color: $main-color;
      background-color: #fff;
    }
  }
}
