.catalog {
  padding: 50px 40px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, $columnWidth);
  gap: 48px;
  row-gap: 46px;

  &--card {
    :hover .card__profuctName {
      color: $cardTitleColor;
    }
  }
}
