.container {
  display: grid;
  margin: 0 auto;
  padding: $container-padding-vertical $container-padding-horizontal;
  height: 816px;
  width: 950px;
  justify-content: start;
  gap: $gap-vertical $gap-horizontal;

  grid-template-columns: repeat(1, $card-width);

  @media (min-width: $bp-2cols) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: $bp-3cols) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: $bp-4cols) {
    grid-template-columns: repeat(4, $card-width);
  }
}
