.catalog {
  font-family: $body_font;
  font-size: 10px;
  padding: 50px 40px;
  gap: 46px 48px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: $layout-small) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}

@media (min-width: $layout-small) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: $layout-medium) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: $layout-large) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}
