.card {
  background: $white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  margin-right: 48px;
  margin-bottom: 46px;

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__logo {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    align-self: center;
  }

  &__title {
    @extend %bold-text;
    margin: 0 0 4px;
  }

  &__id {
    @extend %small-text;
    margin: 0 0 16px;
  }

  &__rewiev-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__rewiew-text {
    @extend %small-text;
    margin: 0;
    align-self: flex-end;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &-text {
      font-size: 12px;
      line-height: 18px;
      color: $gray-text;
      margin: 0;
    }

    &-amount {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $dark-text;
      margin: 0;
    }
  }

  &__button-buy {
    background-color: $blue-accent;
    text-align: center;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    width: 166px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
  }

  &__button-buy:hover {
    color: $blue-accent;
    background-color: $white;
    border: 1px solid $blue-accent;
  }
}
