.is-active {
  position: relative;
  color: $blue-accent;

  &:after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: $blue-accent;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
  }
}
