.is-active {
  color: $color-blue;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: $color-blue;
    border-radius: 8px;
  }
}
