.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  width: 166px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  color: $white-color;
  background-color: $blue-color;
  text-decoration: none;
  border: 1px solid $blue-color;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $white-color;
    color: $blue-color;
  }
}
