.card {
  box-sizing: border-box;
  width: $card_width;
  background: $color-fon;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  
  display: flex;
  flex-direction: column;

  &__img {
    width: 160px;
    height: 134px;
    margin: 32px 19px 0;
  }

  &__product-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-text;
    margin: 40px 16px 0;

  }

  &__product-code {
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    color: $color-small-text;
    margin-left: 16px;
  }

  &__viewer-info-block {
    margin: 16px 16px 0;
    display: flex;
    justify-content: space-between;
  }
  
  &__count-of-reviews {
    font-size: 10px;
    line-height: 14px;
    color: $color-text;
  }
  
  &__price-block {
    display: flex;
    justify-content: space-between;
    margin: 24px 16px 0;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: $color-small-text;
  }
  
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $color-text;
  }
  
  &__buy-link {
    margin: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 70px 12px 69px;
    box-sizing: border-box;
    height: 40px;
    background: $color-hover;
    border: 1px solid $color-hover;
    border-radius: 5px;
  }
  
  &__buy-link:hover {
    background: $color-fon;
    color: $color-hover;
    border-radius: 5px;
  }

}
