.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $color-border;
  border-radius: 5px;
  background-color: $color-white;
  color: $color-main;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    display: block;
    align-self: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    object-fit: contain;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &:hover &__title {
    color: #34568b;
  }

  &__code {
    margin: 0 0 16px;
    color: $color-secondary;
    font-size: 10px;
    line-height: 14px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    color: $color-secondary;
    font-size: 12px;
    line-height: 18px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid $color-accent;
    border-radius: 5px;
    background-color: $color-accent;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    transition:
      background-color 300ms,
      color 300ms;

    &:hover {
      background-color: $color-white;
      color: $color-accent;
      transition: transform 300ms;
    }
  }
}
