.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $card-width;
  height: $card-height;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
  transition: 0.3s;

  &:hover {
    width: $card-width * 1.2;
    height: $card-height * 1.2;

  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 16px 0 0;
  }

  &__title {
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: $main-accent;
    width: 100%;
    margin: 40px 0 0;

    &:hover {
      color: $blue-accent;
      transition: 0.3s;
    }
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    width: 100%;
    color: $secondary;
    margin: 4px 0 0;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 16px 0 0;
  }

  &__revievs {
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
    margin: 0;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 18px;
    margin: 24px 0 0;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $secondary;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-accent;
  }

  &__buy {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin: 16px 0 0;
    border-radius: 5px;
    border: 1px solid $blue-accent;
    background-color: $blue-accent;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: $white;
    transition: 0.3s;

    &:hover {
      color: $blue-accent;
      background-color: $white;
    }
  }

}
