.catalog {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, $width-card);
  gap: 46px 48px;
  padding: 50px 40px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  max-width: 1024px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width-card);
  }
}
