@use '../utils/variables' as *;

.catalog {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, $width-card);
  gap: $catalog-gap;
  padding: $catalog-padding;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;

  @media (min-width: $mobile-breakpoint) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (min-width: $tablet-breakpoint) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(4, $width-card);
  }
}
