.main {
  &__catalog {
    margin: 0 auto;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: catalogWidth($card-width, $card-margin-right);
  padding: 50px 0;

  &__card {
    margin-right: $card-margin-right;

    &:nth-last-child(-n + 4) {
      margin-top: 46px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin-right: 48px;
  margin-bottom: 2px;

  width: 200px;
  min-height: 406px;

  box-sizing: border-box;
  background-color: $wait-color;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__photo {
    margin-top: 32px;
    width: 160px;
    height: 134px;
  }

  &__name {
    width: 100%;

    margin-top: 40px;
    padding: 0 16px;

    color: $main-color;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__id {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;

    flex-basis: 100%;

    margin-top: 4px;
    padding-left: 16px;

    color: $second-color;
  }

  &__price {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 24px 16px 16px;

    &-name {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;

      color: $second-color;
    }
  }

  &__amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: $main-color;
  }

  &__button {
    width: 166px;
    height: 40px;

    text-align: center;
    text-decoration: none;

    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;

    color: $wait-color;
    background-color: $blue-color;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
      color: $blue-color;
      background-color: $wait-color;
      border-color: $blue-color;
    }
  }
}
