.container {
  --column-count: 1;
  --rows-count: 8;

  padding: 50px 40px;
  display: grid;
  gap: 46px 48px;
  justify-content: center;
  grid-template-columns: repeat(var(--column-count), 200px);
  grid-template-rows: repeat(var(--rows-count), 408px);
}

@media (min-width: 448px) {
  .container {
    --column-count: 2;
    --rows-count: 4;
  }
}

@media (min-width: 768px) {
  .container {
    --column-count: 3;
    --rows-count: 3;
  }
}

@media (min-width: 1024px) {
  .container {
    --column-count: 4;
    --rows-count: 2;
  }
}
