.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

  &__logo {
    height: 40px;
    width: 40px;
  }


  &__nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
  }

  &__nav-item:not(:last-child) {
    margin-right: 20px;
  }

  &__nav-link {
    position: relative;
    display: block;
    color: $color-main;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 0;

    &:hover {
      color: $color-blue;
    }
  }
}

.is-active {
  color: $color-blue;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: $color-blue;
    border-radius: 8px;
  }
}
