@use "../utils/mixin";
@use "../utils/extends";
@use "../utils/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  @extend %medium-text;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    @include mixin.square($icon-size);
    margin: 10px 50px 10px 0;
  }
}
