.main {
  display: flex;
  justify-content: center;
  align-content: center;
  
  &__card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: containerWidth($card-width, $card-margin-ridth);
    max-width: containerWidth($card-width, $card-margin-ridth);
    padding: 50px 0;
    
  }
}
