@use './main_cards/stars';
@use './main_cards/card.scss';
@use '../variable/variables' as colors;

.main {
  display: flex;
  justify-content: center;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;

  width: 944px;
  margin: 50px 40px 72px;
  gap: 46px 48px;
}
