.nav{
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    position: relative;
    display: block;
    color: $color-main;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 0;
    transition: $transition-duration;

    &:hover {
      color: $color-blue;
    }
  }
}
