.nav {

  &__list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;

    padding: 23px 0;
    color: $main-color;
    font-weight: 500;
    font-size: 12px;

    &:hover {
      color: $blue-color;
    }
  }
}
