* {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", serif;
  font-weight: 400;
  color: $color-main-accent;

  &__body {
    margin: 0;
  }

  &__main {
    display: grid;
    place-items: center;
    padding-top: 50px;
    padding-bottom: 72px;
  }
}
