.products {
  box-sizing: border-box;
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(4, 200px);
  gap: 46px 48px;
  justify-content: center;
  padding-top: 50px;
  background-color: $white;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
