.star {
  display: flex;
  &__item {
    width: $star-size;
    height: $star-size;
    margin-right: 4px;
    background: url(../images/star.svg) center no-repeat;
  }
  
  &--active-star_1 :first-child,
  &--active-star_2 :nth-child(-n + 2),
  &--active-star_3 :nth-child(-n + 3),
  &--active-star_4 :nth-child(-n + 4),
  &--active-star_5 :nth-child(-n + 5) {
    background: url(../images/star-active.svg) center no-repeat;
  }
}
