@import "_variables.scss";

.stars {
  display: flex;

  &__star {
    background-image: url("../../images/star.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $starsCount from 1 through 5 {
    &--#{$starsCount} &__star:nth-child(-n+#{$starsCount}) {
      background-image: url("../../images/star-active.svg");
    }
  }
}
