@mixin shadow {
  height: 60px;
  background: $white-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@mixin stars {
  @for $st from 1 through 5 {
    &--#{$st} .stars__star:nth-child(-n + #{$st}) {
      background: url(../images/star-active.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
