$font-stack: "Roboto", sans-serif;
$primary-color: #fff;
$secondary-color: #00acdc;
$main-tc: #060b35;
$secondary-tc: #616070;
$primary-fs: 10px;
$secondary-fs: 12px;
$primary-fw: 500;
$secondary-fw: 700;
$primary-lh: 13px;
$secondary-lh: 14px;
$max-width: 100%;
$text-uppercase: uppercase;
