$color-link-primary: #060b35;
$color-link-secondary: #00acdc;
$bg-primary: rgba(255, 255, 255, 1);
$border-color: rgba(243, 243, 243, 1);
$link-color: rgba(0, 172, 220, 1);
$text-font-size: 10px;
$description-font-size: 12px;
$price-font-size: 12px;
$price-value-font-size: 16px;
$text-line-height: 14px;
$link-line-height: 16px;
$description-line-height: 18px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
