$text-main-color: #060b35;
$text-secondary-color: #616070;
$blue-accent: #00acdc;
$white-accent: #fff;
$horizontal-indent-header: 50px;
$header-height: 60px;
$card-width: 200px;
$horizontal-gap: 48px;
$vertical-gap: 46px;
$border-radius: 5px;
