@mixin card-size-img {
  width: 160px;
  height: 134px;
}

@mixin hover300ms($property) {
  transition: #{$property} 300ms;
}

@mixin hover {
  transition: all 300ms ease;

  &:hover {
    @content;
  }
}
