@mixin centred-flexbox() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin on488() {
  @media (min-width: 488px) {
    @content;
  }
}

@mixin on768() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on1024() {
  @media (min-width: 1024px) {
    @content;
  }
}
