$is-active-color: #00acdc;
$nav-link-color: #060b35;
$main-accent-font-color: #060b35;
$secondary-font-color: #616070;
$background-color: #fff;
$card-border-color: #f3f3f3;
$card-hovered-title-color: #34568b;
