$primary-color: #00acdc;
$main-font-color: #060b35;
$secondary-font-color: #616070;
$white-color: #fff;
$title-text-on-hover: #34568b;
$font-roboto: 'Roboto', sans-serif;
$font-size: 12px;
$star: url(./../images/star.svg) no-repeat center;
$active-star: url(./../images/star-active.svg) no-repeat center;
$transition-duration: 300ms;
