$is-active-color: #00acdc;
$nav-link-color: #060b35;
$main-accent-font-color: #060b35;
$secondary-font-color: #616070;
$background-color: #fff;
$card-border-color: #f3f3f3;
$card-hovered-title-color: #34568b;
$card-bottom-padding: 40px 16px 16px;
$transition-duration: 300ms;
$font-type: Roboto, sans-serif;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-size-sm: 12px;
$font-size-xs: 10px;
$font-size-md: 14px;
$font-size-lg: 16px;
$line-height-xs: 14px;
$line-height-sm: 16px;
$line-height-md: 18px;
$letter-spacing-default: 0%;
$card-width: 200px;
$margin-bottom-card-description-price: 16px;
$card-hover-scale: scale(1.2);
$card-top-padding: 32px 19px 0;
