.is-active {
  position: relative;
  color: $blue-accent;
  margin-left: 0;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $blue-accent;
    border-radius: 8px;
  }
}
