.content {
  &__product {
    width: $card-width * 4 + $cards-margin * ($card-pre-line - 1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 50px 0 70px;
  }

  &__card {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 32px 16px 16px;
    margin-right: 48px;
    margin-bottom: 46px;
  }
}
