.content {
  &__product {
    width: $card-width * 4 + $cards-margin * ($card-pre-line - 1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 50px 0 70px;
  }
}
