.moyo__nav {
  display: block;

  &-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: $color-main-accent;
    height: 60px;
    line-height: 14px;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    transition: color 0.3s;

    &:hover {
      color: $color-accent-blue;
    }
  }
}

.is-active {
  color: $color-accent-blue;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: $color-accent-blue;
  }
}
