.catalog {
  margin: 0 auto;
  padding: 50px 40px;

  display: grid;
  grid-template-columns: $card-width;
  justify-content: center;
  justify-items: center;
  gap: 46px 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }
}
