@import "../variable";

.card {
  width: $cardWidth;
  padding: 15px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: white;

  &__img {
    margin: 15px 5px 41.5px 4px;
    width: 160px;
    height: 134px;
  }

  &__title {
    font-family: Roboto, sans-serif;
    margin-left: -1px;
    margin-bottom: 5px;

    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
  }

  &__code {
    margin-left: -1px;
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 11px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__stars {
    margin-left: -1px;
  }

  &__review {
    margin-right: -1px;
    font-weight: 400;
    font-size: 11px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__cost {
    margin-left: -1px;
    font-weight: 400;
    font-size: 11px;
  }

  &__cost-currency {
    margin-right: -1px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &__button {
    margin-left: -1px;
    width: 170px;
    height: 40px;

    background-color: $mainColor;
    border-radius: 5px;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid $mainColor;
  }

  &__select {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -1px;
    margin-right: -1px;

    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
  }

  &__button:hover &__select {
    color: $mainColor;
  }
}
