body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav {
  display: flex;

  &__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding-top: 23px;
  }

  &__link {
    color: black;
    text-decoration: none;
    padding: 23px 0;
    padding-bottom: 22px;
  }

  &_item:not(:first-child) {
    padding-left: 20px;
  }

  &__link:visited {
    color: black;
  }

  &__link:hover {
    width: 100%;
    color: #00acdc;
  }
}

.home-link {
  height: 40px;
  align-self: center;
}

.is-active::after {
  display: block;
  content: "";
  height: 4px;
  background-color: #00acdc;
  border-radius: 8px;
  margin-top: 19px;
  width: 37px;
}
      
.is-active {
  color: #00acdc;
}
