@mixin flex-space-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin on-mobile {
  @media (max-width: 487px) {
    grid-template-columns: repeat(1, 200px);
  }
}

@mixin on-tablet {
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }
}

@mixin on-laptop {
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
