$header-nav-text-ative: #00ACDC;
$header-nav-text: #060B35;
$header-box-shadow: rgba(0, 0, 0, 0.05);
$catalog-text-one: #060B35;
$catalog-text-two: #616070;
$catalog-button-one: #00ACDC;
$catalog-button-two: #FFF;
$catalog-border-card: #F3F3F3;
$catalog-card-name-hover: #34568b;
$font-weight: 500;
$font-size: 12px;
