$textColorMainAccent: #060b35;
$textColorSecondary: #616070;
$buttonColor: #00acdc;
$buttonHoverColor: #fff;

$cardWidth: 200px;
$cardBorderColor: #f3f3f3;
$headerHoverColor: #00acdc;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$hoverDeviceNameColor: #34568b;
$transitionTime: 300ms;
