.main {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: #{$field-size};
    padding: 50px #{$padding-left-right};
  }
}
