.nav {
  font-weight: 500;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  
    padding: 0;
    margin: 0;
  }

  &__category {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 60px;
  }

  &__link {
    display: inline-block;
    position: relative;
  
    padding: 23px 0;
    margin-right: 20px;
  
    text-decoration: none;
    color: $black-color;
  }

  &__link:visited {
    text-decoration: none;
    color: $black-color;
  }

  &__link:hover {
    text-decoration: none;
    color: $blue-color;
  }

  &__link:active {
    text-decoration: none;
    color: $blue-color;
  }

  .is-active {
    color: $blue-color;
  }

}

.nav__list > .nav__category:last-child > .nav__link {
  margin-right: 0;
}

.is-active::after {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";

  border-radius: 2px;
  background-color: $blue-color;
}
