.product-card {
  width: 200px;
  padding: 32px 16px 16px;
  margin-top: 50px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: $white-color;

  &__logo {
    margin: 0 3px 37px;
  }

  &__image {
    object-fit: contain;
  
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $dark-text-color;
  }

  &__productcode {
    width: 168px;
    margin-bottom: 16px;
  
    font-size: 10px;
    line-height: 14px;
    color: $grey-text-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
  }

  &__reviews {
    display: inline-block;
  
    font-size: 10px;
    line-height: 14px;
    color: $dark-text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    width: 100%;
    margin-bottom: 17px;
  }
  
  &__price-name {
    display: inline-block;
  
    font-size: 12px;
    line-height: 16px;
    color: $grey-text-color;
  }

  &__price-price {
    display: inline-block;
  
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $dark-text-color;
  }

  &__buy-botton {
    margin: 0 auto;
  }

  &_id::after {
    content: "195434";
  }

}
