.star {
  content: url("../images/star.svg");

  box-sizing: border-box;
  width: 17px;
  height: 16px;

  margin: 0 3px 0 0;
  padding: 2px 1px;
}

@for $rate-mark from 1 through $rate-mark {
.star:nth-child(#{$rate-mark}) {
  content: url("../images/star-active.svg");
}
}