.star {
  content: url("../images/star.svg");

  box-sizing: border-box;
  width: 17px;
  height: 16px;

  margin: 0 3px 0 0;
  padding: 2px 1px;
}

.stars--1 .star:nth-child(-n + 1),
.stars--2 .star:nth-child(-n + 2),
.stars--3 .star:nth-child(-n + 3),
.stars--4 .star:nth-child(-n + 4),
.stars--5 .star:nth-child(-n + 5) {
  content: url("../images/star-active.svg");
}