.stars {
  display: flex;

  &__img {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/star.svg);
  }

  &__img:not(:last-child) {
    margin-right: 4px;
  }

  .stars__img:nth-child(-n + 1),
  .stars__img:nth-child(-n + 2),
  .stars__img:nth-child(-n + 3),
  .stars__img:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
