.page__header,
.page__body,
ul {
  padding: 0;
  margin: 0;
}

.page__header {
  display: flex;
  box-sizing: border-box;
  padding: 0 50px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: $main__weight;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 5%);
}

.header__logo_link {
  position: relative;
  display: flex;
  margin-right: auto;
}

.header__logo {
  align-self: center;
  height: 40px;
  width: 40px;
}

.nav {
  &__list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }

  &__link {
    @include transition-smooth(color);

    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    color: $main__color;
    text-transform: uppercase;
    line-height: 60px;

    &:hover {
      color: $blue;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &__item--first {
    padding-left: 0;
  }
}

.is-active {
  color: #00acdc;
  box-sizing: border-box;

  &::after {
    position: absolute;
    display: block;

    content: '';
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 4px;
    background-color: $blue;
    border-radius: 4px;
  }
}
