@media screen and (max-width: 488px) {
  .card-container {
    grid-template-columns: $card-width;
  }
}

@media screen and (min-width: 488px) {
  .card-container {
    grid-template-columns: $card-width $card-width;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: $card-width $card-width $card-width;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    grid-template-columns: $card-width $card-width $card-width $card-width;
  }
}
