@mixin main-text {
  font: {
    family: $font-stack;
    style: normal;
    size: 12px;
    weight: 500;
  }
  line-height: 15px;
  color: #000;
}

@mixin nav-text {
  font: {
    family: $font-stack;
    style: normal;
    size: 12px;
    weight: 500;
  }
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;

  color: #000;
}

@mixin button-text {
  font: {
    family: $font-stack;
    style: normal;
    size: 14px;
    weight: 700;
  }
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin large-text {
  font: {
    family: $font-stack;
    size: 16px;
    weight: 700;
  }
  color: #000;
}

@mixin small-text {
  font: {
    family: $font-stack;
    style: normal;
    size: 11px;
    weight: 400;
  }
  line-height: 13px;
  color: #000;
}
