.price {
  @include flex-center;
  justify-content: space-between;
  &-margin {
    margin-bottom: 20px;
  }

  &__text {
    line-height: 13px;
    font-size: $basicCardFz;
    font-weight: $defaultFw;
  }

  &__tag {
    font-size: 16px;
    font-weight: $defaultFw + 300;
  }
}
