.card__stars {
  display: flex;

  &-item {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
    margin-right: 4px;

  }

  @for $index from 1 through 5 {
    &--#{$index} .card__stars-item:nth-child(-n+ #{$index}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
