$big-gap: 50px;
$small-gap: 20px;

$card-width: 200px;
$card-height: 403px;
$card-border: 1px;
$card-side-margin: ($big-gap - 2 * $card-border) / 2;
$card-padding: 14px;
$radius: 5px;

$page-padding: 40px - $card-side-margin;

$count: 4;
$full-width: $count * ($card-width + 2 * $card-side-margin);

$logo-edge: 40px;

$star-size: 15px;

$font-stack: roboto, serif;

$accent-color: #00acdc;
$basic-color: #fff;
$border-line-style: solid #f3f3f3;
