$card-border: 1px;
$big-gap: 50px;
$count: 4;
$card-width: 200px;
$card-side-margin: ($big-gap - 2 * $card-border) / 2;
$page-padding: 40px - $card-side-margin;
$card-padding: 14px;
$small-gap: 20px;
$star-size: 15px;
$font-stack: roboto, serif;
$accent-color: #00acdc;
$basic-color: #fff;
$logo-edge: 40px;
$card-height: 403px;
$radius: 5px;
$full-width: $count * ($card-width + 2 * $card-side-margin);
