@use 'variables' as *;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  color: $main-accent;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
