@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll; // Forces the desired behavior
  font-family: $font-main;
}

body {
  margin: 0;
  background-color: $color-page-bg;
}
