.card {
  border-radius: 5px;
  border: 1px #f3f3f3 solid;
  color: rgb(6, 11, 53);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-left: 16px;
  padding-right: 16px;
  width: 200px;
}
