.button {
  width: 170px;
  padding: 12px 0 11px;

  border: 1px solid $blue-color;
  border-radius: 5px;

  background: $blue-color;

  font-family: $main-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;

  &:hover {
    color: $blue-color;
    background-color: #fff;
  }
}
