.button {
  @include center;
  @include roboto700;

  height: $button-height;
  width: 100%;
  margin-top: $spacing-sm;
  border-radius: $button-border-radius;
  border: 1px solid $hover-color;
  text-decoration: none;
  cursor: pointer;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  text-transform: uppercase;
  color: $button-text;
  background-color: $button-bg;
  box-sizing: border-box;
  transition:
    background-color $transition-time,
    color $transition-time,
    border-color $transition-time;

  &:hover {
    background-color: $button-hover-text;
    border-color: $hover-color;
    color: $hover-color;
  }
}
