.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: $button-bg;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    color: $button-bg;
    background-color: #fff;
    border: 1px solid $button-bg;
  }
}
