@import "header";

.cards-block {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
  row-gap: 51px;
  grid-template-columns: repeat(auto-fit, 200px);
  margin-bottom: 51px;

  @media screen and (min-width: 948px) {
    grid-template-columns: repeat(4, 200px);
  }
}
