.card-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px 48px;
  justify-content: center;

  @media (max-width: 999px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (max-width: 740px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 200px);
  }
}
