body {
  margin: 0;
}

.cards-block-main {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cards-block {
  display: flex;
  width: 944px;
  flex-wrap: wrap;
  padding: 0 40px;
  justify-content: space-between;
}

.product-card {
  margin-bottom: 51px;
}

.header-container {
  margin-bottom: 50px;
}
