.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__product-card {
    width: $cardWidth;
    flex-shrink: 0;
  }

  &__product-card:nth-child(4n+4) {
    margin-right: 0;
  }

  &__product-card:nth-child(-n+4) {
    margin-bottom: 50px;
  }
}
