@import './variables';

.catalog {
  padding: $catalog-padding;

  &__container {
    display: grid;
    grid-template-columns: repeat(1, $card-width);
    gap: 46px 48px;
    justify-content: center;
  }
}

@media (min-width: 488px) {
  .catalog__container {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: 768px) {
  .catalog__container {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: 1024px) {
  .catalog__container {
    grid-template-columns: repeat(4, $card-width);
  }
}
