.catalog {
  margin: auto;
  margin-bottom: 76px;
  display: grid;
  --grid-column-number: 1;
  grid-template-columns: repeat(var(--grid-column-number), $cardWidth);
  justify-content: center;
  column-gap: 48px;
  row-gap: 46px;

  @media (min-width: 488px) {
    --grid-column-number: 2;
  }

  @media (min-width: 768px) {
    --grid-column-number: 3;
  }

  @media (min-width: 1024px) {
    --grid-column-number: 4;
  }

  &__top--size {
    padding-top: 50px;
  }
}
