@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "roboto", arial, sans-serif;
  font-size: $font_small_size;
  font-weight: $font_small_weight;
  line-height: 13px;
  color: #000;
}

.row {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  
  @media (max-width: 918px) {
    margin-top: 0;
    flex-wrap: wrap;
    align-items: space-evenly;
  }
}
