:root {
  --star: url(images/star.svg);
  --active_star: url(images/star-active.svg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
  flex-wrap: wrap;
}
