html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  margin: 50px auto 0;
  max-width: 1024px;
}
