@import "variables";
@import "mixins";

.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  grid-gap: 50px 48px;

  margin: 0 auto;
  max-width: 1200px;
}
