*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

// size logo
$logoWidth: 40px;
$logoHeight: 40px;

// color
$primary-color: #00acdc;
$secondary-color: #060b35;
$grey-color: #616070;
$white-color: #fff;
$black-color: #000;

// container
$container-lg: 1200px;

// card
$card-width: 200px;

// card img
$card-img-width: 160px;
$card-img-height: 134px;

// star
$star-width: 16px;
$star-height: 16px;

// breakpoints
$breakpoints: (
  "xs" : 0,
  "ms" : 488px,
  "md" : 768px,
  "lg" : 1024px,
);
