@import "variables";

.container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 48px;
  justify-content: space-between;
  align-items: center;
  max-width: $products-container-width;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
