$product-card-width: 200px;
$product-card-height: 403px;
$space-between-cards: 48px;

$label-moyo-width: 40px;
$label-moyo-heigth: 40px;

$header-height: 60px;

$card-photo-width: 160px;
$card-photo-heigth: 134px;
$card-button: 170px;

$stars-width: 15px;
$dtars-heigth: 15px;
$stars-between-distance: 4px;
