* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

p {
  margin: 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}
