.feedback__stars {
  display: flex;
  margin-right: $size-17px;
  width: $size-96px;
  height: $size-16px;
  border-radius: $size-0-5px;
}

.feedback__reviews {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: $size-10px;
  line-height: $size-14px;
  text-align: right;
  letter-spacing: 0;
  color: $main-accent;
  width: $size-53px;
  height: $size-16px;
}

.feedback__star {
  width: $size-16px;
  height: $size-16px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-image: url(../images/star.svg);
}

.feedback__star + .feedback__star {
  margin-left: $size-4px;
}

.feedback__stars--4 :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
