.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-row-gap: 50px;
  grid-column-gap: 48px;
  max-width: 1000px;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 999px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 700px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 475px) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}
