.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 128px;
  width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .catalog {
    padding: 0 40px;
    width: 1024px;
  }
}
