html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: $container-lg;
  margin: 0 auto;
  padding: 0 50px;
}
