* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: $productCardHeight * 2 + $productCardGapY;
  width: $productCardWidth * 4 + $productCardGapX * 3;
  margin: 50px auto;
}

@mixin elementContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
