.cards {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px 48px;
  justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
