// Layout variables
$main-max-width: 944px;
$catalog-padding: 50px 40px;
$catalog-columns-desktop: 4;
$catalog-columns-tablet: 3;
$catalog-columns-mobile: 2;
$catalog-row-gap: 46px;
$catalog-column-gap: 48px;
