@import "variables";

.card__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 999px;
  margin: 0;
}

.card {
  width: 200px;
  padding: 30px 14px 15px;
  margin: 0 24px 50px;
  font-size: 11px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
}

.card__img {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto;
}

.card__info {
  margin-top: 45px;
  margin-bottom: 15px;
}

.card__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 5px;
}

.card__rate {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__stars {
  display: flex;
  align-items: center;
}

.card__star {
  width: 15px;
  height: 15px;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:nth-child(-n + 4) {
    background: url("../images/star-active.svg") no-repeat center;
  }

  &:nth-child(5) {
    background: url("../images/star.svg") no-repeat center;
  }
}

.card__cost {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__value {
  font-size: 16px;
  font-weight: bold;
}

.card__button {
  width: 100%;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: bold;
  color: $bg-color;
  text-transform: uppercase;
  border: 1px solid $active-color;
  border-radius: 5px;
  background-color: $active-color;
  line-height: 36px;

  &:hover {
    color: $active-color;
    background-color: $bg-color;
  }
}
