@import "variables";

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 50px 48px;
  justify-content: center;
  max-width: 1100px;
}

.card {
  width: 200px;
  padding: 30px 14px 15px;
  font-size: 11px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__img {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto 45px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 0 auto 5px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rate {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.stars {
  display: flex;
  align-items: center;
}

.stars__item {
  width: 15px;
  height: 15px;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:nth-child(-n + 4) {
    background: url("../images/star-active.svg") no-repeat center;
  }

  &:nth-child(5) {
    background: url("../images/star.svg") no-repeat center;
  }
}

.card__cost {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__value {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.button {
  width: 100%;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: bold;
  color: $bg-color;
  text-transform: uppercase;
  border: 1px solid $active-color;
  border-radius: 5px;
  background-color: $active-color;
  line-height: 36px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: $active-color;
    background-color: $bg-color;
  }
}
