.main {
  padding: $main-padding-vertical $main-padding-horizontal;

  display: grid;
  grid-template-columns: repeat(1, $card-width);
  justify-content: center;
  gap: $grid-row-gap $grid-column-gap;
}

@media (min-width: $bp-sm) {
  .main {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: $bp-md) {
  .main {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: $bp-lg) {
  .main {
    grid-template-columns: repeat(4, $card-width);
  }
}
