.main {
  display: grid;
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;

  @include xs{
    grid-template-columns: repeat(1, minmax(auto, 200px));
  }

  @include ms{
    grid-template-columns: repeat(2, minmax(auto, 200px));
  }

  @include md{
    grid-template-columns: repeat(3, minmax(auto, 200px));
  }

  @include lg{
    grid-template-columns: repeat(4, minmax(auto, 200px));
  }


}
