.main {
  padding: 50px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main > .card {
  width: 200px;
  margin-right: 48px;

  &:nth-child(4n + 4) {
    margin-right: 0;
  }

  &:nth-child(-n + 4) {
    margin-bottom: 46px;
  }
}
