.main {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 200px);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
}

$layout-breakpoint-small: 488px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-big: 1024px;

@media (min-width: $layout-breakpoint-small) {
  .main {
    --column-count: 2;
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .main {
    --column-count: 3;
  }
}

@media (min-width: $layout-breakpoint-big) {
  .main {
    --column-count: 4;
  }
}


