@media (max-width: 965px) {
  .header {
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
    .nav__list {
      display: block;
      .nav__item {
        .nav__link {
          line-height: 30px;
        }
        .nav__link--is-active::after {
          bottom: 15px;
        }
      }
    }
  }
}
