.product__grid {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
<<<<<<< HEAD
  gap: 46px 48px;
  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
    .nav__link--highligh {
      flex-wrap: nowrap;
    }
=======
  column-gap: 46px;
  row-gap: 48px;
  padding: 50px 40px;
 

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
>>>>>>> 851c135ca4d6cb2824f4fb2191eddfdfd150ba0b
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
