@mixin flex-vertical-centered {
  display: flex;
  align-items: center;
}

@mixin flex-horizontal-centered {
  display: flex;
  justify-content: center;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
