@mixin fontNormal ($normalSizeFont: 14px) {
  font-family: Roboto, sans-serif;
  font-size: $normalSizeFont;
  font-style: normal;
}

@mixin smallTextCard($textSmall: 11px) {
  font-size: $textSmall;
  line-height: 1.18em;
}

@mixin textCard ($sizeTextTitle, $line-height) {
  font-weight: 500;
  font-size: $sizeTextTitle;
  font-style: normal;
  line-height: $line-height;
}
