@import "variables";

@mixin border-no-radius ($color) {
  border: 1px solid $color;
}

@mixin border-5px-radius ($color) {
  border: 1px solid $color;
  border-radius: 5px;
}

@mixin display-flex-sb {
  display: flex;
  justify-content: space-between;
}

@mixin display-flex {
  display: flex;
}

@mixin display-inline-block {
  display: inline-block;
}
