@mixin centered {
  display: flex;
  align-items: center;
}

@mixin font-500($size) {
  font-family: Roboto, sans-serif;
  font-size: $size;
  font-weight: 500;
}

@mixin font-normal($size) {
  font-family: Roboto, sans-serif;
  font-size: $size;
  font-weight: normal;
}

@mixin font-bold($size) {
  font-family: Roboto, sans-serif;
  font-size: $size;
  font-weight: bold;
}
