@mixin sizeFont {
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  color: #000;
}

@mixin sizeFont-2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
}

@mixin sizeStar {
  width: $sizeStar;
  height: $sizeStar;
  margin-right: 4px;
}
