@use './variables' as *;

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  gap: 20px;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    text-decoration: none;
    text-transform: uppercase;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }

    &.is-active {
      color: $link-hover-color;
    }

    &.is-active::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block;
      height: 4px;
      border-radius: 8px;
      background-color: $blue-color;
      color: $blue-color;
    }
  }
}
