.nav {
  font-weight: 500;
  font-size: 12px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  &__link {
    display: flex;
    align-items: center;
    color: #{$nav-link-color};
    height: 60px;
    line-height: 14px;
    text-decoration: none;

    &:hover {
      color: #{$nav-link-color-hover};
    }
  }
  &__item {
    margin-right: 20px;
    height: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}
