html {
  font-family: $page-font;
  text-decoration: none;
  font-size: 12px;
}

body {
  margin: 0;

  * {
    display: flex;
    box-sizing: border-box;
    margin: 0;
  }
}

h1,
h2 {
  font-weight: 400;
}

main {
  justify-content: center;
}
