.pagecontent {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 48px 46px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 50px 40px;

  @media (max-width: 487px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, auto);
  }

}
