body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  }

  a {
    text-transform: uppercase;
  }

.card {
  width: 200px;

  &__info {
    padding: 0 16px;
  }
}

