@import './variables';
@import './header';
@import './catalog';
@import './card';
@import './feedback';
@import './price';

body,
.header,
.nav,
.nav__list,
.nav__item,
.nav__link,
.logo {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
}
