.product {
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
    align-items: baseline;
    width: 166px;

    &-text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: $secondary;
    }

    &-value {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: $dark;
    }
  }
}
