.price__label {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: $size-12px;
  line-height: $size-18px;
  letter-spacing: 0;
  color: $secondary;
  width: $size-31px;
  height: $size-18px;
  text-align: left;
}

.price__amount {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: $size-16px;
  line-height: $size-18px;
  letter-spacing: 0;
  width: $size-50px;
  height: $size-18px;
  text-align: right;
  color: $main-accent;
}
