.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .price-item__title

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    color: #616070;
  }

  // .price-item__value

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    color: $default-card-color;
  }
}
