.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 30px 14px 15px;
  border: 1px solid #f3f3f3;
  border-radius: $card-border-radius;
  background: #fff;

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 45px;
  }

  &__product-name {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__sku {
    width: 100%;
    margin-bottom: 15px;
  }

  &__price {
    @include card-text-position;
    align-items: flex-end;
  }

  &__reviews {
    @include card-text-position;
    align-items: center;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;

    background: $blue;
    border-radius: $card-border-radius;

    &:hover {
      color: $blue;
      background-color: #fff;
      border: 1px solid $blue;
    }
  }
}
