@import "_variables";

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 14px;
  margin: 0 24px 50px;
  font-size: $font-size-small;
  line-height: 13px;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 45px;
  }

  &__description {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  &__code {
    display: block;
    margin-bottom: 15px;
  }

  &__rating {
    @include centered;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__stars {
    display: flex;
  }

  &__star {
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background: url("../images/star.svg") center no-repeat;
  }

  &__star:nth-child(-n+4) {
    background: url("../images/star-active.svg") center no-repeat;
  }

  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }

  &__value {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__buy {
    display: block;
    padding: 12px 0 11px;
    width: 170px;
    border: 1px solid $blue-color;
    border-radius: 5px;
    background: $blue-color;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }

  &__buy:hover {
    color: $blue-color;
    background-color: #fff;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
