
.catalog__card {
  display: flex;
  width: $product-card-width;
  height: $product-card-height;
  margin-bottom: 50px;

  &-block {
    padding: 0 14px;
    background: #fff;
    border-radius: 5px;
    border: $borderWidth solid #f3f3f3;
  }
}

.card {
  @include item-center;
  padding: 30px 5px 0;

  &__photo {
    width: $card-photo-width;
    height: $card-photo-heigth;
  }

  &__title {
    @include space-start-content;
    height: 31px;
    font-weight: $font-weight-500;
    font-size: $font-size-12;
    line-height: $font-size-12 * 1.25;
    padding-top: 45px;
  }

  &__code {
    @include space-start-content;
    padding-top: 4px;
  }

  &__code,
  &__reviews,
  &__price-name {
    font-size: $font-size-11;
  }

  &__rating {
    @include space-between-stretch;
    padding-top: 15px;
  }

  &__stars {
    display: flex;
  }

  &__price {
    @include space-baseline-between;
    padding-top: 20px;
  }

  &__price--value {
    font-weight: $font-weight-700;
    font-size: $font-size-16;
    line-height: $font-size-16 * 1.25 - 1px;
  }

  &__button {
    @include flex-center;
    width: $card-button;
    height: $card-button / 4.25;
    background: #00acdc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: $font-weight-700;
    font-size: $font-size-14;
    line-height: $font-size-14 * 1.25;
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  &__button:hover {
    width: $card-button - 2 * $borderWidth;
    height: $card-button / 4.25 - 2 * $borderWidth;
    background: #fff;
    border: 1px solid #00acdc;
    color: #00acdc;
  }
}

.stars__item {
  width: $stars-width;
  height: $dtars-heigth;
  margin-right: $stars-between-distance;
  background: no-repeat center url(../images/star.svg);
}

.card__stars .stars__item:nth-child(-n+4) {
  background: no-repeat center url(../images/star-active.svg);
}
