.product-cards {
  --column-count: 1;

  padding: 50px 40px;

  &__container {
    max-width: 944px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(var(--column-count), 1fr);
    gap: 46px 48px;
    justify-items: center;

    @media (min-width: 488px) {
      --column-count: 2;
    }

    @media (min-width: 768px) {
      --column-count: 3;
    }

    @media (min-width: 1024px) {
      --column-count: 4;
    }
  }
}
