.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  grid-gap: 48px;
  margin: 50px auto 0;
  max-width: 1191px;
  padding: 0 40px;
}

.product-card {
  padding: 15px 14px 16px;
  margin-bottom: 2px;
  max-width: 200px;
  max-height: 403px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__photo {
    display: block;
    height: 134px;
    margin: 15px auto 45px;
  }

  &__title {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
  }

  &__code {
    padding-bottom: 15px;
  }

  &_small-text {
    font-size: 11px;
  }

  &__feedback,
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__feedback {
    padding-bottom: 21px;
  }

  &__price {
    margin-bottom: 19px;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &__link {
    background: $color-link;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    max-width: 171px;
    max-height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 1px solid $color-link;

    &:hover {
      background: #fff;
      color: $color-link;
    }
  }

  &__stars {
    display: flex;
  }

  &__star {
    background: url("../images/star.svg") no-repeat center;
    height: 15px;
    width: 15px;
    margin-right: 4px;
  }

  &__stars_5 &__star:nth-child(-n+5),
  &__stars_4 &__star:nth-child(-n+4),
  &__stars_3 &__star:nth-child(-n+3),
  &__stars_2 &__star:nth-child(-n+2),
  &__stars_1 &__star:nth-child(-n+1) {
    background: url("../images/star-active.svg") no-repeat center;
  }
}
