.catalog {
  margin: 0 auto;
  max-width: 944px;
  width: 100%;

  .product__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -48px;
  }

  .product__item {
    flex-basis: calc(25% - 48px);
    max-width: 200px;
    width: 100%;

    margin-left: 48px;
    margin-bottom: 50px;
    padding: 15px 14px;

    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;

    .product__image {
      margin: 15px 5px 42px;

      .product__picture {
        text-align: center;
        width: 160px;
        height: 134px;
      }
    }

    .product__title {
      font-size: 12px;
      line-height: 15px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .product__code {
      margin-bottom: 15px;
    }
    
    .product__rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      @include stars;
    }

    .product__price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .product__cost {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
      }
    }

    .product__button {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      cursor: pointer;
      color: #fff;
      background-color: #00acdc;
      
      width: 170px;
      height: 40px;
      border: none;
      border-radius: 5px;
      
      &:hover {
        background-color: #fff;
        border: 1px solid #00acdc;
        color: #00acdc;
      }
    }
  }
}
