@use './variable' as *;
@use './mixin' as *;

.container {
  display: grid;
  padding: 50px 40px;
  justify-self: center;
  gap: 46px 48px;

  @include on-small-tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include on-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include on-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  border-radius: 5px;
  width: 200px;
  background-color: $white;
  border: 1px solid $border-color;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease;

  &__heading {
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
    transition: color 0.3s ease;
  }

  &:hover {
    transform: scale(1.2);
    .card__heading {
      color: $text-hover;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px;
  }

  &__image {
    margin-bottom: 40px;
  }

  &__code {
    color: $second-color;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $second-color;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-color;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $main-color;
  }

  &__review-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__buy {
    display: flex;
    height: 40px;
    margin-top: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid transparent;
    color: $white;
    background-color: $primary-blue;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.3s ease;
    text-transform: uppercase;

    &:hover {
      border-color: $primary-blue;
      background-color: $white;
      color: $primary-blue;
    }
  }
}
