@import "./mixins.scss";

.product--section {
  @include flex-horizontal-centered;
}

.product--list {
  @include flex-horizontal-centered;  
  flex-wrap: wrap;
}

.product--item {
  margin-right: 48px;
  margin-bottom: 50px;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
