.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: white;
  border: 1px solid $light-gray;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 50px;

  &__image {
    padding: 32px 19px 16px;
    height: 186px;

    .image {
      height: 100%;
      max-height: 134px;
      width: 100%;
    }
  }

  &__info {
    padding: 20px 16px 16px;
  }

  &__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $dark;
  }

  &__code {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary;
    margin-top: 4px;
    margin-bottom: unset;
  }
}
