@import "variables";

.products {

  &__list {
    list-style: none;
    display: grid;
    row-gap: 46px;
    column-gap: 48px;
    justify-content: center;
    padding: 50px 40px 128px;
    grid-template-areas: "row";

    @media screen and (min-width: 488px) {
      grid-template-areas: "row row";
    }

    @media screen and (min-width: 768px) {
      grid-template-areas: "row row row";
    }

    @media screen and (min-width: 1024px) {
      grid-template-areas: "row row row row";
    }
  }

  &__item {
    display: flex;
  }
}
