@import "variables";

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: $main-font-size;
  font-weight: $font-weight-medium;
}

body {
  margin: 0;
  padding: 0;
}
