.reviews {
  display: flex;       
  align-items: center; 
  justify-content: space-between;          

  &__count {
    font-size: 10px;
    line-height: 1.4;
    color: $color-text-secondary;
    font-family: $font-main;
  }
}
