@import "_variables";

.card-list {
  max-width: 992px;
  margin: 50px auto;

  background-color: $back-color;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-column-gap: 48px;
  grid-row-gap: 50px;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 916px) {

  .card-list {
    margin-top: 200px;
  }
}
