@import "_variables";

.card-list {
  max-width: 992px;
  margin: 50px auto;

  background-color: $back-color;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 916px) {

  .card-list {
    margin-top: 200px;
  }
}
