@use 'variables';

.app {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: variables.$text-color;
  box-sizing: border-box;
}

.logo {
  box-sizing: border-box;
  display: inline-block;
  line-height: 0;

  &__image {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: block;
  }
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav {
    box-sizing: border-box;

  &__list {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    box-sizing: border-box;
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    line-height: 1;
    color: inherit;
    text-decoration: none;

    transition-property: all;
    transition-duration: variables.$transition-time;
  }

  &__link:visited,
  &__link:active {
    color: inherit;
    text-decoration: none;
  }

  &__link:hover {
    color: variables.$main-theme-color;
  }

  &__link.is-active {
    position: relative;
    color: variables.$main-theme-color;
  }

  &__link.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: variables.$main-theme-color;
  }
}
