.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  &__cards-row:not(:last-child) {
    margin-bottom: 46px;
  }
}

.cards-row {
  display: flex;
  &__card:not(:last-child) {
    margin-right: 48px;
  }
}
