.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  &__cards-row:not(:last-child) {
    margin-bottom: 46px;
  }
}

.cards-row {
  display: flex;
  &__card:not(:last-child) {
    margin-right: 48px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 408px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  // .card__container

  &__container {
    padding: 32px 16px 16px;
  }

  // .card__image

  &__image {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  // .card__img

  &__img {
    width: 160px;
    height: 134px;
  }

  &__title {
    color: $default-card-color;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  // .card__subtitle

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
    margin-bottom: 16px;
  }

  // .card__rating

  &__rating {
    margin-bottom: 24px;
  }

  // .card__prices

  &__prices {
    margin-bottom: 16px;
  }

  // .card__link

  &__link {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    background-color: $default-hover-color;
    border-radius: 5px;
    color: #fff;
    padding: 11px 23px;
    text-transform: uppercase;
    border: 1px solid hsla(193, 100%, 43%, 0);
    &:hover {
      background-color: #fff;
      color: #00acdc;
      border-radius: 5px;
      border-color: $default-hover-color;
    }
  }
}

.rating-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .rating-stars__item

  &__item {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  // .rating-stars__star

  &__star {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../images/star.svg);
    background-position: center;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
  &__item--1 :nth-child(1),
  &__item--2 :nth-child(-n + 2),
  &__item--3 :nth-child(-n + 3),
  &__item--4 :nth-child(-n + 4),
  &__item--5 :nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }

  // .rating-stars__reviews

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    color: $default-card-color;
  }
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .price-item__title

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-weight: 400;
    color: #616070;
  }

  // .price-item__value

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    color: $default-card-color;
  }
}
