// Fonts
$font-family:"Roboto", sans-serif;
// Sizes
$font-size-small:11px;
$font-size-semi-medium:12px;
$font-size-medium:14px;
$font-size-big:16px;
// Weights
$font-weight-medium:500;
$font-weight-bold:700;
