$headerHeight: 60px;
$cardWidth: 200px;
$cardGap: 48px;
$accentColor: #00acdc;

@mixin bigText {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@mixin normalText {
  font-size: 12px;
  font-weight: 500;
}

@mixin smallText {
  font-size: 11px;
  line-height: 13px;
}
