$primary-color: rgba(0, 172, 220, 1);
$font-family-main: Roboto, sans-serif;
$nav-color: #060b35;
$title-hover: #34568b;
$dark-text: rgba(6, 11, 53, 1);
$secondary-text: rgba(97, 96, 112, 1);
$border-color: rgba(243, 243, 243, 1);
$card-width: 200px;
$stars-gap: 4px;
$star-size: 16px;
$white: #fff;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$grid-gap-row: 48px;
$grid-gap-column: 46px; // 
$breakpoint-sm: 488px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$transition-time: 0.3s;
