$card-width: 200px;
$color-white: white;
$color-lightBlue: #00acdc;
$roboto-font: "Roboto", sans-serif;

@mixin small-font {
  font-size: 11px;
  line-height: 13px;
}

@mixin flex-spaceB {
  display: flex;
  justify-content: space-between;
}
