$accentColor: #00acdc;
$containerHorizontalPadding: 50px;
$containerHorizontalPaddingSmall: $containerHorizontalPadding - 10px;
$headerHeight: 60px;
$productCardWidth: 200px;
$productCardGap: 48px;
$productCardBtnHeight: 40px;
