$productWidth: 200px;
$productMarginX: 48px;
$productHeight: 403px;
$animDuration: 1s;
$imgWidth: 160px;
$imgHeight: 134px;
$imgScale: 1.2;
$cardGap: 48px;
$maxCatalogWidth: 4 * $productWidth + 3 * $cardGap;
$headerHeight: 60px;
