  $button-color: #00acdc;
  $main-letters-color: #060b35;
  $dim-letters-color: #616070;
  $border-color: #f3f3f3;
  $white-color: #fff;
  $card-width: 200px;
  $card-area-width: 1024px;
  $boxshadow-color: rgba(0,0,0,0.05);
  $margin: 0 48px 46px 0;
  $animation-time: 300ms;
