$font-mein: Roboto, sans-serif;
$link-font-weight: 500;
$title-font-weight: 500;
$but-font-weight: 700;
$sum-font-weight: 700;
$text-font-weight: 400;
$sum-font-size: 16px;
$but-font-size: 14px;
$text-font-size: 12px;
$text2-font-size: 10px;
$line-height-1: 18px;
$line-height-2: 14px;
$border-width: 1px;
$border-style: solid;
$color-mein-accent: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$text-color-accent: #34568b;
$white-color: #fff;
$transition-time: 300ms;
$catalog-padding-vertical: 50px;
$catalog-padding-horizontal: 40px;
$header-logo-width: 40px;
$header-logo-height: 40px;
$map-width: 200px;
$column-gap: 48px;
$row-gap: 46px;
$card-image-width: 160px;
$card-image-height: 134px;
$star-size: 16px;
$stars-margin-right: 4px;
$nav-link-height: 60px;
$nav-item-margin-left: 20px;
$link-after-height: 4px;
$link-after-width: 100%;
$but-margin: 16px;
$but-width: 166px;
$but-height: 40px;
$but-border-radius: 5px;
$but-line-height: 16px;
$title-margin-horizont: 16px;
$code-mar-top: 4px;
$code-mar-hor: 16px;
$code-mar-bot: 16px;
$image-mar-top: 32px;
$image-mar-hor: 19px;
$image-mar-bot: 40px;
$reviews-mar-hor: 16px;
$reviews-mar-bot: 24px;
$header-pad-hor: 50px;
