.is-active {
  color: #00acdc;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37px;
    height: 4px;
    background: #00acdc;
    border-radius: 8px;
  }
}
