.is-active {
  font-weight: 500;
  color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: 2px;
    background-color: $primary-color;
  }
}
