@media (max-width: 1023px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }

  .header {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .nav__list {
    display: flex;
  }
}

@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }

  .header {
    padding: 10px 0;
  }
  .nav__list {
    display: none;
  }

}

@media (max-width: 487px) {
  .catalog {
    grid-template-columns: repeat(1, 200px);
  }
}
