// nav
$link-color-static: black;
$link-color-hover: #00acdc;

// product
$prod-border-color: #f3f3f3;

$picture-size: 160px;

$button-size: 170px;
$main-link-color: #00acdc;
$secondry-link-color: #fff;
