* {
  box-sizing: border-box;
}

:root {
  --accent-color: #00acdc;
  --main-accent: #060b35;
  --secondary: #616070;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--main-accent);
  margin: 0;
  scroll-behavior: smooth;
}
