$width_block_products: 944px;
$margins_block_products: 50px auto 78px;
@import "mixins";

.all-products {
  @include flex_centered_main_axis_sb;
  margin: $margins_block_products;
  width: $width_block_products;
  flex-wrap: wrap;

}
