*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: $text-color;
  background-color: $background-white;
}
