@import 'reset';
@import 'variables';

// prettier-ignore
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

body {
  margin: 0;
  overflow-x: hidden !important;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.main {
  max-width: 944px;
  padding: 0 50px;
  margin: 0 auto;
}
