* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #000;
  font-size: 12px;
}

$color_dark-purple: #060b35;
$color_white-grey: #616070;
$color_blue: #00acdc;
$color_white: #fff;

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
