html {
  font-family: Roboto, sans-serif;
  line-height: 1;
  color: #000;
  font-size: 12px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
