$font-family: roboto, sans-serif;
$height-heder: 60px;
$width-header: 100%;
$line-height-header: 60px;
$font-size-header: 12px;
$color-header: #060b35;
$bg-color-header: #fff;
$size-header-logo: 40px;
$font-size-cards: 10px;
$width-card: 200px;
$line-height: 14px;
$card-bor-color: #f3f3f3;
$title_review-count_price-color: #060b35;
$code_pr-label-color: #616070;
$card-bg_buy_hover-bg-color: #fff;
$buy-bor-bg_hover-color: #00acdc;
