@import "palette.scss";
@import "typography.scss";

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 40px 0;
  margin-bottom: 78px;
  max-width: 1024px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 29px 14px 15px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
  }

  &__item--shift {
    margin-right: 48px;
    margin-bottom: 49px;
  }

  &__item:nth-child(4),
  &__item:last-child {
    margin-right: 0;
  }

  &__photo-place {
    width: 160px;
    margin: 0 auto 42px;
  }

  &__photo {
    width: 160px;
    height: 134px;
  }

  &__product-info {
    font-weight: $font-weight-medium;
    font-size: $font-size-semi-medium;
    margin-bottom: 7px;
    line-height: 15.47px;
  }
  &__product-code {
    margin-bottom: 15px;
    line-height: 12.89px;
  }

  &__rating,
  &__price {
    display: flex;
    justify-content: space-between;
  }

  &__stars-star {
    background: url(../images/star-active.svg) no-repeat center;
    width: 15px;
    margin-right: 4px;
  }

  &__stars {
    display: flex;
    height: 15px;
  }

  &__reviews {
    display: flex;
    align-items: center;
    line-height: 12.89px;
  }

  &__rating {
    margin-bottom: 21px;
  }

  &__price {
    align-items: baseline;
    margin-bottom: 20px;
  }

  &__price-number {
    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    line-height: 18.75px;
  }

  &__price-word {
    line-height: 12.89px;
  }

  &__button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: $color-primary;
    border-radius: 5px;
  }

  &__button-link {
    color: $white;
    font-size: $font-size-medium;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $font-weight-bold;
    padding: 11px 57px;
    line-height: 16.41px;
  }

  &__button-buy:hover {
    background-color: $white;
    border: 1px solid  $color-primary;
  }
  
  &__button-link:hover {
    color: $color-primary;
  }

  &__stars--0 &__stars-star:nth-child(n + 1),
  &__stars--1 &__stars-star:nth-child(n + 2),
  &__stars--2 &__stars-star:nth-child(n + 3),
  &__stars--3 &__stars-star:nth-child(n + 4),
  &__stars--4 &__stars-star:nth-child(n + 5) {
    background: url(../images/star.svg) no-repeat center;
  }
}
