.is-active {
  color: $color-primary;

  &::before {
    content: "";
    width: 36px;
    height: 4px;
    background-color: $color-primary;
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}



