@mixin flexBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.block {
  @include flexBlock;
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1024px;
  box-sizing: border-box;

  &__item {
    box-sizing: border-box;
    max-width: 200px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
  }
}
