@import "typography.scss";
@import "palette.scss";

.nav {
  display: flex;
  position: relative;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    margin-right: 20px;
    padding: 0;
  }

  
  &__item:last-child {
    margin: 0;
  }

  &__link {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 23px 0;
    text-align: center;
    width: 100%;

    &--is-active {
      color: $color-primary;
    
      &::before {
        content: "";
        width: 36px;
        height: 4px;
        background-color: $color-primary;
        border-radius: 8px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    
  }
  
  &__link:hover {
    color: $color-primary;
  }

}
