.main {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  font-weight: 400;
  margin: auto;
  padding: 50px $side-padding;
  width: $width-set-card;

  &__card {
    display: block;
    max-width: $width-card;
    max-height: $height-card;
    margin-right: $margin-between-cards;
    margin-bottom: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
  }
}
