$color-blue: #00acdc;
$color-white: #fff;

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

h1,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
