@import "variables";

.body__header {
  height: 60px;
  display: flex;
}

.body__main {
  display: flex ;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 4 * $cardWidth + 6 * $gapX + 2 * $paddingX;
}
