.btn {
  display: block;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: $btn-bg-color;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 700;
  transition: all 300ms ease;

  &:hover {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid $btn-bg-color;
    color: $btn-bg-color;
  }
}
