.button {
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: var(--blue-accent, #00acdc);
  cursor: pointer;
  border: 2px solid transparent;

  color: var(--white, #fff);
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
  line-height: 16px;
  text-transform: uppercase;

  transition: background 0.3s;
}

.button:hover {
  color: var(--blue-accent, #00acdc);
  border-radius: 5px;
  background: #fff;
  border: 1px solid #00acdc;
}
