@import 'variables';

.button {
  display: block;
  width: $button-width;
  height: $button-height;
  border: 1px solid $button-main-color;
  border-radius: $button-border-radius;
  color: rgba(255, 255, 255, 1);
  background: $button-main-color;

  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;

  transition:
    color 0.3s,
    background-color 0.3s;

  &:hover,
  &:focus {
    background-color: #fff;
    color: #00acdc;
    transition:
      color 0.3s,
      background-color 0.3s;
  }
}
