.card-action-buy-button {
  display: flex;
  justify-content: center;
  flex-basis: 168px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: var(--hover-color-2);
  text-decoration: none;
  text-align: center;
  background: var(--hover-color-1);
  border-radius: 5px;

  &:hover {
    color: var(--hover-color-1);
    background: var(--hover-color-2);
    border: 1px solid var(--hover-color-1);
  }
}
