.card-action-buy-button {
  display: flex;
  justify-content: center;
  flex-basis: 168px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: $hover-color-2;
  text-decoration: none;
  text-align: center;
  background: $hover-color-1;
  border-radius: 5px;

  &:hover {
    color: $hover-color-1;
    background: $hover-color-2;
    border: 1px solid $hover-color-1;
  }
}
