@import "variables";
@import "mixins";

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  background-color: $buy-btn-color;
  text-transform: uppercase;
  text-decoration: none;
  @include border(1px, solid, $buy-btn-color);
  border-radius: 5px;
  transition: all 0.1s ease-in;

  &:hover {
    color: $buy-btn-color;
    background-color: #fff;
  }
}
