.button {
  outline: none;
  border: none;
  width: 170px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #00acdc;
  border-radius: 5px;

  &:hover {
    background: #fff;
    color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
  }
}
