.button {
  border: none;
  font-family: Roboto, sans-serif;
  margin-top: $pad-box;
  margin-bottom: $pad-box;
  width: 100%;
  height: #{$size-40};
  border-radius: 5px;
  background-color: #{$color-link};

  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  transition: 0.8s;

  &:hover {
    transition: 0.8s;
    border: 1px solid #{$color-link};
    background-color: #fff;
    color: #{$color-link};
  }
}
