.buy-button {
  width: 170px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  background-color: $moyo-blue;
  border-radius: 5px;
  border: 1px solid $moyo-blue;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.buy-button:hover {
  background-color: white;
  color: $moyo-blue;
}
