.buy-button {
  @include flex;
  justify-content: center;
  background: $blue-color;
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  width: 170px;
  height: 40px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.7s, color 0.7s, border 0.7s;
}

.buy-button:hover {
  background-color: transparent;
  color: $blue-color;
  border: 1px solid $blue-color;
}
