.buy__link {
  display: block;
  text-align: center;

  line-height: 16px;
  padding: 11px 16px;

  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #fff;

  text-decoration: none;
  text-transform: uppercase;

  background-color: $hover-link-color;
  border: 1px solid $hover-link-color;
  border-radius: 5px;

  transition: all 0.4s linear;

  &:hover {
    color: $hover-link-color;
    background: #fff;
  }
}
