.card {
  box-sizing: border-box;
  width: $cardWidth;

  padding: 32px 16px 16px;

  background: $generalGardBgc;
  border: 1px solid $cardBorderColor;
  border-radius: 5px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $main-color;
  }

  &__code {
    margin-bottom: $cardMarginBottom;
    color: $secondary-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: flex-end;
  }

  &__rating-reviw {
    font-weight: 400;
    color: $main-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $cardMarginBottom;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: $secondary-color;
  }

  &__price-number {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $main-color;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 40px;

    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    background-color: $cardsBackgoundColor;
    border: 1px solid $cardsBackgoundColor;
    border-radius: 5px;

    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $cardsBackgoundColor;
      background-color: #fff;
    }
  }
}
