.card-marginer {
  margin-right: 48px;
}

.card-marginer:nth-child(4n) {
  margin-right: 0;
}

.card-marginer:nth-child(n + 5) {
  margin-top: 50px;
}

.card {
  width: 200px;
  padding: 15px 14px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #fff;
}

.card__imac-image {
  height: 134px;
  width: 160px;
  margin: 15px 0 0 5px;
}

.card__imac-heading {
  margin: 41px 0 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.card__link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.card__link:hover {
  text-decoration: underline;
}

.card__product-code {
  font-size: 11px;
  margin-top: 5px;
}

.card__rate-block {
  height: 15px;
  margin: 17px 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.card__stars-block {
  display: flex;
}

.card__star {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  background: url(../images/star.svg) no-repeat;
}

.card__review {
  font-size: 11px;
  height: 12px;
  margin: -1px 0 0;
}

.card__price-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 18px;
}

.card__price-incription {
  font-size: 11px;
}

.card__price {
  font-weight: bold;
  font-size: 16px;
}

.card__buy-button {
  height: 40px;
  width: 170px;
  background-color: #00acdc;
  border-radius: 5px;
  border: 1px solid #00acdc;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.1s;
}

.card__buy-button:hover {
  color: #00acdc;
  background: #fff;
}
