.cards-container {
  padding: 50px 40px;
  display: grid;
  gap: 46px 48px;

  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 200px);
}

@media (min-width: 488px) {
  .cards-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 200px);
  }
}
