.goods {
  margin-top: 50px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 202px;
  height: 403px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;

  &__picture-link {
    margin: 13px auto 36px;
    width: 97%;
  }

  &__picture {
    width: 100%;
  }
  
  &__title {
    margin-top: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
  }
  
  &__code {
    margin-top: 6px;
    font-size: 11px;
  }
}
    
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  &__comment {
    padding-bottom: 0;
    font-size: 11px;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;

  &__label {
    font-size: 11px;
  }

  &__price {
    font-weight: bold;
    font-size: 16px;
  }
} 
