html,
h1,
h2,
p {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.cards {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 46px 48px;
  justify-content: center;
  align-items: center;

  @media (min-width: 488px) {
      grid-template-columns: repeat(2, 200px);
    }

  @media (min-width: 768px) {
      grid-template-columns: repeat(3, 200px);
    }

  @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 200px);
    }
}


