@import "variables.scss";

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 4 * $cardWidth + 3 * $cardGap;
  
  &__position {
    margin: 0 auto;
  }
  &__container {
    width: $cardWidth;
    margin-bottom: 50px;
    padding: 0 14px 15px;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  &__container:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
  
  &__image {
    width: 170px;
    height: 164px;
    padding: 12px 2px;

    margin: 15px 0 26px;
    border: 3px solid #fff;
    transition: transform 1s;

    &:hover {
      border: 3px solid #f3f3f3;
      transform: scale(1.2);
    }
  }
  
  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  
  &__code-name {
    font-size: $normalFontSize;
    line-height: 13px;
    margin-bottom: 15px;
  }
  
  &__rating {
    display: flex;
    justify-content: space-between;
  }
  
  &__stars {
    display: flex;
    margin-bottom: 20px;
  }
  
  &__votes {
    font-size: $normalFontSize;
    line-height: 13px;
  }
  
  &__price {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__prise-cost {
    font-size: $normalFontSize;
    margin-top: 3px;
  }
  
  &__prise-value {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  
  &__button {
    height: 40px;
    width: 100%;
    background-color: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;
  
    font-family: inherit;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  
    cursor: pointer;

    transition: color 300ms, background-color 300ms;
  }
  
  &__button:hover {
    background-color: #fff;
    color: #00acdc;

  }
}

@media (min-width: 1199px) {
  .card {
    width: 1200px;
    padding: 0 128px;
  }
}

@media (max-width: 1024px) {
  .card {
    width: 1024px;
    padding: 0 40px;
  }
}
