.text-Main {
  transition-duration: $duration;
  color: $Main-accent;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 40px 0 0;
}

.text-Secondary {
  color: $Secondary;
  font-size: 10px;
  line-height: 14px;
  margin: 4px 0 0;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  line-height: 18px;

  &__text {
    color: $Secondary;
    font-size: 12px;
    font-weight: 400;
  }

  &__value {
    color: $Main-accent;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
  }
}

.rating {
  display: flex;
  margin-top: 16px;
  width: 100%;
  height: 16px;
  justify-content: space-between;

  &__text {
    color: $Main-accent;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    align-self: flex-end;
  }
}

.button {
  width: 166px;
  height: 40px;
  margin-top: 16px;
  border-radius: 5px;
  line-height: 16px;

  &__href {
    padding: 12px 69.5px;
    border-radius: 5px;
    background-color: $Blue-accent;
    display: block;
    text-align: center;
    transition-duration: 300ms;

    color: $White;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      border: 1px solid $Blue-accent;
      background-color: $White;
      color: $Blue-accent;
      padding: 11px 68.5px;
    }
  }
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  transition-duration: $duration;

  border-radius: 5px;
  border: 1px solid $CardBorder;
  background-color: $White;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover .text-Main {
    color: $DarkBlue-accent;
  }
}
