.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 48px 46px;
  padding: 50px 40px;
  justify-content: center;
  place-items: center;
  max-width: calc(200px * 4 + 36px * 4);
  margin: 0 auto;
}

@media (min-width: 488px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
