.card {
  width: 100%;
  padding: 32px 16px 16px;
  border: 1px solid $colorborder;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  background-color: $colorwhite;
  box-sizing: border-box;

  &__image {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $colorblack;
  }

  &__code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin: 0 0 16px;
    color: $colorgrey;
  }

  &__reviews_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $colorblack;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $colorgrey;
  }

  &__price-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $colorblack;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    background-color: $colorblue;
    border-radius: 5px;
    color: $colorwhite;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid $colorblue;
    text-decoration: none;
  }

  &__button:hover {
    background-color: $colorwhite;
    border: 1px solid $colorblue;
    border-radius: 5px;
    color: $colorblue;
  }
}
