.card-container {
  box-sizing: border-box;
  margin: auto;
  display: grid;
  grid-template-rows: $card-height $card-height;
  grid-template-columns: $card-width $card-width $card-width $card-width;
  gap: 46px 48px;
  justify-content: center;
  padding-top: 50px;
}
