@import "variables";

.cards {
  width: $card-width;
  padding: 30px 15px 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 48px;
  
  &:nth-child(4) {
    margin-right: 0;
  }

  &:nth-child(8) {
    margin-right: 0;
  }

  .card__logo {
    display: block;
    width: 160px;
    margin: 0 auto;
  }

  .card__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 45px;
  }

  .card__code {
    padding-top: 6px;
    @include small-font;
  }
  
  .rating {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

    .rating__stars {
      display: flex;
      justify-content: flex-start;
    
      .rating__stars--active {
        background-image: url(../images/star-active.svg);
        @include star-position;
      }
      
      .rating__stars--deactive {
        background-image: url(../images/star.svg);
        @include star-position;
      }
    }

    .rating__feedbacks {
      @include small-font;
    }
  }

  .price-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .price-section__left {
      @include small-font;
    }
      
    .price-section__right {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    margin-top: 20px;
    background: $main-blue-color;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;

    .card__btn--buy {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &:hover {
      background: #fff;
      box-sizing: border-box;
      border: 1px solid $main-blue-color;
      border-radius: 5px;
      color: $main-blue-color;
    }
  }
}
