.card {
  width: $card-width;
  font-family: inherit;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #F3F3F3;
  background: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 300ms linear, color 300ms linear;

  &__img {
    display: block;
    width: $img-width;
    height: $img-height;
    margin: 16px 0 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    color: $color-main-accent;
    margin-bottom: 4px;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 16px;
  }

  &__block-price {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 16px;
  }

  &__price {
    font-size: 12px;
    line-height: 18px;

    &-number {
      color: $color-main-accent;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }
  
  &__button-buy {
    color: $color-white;
    background-color: $color-blue-accent;
    height: 40px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;

    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    transition: background-color 300ms linear, color 300ms linear;

    &:hover {
      border: 1px solid $color-blue-accent;
      color: $color-blue-accent;
      background-color: $color-white;
    }
  }

  &:hover {
    transform: scale(120%);
  }

  &:hover &__title {
    color: $color-darkblue-title;
  }


}
