.container__card {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;
  height: 408px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px 16px;
  transition: transform 300ms;
}

.container__imac {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.container__imac-title {
  color: var(--main-accent);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
}

.container__imac-code {
  color: var(--secondary);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  align-self: flex-start;
  margin-bottom: 16px;
}

.container__review {
  color: var(--main-accent, #060b35);
  font-size: 10px;
  font-weight: 400;
  align-self: flex-end;
  margin: -38px 0 25px;
}

.container__price {
  color: var(--secondary);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
}

.container__title-price {
  color: var(--main-accent);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin: 0 82px 16px;
}

.container__button {
  flex-shrink: 0;
  width: 166px;
  display: block;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  border-radius: 5px;
  background: var(--blue-accent);
  text-decoration: none;
}

.container__button:hover {
  color: var(--blue-accent);
  line-height: 38px;
  background: #fff;
  border: 1px solid var(--blue-accent);
}

.container__card:hover {
  transform: scale(1.2);
}

.container__card:hover .container__imac-title {
  color: #34568b;
}
