@import '../varibles';
@import './modifaer';
@import '..//optimization';
@import './stars';
@import './/card';

.container {
  box-sizing: border-box;
  margin: 0;
  padding-top: 50px;
  padding-inline: 40px;
  display: grid;

  justify-items: center;
  justify-content: center;
  gap: 46px 48px;

  @include adaptiv-catalog-greed($small-skreen, $col-umns-small);
  @include adaptiv-catalog-greed($mes-screenn, $col-umns-med);
  @include adaptiv-catalog-greed($large-screen, $col-umns-big);
}
