.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-template-rows: auto;
  gap: 46px 48px;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;

  @include on-mobile {
    grid-template-columns: $card-width;
  }

  @include on-ipad {
    grid-template-columns: repeat(2, $card-width);
  }

  @include on-tablet {
    grid-template-columns: repeat(3, $card-width);
  }

  @include on-laptop {
    grid-template-columns: repeat(4, $card-width);
  }
}
