.row__item {
  margin-bottom: 50px;
}

.card {
  width: 200px;
  padding: 30px 14px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $color-background;
  border: $card-border-color;
  border-radius: 5px;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-top: 45px;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-s;
    line-height: 15px;
  }

  &__code {
    align-self: flex-start;
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
  }

  @import "stars";

  &__reaction {
    @include position;
    width: 100%;
    margin-top: 15px;
    align-items: center;
  }

  &__comment {
    font-size: 11px;
    line-height: 13px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 20px;

    font-size: 11px;
    line-height: 13px;
  }

  &__cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__buy {
    width: 100%;
    height: 40px;
    margin-top: 20px;

    text-align: center;
    line-height: 40px;

    background: $color-link;
    border-radius: 5px;
    border: 1px solid $color-link;
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: $color-background;
  }

  &__buy:hover {
    background: $color-background;
    border: 1px solid $color-link;
    
    .card__link {
      color: $color-link;
      line-height: 40px;
    }
  }
}
