.card {
  display: flex;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  border: $card-border;
  border-radius: 5px;
  flex-direction: column;

  &__image {
    display: flex;
    height: 134px;
    width: 160px;
    margin: 0 auto;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-accent-color;
    margin: 40px auto 4px;
  }

  &__product-code {
    display: flex;
    color: $secondary-color;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 16px;
  }

  &__price-block {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 12px;
    margin: 0;
    color: $secondary-color;

    &-value {
      font-weight: 700;
      font-size: 16px;
      margin: 0;
      color: $main-accent-color;
    }
  }

  &__link {
    display: flex;
    width: 166px;
    padding: 12px 0;
    background-color: $blue-accent-color;
    border-radius: 5px;
    margin: auto;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &:hover {
      box-sizing: border-box;
      background-color: #fff;
      padding: 11px 0;
      border: 1px solid $blue-accent-color;
      color: $blue-accent-color;
    }
  }

  &__rate-section {
    display: flex;
    flex-basis: 16px;
    margin-bottom: 24px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin: 0;
  }
}
