.cards-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: $card-margin-bottom * 2 + $card-height * 2;
  max-width: $card-width * 4 + $card-margin-right * 3;
}
