.card {
  width: 200px;
  height: 408px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  transition-duration: $duration;

  border-radius: 5px;
  border: 1px solid $CardBorder;
  background-color: $White;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
  }

  &__title {
    transition-duration: $duration;
    color: $Main-accent;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 40px;
  }

  &__code {
    color: $Secondary;
    font-size: 10px;
    line-height: 14px;
    margin-top: 4px;
  }

  &__rating {
    display: flex;
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
  }

  &__reviews {
    color: $Main-accent;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    align-self: flex-end;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    line-height: 18px;
  }

  &__text {
    color: $Secondary;
    font-size: 12px;
  }

  &__value {
    color: $Main-accent;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
  }

  &__href {
    margin-top: 16px;

    padding: 11px 69px;
    border-radius: 5px;
    background-color: $Blue-accent;
    display: block;
    text-align: center;
    transition-duration: 300ms;
    transition-property: background-color;

    color: $White;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $Blue-accent;
      background-color: $White;
      color: $Blue-accent;
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover &__title {
    color: $DarkBlue-accent;
  }
}
