.stars {
  display: flex;
}

.stars-star {
  height: 16px;
  width: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:not(:last-child) {
    margin-right: 4px;
  }

  @for $value from 1 through 5 {
    .stars--#{$value} &:nth-child(-n + #{$value}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
