.card__box-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00acdc;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  color: #000;
  &:hover {
    background: #fff;
    border: 1px solid #00acdc;
  }
  &:hover a {
    color: #00acdc;
  }
}

.basket__link {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
}
