@import "variables";
@import "mixins";

.card__button {
  background-color: #00acdc;
  border-radius: 5px;
  border: 1px solid #00acdc;
  text-align: $centerPosition;
  text-transform: uppercase;
  width: 170px;
  height: 40px;
  font-size: 14px;
  font-weight: $largeFontWeight;
  font-family: $serviceFonts;
  line-height: 40px;
  text-decoration: none;
  color: $mainLightColor;

  &:hover {
    background-color: $mainLightColor;
    color: $mainBlueColor;
  }
}
