.card {
  width: 200px;
  padding: 30px 14px 15px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img {
    width: 160px;
    height: 134px;
    margin: 0 auto 45px;

    background-image: url(../images/imac.jpeg);
    background-size: 160px 134px;
    background-repeat: no-repeat;
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__code {
    display: block;
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__stars {
    display: flex;
  }

  &__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__stars &__star:nth-child(-n+4) {
    background-image: url(../images/star-active.svg);
  }

  &__price {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__sum {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
  }

  &__buy {
    display: block;
    width: 170px;
    height: 40px;

    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $color-btn;
    color: white;
    border-radius: 5px;

    &:hover {
      background: #fff;
      color: $color-btn;
      border: 1px solid $color-btn;
      border-radius: 5px;
    }
  }
}
