
.card-container {
  --grid-columns: 1;
  display: grid;
  padding: 50px 40px;
  grid-template-columns: repeat(var(--grid-columns), 200px);
  column-gap: 48px;
  row-gap: 46px;
  justify-content: center;

  @media (min-width: 488px) {
    --grid-columns: 2;
  }

  @media (min-width: 768px) {
    --grid-columns: 3;
  }

  @media (min-width: 1024px) {
    --grid-columns: 4;
  }

}
