.card {
  box-sizing: border-box;
  width: $card-size;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 32px var(--elements-position) 16px var(--elements-position);
  border: 1px solid #e5e5e5;
  transition: all 300ms linear;
  height: $card-height;

  &__photo {
    display: flex;
    margin-left: 3px;
    width: 160px;
    height: 134px;
    align-items: center;
  }
 
  &__description-product {
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    margin: 40px 0 4px;
  }
 
  &__description-code {
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    color: var(--thin-color);
  }

  &__price {
    display: flex;
    line-height: 18px;
    text-align: center;
    justify-content: space-between;
  }
  
  &__price-price {
    font-size: 12px;
    color: #616070;
    font-style: normal;
    font-weight: 400;
  }

  &__price-count {
    font-weight: 700;
    font-size: 16px;
  }
  
  &__button {
    box-sizing: border-box;
    border: #00acdc 1px solid;
    margin-top: var(--elements-position);
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    padding: 11px 70px;
    text-transform: uppercase;
    background-color: var(--use-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    line-height: 16px;
  }
  
  &__button:hover {
    background-color: #fff;
    color: var(--use-color);
  }
  
  &__stars-viewed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 24px;
  }
  
  &__viewed {
    font-size: 10px;
    font-weight: 400;
  }
  
  &__stars {
    display: flex;
  }
  
  &__stars-star {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background: center no-repeat url(../images/star.svg);
  }
  
  &__stars--1 &__stars-star:nth-child(-n + 1),
  &__stars--2 &__stars-star:nth-child(-n + 2),
  &__stars--3 &__stars-star:nth-child(-n + 3),
  &__stars--4 &__stars-star:nth-child(-n + 4),
  &__stars--5 &__stars-star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
