.cards {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  grid-gap: 50px;

  &__item {
    width: 200px;
    border: 1px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 5px;
  }

  &__img {
    margin: 20px auto 30px;
    width: 160px;
    padding: 15px 0;
    box-sizing: border-box;
    transition: padding 1s, transform 1s;
    display: block;
    border: 3px solid transparent;

    &:hover {
      border: 3px solid #f3f3f3;
      border-radius: 4px;
      transform: scale(1.25);
    }
  }

  &__case {
    margin: 0 15px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 6px;
  }

  &__cod {
    margin: 6px 0 15px;
  }

  &__review {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__button {
    text-decoration: none;
    color: white;
    border: none;
    width: 170px;
    height: 40px;
    background: #00acdc;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: background 0.3s, color 0.3s, border 0.3s;

    &:hover {
      box-sizing: border-box;
      background: white;
      color: #00acdc;
      border: 1px solid #00acdc;
      border-radius: 5px;
    }

    &--word {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
