* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.product {
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 32px 16px 16px;

  border-radius: 5px;
  border: 1px solid var(--Grey-elemnts);
  background-color: var(--White);

  transition-duration: 0.3s;
  transition-property: all;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto;
  }

  &__name {
    margin-top: 40px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--Main-accent);
  }

  &:hover &__name {
    color: var(--hoverText);
  }

  &__id {
    margin-top: 4px;

    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: var(--Secondary);
  }

  &__statistic {
    justify-content: space-between;
    align-items: center;
    display: flex;

    margin-top: 16px;
  }

  &__review {
    text-align: right;
    font-size: 10px;
    line-height: 14px;
    color: var(--Main-accent);
  }

  &__price {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;

    margin-top: 24px;
  }

  &__price-count {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--Main-accent);
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: var(--Secondary);
  }

  &__button-buy {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border-radius: 5px;
    background-color: var(--Blue-accent);

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--White);

    &:hover {
      border: 1px solid var(--Blue-accent);
      background-color: var(--White);
      color: var(--Blue-accent);
    }
  }
}
