@import "variables";

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 403px;
  width: 200px;
  margin-bottom: 50px;
  padding: 15px 14px;
  font-size: $font-size-small;
  line-height: 13px;
  border: 1px solid $color-border;
  border-radius: 5px;

  &__image {
    align-self: center;
    width: 166px;
    height: 164px;
    padding: 12px 0;
    margin: 0 auto 30px;
    border: 3px solid transparent;
    transition: transform 1s;
  }

  &__image:hover {
    border-color: $color-border;
    transform: scale(1.2);
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: $font-size-basic;
    line-height: 15px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rate-tile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__price-value {
    font-weight: bold;
    font-size: $font-size-big;
    line-height: 19px;
  }

  &__buy-button {
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    font-weight: bold;
    font-size: 14px;
    background-color: $color-blue;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid $color-blue;
  }

  &__buy-button:hover {
    background-color: $color-white;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}

.card__price,
.card__rate-tile {
  margin-bottom: 20px;
}
