.container-catalogy {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); // Default: 1 column
  gap: 48px 46px;
  max-width: 1024px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr); // 2 columns from 488px
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr); // 3 columns from 768px
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); // 4 columns from 1024px
  }
}
