.catalogue {
  box-sizing: border-box;
  background-color: #fff;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    &-item {
      margin-bottom: 48px;
      margin-right: 50px;
      padding: 0;
      width: 21%;
      list-style: none;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }

  @include respond-to(0) {
    padding: 51px 41px;
  }

  @include respond-to(1200px) {
    padding: 51px 129px;
  }
}