
.catalog-page {
  font-family: "Roboto", sans-serif;

  &__header {
    margin-bottom: 50px;
  }

  &__content-wrap {
    display: flex;
    justify-content: center;
  }

  &__content {
    width: 944px;
  }
}
