.catalog {
  max-width: $catalog-max-width;
  display: grid;
  justify-items: center;
  margin-inline: auto;
  grid-template-columns: 1fr;
  gap: 46px $catalog-column-gap;
  padding: 50px 40px;
  transition: 300ms;

  @include on-tablets {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include largest-screens {
    grid-template-columns: repeat(4, 1fr);
  }
}
