.catalogue {
  box-sizing: border-box;
  background-color: $c-white;
  flex-basis: 25%;
  margin: 0 auto;
  max-width: $card-size * 4 + $card-margin * 3;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;

    &-item {
      margin-bottom: $row-gap;
      margin-right: $card-margin;
      padding: 0;
      list-style: none;

      &:nth-child(4n + 4) {
        margin-right: 0;
      }

      &:nth-child(4n) {
        margin-bottom: 0;
      }
    }
  }
}
