.catalog {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:first-child {
      margin-bottom: 46px;
    }
  }

  &__card {
    display: flex;
    &:nth-last-child(-n + 4) {
      margin-right: 48px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
