.catalog {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-card-vertical $padding-card-gorizontal;
  max-width: 1200px;
  margin: 0 auto;

  &__card {
    margin-bottom: 48px;
    margin-right: $margin-right-card;
  }
}
