@import "variables";

html,
body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #000;
}

body {
  min-width: 1024px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}
