* {
  font-size: 12px;
  line-height: 14px;
  color: $primary-color;
  box-sizing: border-box;
  font-weight: 500;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
}
