* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  color: $primary-text-color;
  scroll-behavior: smooth;
}

ul,
li,
a,
p {
  list-style: none;
  text-decoration: none;
  margin: 0;
  color: black;
  padding: 0;
}
