.container {
  --column-count: 1;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(var(--column-count), 200px);
  grid-gap: 46px 48px;
  place-content: center;

  padding: 50px 40px;
}

@media (min-width: 488px) {
  .container {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .container {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .container {
    --column-count: 4;
  }
}
