.products__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(1, auto);
  gap: 46px 48px;
  place-content: center;
  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, auto);
  }
}
