.content {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__width {
    display: flex;
    justify-content: center;
  }

  $cardWidth: 200px;
  $columns: 4;
  $paddingX: 50px;

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: ($cardWidth * $columns) + ($paddingX * ($columns - 1));
  }
}
