.card {
  justify-content: center;
  display: grid;
  padding: 0 88px;

  &__container {
    justify-content: center;
    align-items: center;
    display: grid;

    padding-top: 50px;
    padding-bottom: 72px;

    row-gap: 46px;
    column-gap: 48px;

    @include resolutionOption;
  }

  &__item {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 32px 16px 0;
    width: $card-width;

    transition: transform $translate-duration;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__img {
    margin: 0 3px;
    height: 134px;
    width: 160px;
  }

  &__text {
    margin-top: 37px;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 500;

    color: $content__main-color;

    &:hover {
      color: $text-hover-color;
    }
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;

    color: $sec-color;
  }

  &__rate {
    @include space;

    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__rewiews {
    margin-left: 13px;

    font-size: 10px;
    line-height: 14px;
    font-weight: 400;

    color: $content__main-color;
  }

  &__price {
    @include space;

    margin-bottom: 16px;
  }

  &__price-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: $sec-color;
  }

  &__price-amount {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    color: $content__main-color;

  }

  &__buy-button {
    justify-content: center;
    align-self: center;
    display: flex;
    height: 40px;
    width: 166px;
    margin-bottom: 16px;
    border-radius: 5px;

    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    color: $background-color;
    background-color: $button-color;
  }

  &__buy-button:hover {
    border: 1px solid $button-color;

    background-color: $background-color;
    color: $button-color;
  }
}
