.container-product {
  --colunm-count: $colunm-count;
  margin-top: 50px;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--colunm-count), 200px);
  gap: 46px 48px;

}

@media (min-width: 488px) {
  .container-product {
    --colunm-count: 2;
  }
}

@media (min-width: 768px) {
  .container-product {
    --colunm-count: 3;
  }
}

@media (min-width: 1024px) {
  .container-product {
    --colunm-count: 4;
  }
}
