@import "./_variables.sass";

.conteiner {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: center;
  width: calc(4 * (#{$card-width} + #{$size-margin-right}));

  &--distance {
    margin: 0 auto;
  }
}
