.main {
  margin: 0 auto;
  width: $container-size;
  padding: $main-padding 128px 0;

  flex-wrap: wrap;
  display: flex;

  @media (max-width: $middle-width) {
    & {
      padding: $main-padding 40px;
    }
  }
}
