.content {
  display: grid;
  justify-content: center;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(4, $sizeCard);
  grid-column-gap: $cardMarginX;
  grid-row-gap: $cardMarginY;
}
