.container-products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $sizeCard);
  grid-gap: $cardMarginY $cardMarginX;

  @media (max-width: $sizeCard * 4 + $cardMarginX * 3) {
    grid-template-columns: repeat(auto-fit, $sizeCard);
  }
}
