.content {
  display: flex;
  flex-wrap: wrap;
  min-width: 1024px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 50px 16px 0;
}

.content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px 50px;
  max-width: 200px;
  max-height: 408px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 5px;
}
