.cost {
  display: flex;
  align-items: center;
  width: 168px;

  &__price-words {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
    margin: 0;
  }
  
  &__price-number {
    font-size: 16px;
    margin: 0 0 0 57px;
    font-weight: 700;
    line-height: 18px;
    color: #060b35;
  }
}
