.desc {
  @include flex-column;
  align-items: flex-start;

  &__name {
    margin-bottom: 5px;
    @include normal-font;
    line-height: 15px;
  }

  &__code {
    margin-bottom: 15px;
  }

  &__rate {
    @include flex-btw;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  &__amount {
    @include bold-font;
  }
}
