@import './variables';

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__review {
    display: flex;
    color: $main-accent;
    font-size: 10px;
    font-weight: 400;

    & > p {
      margin: 0;
    }
  }

  &--margin {
    margin: 16px 16px 24px;
  }
}
