$font: "Roboto", sans-serif;

@mixin font-m {
  font-size: 12px;
  font-weight: 500;
}

@mixin font-l {
  font-weight: bold;
  font-size: 14px;
}

@mixin font-price {
  font-weight: bold;
  font-size: 16px;
}
