$font: "Roboto", sans-serif;

body {
  font-family: $font;
  font-size: 11px;
  font-weight: 400;
  margin: 0;
}

@mixin fontTitleLinks {
  font-size: 12px;
  font-weight: 500;
}

@mixin fontButton {
  font-weight: bold;
  font-size: 14px;
}

@mixin font-price {
  font-weight: bold;
  font-size: 16px;
}
