@font-face {
  font-family: Roboto, sans-serif;
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url('./fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  src: url('./fonts/roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}
