.footer {
  box-shadow: 0 -1px #e1e7ed;
  margin-top: 88px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 901px;
    margin: 0 auto;
    padding-top: 44px;
    margin-bottom: 43px;
  }

  &__title {
    margin: 0;
  }

  &__list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin-top: 9px;
  }
}
