$main-color: #00acdc;
$text-fonts: roboto, helvetica, sans-serif;
$header-height: 60px;
$logo-size: 40px;
$card-width: 200px;
$star-size: 15px;
$img-width: 160px;
$img-height: 134px;

@mixin font($size, $height, $weight) {
  font-family: $text-fonts;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin normal-font {
  @include font(11px, 13px, 300);
}

@mixin nav-font {
  @include font(12px, 14px, 500);
}

@mixin card-description-font {
  @include font(12px, 15px, 500);
}

@mixin card-link-font {
  @include font(14px, 16px, 700);
}

@mixin card-price-font {
  @include font(16px, 19px, 700);
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin transform-link {
  text-transform: uppercase;
  text-decoration: none;
}

@mixin flex-centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
