$text-font: "Roboto", sans-serif;
$theme-color: hsl(193, 100%, 43%);
$star-size: 15px;

@mixin small-text {
  font-size: 11px;
  line-height: 13px;
}

@mixin title-text {
  font-size: 12px;
  font-weight: 500;
}

@mixin bold-text {
  font-size: 16px;
  font-weight: bold;
}

@mixin nav-text {
  font-size: 12px;
  font-weight: bold;
}

@mixin button-text {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
@mixin centered {
  display: flex;
  align-items: center;
}

body {
  font-family: $text-font;
}

* {
  box-sizing: border-box;
}

@import "header";
@import "main";
@import "reset";
