@import "block_navigation.scss";
@import "block_card.scss";
@import "_typography.scss";
@import "_palette.scss";
@import "_reset.scss";
@import "block_header.scss";
@import "block_is-active.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: $font-size-small;
  font-family: $font-family;
}

body {
  max-width: 1200px;
  min-width: 1024px;
  margin: 0;
}
