@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

$font-stack: "Roboto", "Arial", sans-serif;
$primary-color: #00acdc;
$font-normal: 12px;
$font-small: 11px;
$font-middle: 14px;
$font-big: 16px;

$logo-size: 40px;

$link-height: 60px;
$link-color: #000;

$card-width: 200px;
$card-horizontal-margin: 24px;
$button-color: #fff;

$star-size: 15px;

html,
h2,
body,
ul,
a {
  font-family: $font-stack;
  font-size: $font-normal;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
}
