* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $mainFontFamily;
}

.main__container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  width: 944px;
  margin: 0 auto;
}

.main__card {
  margin-bottom: 51px;
}
