.page-with-products {
  justify-content: center;
  align-items: center;
  display: grid;

  grid-template-columns: repeat(4, $card_width);
  column-gap: 48px;
  row-gap: 46px;

  padding-top: 50px;
  padding-bottom: 72px;
}
