.container {
  display: grid;
  grid-template-columns: repeat(4,200px);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
}

.container__card:hover {
  transform: scale(1.2);
}

.container__card:hover .container__imac-title {
  color: #34568b;
}
