.main {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat($column-count, 1fr);
  width: 944px;
  justify-content: center;
  align-items: center;
  gap: 46px 48px;
  padding: 50px 40px;
  margin: 0 auto;
}

@media (min-width: 200px) {
  $column-count: 1;
}

@media (min-width: 488px) {
  $column-count: 2;
}

@media (min-width: 768px) {
  $column-count: 3;
}

@media (min-width: 1024px) {
  $column-count: 4;
}
