.grid-area {
  --column-count: 1;

  display: grid;
  height: 944px;
  max-width: 862px;
  grid-template-columns: repeat(var(--column-count), 200px);
  gap: 48px 46px;
  justify-content: center;
}

@media (min-width: 488px) {
  .grid-area {
  --column-count: 2;
  }
}

@media (min-width: 768px) {
  .grid-area {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .grid-area {
    --column-count: 4;
  }
}
