.container {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(166px, $card-width));
  gap: 46px 48px;
  justify-content: center;
}

@media (min-width:488px) {
  .container {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, $card-width);
  }
}