.header {
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $accent-begraund;
    margin: 0 auto;
  }

  &__logo {
    width: 40px;
    height: 40px;
    display: block;
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__linc {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: $accent-color;
    position: relative;
    padding: 23px 0;
  }

  &__linc:hover {
    color: $hover-color;
  }
}

.is-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: $second-begraund;
  position: absolute;
  bottom: 0;
}

.is-active {
  color: $hover-color;
}
