.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
  &__logo {
    display: flex;
  }
  
  &__nav {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0;
  }
  
  &__nav_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__nav_item {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav_link {
    font-weight: 500;
    font-size: 12px;
    line-height: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    height: 60px;
    cursor: pointer;

    &:hover {
      color: var(--color-blue);
    }
  
    &:focus {
      color: var(--color-blue);
    }
  }
}
  
.is-active {
  position: relative;
  color: var(--color-blue);

  &::after {
    position: absolute;
    top: 56px;
    width: 100%;
    content: "";
    height: 4px;
    background: var(--color-blue);
    border-radius: 8px;
    display: block;
  }
}
