.header {
  max-width: 100vw;
  width: 100%;
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.header .logo__link {
  display: flex;
}

.header .nav {
  display: flex;
}

.header .nav__list {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header .nav__link {
  text-decoration: none;
  color: #060b35;
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  transition: color 0.3s;
}

.header .nav__link:hover {
  color: #00acdc;
}

.header .nav__link.is-active {
  color: #00acdc;
}

.header .nav__link.is-active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #00acdc;
  border-radius: 8px;
}

.header .nav__link[data-qa='nav-hover'] {
  color: #00acdc;
}

.header .nav__link[data-qa='nav-hover']:hover {
  color: #00acdc;
}
