@import "variables";

.nav {
  grid-area: nav;
  line-height: 60px;

  &__item {
    display: inline;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    padding: 20px 10px;
    list-style: none;
    text-decoration: none;
    color: black;

    &:hover {
      color: rgba(0, 172, 220, 1);
    }
  }

  &__item:last-child {
    margin-right: 40px;
  }
}

.is-active {
  color: rgba(0, 172, 220, 1);

  &::after {
    content: "";
    width: 37px;
    height: 4px;
    background-color: rgba(0, 172, 220, 1);
    border-radius: 8px;
    position: absolute;
    left: 8px;
    bottom: 0;
  }
}
