@use './variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 0 50px;

  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  line-height: $line-height-small;
  text-transform: uppercase;

  &__logo {
    display: flex;
    align-items: center;

    &-img {
      width: 40px;
      height: 40px;
      object-position: center;
    }
  }
}
