@import "./product-card-styles/variables.scss";

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 0 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

.nav {

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    display: flex;
    position: relative;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    color: #060b35;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 23px 0;

    &:hover {
      color: $active-color;
    }
  }
}

.is-active {
  color: $active-color;
}

.is-active::after {
  background-color: $active-color;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 4px;
}

.logo_img {
  width: 40px;
  height: 40px;
}
