.header {
  display: flex;
  align-items: center;

  &__logo {
    height: 40px;
    width: 40px;
    margin-left: 50px;
  }

  &__logo-link {
    display: inherit;
    justify-content: center;
    align-items: center;
  }
}
