@import './variables';

:root {
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: flex;
  height: 60px;
  font-size: 12px;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  text-decoration: none;
  color: $text-color;
  transition:
    color 300ms,
    transform 300ms;
}

.is-active {
  position: relative;
  color: #00acdc;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.nav__link:hover {
  cursor: pointer;

  color: var(--blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
}

li:not(:first-child) {
  margin-left: 20px;
}
