@import "variables";
@import "mixins";

.header-nav {
  &__list {
    @include flex-container;
    padding-left: 0;
  }

  &__item {
    margin-right: 20px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    color: $base-color;

    position: relative;
    display: inline-block;
    padding: 23px 0;
    margin: 0;

    @include time-action (color);

    &:hover {
      color: $main-color;
    }
  }

  .is-active {
    color: $main-color;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      $content-height: 4px;
      height: $content-height;

      background-color: $main-color;
      border-radius: $content-height * 2;
    }
  }
}
