.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__nav {
    @include margin_zero;
  }
}

.nav {
  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    @include margin_zero;

    &_item {
      padding-left: 20px;
    }
  }

  &_link {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 23px 0;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.is-active,
.nav_link:hover {
  color: $color-btn;
}

.is-active::after {
  display: block;
  position: absolute;
  content: "";
  background-color: $color-btn;
  height: 4px;
  width: 36px;
  top: 56px;
  border-radius: 8px;
}
