.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 60px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #060b35;
  }

  &__link:hover {
    color: $color-link;
  }

  .is-active {
    color: $color-link;
    margin: 0;
    position: relative;
  }

  .is-active::after {
    content: "";
    color: $color-link;
    display: block;
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: $color-link;
    border-radius: 8px;
  }
}
