:root {
  --colors-link: rgba(0, 172, 220, 1);
}

header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-transform: uppercase;
}

.logo {
  margin: 0;
  margin-left: 50px;
  margin-top: 2px;
}

nav {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  right: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aa:nth-child(4) {
  color: var(--colors-link);
}

.aa {
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #060b35;
  line-height: 60px;
}

.aa:hover {
  color: var(--colors-link);
}

.is-active {
  color: var(--colors-link);
  position: relative;
}

.is-active::after {
  position: absolute;
  content: '';
  background-color: var(--colors-link);
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
}

nav .aa:first-of-type {
  color: var(--colors-link);
  position: relative;
}

nav .aa:first-of-type a:first-of-type::after {
  position: absolute;
  content: '';
  background-color: var(--colors-link);
  height: 4px;
  border-radius: 8px;
  bottom: 0;
  left: 0;
  right: 0;
}

nav .aa:last-child {
  margin: 0;
}
