@import "variables";

.nav {
  margin-left: auto;
  align-items: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(8, min-content);

    //&:nth-child(2) {
    //  padding-left: 20px;
    //}
    //
    &:last-child {
      margin-right: 50px;
    }
  }

  &__item {
    display: inline;
    text-transform: uppercase;
  }

  &__link {
    padding: 0 0 0 20px;
    list-style: none;
    text-decoration: none;
    color: $link_color;
    transition: 0.5s;
    display: inline-block;
    height: $header_size;
    line-height: $header_size;

    &:hover {
      color: $nav_link_color;
    }
  }

  .is-active {
    position: relative;
    padding-left: 0;
    color: $nav_link_color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0 ;

      width: 100%;
      height: 4px;

      background-color: $nav_link_color;
      border-radius: 8px;
    }
  }
}
