.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 0 50px;
  font-weight: 500;

  &__logo {
    height: 40px;
  }
}
