// #region Header
.header {
  display: flex;
  height: 60px;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 4px $header-shadow-color;
  justify-content: space-between;

  &__logo {
    margin: 10px 0 10px 50px;
  }

  &__navigation {
    display: flex;
    margin: 0;
    list-style-type: none;
    margin-right: 50px;
  }

  &__nav-section {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0 10px;

    &--last {
      margin-right: 0;
    }

    &--active {
      margin-left: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-accent-color;
    padding: 23px 0;
    margin: 0;

    &:hover {
      color: $blue-accent-color;
    }
  }
}

.logo {
  size: $logo-size $logo-size;
}

.is-active {
  color: $blue-accent-color;
  padding: 23px 0 0;

  &::after {
    content: "";
    display: flex;
    height: 4px;
    background-color: $blue-accent-color;
    border-radius: 90px;
    width: 37px;
    position: relative;
    margin-top: 19px;
    margin-bottom: 0;
  }
}

// #endregion
