.card__button:hover {
  color: $color-blue-accent;
  background-color: $color-white;
  border: 1px solid $color-blue-accent;
  transition-duration: $transition-duration;
}

.nav__item:hover {
  color: #00acdc;
  transition-duration: $transition-duration;
}

.card:hover {
  transform: scale(1.2);
  transition-duration: $transition-duration;
}

.card__name:hover {
  color: #34568b;
  transition-duration: $transition-duration;
}
