.icon {
  display: inline-block;
  width: 32px;
  height: 32px;

  &--menu {
    background: url("../images/icons/icon-burger-menu.svg")center no-repeat;
    background-size: cover;
  }

  &--close {
    background: url("../images/icons/icon-close.svg") no-repeat center;
    background-size: cover;
  }

  @include min-width {
    display: none;
  }
}
