.section__imac-card {
  margin-top: 50px;
}

.imac-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
  }

  &__name {
    margin-top: 40px;
    margin-bottom: 0;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: $main-text-color;
  }

  &__code {
    height: 14px;
    line-height: 14px;
    margin: 4px 0 0;
    padding-bottom: 8px;
    font-size: 10px;
    font-weight: 400;
    color: $secondary-text-color;
    text-align: left;
  }

  &__reviews {
    height: 10px;
    line-height: 10px;
    font-weight: 400;
    text-align: center;
    color: $main-text-color;
  }

  &__price-name {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: $secondary-text-color;
  }

  &__value {
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 16px;
    color: $main-text-color;
  }
}
