:root {
  --color-blue: #00acdc;
  --text-accent-color: #060b35;
  --text-secondary-color: #616070;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 40px;
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  margin-right: 32px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 64px;
  text-transform: uppercase;
  color: var(--text-accent-color);
  text-decoration: none;
  transition: color 300ms;
}

.nav__link:hover {
  color: var(--color-blue);
}

.nav__link.is-active {
  position: relative;
  color: var(--color-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--color-blue);
  bottom: 0;
}

.page-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.sidebar {
  padding: 50px 20px;
  border-right: 1px solid #f3f3f3;
}

.catalog {
  grid-column: 1/-1;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 46px 48px;
  padding: 50px 40px;
  justify-content: center;
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
  transition: transform 300ms;
}

.card:hover {
  transform: scale(1.05);
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
  display: block;
  object-fit: contain;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-accent-color);
}

.card:hover .card__title {
  color: #34568b;
}

.card__code {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: var(--text-secondary-color);
}

.card__review-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--text-accent-color);
}

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url('../images/star-active.svg');
}

.card__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-label {
  font-size: 12px;
  line-height: 18px;
  color: var(--text-secondary-color);
}

.card__price {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--text-accent-color);
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-blue);
  transition:
    background-color 300ms,
    color 300ms;
}

.card__buy:hover {
  background-color: #fff;
  color: var(--color-blue);
}
