.is-active {
  position: relative;
  bottom: 0;
  color: $color-hover;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $color-hover;
    border-radius: 8px;
    width: auto;
  }
}
