.is-active {
  position: relative;
  color: $button-color;
  margin: 0;
  padding: 0;

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    border-radius: 8px;
    background-color: $button-color;
    height: 4px;
    bottom: 0;
  }
}
