@use './variables' as *;

.is-active {
  color: $color-active;
  flex-direction: column;

  &::after {
    content: '';
    width: 100%;
    height: $underline-height;
    border-radius: $underline-radius;
    background: $color-active;
    position: absolute;
    bottom: $underline-bottom;
  }
}
