.card {
  text-align: left;

  &__title {
    padding-top: 17px;
    color: #060b35;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &:hover {
    color: #34568b;
  }

  &__code {
    font-weight: 400;
    color: #616070;
    margin-bottom: 16px;
  }

  &__price {
    line-height: 18px;
    width: 166px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &-name {
      text-align: left;
      color: #616070;
      font-weight: 400;
      font-size: 12px;
    }

    &-value {
      text-align: right;
      color: #060b35;
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-position: 50%;
  }

  &__star:last-child {
    margin-right: 0;
  }

  &--4 &__star:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
