body {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  background-color: #fff;
}

.product-card-wrapper {
  width: 944px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
