body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.product-card-wrapper {
  margin: 50px 128px 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include desktop {
    margin: 50px 40px;
  }
}
