.main {
  display: grid;
  box-sizing: border-box;
  justify-items: center;
  margin: 0;
  padding: 50px 40px;
  gap: 48px 46px;
  grid-template-columns: $card-width;
  overflow: visible;

  @media (min-width: $grid-small) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: $grid-middle) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: $grid-large) {
    grid-template-columns: repeat(4, $card-width);
  }

  @media (min-width: $grid-extra-large) {
    padding: 50px 40px;
  }
}
