* {
  box-sizing: border-box;
}

body,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
}

.logo {
  display: block;
  width: $logosize;
  height: $logosize;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  position: relative;
  display: block;
  padding: 23px 0;
  color: $colormain;
  transition: color 0.2s;
}

.nav__link:hover,
.is-active {
  color: $acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: $acdc;
  border-radius: 8px;
}
