@import "./variables";
@import "./mixins";

.button-buy {
  &__link-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $main-color;
    border-radius: 5px;
    width: 100%;
    height: $link-buy-height;
    @include font-bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $main-color;
    box-sizing: border-box;

    &:hover {
      background: #fff;
      color: $main-color;
    }
  }
}
