.list-item {
  margin-left: 20px;
  position: relative;
  height: 100%;

  &:first-child {
    margin-left: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $link-color;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: $mainColor;
    }
  }

}

.is-active {
  color: $mainColor;
}

.is-active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  border-bottom: 4px solid $mainColor;
  border-radius: 8px;
  bottom: 0;
  left: 0;
}
