.list-assortment {
  display: flex;
  width: $list-assortment-width;
  margin: 0 auto;
  padding: 50px 0 73px;
  justify-content: left;
  flex-wrap: wrap;
  box-sizing: border-box;

  &__card {
    margin-right: $gap-width;
    margin-top: 46px;
  
    &:nth-child(4n) {
      margin-right: 0;
    }
  
    
    &:nth-child(-n + 4) {
      margin-top: 0;
    }
  }
}
