.list {
  display: flex;

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    line-height: $nav-link-height;
    min-height: $nav-link-height;

    color: $text-main-accent;
    text-decoration: none;

    text-transform: uppercase;
    font-weight: 500;

    transition: $transition-duration;

    &:hover {
      color: $nav-color;
    }

    &--is-active {
      color: $nav-color;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 4px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 8px;
        background: $nav-color;
      }
    }
  }
}
