.listing-wrapper {
  display: flex;
  justify-content: center;
}

.listing {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;

  width: 4 * $card-width + 3 * $cards-distance-x;
  min-width: 1024px;
  padding: 50px 40px;
}
