.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  
  &__item {
    margin-left: 20px;
  }

  .list__item:first-of-type {
    margin-left: 0;
  }

  &__link {
    display: block;
    height: 60px;
    line-height: 60px;
    color: black;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &--active {
      color: #00acdc;
    }

    &--active::after {
      content: "";
      display: block;
      position: relative;
      height: 4px;
      width: 100%;
      background: #00acdc;
      border-radius: 2px;
      transform: translateY(-100%);
    }
  }
}
