* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.main__card {
  display: flex;
  min-width: 1024px;
  padding: 0 40px 56px;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}

.header__img__box {
  margin: auto;
  margin-top: 10px;
  margin-left: 50px;
}

.header__img {
  object-fit: none;
  object-position: left top center;
}

.nav {
  display: flex;
  margin-right: 50px;
}

.nav__item {
  margin-left: 20px;
}

.header__nav__link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  line-height: 60px;
}

.header__nav__link:hover {
  font-weight: 500;
  color: #00acdc;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  width: 37px;
  border-radius: 8px;
  background-color: #00acdc;
  top: 56px;
}

.nav__item:first-child {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  margin-left: 48px;
  width: 200px;
  height: 403px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: #060b35;
}

.card:first-child {
  margin-left: 0;
}

.card__image {
  display: flex;
  justify-content: center;
}

.image__img {
  margin-bottom: 40px;
  height: 134px;
  width: 160px;
}

.card__name {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}

.card__code {
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;
  color: #616070;
}

.card__fedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.stars {
  display: flex;
  height: 16px;
}

.stars__star {
  background: url(../images/star.svg) no-repeat center;
  width: 16px;
  margin-left: 4px;
}

.stars .stars__star:first-child {
  margin-left: 0;
}

.stars__star--0 .stars__star:nth-child(-n),
.stars__star--1 .stars__star:nth-child(-n+1),
.stars__star--2 .stars__star:nth-child(-n+2),
.stars__star--3 .stars__star:nth-child(-n+3),
.stars__star--4 .stars__star:nth-child(-n+4),
.stars__star--5 .stars__star:nth-child(n) {
  background: url(../images/star-active.svg) no-repeat center;
}

.fedback__content {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.price__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price__velue {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy {
  height: 40px;
  background-color: #00acdc;
  border-radius: 5px;
  text-transform: uppercase;
}

.buy__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  height: 100%;
  width: 100%;
  line-height: 16px;
  border-radius: 5px;
}

.buy__link:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

/*# sourceMappingURL=main.css.map */
