.main-catalog {
  display: flex;
  flex-direction: column;

  padding: 50px 39px 72px;

  @media (min-width:1200px) {
    padding: 50px 127px 72px;
  }

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  &__wrapper-card {
    margin-right: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
