.container {
  display: flex;

  &__goods {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 50px;
    flex-wrap: wrap;
    flex-basis: 944px;
  }

  &__card:nth-child(-n+4) {
    margin-bottom: 50px;
  }
}
