.main {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  width: $width-set-card;
  margin: 51px auto 73px;

  &__card {
    max-width: #{$width-card - ($border-card * 2)};
    max-height: 406px;
    margin-right: $margin-between-cards;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-top: 48px;
    }

  }
}
