@use '../styles/CardStyle/variables';
@use '../styles/CardStyle/star';
@use '../styles/CardStyle/card';
@use '../styles/CardStyle/index';
@use '../styles/CatalogStyle/catalog';
@use '../styles/HeaderStyle/header';
@use '../styles/HeaderStyle/nav';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
