@import "variables";

.main-content {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  &__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: ($horizontal-margin+$card-width) * 4 - $horizontal-margin;
    height: ($vertical-margin+$card-height) * 2 - $vertical-margin;
  }
}
