@import "variables";
@import "mixins";

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  width: $cardWidth * 4 + $spaceAmongCards * 3 + 2 * $cardListPadding;
  grid-gap: $spaceAmongCards;
  margin: 50px auto 0 ;
  padding: 0 $cardListPadding ;
  box-sizing: border-box;
  row-gap: 50px;
}
