@import "variables.scss";

.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 30px 14px 15px;
  &__img {
    width: 160px;
    height: 134px;
    margin: 0 5px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 45px 0 5px;
  }

  &__code {
    font-weight: normal;
    font-size: $default-size;
    line-height: $default-height;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__feedback,
  &__price-descr {
    font-style: normal;
    text-align: right;
    font-weight: normal;
    font-size: $default-size;
    line-height: $default-height;

  }

  &__rate,
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__price-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }

  &__button {
    font-style: normal;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
    padding: 12px 0 11px;
    width: 100%;
    height: 40px;
    background: $button-color;
    border-radius: 5px;
  
    &:hover {
      color: $button-color;
      background: white;
      border: 1px solid $button-color;
    }
    
  }

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);

      
  }
}
