/* reseting */
/* blocks */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* #region header */
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.navLink {
  display: inline-block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 12px;
  line-height: 60px;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.navLink:first-child {
  margin-left: 0px;
}
.navLink:hover {
  color: #00acdc;
}
.navLink.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 8px;
  height: 4px;
  width: 100%;
  background: #00acdc;
}

/* #endregion */
/* #region catalog */
.page__catalog {
  padding-top: 50px;
}

.catalog__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;
}

/*#endregion*/
/* #region product-card */
.product-card {
  width: 200px;
  border: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 32px 20px 0px;
}
.product-card__img img {
  width: 160px;
}

.info {
  margin-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
}
.info__name {
  font-weight: 500;
  line-height: 1.5;
}
.info__code {
  font-size: 10px;
  margin-top: 2px;
  font-weight: 400;
  color: #616070;
}
.info__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__price {
  display: flex;
  justify-content: space-between;
}

.reviews {
  margin-top: 16px;
}
.reviews__texted {
  font-weight: 400;
  font-size: 10px;
}

.price {
  margin-top: 24px;
}
.price__num {
  font-size: 16px;
  font-weight: 700;
}
.price__name {
  font-size: 12px;
  line-height: 1.5;
  color: #616070;
  font-weight: 400;
}

.buy {
  margin-top: 28px;
  margin-bottom: 28px;
  text-align: center;
  width: 100%;
}
.buy__button {
  background: #00acdc;
  width: 100%;
  border: none;
  padding: 12px 56px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  border: 1px solid #00acdc;
  transition: all 0.4s ease-in-out;
}
.buy__button:hover {
  background: none;
  color: #00acdc;
}

.stars {
  height: 16px;
  display: flex;
}
.stars__star {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  margin-top: 4px;
  background: center/contain no-repeat url("../images/star.svg");
}
.stars__star:first-child {
  margin-left: 0;
}

.stars--1 .stars__star:nth-child(-n+1),
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("../images/star-active.svg");
}

/* #endregion */

/*# sourceMappingURL=main.css.map */
