.main__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 944px;
  margin: 0 auto;
  padding: 50px 0;
}

.main {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin: 0 auto;

  &__card {
    display: block;
    max-width: $width-card;
    max-height: $height-card;
    margin-right: $margin-between-cards;
    margin-bottom: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
