body {
  margin: 0;

  font-family: $font-family-default;
  font-weight: $font-weight-normal;
  font-size: $font-size-xs;
  line-height: $line-height-default;
  color: $color-accent;
  background-color: $color-white;
}

.page {
  margin: 0;
}

.main {
  display: grid;
  justify-content: center;

  gap: 46px 48px;
  padding: 50px 40px;
  box-sizing: border-box;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 200px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
