* {
  font-family: Roboto, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: flex;
  margin: 0;
  width: 40px;
  height: 40px;
}

.header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.header__item {
  list-style: none;
  text-transform: uppercase;
  margin: 0 10px;
}

.header__link {
  display: flex;
  height: 60px;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #060b35;
  font-weight: 500;
  font-size: 12px;
}

.header__link:hover,
.header .is-active {
  color: #00acdc;
}

.header .is-active::after {
  content: "";
  position: absolute;
  transform: translateY(28px);
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 8px;
  background: #00acdc;
}

.catalog {
  display: flex;
  justify-content: center;
}

.catalog-center {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 1025px;
  min-width: 1024px;
}

.catalog :nth-child(4n) {
  margin-right: 0;
}

.card {
  width: 198px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-bottom: 46px;
  margin-right: 48px;
}

.card-img {
  padding: 32px 19px 36px;
  width: 160px;
  height: 134px;
}

.card-product__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0 16px;
  color: #060b35;
}

.card-product__code {
  font-weight: 400;
  font-size: 10px;
  margin-top: 4px;
  margin-bottom: 16px;
  margin-left: 16px;
  color: #616070;
  line-height: 14px;
}

.card-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card-rate__stbox {
  display: flex;
  margin-left: 16px;
}

.card-rate__stbox > :not(:last-child) {
  margin-right: 4px;
}

.card-rate__feedback {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  margin-right: 16px;
  color: #060b35;
}

.card-pricebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-pricebox__word {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  margin-left: 16px;
}

.card-pricebox__number {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  display: flex;
  font-size: 16px;
  line-height: 18px;
  margin-right: 16px;
  color: #060b35;
}

.card-buy {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 16px;
  width: 166px;
  height: 40px;
  background: #00acdc;
  color: #fff;
  border-radius: 5px;
}

.card-buy:hover {
  box-sizing: border-box;
  background: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}

.star {
  width: 16px;
  height: 16px;
  border-radius: 0.5px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars-4 :nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

/*# sourceMappingURL=main.css.map */
