main {
  --number-of-columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--number-of-columns), 200px);
  grid-gap: 46px 48px;
  justify-content: center;

  padding: 50px 40px;

  @media (min-width: 488px) {
    --number-of-columns: 2;
  }

  @media (min-width: 768px) {
    --number-of-columns: 3;
  }

  @media (min-width: 1024px) {
    --number-of-columns: 4;
  }
}
