.main-block {
  display: flex;
  padding: $main-block-padding-top
    $main-block-padding-side
    $main-block-padding-bottom
  ;
  flex-wrap: wrap;
  max-width: $main-block-width;
  min-width: $main-block-width;
  margin: 0 auto;
}
