.main {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  width: $width-set-card;
  padding: 50px $side-padding 73px;
  margin: auto;

  &__card {
    display: block;
    max-width: #{$width-card - ($border-card * 2)};
    max-height: $height-card;
    margin-right: $margin-between-cards;
    margin-bottom: 48px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
