.main {
  padding: 50px 0 72px;
  min-width: $__main-min-width;

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $__width-catalog;

    margin-left: calc((100% - 1024px) / 2 + 40px);
    margin-right: calc((100% - 1024px) / 2 + 40px);

    @media (min-width: 1200px) {
      margin-left: calc((100% - 1200px) / 2 + 128px);
      margin-right: calc((100% - 1200px) / 2 + 128px);
    }
  }

  &__card {
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
