
html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.page {
  margin: auto;

  &__main {
    width: 944px;
    height: 862px;
    margin: auto;
    padding: 50px 0;

    @media(width: 1024px) {
      margin: 0 40px;
    }

    @media(width: 1200px) {
      margin: 0 128px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(min-width: 1200px) {
      margin: 0;
    }
  }
}
