.main-block {
  display: flex;
  justify-content: center;

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
    padding: 50px 0;
  }

  &__item {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__item:nth-child(4n) {
    margin-right: 0;
  }

  
  &__item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}
