.main__content {
  --column-count: 1;

  display: grid;
  padding: 50px 40px;
  gap: 46px 48px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-columns: repeat(var(--column-count), $card-width);
  justify-content: center;
}

// .main__content {
//   display: grid;
//   grid-auto-flow: row;
//   justify-content: center;
//   align-items: center;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   grid-template-rows: 1fr 1fr;
//   gap: 46px 48px;
//   padding: 50px 40px;
// }

@media (min-width: 488px) {
  .main__content {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .main__content {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .main__content {
    --column-count: 4;
  }
}

// - cards have fixed width - `200px`
