.main {
  display: flex;
  width: 944px;
  margin: auto;
}

.card-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 944px;
  margin: auto;
}

.card-product {
  margin-right: 48px;
  margin-bottom: 46px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px ;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    display: flex;
    justify-content: center;
  }
  &__image_size {
    height: 134px;
    width: 160px;
  }
  &__name {
    margin-top: 40px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #060b35;
  }
  &__code {
    height: 14px;
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    color: #616070;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    line-height: 18px;
  }
  &__price_title {
    font-size: 12px;
    color: #616070;
  }

  &__price_money {
    font-size: 16px;
    font-weight: 700;
    color: #060b35;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &__buy {
    margin-top: 16px;

    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 38px;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      border-radius: 5px;
      text-decoration: none;
      background-color: $moyo--color;
      border: 1px solid $moyo--color;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $moyo--color ;
      }
    }
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    line-height: 16px;

    .stars {
      display: flex;

      &_star {
        width: 16px;
        height: 16px;
        margin-right: 4px;
        background-image: url(/images/star.svg);
        background-repeat: no-repeat;
        background-position: center;

        &:nth-child(-n + 4) {
          background-image: url(/images/star-active.svg);
        }
      }
    }

    &_rate {
      font-size: 10px;
      font-weight: 400;
      color: #060b35;
    }
  }
}
