.main {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: space-around;
  justify-items: center;
  column-gap: 46px;
  row-gap: 48px;

  font-family: $bodyFont;
  font-weight: $mainFontWeight;
  color: $mainColour;
}

@media (min-width: 488px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
