.main {
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  &__container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    min-width: 1024px;
    padding: 50px 40px;
  }

  &__product-card {
    margin-right: 48px;
  }
}
