.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  column-gap: 48px;
  margin-top: 50px;
}

.section:not(:last-child) {
  margin-right: 48px;
}

@media (min-width: 488px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
