.main-container {
  @include flex-wide;
  flex-wrap: wrap;
  width: $cardWidth * 4 + $spaceAmongCards * 3;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 $cardListPadding;
  box-sizing: border-box;

}
