@import "mixins";

.main {
  &__container {
    @include flex-container(
      $wrap: wrap,
      $justify-content: space-between,
      $align-content: space-between
    );
    width: 944px;
    margin: 50px auto;
  }

  &__card {
    margin-bottom: 51px;
  }
}
