.main {
  display: flex;
  justify-content: center;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: $columns * $cards-width + $margin-between-cards * ($columns - 1);
  }
}

.cards__card {
  margin-bottom: 51px;

  &__card:nth-child(n + 5) {
    margin-bottom: 0;
  }
}
