.main-content {
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 950px;
    margin-top: 27px;
  }

  &__item {
    margin-left: 50px;
    padding: 24px 0;
  }

  &__item:nth-child(4n+1) {
    margin-left: 0;
  }
}
