* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

p {
  margin: 0;
}


a {
  text-decoration: none;
}

.main {
  display: grid;
  justify-content: center;
  padding: 0 40px;
  gap: 46px 48px;
}

