.main {
  margin-top: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.catalog {
  width: #{$card-width * 4 + $grid-gap * 4};
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-gap: 50px $grid-gap;
  justify-content: center;

  @media (max-width: 900px) {
    .catalog {
      grid-template-columns: repeat(auto-fill, $card-width);
    }
  }
}
