.main_catalog {
  margin-top: 30px;
  @include flex($horizontall: center);
  flex-wrap: wrap;
  padding: 0 5px 50px;
  width: 100%;
  max-width: 1024px;

  .product__catalog {
    margin: 0 24px 50px;
  }
}

.main__page {
  margin: 0 auto;
}

.main {
  margin-top: 50px;
}
