.stars {
  display: flex;

  &__star {
    width: 15px;
    height: 15px;
    border-radius: 0.5px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

  }
    
  &--1 &__star:first-child,
  &--2 &__star:nth-child(-1n+2),
  &--3 &__star:nth-child(-1n+3),
  &--4 &__star:nth-child(-1n+4),
  &--5 &__star:nth-child(1n-5) {
    background-image: url(../images/star-active.svg);
  }
  
}
