@media screen and (min-width: 488px) {
  .container {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 1024px;
    height: 60px;
  }

  .container {
    padding: 50px 40px;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 1200px;
    height: 60px;
  }

  .container {
    padding: 50px 128px;
  }
}
