@media (min-width: 1024px) {
  .catalog{
    grid-template-columns: repeat(4, $cardWidth);
  }
}

@media (min-width: 768px) {
  .catalog{
    grid-template-columns: repeat(3, $cardWidth);
  }
}

@media (min-width: 488px) {
  .catalog{
    grid-template-columns: repeat(2, $cardWidth);
  }
}

