@import"mixines";
@import"variables";

.menu {
  @include flex-between;
  background: $color-main;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 60px;
}

.menu__logo {
  height: 40px;
  width: 40px;
  margin-left: 50px;
  margin-right: 10px;
  display: inline-block;
}

.menu__nav {
  margin-right: 50px;
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__part {
  list-style-type: none;
  margin-right: 20px;
  position: relative;
}

.menu__part:last-child {
  margin-right: 0;
}

.menu__link {
  @include font-normal;
  @include link-text;
  line-height: 60px;
  display: inline-block;

}

.menu__link:hover,
.menu__link--active {
  color: $color-secondary;
}

.menu__link--active::after {
  content: "";
  display: block;
  border: 2px solid $color-secondary;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}
