@mixin flex($vertical: null, $horizontal: null) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin font(
  $font-family: $font-family,
  $font-size: null,
  $line-height: null,
  $font-weight: null) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
