@mixin card-flex-props {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin card-service-font {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
}

@mixin header-flex-props {
  display: flex;
  align-items: center;
}
