$main-color: #00acdc;

@mixin link {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin small-text {
  font-size: 11px;
  line-height: 13px;
}

@mixin normal-text($line-height) {
  font-size: 12px;
  line-height: $line-height;
  font-weight: 500;
}

@mixin large-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

@mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
