@mixin flex($vertical: null, $horizontall: null) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontall;
}

@mixin font(
  $font-family: $font-famili,  $font-size: null,
  $line-height: null, $font-weight: null) {
  font-family: $font-famili;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
