@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin text-style {
  text-transform: uppercase;
  text-decoration: none;
}

@mixin zero-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin decoration {
  position: absolute;
  content: "";

  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 8px;
  background-color: $hover-active-color;
}
