@import"variables";

@mixin font-small {
  font-family: Roboto, sans-serif;
  font-size: $small-size;
  font-weight: $small-weight;
}

@mixin font-normal {
  font-size: $normal-size;
  font-weight: $normal-weight;
}

@mixin font-medium {
  font-size: $medium-size;
  font-weight: $large-weight;
}

@mixin font-large {
  font-size: $large-size;
  font-weight: $large-weight;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin link-text {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  color: black;
}
