@mixin catalog-padding {
  padding-inline: 40px;

  @media (min-width: 1200px) {
    padding-inline: 128px;
  }
}

@mixin page-grid {
  grid-template-columns: 1fr;
  gap: 46px 0;

  @media (min-width: 480px) and (max-width: 767px) {
    grid-template-columns: 1fr 1fr;
    gap: 46px 48px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 46px 48px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 46px 48px;
  }
}
