@import "_variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    width: 40px;
    height: 40px;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  color: black;
  transition: color 1s;

  &:hover {
    color: $primary-color;
  }
}

.nav__link--is-active {
  color: $primary-color;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $primary-color;
    border-radius: 2px;
    bottom: 0;
  }
}
