
.Moyo__header {
  margin: 20px auto 0;
  padding: 0 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
}

.logo__image {
  height: 40px;
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 23px 0;
  font-weight: 500;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

.is-active {
  position: relative;
  color: #00acdc;
}

.nav__link:hover {
  color: #00acdc;
  text-transform: uppercase;
}

.nav__list :not(:last-child) {
  margin-right: 20px;
}

.is-active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 37px;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #00acdc;
}
