:root {
  --blue: #00acdc;
  --header-height: 60px;
}

.header-site {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
  margin-right: 50px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #00acdc;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__list .nav__link {
  color: #060b35;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  line-height: var(--header-height);
}

.nav__items {
  margin-right: 20px;
}

.nav__items:last-child {
  margin-right: 0;
}

.header-site__logo {
  margin-left: 50px;
}

.nav__items .nav__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__list .nav__link.is-active {
  color: var(--blue);
  position: relative;
}

.nav__list .nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
}

.nav__items .nav__link:hover {
  color: var(--blue);
}
