.nav {
  display: flex;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
  color: #060b35;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #00acdc;
}
