.header {
  font-size: $header-font-size;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;

  &_logo {
    height: 40px;
  }

}

.nav__list {
  display: flex;
  text-transform: uppercase;
}

.nav__list-item--active-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $header-w-font;
  border-radius: 2px;
  background-color: $color-nav;
}

.nav__link {
  height: 60px;
  text-decoration: none;
  color: $main-text-color;
  display: flex;
  white-space: nowrap;
  align-items: center;

  &:hover {
    color: $color-nav;
    transition-duration: $animation-duration;

  }
}

.is-active {
  color: $color-nav;
}

li {
  height: 60px;
  display: flex;
  align-items: center;
  list-style-type: none;
  position: relative;
}

li:not(:last-child) {
  margin-right: 20px;
}
