html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  height: 60px;
  font-weight: 500;
  line-height: 14.06px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  gap: 20px;
}

.nav__link {
  height: 60px;
  line-height: 60px;

  display: flex;

  text-decoration: none;
  color: #060b35;

  text-transform: uppercase;
}

.nav__link:hover {
  color: $hover-color;
}

.moyo {
  display: flex;
  justify-content: center;
}

.is-active {
  position: relative;
  color: $hover-color;
}

.is-active::after {
  content: '';
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $hover-color;
  border-radius: 8px;
}
