.nav {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 60px;
    padding: 0;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  
  &__item_link {
    height: 60px;
    padding: 23px 0;
    font-weight: #{$font-weight-m};
    font-size: #{$font-size-s};
    text-align: center;
    text-decoration: none;
    color: #{$text-color-dark};
  }
  
  &__item_link:hover {
    color: #{$cyan-color};
  }
}
  
.is-active {
  position: relative;
  line-height: #{$line-height-s};
  font-weight: #{$font-weight-m};
  list-style: none;
  text-decoration: none;
  color: #{$cyan-color};
  
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-radius: 8px;
    height: 4px;
    background-color: #{$cyan-color};
  }
}
