.nav_item {
  display: flex;
  text-transform: uppercase;
  margin-right: 20px;
}

.navi {
  box-sizing: border-box;
  display: flex;
}

.nav_list {
  display: flex;
  width: 100%;
  margin: 0;
}

.nav_linka {
  text-decoration: none;
  color: #00acdc;
  position: relative;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 23px 0;
}

.nav_link {
  text-decoration: none;
  color: #000;
  position: relative;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  display: inline-block;
  padding: 23px 0;
}
  
.nav_linka:hover {
  color: #00acdc;
}
  
.nav_linka:active {
  color: #00acdc;
  position: relative;
  padding: 23px 0;
}
  
.nav_linka::before {
  position: absolute;
  content: "";
  background-color: #00acdc;
  display: block;
  border-radius: 4px;
  bottom: 0;
  width: 100%;
  height: 4px;
}
