.nav {

  &__list {
    text-transform: uppercase;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  &__link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: $dark-text-color;
    padding: 23px 0;
  }

  &__link:hover {
    color: $color-theme;
  }

  &__item {
    display: inline-block;
    margin-left: 20px;
  }

  &__item:first-child {
    margin: 0;
  }
}

.is-active {
  color: $color-theme;
}

.is-active::after {
  content: " ";
  height: 4px;
  width: 100%;
  background-color: $color-theme;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
