@import "variables";

.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    padding: 23px 0;

    text-decoration: none;
    text-transform: uppercase;
    color: #000;

    &:hover {
      color: $color-main;
    }

    &--active {
      position: relative;
      color: $color-main;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $color-main;
        border-radius: 2px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
