@import "variables";

.is-active {
  color: $mainMoyoColor;

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 37px;
    background-color: $mainMoyoColor;
    top: $headerHeight - 4px;
    border-radius: 8px;
  }
}
