.nav {
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    list-style: none;

    &:not(:first-child) {
        margin-left: 20px;
    }
  }

  &__link {
    display: block;
    padding: 23px 0;
    transition: $transition-duration;

    &:not(.is-active) {
      font-size: $font-size;
      text-transform: uppercase;
      text-decoration: none;
      color: $main-font-color;
    }

    &:hover {
      color: $primary-color;
    }
  }
}
