.nav {
  margin-left: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-right: 50px;
}

.nav__link {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 20px;
  color: black;
  text-decoration: none;
  background-color: white;
  margin-right: 0;

  & a:last-child {
    margin-right: 0;
  }

  & a:first-child {
    margin-left: 0;
  }

  &:hover {
    position: relative;
    color: #00acdc;
  }

  &--is-active {
    position: relative;
    color: #00acdc;
    margin-left: 0;
  }

  &--is-active::after {
    position: absolute;
    background-color: #00acdc;
    content: "";
    display: block;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    bottom: 0;
  }
}
