.navigation {
  margin-right: 50px;

  .navigation__items-list {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navigation__item {
    margin: 0 10px;
  }
  
  .navigation__link {
    padding: 23px 0;
  
    font-weight: 500;
    line-height: 14px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navigation__item:first-child {
    margin-left: 0;
  }
  
  .navigation__item:last-child {
    margin-right: 0;
  }
  
  .navigation__link:hover,
  .is-active {
    color: #00acdc;
  }
  
  .is-active {
    position: relative;
  }
  
  .is-active::after {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
  
    border-radius: 8px;
    content: "";
    background-color: #00acdc;
  }
}
