* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 24px 50px;
}

@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flexed {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
