html {
  color: $colorTextMain;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
