* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body,
p,
h2,
ul,
main {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
