body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px [col-start]);
  justify-content: center;
  gap: 48px;
  row-gap: 46px;
  padding-top: 50px;
  padding-bottom: 72px;
  padding-left: 40px;
  padding-right: 40px;
}
