@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  color: $text-color-main;
  font-size: 10px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
