.page {
  &__header {
    height: 60px;
  }

  &__catalog {
    margin: $vertical-gap auto;
    max-width: ($card-width * 4) + ($horizontal-gap * 3) + ($big-padding * 2);
    padding: 0 128px;

    @media screen and (max-width: 1180px) {
      max-width: ($card-width * 4) +
        ($horizontal-gap * 3) +
        ($small-padding * 2);
      padding: 0 $small-padding;
    }
  }
}
