html {
  font-family: Roboto, sans-serif;
}

.page {
  font-size: 12px;

  &__main {
    display: flex;
    justify-content: center;
  }

  &__card-field {
    width: getWidthCardField($card-in-row);
    padding: 51px 0;
  }
}
