@font-face {
  font-family: "Roboto" ;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.page {
  font-family: Roboto, sans-serif;

  &__content {
    font-family: "Roboto", sans-serif;
    max-width: $content-box-width;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
  }

}
