.price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  &__item {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }

  &__words {
    line-height: 18px;
  }
}
