.price {
  display: grid;

  margin-bottom: 20px;

  justify-content: space-between;
  align-content: end;
  align-items: baseline;

  grid-template-columns: repeat(2, 1fr);

    
  &__name {
    @include small-text-card();

    line-height: 1.18em;
  }

  &__actuall {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;

    display: grid;
    justify-self: end;
  }
}
