.price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0;

  &__quantity {
    font-size: 16px;
    font-weight: 700;
  }

  &__name {
    @include font-hint;
  }
}
