.primary {
  padding: 50px 0 0;

  &__inner {
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 944px;
  }

  &__card {
    width: 200px;
    margin: 0 0 46px;
  }
}
