@import "variables";

.products {
  display: grid;
  grid-template-columns: repeat(4, $product-card-width);
  justify-content: space-between;
  align-content: space-between;
  padding: 0 40px;
  width: $products-container-width;
  height: $products-container-height;
  margin: auto;
}

@import "product__card";
