.product-card {
  position: relative;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  z-index: 2;

  width: $product-card-width;
  height: $product-card-height;

  padding: 33px;

  transition: transform 300ms;

  &__image {
    width: $image-width;
    height: $image-height;

    margin-bottom: 36px;
  }

  &__title {
    width: $title-width;

    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;

    font-size: $font-size-base;
    font-weight: $font-weight-medium;

    color: $text-color-main;
  }

  &__code {
    margin-bottom: 12px;

    font-size: $font-size-small;
    font-weight: $font-weight-regular;

    color: $text-color-second;
  }

  &__stars-and-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    width: 100%;
  }

  &__reviews {
    display: flex;
    align-items: center;

    margin-left: auto;

    font-size: $font-size-small;
    font-weight: $font-weight-regular;

    color: $text-color-main;
    white-space: nowrap;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin-top: 20px;

    font-size: $font-size-base;
    font-weight: $font-weight-regular;

    color: $text-color-second;
  }

  &__price-value {
    margin-left: auto;

    font-size: $font-size-value;
    font-weight: $font-weight-bold;

    color: $text-color-main;
  }

  &__button {
    width: $button-width;
    height: $button-height;

    font-family: $font-family-main;
    font-size: $font-size-button;
    font-weight: $font-weight-bold;

    text-transform: uppercase;

    color: $text-color-button;
    background-color: $main-color;

    border: 1px solid $main-color;
    border-radius: $button-border-radius;

    &:hover {
      color: $button-text-hover;
      background-color: $button-color-hover;
      border: 1px solid $main-color;
    }
  }

  &:hover {
    transform: scale(1.2);

    .product-card__title {
      color: $title-hover-color;
    }
  }
}
