$card-width:200px;
$card-height:403px;
$cards-gap-y:50px;
$cards-gap-x:48px;

@import "buy button";
@import "stars block";

.main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: ($card-width*4)+($cards-gap-x*3) ;
  margin: 50px auto;
}

.main-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px 14px 15px;
  max-width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  &__image {
    width: 160px;
    height: 134px;
    margin: 0 5px 45px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 5px;
  }

  &__code {
    font-size: 11px;
    line-height: 13px;
    margin: 0 0 15px;
  }

  &:nth-child(n+5) {
    margin-top: 50px;
  }
}

.main-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin: 0 0 20px;

  .main-card__review {
    font-size: 11px;
    line-height: 13px;
  }
}

.card-value {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .card-value__caption {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  .card-value__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 20px;
  }
}
