.product-mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto" , sans-serif;
  

  &__star {
    width: 16px;
    margin: 2px 4px -2px 0;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
  }
      
  &__stars {
    display: flex;
    height: 16px;
  }
    
  &__star:first-child {
    margin-left: 2px;
  }
    
  &__star:last-child {
    margin-right: 0;
  }
    
  .product-mark__stars--4 .product-mark__star:nth-child(-n+4) {
    background-image: url(../images/star-active.svg);
  }
    
  &__response {
    margin-top: 2px;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-decoration: none;
    color: $main-gray-color;
  }
  

}
