$cardHeight: 403px;
$cardWidth: 200px;
$primaryFont-size: 11px;
$buttonHeight: 40px;
$white-color: #fff;
$blue-color: #00acdc;
$sumforDistanceBeteewnCards: 144px;

.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $cardWidth;
  height: $cardHeight;
  margin-bottom: 50px;
  margin-right: 48px;
  background: $white-color;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 0;

  &:nth-child(4),
  &:nth-child(8) {
    margin-right: 0;
  }

  &__image {
    display: flex;
    justify-content: center;
    height: 134px;
    width: 160px;
    padding: 15px 14px;
    margin: 15px 5px;
  }

  &__description {
    display: flex;
    margin: 15px 0 0;
    padding: 0 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000;
  }

  &__code {
    margin: 5px 84px 0 14px;
    width: 111px;
    font-size: $primaryFont-size;
    line-height: 13px;
    font-weight: 400;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin: 15px 14px;
    font-weight: 400;
  }

  &__rating {
    display: flex;
    align-self: center;
    font-size: $primaryFont-size;
    line-height: 13px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin: 5px 14px 0;
  }

  &__value {
    font-size: $primaryFont-size;
    line-height: 13px;
    align-self: flex-end;
  }

  &__actual-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin: 20px 15px 15px;
    box-sizing: border-box;
    height: $buttonHeight;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: $blue-color;
    color: $white-color;
    border-radius: 5px;
    border: 1px solid $blue-color;

    &:hover {
      background: $white-color;
      color: $blue-color;
    }
  }

}
