@import "variables";

.product-catalog__product-card {
  margin-bottom: 50px;
}

.product-card {
  width: 200px;

  padding: 15px 14px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;

    margin: 15px 5px 45px;
  }

  &__description {
    margin-bottom: 4px;

    line-height: 15px;
    font-weight: 500;
    font-size: 12px;
  }

  &__code {
    margin-bottom: 13px;
    font-size: 11px;
  }

  &__review {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 15px;
    margin-bottom: 24px;
  }

  &__review-count {
    justify-items: flex-end;

    font-size: 11px;
    line-height: 13px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 15px;
    margin-bottom: 20px;
  }

  &__price-text {
    font-size: 11px;
    line-height: 13px;
  }

  &__price-numbers {
    padding-bottom: 5px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }

  &__buy-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid $main-style-color;

    background-color: $main-style-color;

    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 16px;

    &:hover {
      background-color: #fff;

      color: $main-style-color;
    }
  }
}
