@import "./variables.scss";

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 32px 16px 16px;
  transition: transform 300ms ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-color;
    transition: color 300ms ease;
  }

  &:hover &__name {
    color: $card-name-hover-color;
  }

  &__product-code {
    color: $secondary-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 4px;
    align-self: flex-start;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__reviews-sum {
    color: $main-color;
    font-size: 10px;
    height: 16px;
    font-weight: 400;
    line-height: 14px;
  }

  &__price-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
  }

  &__price-text {
    color: $secondary-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  &__price {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: $color-accent-blue;
    border: 1px solid $color-accent-blue;
    margin-top: 16px;
    transition: background-color 300ms ease;
  }

  &:hover &__link {
    background-color: #fff;
    color: $color-accent-blue;
  }
}
