.product-cards {
  --columns-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--columns-count), 200px);
  padding-top: 50px;
  padding-bottom: 72px;
  row-gap: 46px;
  column-gap: 48px;

  justify-items: center;
  align-items: center;

  justify-content: center;
  align-content: center;

  @media (min-width: 488px) {
    --columns-count: 2;
  }

  @media (min-width: 768px) {
    --columns-count: 3;
  }

  @media (min-width: 1024px) {
    --columns-count: 4;
  }
}
