@import "./mixins.scss";

.product--section {
  width: 100%;
  @include flex-horizontal-centered;
}

.products--list {
  @include flex-horizontal-centered;
  @include reset-list;
  flex-wrap: wrap;
}

.product--item {
  margin-right: 48px;
  margin-bottom: 50px;
}

.product--item:nth-child(4n) {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .products--list {
    max-width: 1000px;
  }
}
