@import "variables";

.product__name,
.product__code,
.reviews__text,
.product__price__number,
.product__price__text {
  margin: 0;
}

.product {
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  padding: 30px 14px 14px;
  margin-bottom: 51px;
}

.product__photo {
  width: 160px;
  height: 134px;
  margin-bottom: 45px;
}

.product__name {
  @include text(12px, 500, 15px);
}

.product__code {
  margin-top: 5px;
}

.product__price,
.product__reviews {
  @include flex-between;
  margin-top: 16px;
}

.product__reviews {
  align-items: flex-start;
}

.review__stars {
  @include flex-between;
  width: 91px;
  padding: 1px 0 0 1px;
}

.review__star {
  height: 15px;
  width: 15px;
}

.review__star_checked {
  background: url("../images/star-active.svg") no-repeat;
}

.review__star_empty {
  background: url("../images/star.svg") no-repeat;
}

.product__price {
  align-items: baseline;
  margin-top: 18px;
}

.product__price__number {
  @include text(16px, bold, 19px);
}

.product__buy {
  @include text(14px, 700, 16px);
  display: flex;
  margin-top: 20px;
  background: $color-2;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  color: #f3f3f3;
}

.product__buy:hover {
  background-color: white;
  border: 1px solid $color-2;
  color: $color-2;
}
