.product-cards {
  width: 200px;
  height: 408px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  transition: 0.3s;

  &:hover {
    scale: 1.2;
  }

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    margin-left: 3px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &-title {
      font-family: $fontFamily;
      font-size: 12px;
      font-weight: 500;
      color: #060b35;
      line-height: 18px;
    }

    &-product-code {
      font-family: $fontFamily;
      font-size: 10px;
      line-height: 14px;
      font-weight: 400;
      color: #616070;
      margin-top: 4px;
    }
  }

  &__raiting {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;

    &-rewiews {
      font-family: $fontFamily;
      font-size: 10px;
      font-weight: 400;
      color: #060b35;
    }
  }

  &__prise {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    &-title {
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 12px;
      color: #616070;
      line-height: 18px;
    }

    &-value {
      font-family: $fontFamily;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: #060b35;
    }
  }

  &__button-link {
    width: 100%;
    margin-top: 16px;
    display: block;
    text-decoration: none;
    color: $buttonLinkColor;
    background-color: $buttonColor;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s;
  }

  &__button-link:hover {
    box-sizing: border-box;
    border: 1px solid $buttonColor;
    border-radius: 5px;
    color: $buttonColor;
    background-color: $buttonLinkHoverBackground;
  }
}

.product-cards:hover .product-cards__info-title {
  color: $info-title-isHoverColor;
}
