.product-row {
  display: flex;
  justify-content: center;

  @include product-row-fonts;

  &__container {
    width: 4 * $card-width + $columns-gap * 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    gap: $rows-gap $columns-gap;
  }
}
