
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  background-color: #fff;
  border-radius: 5px;

  &__imac-image {
    width: 160px;
    height: 134px;
    margin: 0 4px;
    object-fit: contain;
    object-position: center;
  }
  
  &__name {
    margin-top: 40px;
  
    font-weight: 500;
    @extend %middle-text;
  }
  
  &__code {
    align-self: flex-start;
    margin-top: 4px;
  
    @extend %small-text;
  }
  
  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    margin-top: 15px;
  }
  
  &__reviews {
    @extend %small-text;
  }
  
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    width: 100%;
    margin-top: 25px;
  }
  
  &__price-word {
    @extend %middle-text;
  }
  
  &__price-digit {
    font-style: normal;
    font-weight: bold;
    font-size: $font-size-xl;
    line-height: 18px;
  }

  &__buy-link {
    margin-top: 16px;
  }
}
