body {
  margin: 0;
  --card-max-width: 198px;
  --card-border: var(1px);
  --card-border-radius: 5px;
  --min-section-gap: 16px;
  --min-section-top-gap: 16px;
  --card-header-top-gap: 32px;
  --card-margin: 0;
  --card-padding: 0;
  --card-padding-top: 40px;
  --card-image-height: 134px;
  --card-font-size: 12px;
  --cardfont-color: #060b35;
}

.card {
  max-width: var(--card-max-width);
  background-color: #fff;
  border: var(--card-border) solid #f3f3f3;
  border-radius: var(--card-border-radius);
}

.card__header {
  margin: var(--card-margin);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: var(--min-section-gap);
  padding-right: var(--min-section-gap);
  padding-top: var(--card-header-top-gap);
}

.main {
  display: block;
}

.card__image {
  height: var(--card-image-height);
  margin: var(--card-margin);
  padding: var(--card-padding);
}

/* .title semantic tag {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: center;
  text-align: flex-start;
  align-content: top;
} */

.card__title {
  margin: var(--card-margin);
  vertical-align: text-top;
  padding-left: var(--min-section-gap);
  padding-right: var(--min-section-gap);
  padding-top: var(--card-padding-top);
  font-size: var(--card-font-size);
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-style: medium;
  line-height: 18px;
  color: var(--cardfont-color);
}

/* .description {
  margin: 0;

  margin-right: 84px;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
} */

.card__description {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: var(--min-section-gap);
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/* .distance1 :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: left;
}

.distance1 :nth-child(2) {
  display: flex;
  align-items: bottom;
  justify-content: right;
} */

section {
  padding: var(--card-padding);
  margin: var(--card-margin);
  padding-left: var(--min-section-gap);
  padding-top: var(--min-section-top-gap);
  padding-right: var(--min-section-gap);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars {
  margin: var(--card-margin);
  padding: var(--card-padding);

  display: flex;
  align-items: center;
  justify-items: left;
}

.stars__star {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars :nth-child(-n + 4) {
  background: url("./images/star-active.svg") center no-repeat;
}

/* .rewievs  semantic tag {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: bottom;
  justify-content: right;
} */

.card__rewievs {
  margin: 0;
  padding-left: 17px;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  color: var(--cardfont-color);
  font-family: Roboto, sans-serif;
}

/* .distance2 :nth-child(1) {
  display: flex;
  align-items: top;
  justify-content: left;
}

.distance2 :nth-child(2) {
  display: flex;
  align-items: bottom;
  justify-content: right;
} */

/* .price semantic tag {
  display: flex;
  justify-content: left;
  align-items: top;
  margin: 0;
  padding: 0;
} */

.card__price {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: Roboto, sans-serif;
  color: #616070;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  padding-top: 23px;
  padding-left: 16px;
}

.card__pricetag {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #060b35;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

}

.card__link {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: var(--min-section-top-gap);
  padding-left: var(--min-section-gap);
  padding-right: var(--min-section-gap);
  padding-bottom: 16px;
}

.card__button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  background-color: #00acdc;
  color: #fff;
  border: 0;
  margin: 0;
  width: 166px;
  height: 40px;
  border-radius: var(--card-border-radius);
}

.card:hover .card__button {
  background-color: #fff;
  border: var(--card-border) solid #00acdc;
  border-radius: var(--card-border-radius);
  font-weight: 700;
  color: #00acdc;
}
