@import "variables";

.product__card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: $product-card-width;
  height: $product-card-height;
  background: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 15px 14px;
}

.product__img {
  display: block;
  align-self: center;
  width: 160px;
  height: 134px;
  margin: 15px 0 45px;
}

.product__description {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.product__item-code {
  margin: 5px 0 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.product__rate-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15px;
  margin-top: 15px;
}

@import "rating-stars";

.product__rate {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.product__price-name {
  font-size: 11px;
  line-height: 13px;
}

.product__price-number {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.product__buy-button {
  margin-top: 20px;
  box-sizing: border-box;
  width: 170px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  background: $main-blue-color;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 38px;
}

.product__buy-button:hover {
  color: $main-blue-color;
  background: white;
  border: 1px solid $main-blue-color;
  border-radius: 5px;
}
