.product {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  &__photo {
    display: block;
    width: 160px;
    height: 134px;
    margin: 30px 19px 45px;
  }

  &__name {
    margin: 0 14px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &__code {
    margin: 0 14px 15px;
  }

  &__rating {
    margin: 0 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    margin: 0 14px 20px;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    margin: 0 14px  15px;
    width: 170px;
    height: 40px;

    background: #00acdc;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
  }

  &__buy:hover {
    background-color: #fff;
    color: #00acdc;
    border: 1px solid #00acdc;
  }
}
