@import "./_variables.scss";

.catalog {
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  color: $mainColor;

  &__img {
    display: block;
    height: 134px;

    width: 100%;
    margin-bottom: 40px;
    padding: 0 3px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: #616070;

    margin-bottom: 16px;
  }

  &__rating-block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__rating-feedbacks {
    font-size: 10px;

    display: flex;
    align-items: center;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-text {
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    color: #fff;

    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    background-color: $buttonColor;
    border: 1px solid transparent;
    border-radius: 5px;

    padding: 12px 0;
    margin-top: 16px;
    height: 40px;

    transition: 0.4s ease;

    &:hover {
      color: $buttonColor;
      background-color: #fff;
      border-color: $buttonColor;
    }
  }
}
