@import "variables";

.product-list {
  display: grid;
  grid-template-columns: repeat( 4, $cardWidth);
  justify-content: center;
  max-width: $tabletWidth;
  grid-gap: 50px $gapX;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $desktopWidth) {
  .product {
    max-width: $desktopWidth;
  }
}
