.product {
  width: 200px;
  height: 403px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  padding: 30px 14px 15px;
  display: flex;
  flex-direction: column;

  &__btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
  }

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }

  &__btn:hover {
    background-color: #fff;
    border: 1px solid #00acdc;
    color: #00acdc;
  }

  &__image {
    display: flex;
    align-self: center;
    width: 160px;
    height: 134px;
  }

  &__name {
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    margin: 45px 0 5px;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
  }

  &__feedbacks {
    text-decoration: none;
    color: #000;
    align-items: center;
    line-height: 13px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
}
