.product-card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__img {
    margin-bottom: 40px;
    align-self: center;
    width: 160px;
    height: 134px;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &__code {
    margin-bottom: 16px;
    color: $grey-text;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: $grey-text;
    font-size: 16px;
    line-height: 18px;
  }

  &__amount {
    color: $black-text;
    font-weight: 700;
  }

  &__link {
    display: block;
    padding: 12px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: $blue-accent;
    border-radius: 5px;

    &:hover {
      padding: 11px;
      color: $blue-accent;
      border: 1px solid $blue-accent;
      background-color: #fff;
    }
  }
}
