.product-card-conteiner {
  place-items: center;
  padding: 50px 40px;
  display: grid;
  gap: 48px 46px; /* row-gap column-gap */
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Default for smaller screens (1 column) */

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
