@import '../variables/variables';

.card {
  width: $card-width;
  font-family: Roboto, sans-serif;
  border: 1px solid #eceaea;
  border-radius: $card-border-radius;
  transition: transform 300ms;
  
  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }

  &__img {
    background-image: url(../images/imac.jpeg);
    background-size: cover;
    margin: 33px 19px 0;
    width: 160px;
    height: 134px;
  }

  &__menu {
    margin: 16px;

    &-description {
      margin-top: 40px;
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }

    &-code {
      margin-top: -8px;
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
    }

    &-reviews {
      display: flex;
      justify-content: space-between;

      .card__stars {
        display: flex;
        margin-top: 8px;

        &-item {
          width: 12px;
          height: 12px;
          background-size: cover;
          margin-right: 8px;
          background-image: url(../images/star.svg);

          &--active {
            background-image: url(../images/star-active.svg);
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .card__reviews {
        margin-top: -2px;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
      }
    }

    &-price {
      display: flex;
      justify-content: space-between;
      margin-top: -4px;

      .card__price-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 6px;
      }

      .card__price-number {
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
      }
    }

    &-buy {
      display: flex;
      margin-top: 2px;

      .card__buy {
        flex-grow: 1;
        background-color: $color-accent;
        color: white;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        padding: 10px 17px;
        border-radius: 5px;
        border: 2px solid $color-accent;
        transition: all 300ms;

        &:hover {
          background-color: white;
          color: $color-accent;
        }
      }
    }
  }

  &__title {
    transition: color 300ms;
  }

  &:hover .card__title {
    color: $color-card-title-hover;
  }
}
