.product-row {
  display: flex;

  justify-content: center;

  @include product-row-fonts;

  &__container {
    width: 4 * $card-width + $gap * 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    margin-bottom: 51px;

    &:nth-child(n + 5) {
      margin-bottom: 0;
    }
  }
}
