$backgroundCardColor: #fff;
$borderCard: 1px solid #f3f3f3;

.content {
  justify-content: center;
  margin-top: 50px;
}

.content__section {
  display: flex;
  width: 944px;
  margin: auto;

  .card {
    width: 200px;
    padding: 15px 14px;
    border: $borderCard;
    border-radius: 5px;
    background: $backgroundCardColor;
    box-sizing: border-box;
    margin-right: 48px;
    margin-bottom: 50px;

    &__image {
      height: 134px;
      width: 160px;
      margin: 15px 0 0 5px;
    }

    &__heading {
      margin: 0;
      margin-top: 41px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }

    &__code {
      font-size: 11px;
      margin-top: 5px;
    }

    &__rate {
      height: 15px;
      margin: 17px 0 0 1px;
      display: flex;
      justify-content: space-between;
      
      .rate__stars {
        display: flex;

        .star {
          height: 15px;
          width: 15px;
          margin-right: 4px;
          background: url(/images/star.svg) no-repeat;
        }
      }

      @for $i from 1 through 5 {
        .stars--#{$i} .star:nth-child(-n + #{$i}) {
          background: url(../images/star-active.svg) no-repeat;
        }
      }

      .card__reviews {
        font-size: 11px;
        height: 12px;
        margin: 0;
      }
    }
    .card__price {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 18px;

      .price__text {
        font-size: 11px;
      }
      
      .price__value {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .card__button {
      height: 40px;
      width: 170px;
      background-color: #00acdc;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      margin-top: 20px;
      cursor: pointer;
      transition: all 0.1s;
    }
    
    .card__button:hover {
      color: #00acdc;
      background: #fff;
      border: 1px solid #00acdc;
    }
  }
}

.card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.card-link:hover {
  text-decoration: underline;
}
