.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__stars {
    display: flex;
  }

  &__item {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    text-align: right;
  }

  &__stars--1 :nth-child(-n+1),
  &__stars--2 :nth-child(-n+2),
  &__stars--3 :nth-child(-n+3),
  &__stars--4 :nth-child(-n+4),
  &__stars--5 :nth-child(-n+5) {
    background-image: url(../images/star-active.svg);
  }

  &__responses {
    margin: 0;
    font-size: 11px;
  }
}
