.rate {
  display: flex;

  &__star {
    display: inline-block;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-right: 4px;
  }
}

.stars--4 .rate__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}
