.rating {
  @include flex-space-between;
  align-items: center;
  padding-bottom: 20px;

  .stars {
    display: flex;

    &__star {
      width: 15px;
      height: 15px;
      margin-right: 4px;
      background-image: url(../images/star.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .feadback {
    font-size: $small-font-size;
    line-height: 13px;
  }
}
