.rating {
  display: flex;
  justify-content: space-between;
  &-margin {
    margin-bottom: 20px;
  }

  &__stars {
    display: flex;
  }

  &__star {
    width: $starSize;
    height: $starSize;
    margin-right: 4px;
    display: flex;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;
    &:last-child {
      background-image: url(../images/star.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 0;
    }
  }

  &__reviews {
    font-weight: $defaultFw;
    font-size: $basicCardFz;
    line-height: 15px;
    margin: 0;
  }
}
