@import "mixins";

.rating {
  @include flex-wide;
  margin-top: 16px;

  &__stars-container {
    @include flex-wide;
    width: 91px;
  }

  &__stars-star {
    width: 15px;
    height: 15px;
  }

  .star {
    &--nonactive {
      background: url("../images/star.svg") no-repeat;
    }

    &--active {
      background: url("../images/star-active.svg") no-repeat;
    }

  }
}
