a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

img {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
