* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  margin: 0;
}

body,
ul,
p,
h3 {
  margin: 0;
}

p,
a {
  display: block;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
