
html,
body,
div,
ol,
ul,
li,
footer,
header,
nav {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  /* font-family: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

header,
nav {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
