* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

.nav {
  display: flex;
  justify-content: center;
  background: $white-color;
  padding: 15px 0;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 944px;
  padding: 50px 0;
  gap: 46px 48px;
  margin-inline: auto;
}

.card {
  background: $white-color;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

button {
  border: none;
}

@media screen and (max-width: 1024px) {
  .product {
    margin: 0 40px;
  }
}
