body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  visibility: hidden;
  height: 0;
}
