.review-block {
  display: flex;
  margin-top: 15px;

  &__stars {
    display: flex;
    width: 91px;
    height: 15px;
  }

  &__review-count {
    width: 58px;
    text-align: right;
    font-size: 11px;
    line-height: 13px;
    margin-left: 21px;
  }

  &__star-item {
    width: 13px;
    height: 12px;
    margin-right: 5px;
    margin-left: 1px;
    content: url("../images/star.svg");
  }

  @for $i from 1 through 5 {
    &__stars--#{$i} :nth-child(-n + #{$i}) {
      content: url(../images/star-active.svg);
    }
  }
}
