.review {
  &__user-info {
    margin-top: 34px;
    display: grid;
    grid-template-columns: 75px 150px;
    grid-template-rows: auto;
    grid-template-areas: "image name" "image date";
  }

  &__user-photo {
    display: inline-block;
    grid-area: image;
  }

  &__user-name {
    grid-area: name;
    font-family: "Avenir Heavy", sans-serif;
    font-size: 20px;
  }

  &__post-date {
    grid-area: date;
    font-size: 14px;
  }
}
