$color-main-accent: #060b35;
$color-secondary: #616070;
$color-blue-accent: #00acdc;
$main-color: #00acdc;
$gray-elements: #f3f3f3;
$background-main: #fff;
$main-margin-bottom: 16px;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
