$cardWidth: 200px;
$spaceBetweenCards: 48px;
$spaceAroundRow: 40px;
$spaceBetweenRows: 50px;

.row {

  display: grid;
  justify-content: center;
  grid-gap: $spaceBetweenRows $spaceBetweenCards;
  grid-template-columns: repeat(auto-fit, $cardWidth);
  width: $cardWidth * 4 + 3 * $spaceBetweenCards + 2 * $spaceAroundRow;
  margin: auto;

  &__item {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    max-width: $cardWidth;
  }
}
