$itemWidth: 200px;
$itemIndent: 48px;
$itemCount: 4;

.row {
  display: flex;
  width: $itemWidth * $itemCount + ($itemCount - 1) * $itemIndent;
  margin: 50px auto 0;

  &__item {
    flex: 200px 0 0;
    margin-left: 48px;
  }

  &__item:first-child {
    margin-left: 0;
  }
}
