.section {
  padding: 50px 40px 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: $cardWidth * 4 + $gap * 3;

  &__indent {
    margin-right: 48px;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 46px;
    }
  }
}
