$columnwidth: 200px;
$columnnumber: 4;
$gapX: 3;
$gapwidth: 48px;

.catalog {
  display: flex;
  justify-content: center;

  &__items {
    max-width: $columnwidth * $columnnumber + $gapX * $gapwidth;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 40px 28px;
  }
}
