.catalog {
  display: flex;
  justify-content: center;

  &__items {
    max-width: 200px * 4 + 3 * 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 40px 28px;
  }
}
