* {
  box-sizing: border-box;
}

html {
  font-family: $header-font-family;
  font-size: $header-size;
  font-weight: $header-weight;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
