$primary-color: #00acdc;
$star-img:  url("../images/star.svg");
$star-activ-img:  url("../images/star-active.svg");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
}

body,
h3 {
  margin: 0;
}
