.stars {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;

  &__rating {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-top: 2px;
  }

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    margin-right: 4px;
  }

  @for $starCount from 1 through 5 {
    &__rating--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
      background-image: url(../images/star-active.svg);
    }
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    color: $dark-gray;
    padding-bottom: 2px;
  }
}
