.stars {
  display: flex;

  &__star {
    display: block;
    width: $star-size;
    height: $star-size;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: $star-radius;
    transform: scale($star-scale);

    &:not(:last-child) {
      margin-right: $star-gap;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} {
      .stars__star:nth-child(-n + #{$i}) {
        background-image: url('../images/star-active.svg');
      }
    }
  }
}
