@import "variables";

.stars {
  display: flex;
  align-items: flex-start;
  .card__star {
    align-self: flex-end;
    margin-right: 4px;
    height: $star_size;
    width: $star_size;

    background-position: left;
    background-repeat: no-repeat;
    background-image: url("./../images/star.svg");
  }
  .card__star:nth-child(-n +4) {
    background-image: url("./../images/star-active.svg");
  }
}
