.stars-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__feedback-count {
    font-size: 10px;
    font-weight: 400;
    color: $colorDarkBlue;
  }
}

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;

    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }

  @for $index from 1 through 5 {
    &--#{$index} &__star:nth-child(-n + #{$index}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
