.stars {
  display: flex;

  &__img {
    background: url("../images/star.svg") no-repeat center;
    width: 15px;
    height: 15px;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@for $i from 0 through 5 {
  .stars--#{$i} .stars__img:nth-child(-n+#{$i}) {
    background-image: url("../images/star-active.svg");
  }
}
