.stars {
  display: flex;

  &__star {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 0.5px;
    transform: scale(0.83);

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} {
      .stars__star:nth-child(-n + #{$i}) {
        background-image: url('../images/star-active.svg');
      }
    }
  }
}
