.stars {
  display: flex;
  align-items: center;

  .stars__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

@for $i from 1 to 5 {
  .stars--#{$i} .stars__star:nth-child(-n+#{$i}) {
    background-image: url(../images/star-active.svg);
  }
}
