@use './utils/variables' as *;
@use './utils/mixins' as *;
@use './blocks/header';
@use './blocks/nav';
@use './blocks/catalog';
@use './blocks/card';
@use './blocks/review-stars';

*,
*::before,
::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;

  @include page-standart-font;
}

.main {
  display: flex;
  justify-content: center;
}
