.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  max-width: 1024px;
  height: 60px;
  background-color: #fff;
  padding: 0 50px;
  gap: 150px; // расстояние между логотипом и меню

  img {
    width: 40px;
    height: 40px;
  }

  nav {
    ul {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      gap: 15px;
      margin: 0;
      padding: 0;
      align-items: center;

      li {
        a {
          color: black;
          font-family: Roboto, sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0;
          text-transform: uppercase;
          text-decoration: none;

          &:hover {
            border-bottom: 3px solid #00acdc;
            padding-bottom: 5px;
            color: #00acdc;
          }
        }
      }
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(198px, 1fr));
  gap: 20px;
  padding-top: 10px;
}

.block {
  grid-template-rows: auto 1fr auto auto;
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  height: 408px;

  .images_card {
    width: 160px;
    height: 134px;
    padding-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card_description {
    width: 166px;
    height: 36px;
    padding-left: 17px;
    padding-top: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
  }

  .card_code {
    width: 98px;
    height: 14px;
    padding-top: 10px;
    padding-left: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0;
  }

  .reviews_block {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 166px;
    height: 16px;
    padding-left: 17px;
    padding-top: 15px;

    .card_stars {
      display: flex;
      gap: 5px;
    }

    .star {
      width: 16px;
      height: 16px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &--full {
        background-image: url('../images/star-active.svg');
      }

      &--empty {
        background-image: url('../images/star.svg');
      }
    }

    .reviews_text {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0;
      text-align: right;
      vertical-align: bottom;
    }
  }

  .price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 166px;
    height: 18px;
    padding-left: 17px;
    padding-top: 15px;

    .price_label {
      font-family: Roboto, sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0;
      vertical-align: bottom;
    }

    .price_value {
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0;
      text-align: right;
      vertical-align: bottom;
    }
  }

  .bottom_price {
    max-width: 166px;
    height: 40px;
    margin-left: 17px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #00acdc;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner-block {
      width: 27px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
