@import "fonts";
@import "variables";

.card__imac {
  margin: 30px 0 45px;
  width: 160px;
  height: 134px;

  object-fit: cover;
  object-position: center;
}

.card__characteristics {
  @include title-size;
  line-height: 15px;
  margin-bottom: 6px;
}

.card__code {
  align-self: flex-start;
  margin-bottom: 15px;
  line-height: 13px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  .card__review {
    align-self: center;

    line-height: 13px;
  }
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;
  margin-bottom: 19px;

  .card__name {
    line-height: 13px;
  }

  .card__grn {
    @include price-size;
    line-height: 19px;
  }
}

.card__buy {
  @include button-size;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  margin-bottom: 15px;

  line-height: 16px;
  text-transform: uppercase;

  background-color: $nav_link_color;
  color: $background_color;
  border-radius: 5px;
  border: 1px solid  $nav_link_color;

  &:hover {
    color: $nav_link_color;
    background-color: $background_color;
  }
}
