$product-card-width: 200px;
$product-card-border: 1px;
$product-card-padding: 16px;
$image-margin-bottom: 40px;
$title-margin-bottom: 4px;
$code-margin-bottom: 16px;
$rate-margin-bottom: 23px;
$each-star-margin-rigth: 4px;
$each-star-size: 16px;
$price-margin-bottom: 16px;
$header-horizontal-padding: 50px;
$hover-color: #00acdc;
$text-color: #060b35;
