.main {
  display: flex;
  justify-content: center;

  &__wrapper {
    @include flex-btw;
    flex-wrap: wrap;
    max-width: ($product-width * 4) + ($product-margin * 3);
  }

  &__product {
    margin-bottom: $main-indent;
  }
}
