* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
}

.header__logoImage {
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 40px;
}

.nav__list {
  height: 60px;
  display: flex;
  justify-content: right;
  align-items: center;
  text-transform: uppercase;
}

.nav__list :not(:last-of-type) {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 60px;
  color: #060b35;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link::after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  content: "";
  border-radius: 2px;
}

.nav__link:active::after {
  background-color: #00acdc;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  padding: 50px 40px;
  margin: 0 auto;
}

.goods-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  margin-right: 48px;
  margin-bottom: 46px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 1px solid #f3f3f3;
}

.goods-card__image {
  height: 134px;
  margin: 0 3px 40px;
}

.goods-card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}

.goods-card__code {
  font-weight: 400;
  font-size: 10px;
  color: #616070;
  line-height: 14px;
  margin: 0 0 16px;
}

.goods-card___reviews {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.goods-card___reviews-count {
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
  line-height: 14px;
}

.goods-card___cost {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-bottom: 16px;
}

.goods-card___cost-text {
  font-size: 12px;
  color: #616070;
}

.goods-card___cost-value {
  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}

.goods-card__buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: #00acdc;
  border-radius: 5px;
  height: 40px;
}

.goods-card__buy-link:hover {
  color: #00acdc;
}

.goods-card:nth-child(4n) {
  margin-right: 0;
}

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/star.svg);
}

.stars__star:not(:last-of-type) {
  margin-right: 4px;
}

.stars--1 > :nth-child(1),
.stars--2 > :nth-child(-n+2),
.stars--3 > :nth-child(-n+3),
.stars--4 > :nth-child(-n+4),
.stars--5 > :nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}

html {
  font-family: Roboto, Helvetica, sans-serif;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  background-color: #00acdc;
}

/*# sourceMappingURL=styles.css.map */
