@import "variables";
@import "mixin";
@import "header";
@import "nav";
@import "main";
@import "card";

*,
*:after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
