.main {
  &__wrapper {
    @include flex-btw;
    flex-wrap: wrap;
    max-width: ($product-width * 4) + ($product-margin * 3);
    margin: 0 auto;
  }

  &__product {
    margin-bottom: $main-indent;
  }
}
