.main {
  display: flex;
  justify-content: center;

  &__wrapper {
    @include flex-btw;
    flex-wrap: wrap;
    max-width: ($product-width * 4) + ($product-margin * 3);

    @media (max-width: 1020px) {
      justify-content: space-around;
    }
  }

  &__product {
    margin-bottom: $main-indent;
  }
  &__heading {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
