.card {
  box-sizing: border-box;
  width: $width-card;
  padding: 32px 16px 16px;
  border: 1px solid $card-bor-color;
  border-radius: 5px;
  background: $card-bg_buy_hover-bg-color;

  &__img {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
    display: block;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $title_review-count_price-color;
  }

  &__code {
    margin-bottom: 16px;
    color: $code_pr-label-color;
  }

  &__review-container {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review-count {
    font-weight: 400;
    color: $title_review-count_price-color;
  }

  &__price-container {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $code_pr-label-color;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $title_review-count_price-color;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 166px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $card-bg_buy_hover-bg-color;
    background-color: $buy-bor-bg_hover-color;
    border: 1px solid $buy-bor-bg_hover-color;
    border-radius: 5px;
    transition-duration: 300ms;
  }

  &__buy:hover {
    background-color: $card-bg_buy_hover-bg-color;
    color: $buy-bor-bg_hover-color;
  }
}

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }

  @for $i from 1 through $star-count {
    &.stars--#{$i} {
      .stars__star:nth-child(-n + #{$i}) {
        background-image: $star-active-image;
      }
    }
  }
}
