.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
}

header {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

header .header__content {
  margin: 0 auto;
  max-width: 1200px;
}

header .logo-img {
  width: 40px;
  height: 40px;
}

.nav {
  height: 100%;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav__item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  line-height: 60px;
}

.nav__item:first-child {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 50px;
}

.nav__item:last-child {
  margin-right: 50px;
}

.nav__link {
  display: flex;
  height: 100%;
  color: black;
  align-items: center;
}

.nav__link:hover {
  color: #00acdc;
}

.nav .is-active {
  color: #00acdc;
}

.nav .is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 37px;
  border-radius: 8px;
  background-color: #00acdc;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.card__stars {
  display: flex;
  align-items: flex-start;
}

.card__stars .card__star {
  align-self: flex-end;
  margin-right: 4px;
  height: 15px;
  width: 15px;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("./../images/star.svg");
}

.card__stars .card__star:nth-child(-n+4) {
  background-image: url("./../images/star-active.svg");
}

.card__imac {
  margin: 30px 0 45px;
  width: 160px;
  height: 134px;
  object-fit: cover;
  object-position: center;
}

.card__characteristics {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 6px;
}

.card__code {
  align-self: flex-start;
  margin-bottom: 15px;
  line-height: 13px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.card__rating .card__review {
  align-self: center;
  line-height: 13px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 20px;
}

.card__price .card__name {
  line-height: 13px;
}

.card__price .card__grn {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.card__buy {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  margin-bottom: 15px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #00acdc;
  color: white;
  border-radius: 5px;
  border: 1px solid #00acdc;
}

.card__buy:hover {
  color: #00acdc;
  background-color: white;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

/*# sourceMappingURL=style.css.map */
