@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
}

body,
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  height: 60px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__nav {
  display: flex;
  height: 100%;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  padding: 0;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #000;
  text-decoration: none;
  padding: 23px 0;
  position: relative;
}

.nav__link:hover {
  color: #00acdb;
}

.nav__link.is-active {
  color: #00acdb;
  left: 0;
}

.nav__link.is-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 4px solid #00acdb;
  border-radius: 8px;
  bottom: 0;
}

.main {
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.main__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 944px;
  margin-bottom: 78px;
}

.main__product {
  width: 200px;
}

.main__product-card {
  margin-top: 50px;
}

.product-card {
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  padding: 15px 14px;
  font-size: 11px;
}

.product-card__imac {
  display: block;
  width: 160px;
  height: 134px;
  margin: 15px auto 45px;
}

.product-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.product-card__code {
  margin-bottom: 15px;
  line-height: 13px;
}

.product-card__mark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.product-card__review {
  line-height: 13px;
  text-align: right;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card__price-text {
  line-height: 13px;
  margin-bottom: 21px;
}

.product-card__price-UAH {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.product-card__button {
  display: inline-block;
  width: 170px;
  height: 40px;
  border: 1px solid #00acdb;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #00acdb;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.product-card__button:hover {
  background-color: #fff;
  color: #00acdb;
}

.stars {
  display: flex;
}

.stars__item {
  margin-right: 4px;
  width: 15px;
  height: 15px;
  background: url(../images/star.svg) center no-repeat;
}

.stars--1 :nth-child(-n+1) {
  background-image: url(../images/star-active.svg);
}

.stars--2 :nth-child(-n+2) {
  background-image: url(../images/star-active.svg);
}

.stars--3 :nth-child(-n+3) {
  background-image: url(../images/star-active.svg);
}

.stars--4 :nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.stars--5 :nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}
