.table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 944px;
  padding: 50px 40px 72px;
  margin: 0 auto;

  @media screen and (min-width:1200px) {
    padding: 50px 128px 72px;
  }

  &__element {
    margin-bottom: 46px;

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
