@import "variables";

.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, $card-width);
  justify-content: center;
  gap: $grid-gap;
  padding-bottom: 50px;
  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(4, $card-width);
    }
  }
}
