.top-bar {
  padding-block: 0;

  @include contet-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 40px;
    max-width: 100%;
  }
}
