$card-width: 200px;
$card-element-width: 166px;
$image-width: 160px;
$image-height: 134px;
$star-height: 16px;
$star-width: 16px;
$star-gap: 4px;
$product-code-height: 14px;
$price-height: 18px;
$white-color: rgb(243, 243, 243);
$card-title-color: #34568b;
$code-price-color: rgba(97, 96, 112, 1);
$pure-white: rgba(255, 255, 255, 1);
$grid-height: 408px;
$gap-vertical: 46px;
$gap-horizontal: 48px;
$cards-padding-vertical: 50px;
$cards-padding-horizontal: 40px;
$logo-width: 40px;
$logo-height: 40px;
$blue: rgb(0, 172, 220);
$nav-link-color: #060b35;
$border-radius-1: 5px;
$border-radius-2: 8px;
$height: 4px;
