@mixin size-of-grid {
  @media (max-width: 487px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 488px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@mixin font {
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  line-height: 14px;
}
