$main-font: roboto;
$font-small: 11px;
$font-main: 12px;

$card-width:200px;
$card-margin: 48px;
$card-padding: 30px 14px 15px;
$card-border-weight: 1px;
$card-border-color:#f3f3f3;
$card-image-width: 160px;
$card-image-height: 134px;
$card-price-font-size: 16px;
$card-button-weight: 1px;
$card-button-font-size: 14px;

$main-color: #00acdc;
$secondary-color: #fff;

$border-radius: 5px;
