$titleHoverColor: #34568b;
$mainColor: #060b35;
$greyColor: rgba(97, 96, 112, 1);
$accentColor: #00acdc;
$whiteColor: #fff;
$borderColor: #f3f3f3;
$fz: 12px;
$cardWidth: 200px;
$gridGapHorizontal: 48px;
$gridGapVertical: 46px;
$pagePaddingVertical: 50px;
$pagePaddingHorizontal: 40px;
$transitionDuration: 300ms;
$star-gap: 4px;
$star-width: 16px;
$star-height: 16px;
