$color: #060b35;
$secondColor: #616070;
$buttonColor: #00acdc;
$cardTitleColor: #34568b;
$cardWidth: 200px;
$catalogPaddingV: 50px;
$catalogPaddingH: 40px;
$gapCol: 46px;
$gapRow: 48px;
$radius: 5px;
$tansType: color;
$transTime: 300ms;

