$font-main: Roboto, sans-serif;
$main-accent: #060b35;
$secondary-accent: #616070;
$blue-accent: #00acdc;
$white-accent: #fff;
$bg-fon: #f3f3f3;
$card-hover-color: #34568b;
$card-width: 200px;
$star-width: 16px;
$star-height: 16px;
$row-gap: 48px;
$column-gap: 46px;
$catalog-padding: 50px 40px;
$logo-height: 40px;
$logo-width: 40px;
