$main-accent: #060b35;
$secondary-color: #616070;
$blue-accent: #00acdc;
$white: #fff;
$border-color: #f3f3f3;
$color-card-hover: #34568b;
$size-card: 200px;
$pad-text: 16px;
$count-products: 4;
$shadow-color: rgba(0, 0, 0, 0.05);
$transition-duration: 300ms;
