$hover-color: #00acdc;

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin space-around {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

}
