$main-color: #060b35;
$secondary-color: #616070;
$blue-accent: #00ACDC;
$card-title-hover-color: #34568b;
$card-button-hover-color: #fff;

@mixin media-mixin($screenSize, $selector, $prop, $value) {
  @media (min-width: $screenSize) {
    .#{$selector} {
      #{$prop}: #{$value};
    }
  }
}
