$button-color: rgb(0, 172, 220);
$main-text-color: rgb(6, 11, 53);
$secondary-text-color: rgb(97, 96, 112);
$background-color: white;
$border-color: rgb(243, 243, 243);
$hover-card-item-name-color: #34568b;
$link-color: #060b35;
$active-link-color: #00acdc;
$logo-size: 40px;
