$card-width: 200px;
$card-card-gap: 48px;
$card-body-gap: 40px;
$logo-size: 40px;
$main-color: #00acdc;
$secondary-color: #fff;
$image-height: 134px;
$image-width: 160px;

@mixin font-basic {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

@mixin font-big {
  font-weight: 500;
  line-height: 14px;
  font-size: 12px;
}

@mixin font-biggest {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}
