$medium-font-weight: 500;
$duration: 300ms;
$blockWidth: 100%;
$main-font: Roboto, sans-serif;
$blue-color: #00acdc;
$button-color: white;
$main-first-color: #060b35;
$card-second-color: #616070;
$card-border: solid 1px #f3f3f3;
$card-hover-title-color: #34568b;
$card-width: 200px;
$card-border-radius: 5px;
$card-padding: 16px;
$card-text-rating-font-size: 10px;
$card-text-rating-margin-block: 0;
$card-text-rating-line-height: 14px;
$card-price-margin-top: 24px;
$card-text-price-margin-block: 0;
$card-text-price-font-size: 12px;
$card-text-price-line-height: 18px;
$card-count-margin-block: 0;
$bold-font-weight: 700;
$card-count-font-size: 16px;
$card-count-line-height: 18px;
$catalog-padding: 50px 40px;
$catalog-gap: 46px 48px;
$small-screen: 488px;
$medium-screen: 768px;
$large-screen: 1024px;
$zero-lint: 0;
$star-size: 16px;
$title-font-size: 12px;
$title-line-height: 18px;
$margin-title: 40px 0 0;
$subtitle-font-size: 10px;
$subtitle-line-height: 14px;
$subtitle-margin: 4px auto 0 0;
$logo-margin-top: 16px;
$logo-height: 134px;
$logo-width: 160px;
$rating-line-height: 0;
$rating-margin-top: 16px;
$button-font-size: 14px;
$button-line-height: 16px;
$button-height: 40px;
$button-border-radius: 5px;
$button-margin-top: 16px;
$button-border: solid 1px transparent;
$button-hover-border: solid 1px $blue-color;
$nav-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
$nav-padding: 0 50px;
$nav-image-margin: 10px 0;
$nav-no-first-item-margin: 20px;
$nav-line-height: 14px;
$nav-link-font-size: 12px;
$nav-link-margin: 22px 0 23px;
$nav-is-active-line-height: 14px;
$nav-is-active-font-size: 12px;
$nav-is-active-padding: 22.5px 0;
$nav-link-underline-margin-top: 19px;
$nav-link-underline-border-radius: 8px;
$nav-link-underline-height: 4px;
$media-query: (
  1: (
    $zero-lint,
    #{$small-screen - 1px},
  ),
  2: (
    $small-screen,
    #{$medium-screen - 1px},
  ),
  3: (
    $medium-screen,
    #{$large-screen - 1px},
  ),
  4: (
    1024px,
    1200px,
  ),
);
