$awaypad: 50px;
$otstup: 0 $awaypad;
$maincolor: #00acdc;
$buy-color: white;
$card-width: 200px;
$card-margside: 24px;
@mixin flexdefault {
  display: flex;
  flex-wrap: nowrap;
}
@mixin text-tstyle {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
}

@mixin loop($reit) {
  @for $i from 1 through 5 {
    :nth-child(#{$i + $reit}) {
      display: none;
    }
  }
}
