$awaypad: 50px;
$otstup: 0 $awaypad;
$maincolor: #00acdc;
$buy-color: white;
$card-width: 200px;
$card-margside: 24px;
$rating-numbers: 0, 1, 2, 3, 4, 5;
@mixin flexdefault {
  display: flex;
  flex-wrap: nowrap;
}
@mixin text-tstyle {
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-style: normal;
  font-weight: normal;
}

@mixin loop($reit) {
  @for $i from 0 through $reit {
    :nth-child(#{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
