$color-primary: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$color-white: #fff;
$color-border: #f3f3f3;
$color-title-hover: #34568b;
$header-color: #fff;
$text-color: #060b35;
$selected-color: #00acdc;
$shadow-color: rgba(0, 0, 0, 0.15);
$border-radius: 5px;
