$card-bakround-color-other: rgba(255, 255, 255, 1);
$prod-code-color-text: rgba(97, 96, 112, 1);
$reviews-color-moni: rgba(6, 11, 53, 1);
$backr-color-other: rgba(0, 172, 220, 1);
$color-header-link: #060b35;
$large-screen: 1024px;
$mes-screenn: 768px;
$small-skreen: 488px;
$col-umns-small: 2;
$col-umns-med: 3;
$col-umns-big: 4;
