$color-primary: #060b35;
$color-secondary: #00acdc;
$button-color: $color-secondary;
$text-color-primary: $color-primary;
$text-color-secondary: #616070;
$border-card-color: #f3f3f3;
$nav-link-color-hover: $color-secondary;
$nav-link-color: $color-primary;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$line-height-small: 14px;
$line-height-medium: 18px;
