$main-bg-color: #fff;
$main-text-color: #060b35;
$second-text-color: #616070;
$card-border-color: #f3f3f3;
$link-color: #00acdc;
$hover-card-title: #34568b;
$card-width: 200px;
$catalog-padding: 50px 40px;
$catalog-gap: 46px 48px;
$star-size: 16px;
$star-gap: 4px;
$card-border-radius: 5px;
$card-backdown: 16px;
$card-font-normal: 400;
$card-font-bold: 700;
$card-line-big: 18px;
$card-font-small: 10px;
$header-padding: 0 50px;
$header-link-gap: 20px;
$header-link-height: 60px;
$active-link-line-height: 4px;
$active-link-line-radius: 4px;
