$secondary: #616070;
$blue-accent: #00ACDC;
$header-active-link-color: #00acdc;
$effect-duration: 0.3s;
$desktop-min-width: 1024px;
$tablet-min-width: 768px;
$md-mobile-width: 488px;
$max-width-hidden: 991px;
$min-width-hidden: 992px;
