$font-main: 'Roboto', sans-serif;
$primary-color: #fff;
$header-font-color: #060b35;
$main-accent-color: #060b35;
$blue-accent-color: #00acdc;
$secondary-color: #616070;
$header-hover-color: #34568b;
$transition: all 0.3s;
