$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$black: #000;
$white: #fff;
$card-item-text-color-hover: #34568b;
$border-color: #f3f3f3;
$font: Roboto, sans-serif;
$header-container-size: 1300px;
$container-size: 1024px;
$header-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
$card-item-width: 200px;
$star-size: 16px;
$star-spacing: 4px;
$star-active-width: 20px;
$star-active-height: 11px;
$star-active-offset-top: 2px;
$star-active-offset-left: -4px;
$padding-left-right-container-header: 50px;
$container-padding-top-bottom: 50px;
$container-padding-left-right: 40px;
$nav-item-margin-right: 20px;
$nav-link-height: 60px;
$nav-link-line-height: 60px;
$nav-link-active-width: 37px;
$nav-link-active-height: 4px;
$nav-link-active-border-radius: 8px;
