$white: #fff;
$lightBlue: #00acdc;
$gray: #616070;
$lightGray: #f3f3f3;
$darkBlue: #060b35;
$titleColor: #34568b;
$boxShadow: 0 1px 4px rgba(0, 0, 0, 0.06);

$vertical-padding: 50px;
$horizontal-padding: 40px;
$vertical-gap: 48px;
$horizontal-gap: 46px;
$transition-duration: 0.3s;
$card-columns: 4;
