@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin text($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

$color-2: #00acdc;
$cardWidth: 200px;
$catalogItemsGapX: 48px;
$catalogItemsGapY: 51px;
$starSize: 15px;
$starMarginRight: 4px;
