$header-font-family: "Roboto", sans-serif;
$header-size: 12px;
$header-weight: 500;

/*  product cards veriables  */

$cards-width: 200px;
$cards-height: 403px;

// mixin for product cards
@mixin flexbox {
  display: flex;
  justify-content: space-between;
}

$card-subtitle: 11px;
