.wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
  font-size: 12px;
  padding: 0 50px;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 1200px;
  margin: 0 auto;
}
