.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  line-height: 18px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  background: $color-card;
  border: 1px solid $color-radius-border;
  border-radius: $radius-border;

  &__img {
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;

    color: $color-card-code;
  }

  &__rate {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__reviews {
    color: $color-card-reviews;
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
  }

  &__money {
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    color: $color-card-code;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }

  &__product {
    padding: 11px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: $color-card;
    text-transform: uppercase;

    text-decoration: none;
    border: 1px solid  transparent;
    border-radius: 5px;
    background: $color-card-product;

    transition: all 0.2s;
  }

  &__product:hover {
    color: $color-card-product;
    background: $color-card;

    border: 1px solid $color-card-product;
  }
}
