.nav {
  display: flex;
  margin: 0 50px 0 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  margin: 0 0 0 20px;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}

.nav__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;

  color: $link-main-color;
}

.nav__item:first-child {
  margin: 0;
}

.nav__link:hover {
  color: $link-active-color;
}

.is-active {
  color: $link-active-color;
  margin: 0;
}

.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: $link-active-color;
  border-radius: 8px;
}
