.stars {
  display: flex;

  &__star {
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__star--active {
    background-image: url(/images/star-active.svg);
    background-repeat: no-repeat;
  }

}
