
.catalog {
  display: flex;
  justify-content: center;

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 40px;
    margin-right: -80px;
    width: $columns * $cardWidth + ($columns - 1) * $gapX + 2 * $paddingX;
  }

  &__item {
    margin-right: $gapX;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

  }
}
