.card {
  width: $card-width;
  padding: 32px $spacing $spacing;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    align-self: center;
    margin-bottom: 40px;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 500;
    line-height: 18px;
    color: $font-color-main;
    margin-bottom: 4px;
  }

  &__code {
    @include font-small;
    margin-bottom: $spacing;
  }

  &__review {
    @include flex-beetwen;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-medium;
    line-height: 18px;
    color: $font-color-secondary;
    margin-bottom: $spacing;
  }

  &__link {
    width: 100%;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-large;
    font-weight: bold;
    color: #fff;
    background-color: $blue-color-accent;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: $blue-color-accent;
      border-color: $blue-color-accent;
      background-color: transparent;
    }
  }
}
