.card {
  width: $card-width;
  padding: {
    top: 32px;
    left: 16px;
    right: $spacing-horizontal-medium;
    bottom: $spacing-horizontal-medium;
  }
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;

  &__product-img {
    width: 160px;
    height: 134px;
    align-self: center;
    margin-bottom: 40px;
  }

  &__product-name {
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: $line-height-large;
    color: $font-color-main;
    margin-bottom: 4px;
  }

  &__product-code {
    @include font-small;
    margin-bottom: $spacing-vertical-medium;
  }

  &__review-wrapper {
    @include flex-beetwen;
    margin-bottom: 24px;
  }

  &__review-score {
    @include font-small;
    color: $font-color-main;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-medium;
    line-height: $line-height-large;
    color: $font-color-secondary;
    margin-bottom: $spacing-vertical-medium;
  }

  &__price-number {
    font-size: $font-size-x-large;
    font-weight: $font-weight-bold;
    color: $font-color-main;
  }

  &__link {
    width: 100%;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: #fff;
    background-color: $blue-color-accent;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link:hover {
    color: $blue-color-accent;
    border-color: $blue-color-accent;
    background-color: transparent;
  }
}
