
@mixin image-square($size) {
  height: $size;
  width: $size;
}

@mixin f-size-weight-l-height ($f-size,$f-weight,$l-height) {
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
}
