
$card-width: 200px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
$catalog-container-width: ($card-width * 4) + ($card-margin-right * 3);

$c-text-main: #060b35;
$c-text-second: #616070;
$c-blue: #00acdc;
$c-white: #fff;
