$color-main: #060b35;
$color-secondary: #616070;
$color-white: #fff;
$color-blue: #00acdc;
$color-white-dark: #f3f3f3;

$star-size: 16px;
$card-width: 198px;
$catalog-widht: 1000px;
$title-width: 166px;
