$first-color: #060b35;
$second-color: #616070;
$third-color: #00acdc;
$first-font-weight: 400px;
$second-font-weight: 500px;
$third-font-weight:700px;

@mixin star-size($size) {
  height: $size;
  width: $size;
}

@mixin f-size-weight-l-height ($f-size,$f-weight,$l-height) {
  font-size: $f-size;
  font-weight: $f-weight;
  line-height: $l-height;
}

%flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-center {
  display: flex;
  align-items: center;
}
