
$card-width: 200px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
$buy-button-height: 40px;
$fw400: 400;
$fw700: 700;
$catalog-container-width: ($card-width * 4) + ($card-margin-right * 3);
$header-height: 60px;
$transition-duration: 0.2s;

$c-text-main: #060b35;
$c-text-second: #616070;
$c-blue: #00acdc;
$c-white: #fff;
