
html {
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

body {
  margin: 0;
}

.catalog {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

img,
nav,
div,
a,
p,
.header,
.catalog__cards {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
