$card-size: 200px;
$card-row: 4;
$card-margin-right: 48px;
$catalog-rows: 
  ($card-size * $card-row) + ($card-margin-right * ($card-row - 1));
$white-color: #fff;
$main-color: #00acdc;
$text-color-1:#060b35;
$text-color-2:#616070;
