$main-accent-color: #060b35;
$secondary-color: #616070;
$bg-button-color: #fff;
$main-page-color: #00acdc;
$card-title-hover:#34568b;
$card-width: 200px;
$row-gap-width: 46px;
$colunm-gap-width: 48px;
