$white-color: #fff;
$hover-nav-link-color: #00acdc;
$nav-link-color: #060b35;
$card-main-text-color: #060b35;
$card-secondary-text-color: #616070;
$hover-card-title-text-color: #34568b;
$button-bg-color: #00acdc;
$hover-button-bg-color: #fff;
