$font-primary-family: Roboto, sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$color-main-accent: #060b35;
$color-secondary: #616070;
$color-blue-accent: #00acdc;
$color-dark-blue: #34568b;
$color-card-border: #f3f3f3;
$color-white: #fff;
$card-width: 200px;
$pov-phone: 488px;
$pov-tablet: 768px;
$pov-desktop: 1024px;
$transition-duration: 300ms;
