.card {
  display: flex;
  flex-direction: column;

  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $color-border;
  box-sizing: border-box;
  border-radius: $card-border-radius;
  background-color: $color-white;

  @include font-s;

  &__image {
    align-self: center;
  }

  &__title {
    margin: 0;
    margin-top: 40px;

    font-weight: $font-weight-m;

    @include font-m;

    // it's still #000
  }

  @include on-hover-smooth(
    (
      color: $color-highlight,
    ),
    #{&}__title
  );

  &__product-code-section {
    margin: 0;
    margin-top: 4px;

    color: $color-secondary;
  }

  &__review-section {
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price-section {
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
  }

  &__price-label {
    @include font-m;

    color: $color-secondary;
  }

  &__price {
    font-weight: $font-weight-l;
    font-size: $font-size-xl;
    line-height: 18px;
    color: $color-main-accent;
  }

  &__button {
    margin-top: 16px;
  }

  @include on-hover-smooth(
    (
      transform: scale(1.2),
    )
  );
}
