.product-picture {
  position: relative;

  &__picture {
    display: block;
    width: $product-picture-width;
    height: $product-picture-height;
  }

  // @include on-hover-smooth(
  //   (
  //     scale: 1.2,
  //   ),
  //   #{&}__image
  // );
}
