.purchase-button {
  height: $button-height;

  background-color: $color-blue-accent;
  color: $color-white;
  border-radius: $card-border-radius;
  border: $border-width-primary solid transparent;

  font-weight: $font-weight-l;
  font-size: $font-size-l;
  line-height: $line-height-m;
  text-align: center;
  align-content: center; // can't do line-height
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box; // the border should not change the height

  $animate-on-hover: (
    background-color: $color-white,
    color: $color-blue-accent,
    border: $border-width-primary solid $color-blue-accent,
  );

  @include on-hover-smooth($animate-on-hover);
}
