.purchase-button {
  height: 40px;

  background-color: $color-blue-accent;
  color: $color-white;
  border-radius: $card-border-radius;
  border: none;

  font-weight: $font-weight-l;
  font-size: $font-size-l;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-white;
    color: $color-blue-accent;
    border: 1px solid $color-blue-accent;
  }
}
