.purchase-button {
  height: 40px;

  background-color: $color-blue-accent;
  color: $color-white;
  border-radius: $card-border-radius;
  border: $button-border-width $button-border-style transparent;

  font-weight: $font-weight-l;
  font-size: $font-size-l;
  line-height: 16px;
  text-align: center;
  align-content: center; // can't do line-height
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box; // the border should not change the height

  $animate-on-hover: (
    background-color: $color-white,
    color: $color-blue-accent,
    border: $button-border-width $button-border-style $color-blue-accent,
  );

  @include on-hover-smooth($animate-on-hover);

  // works
  // transition-duration: 2s;
  // transition-property: background-color, color, border;
  // &:hover {
  //   background-color: $color-white;
  //   color: $color-blue-accent;
  //   border: 1px solid $color-blue-accent;
  // }
}
