$color-main: #060b35;
$color-secondary: #616070;
$color-main-blue: #00acdc;
$color-white: #fff;
$color-shadow: rgba(0, 0, 0, 0.05);

$catalog-vertical-gap: 48px;
$catalog-horizontal-gap: 46px;

$cards-per-row: 4;
$card-width: 200px;
$card-border-thickness: 1px;

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
