$colorMain: #060b35;
$colorSecondary: #616070;
$colorMainBlue: #00acdc;
$colorWhite: #fff;
$colorShadow: rgba(0, 0, 0, 0.05);

$catalogVerticalGap: 48px;
$catalogHorizontalGap: 46px;

$cardsPerRow: 4;
$cardWidth: 200px;
$cardBorderThickness: 1px;

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
