@import 'blocks/nav';
@import 'blocks/logo';

.header {
  padding-inline: $header-padding-inline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: $header-font-weight;
}
