// #region color

$color-main: #00acdc;
$color-btn: #fff;
$color-text-1: #060b35;
$color-text-2: #616070;
$color-border: #f3f3f3;
$color-bgc: #fff;

//#endregion

$card-width: 200px;
$card-padding-x: 16px;
$card-margin-x: 24px;
$cards-row-num: 4;

$img-width: $card-width - ($card-padding-x * 2);
$img-gap: ($card-width - $card-width) / 2;
$cards-row-width: ($card-width + $card-margin-x * 2) * $cards-row-num;
