// * {
//   box-sizing: border-box;
// }

.catalog {
  box-sizing: border-box;
}

.page {
  // display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 816px;
}

.page-field {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 50px 40px;
}

.page-field__element {
  margin-right: 48px;
  margin-bottom: 46px;
}

.page-field__element:nth-child(4n) {
  margin-right: 0;

}

.page-field__element:nth-child(n+5) {
  margin-bottom: 0;
}
