
.nav__item:not(:first-child) {
  // margin-top: 19px;
  // margin-bottom: 22px;
  margin-left: 20px;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color__h1;
  // margin-left: 20px;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
}

.nav__link:hover {
  color: $font-color__box;
  cursor: pointer;
}

.is-active {
  position: relative;
  color: $font-color__box;
  margin-left: 0;
}
