@import "./variables.scss";

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-color__h1;
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
}

.nav__link:hover {
  color: $font-color__box;
  cursor: pointer;
}
