.card {
  box-sizing: border-box;
  padding: 16px;
  border: 1px $c-little-gray solid;
  border-radius: 5px;
  width: $card-size;

  &__image {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 40px;
  }

  &__photo {
    height: 134px;
    width: 160px;
    box-sizing: border-box;
  }

  &__product-info {
    display: inline-block;
    text-decoration: none;
    color: $c-black-blue;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    line-height: 18px;
  }

  &__product-info-code {
    color: $c-gray;
    font-size: 10px;
    margin-bottom: 16px;
  }

  &__rate-text {
    color: $c-black-blue;
    font-size: 10px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__price-cost {
    color: $c-black-blue;
    font-size: 16px;
    font-weight: bold;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-text {
    color: $c-gray;
  }

  &__link {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: bold;
    color: $c-little-gray;
    text-decoration: none;
    text-transform: uppercase;

    height: 40px;
    flex-grow: 1;
    border: $c-link-blue 1px solid;
    border-radius: 5px;
    background-color: $c-link-blue;

    &:hover {
      color: $c-link-blue;
      background-color: $c-white;
    }
  }
}
