@import "../styles/Stylepack/_paints.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__link {
    position: relative;
    color: #000;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 23px 0;

    &:hover {
      color: $giganiga-blue-color;
    }

    &-item {
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}
