.main-content__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1024px;
}

.main-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
