.main-content__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1024px;
}

.card {
  margin-right: 48px;
  margin-bottom: 46px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.main-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
