.main-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;

  &__card {
    margin-right: 48px;
    margin-bottom: 46px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1024px;
  }
}
