@import "./card-block.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__top {
  margin-bottom: 46px;
}

.main__top,
.main__bot {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .main {
    padding: 50px 40px 72px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 50px 128px 72px;
  }
}
