.card {
  width: 200px;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    display: block;
    margin: auto 0;
    width: 160px;
    height: 134px;
  }

  &__description {
    margin-top: 40px;
  }

  &__title {
    font-weight: 500;
    line-height: 18px;
    color: $main-text-color;
  }

  &:hover &__title {
    color: $hover-title-color;
  }

  &__subtitle {
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-text-color;
  }

  &__rate {
    margin-top: 16px;

    @include flexContainer;
  }

  &__reviews {
    text-align: right;
    font-size: 10px;
    line-height: 14px;
  }

  &__cost {
    margin-top: 24px;

    @include flexContainer;
  }

  &__price {
    line-height: 18px;
    color: $secondary-text-color;
  }

  &__value {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-text-color;
  }

  &__link {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 40px;

    border: 1px solid $accent-color;
    color: rgba(255, 255, 255, 1);
    background: $accent-color;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    background: rgba(243, 243, 243, 1);
    color: $accent-color;
    border-color: $accent-color;
  }
}
