.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #fff;
  transition: 0.3s;

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: $medium-font-size;
    line-height: $large-line-height;
    color: $main-color;
    margin-top: 0;
    transition: 0.3s;
  }

  &:hover {
    transform: scale(1.2);

    .card__title {
      color: #34568b;
    }
  }

  &__picture {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__code {
    margin-bottom: 16px;
    color: $secondary-color;
    font-size: $normal-font-size;
    line-height: $minimal-line-height;

    margin-top: 0;
  }

  &__review-box {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 16px;

    margin-top: 0;

    &-content {
      font-weight: $normal-font-weight;
      font-size: $normal-font-size;
      line-height: $minimal-line-height;
    }
  }

  &__price-box {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;

    margin-top: 0;

    .card__price-text {
      font-weight: $normal-font-weight;
      font-size: $medium-font-size;
      line-height: $large-line-height;
      color: $secondary-color;
    }

    .card__price-content {
      font-weight: $heavy-font-weight;
      font-size: $large-font-size;
      line-height: $large-line-height;
      color: $main-color;
    }
  }

  &__purchase-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 40px;

    border-radius: 5px;
    border-color: $blue-color;

    background-color: $blue-color;
    color: #fff;

    font-weight: $heavy-font-weight;
    font-size: $big-font-size;

    text-transform: uppercase;
    text-decoration: none;

    line-height: $medium-line-height;

    margin-top: 0;

    transition-duration: 0.3s;

    &:hover {
      box-sizing: border-box;
      background-color: #fff;
      border: 1px solid $blue-color;
      color: $blue-color;
    }
  }
}
