.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(200px, 200px));
  row-gap: 46px;
  column-gap: 48px;
  padding-top: 50px;
  padding-bottom: 72px;
}

@media (min-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(200px, 200px));
  }
}

@media (min-width: 760px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(200px, 200px));
  }
}

@media (min-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(4, minmax(200px, 200px));
  }
}
