.card {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-blue;
    border-radius: 5px;
    background-color: $light-blue;

    width: 166px;
    height: 40px;

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      background-color: #fff;
    }

    &:hover &-text {
      color: $light-blue;
    }
  }
}
