.card {
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    margin: 0;
    margin-bottom: 4px;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    color: $secondary-text-color;

    margin: 0;
    margin-bottom: 16px;
  }

  &:hover &__title {
    color: #34568b;
  }
}
