@import '../../styles/variables';

.card {
  box-sizing: border-box;
  width: $card-width;
  border: 1px solid $color-border;
  border-radius: $card-border-radius;
  padding: $card-padding-vertical $card-padding-horizontal $card-padding-bottom;
  background: $color-white;

  &__image {
    display: block;
    margin: 0 auto 40px;
    width: $card-image-width;
    height: $card-image-height;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: $nav-link-font-weight;
    color: $color-text;
    transition: color $transition-duration;
  }

  &__code {
    margin-bottom: 16px;
    color: $color-text-secondary;
    font-size: 10px;
    line-height: 14px;
  }

  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__review-count {
    color: $color-text;
    font-size: 12px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
    color: $color-text-secondary;
  }

  &__price {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $color-text;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: $button-height;
    border: 1px solid $color-primary;
    border-radius: $button-border-radius;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color-primary;
    transition:
      background $transition-duration,
      color $transition-duration;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }
  }

  &:hover {
    transform: scale($hover-scale);
    z-index: 10;

    .card__title {
      color: #34568b;
    }
  }
}
