.content-info {
  display: flex;
  flex-direction: column;

  &__info-name {
    margin-bottom: 4px;
  }

  &__info-code {
    font-size: 10px;
    line-height: 14px;
    font-weight: $small-text;
    color: $color-for-secondary-text;
  }
}
