.card {
  width: $card-width;
  height: 406px;
  background-color: $color-white;
  border: 1px solid $card-border-color;
  border-radius: $border-radius;
  transition: transform $transition-duration;

  &__top {
    display: flex;
  }

  &__title {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $cor_texto_primaria;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin-top: 32px;
    margin-left: $space-ml;
    image-rendering: auto;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: smooth;
  }

  &:hover {
    transform: scale($card-scale);
  }

  &:hover .card__title {
    color: $title-hover-color;
    transition: color $transition-duration;
  }
}
