.card {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 1px solid $wrap-color;
  border-radius: 5px;
  letter-spacing: 0;

  width: 200px;
  min-height: 408px;
  transition: transform 300ms;

  &__img {
    width: 160px;
    height: 134px;
    margin: 32px 19px 40px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $primary-color;

    flex-grow: 1;

    margin: 0 16px 4px;
  }

  &__code {
    display: flex;
    align-items: center;

    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $secondary-color;

    margin: 0 16px;
    margin-bottom: 16px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    gap: 17px;

    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $secondary-color;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px 16px;
    line-height: 1;
    padding: 0;
  }

  &__price {
    font-size: 12px;
    font-weight: 400;

    margin: 0;
    padding: 0;

    color: $secondary-color;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    margin: 0;
    padding: 0;

    color: $primary-color;
  }

  &__button {
    margin: 0 16px 16px;
    width: 166px;
    height: 40px;

    border: 1px solid $accent-color;
    border-radius: 5px;
    background-color: $accent-color;
    overflow: hidden;
  }

  &__button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: $forbutton-color;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      background-color: $forbutton-color;
      color: $accent-color;
    }
  }
}

.card:hover .card__title {
  color: $hover-card-title-color;
}

.card:hover {
  transform: scale(1.2);
  z-index: 1;
}
