$main-font: 'Roboto', sans-serif;
$primary-color: #060b35;
$secondary-color: #616070;
$accent-color: #00acdc;
$wrap-color: #f3f3f3;
$forbutton-color: #fff;
$hover-card-title-color: #34568b;
$card-width: 200px;
$card-min-height: 408px;
$star-size: 16px;
$stars-width: 96px;
$card-border-radius: 5px;
$card-img-width: 160px;
$card-img-height: 134px;
$card-title-font-size: 12px;
$card-title-font-weight: 500;
$card-small-font-size: 10px;
$card-small-font-weight: 400;
$card-big-font-size: 16px;
$card-big-font-weight: 700;
$global-margin: 16px;
$star-margin-right: 4px;
$button-width: 166px;
$button-height: 40px;
$button-font-size: 14px;
$card-transition: 300ms;
