.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $border-card;
  border-radius: 5px;
  transition: 300ms linear;
  cursor: pointer;

  &__img {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    color: $main-text-color;
  }

  &__code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $second-text-color;
    text-align: left;
    margin-left: 0;
    margin-top: 4px;
    margin-bottom: 0;
  }

  &__review {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 8px;
    column-gap: 17px;

    &-amount {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 16px;
      width: 53px;
      margin: 6px 0 10px;
      font-weight: 400;
      font-size: 10px;
      line-height: 16px;
      text-align: right;
      color: $main-text-color;
    }
  }

  &__buy {
    box-sizing: border-box;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: $link-bg-color;
    color: $link-text-color;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    border: 1px solid $link-bg-color;

    &:hover {
      background-color: $link-text-color;
      color: $link-bg-color;
      border-color: $link-bg-color;
      line-height: 40px;
    }
  }

  &:hover {
    transform: scale(1.2);
  }

  &:hover .card__title {
    color: $card-titl-hover;
  }

  .card__price {
    display: flex;
    justify-content: space-between;
    height: 18px;
    margin: 5px 0 15px;
    overflow: hidden;

    &-title {
      height: 18px;
      width: 31px;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: $second-text-color;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &-amount {
      height: 18px;
      width: 50px;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: right;
      color: $main-text-color;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}
