$card-width: 200px;
$star-size: 16px;
$margin-bootom-cards: 48px;
$main-side-padding: calc(
  (100% - #{$card-width} * 4 - #{$margin-bootom-cards} * 3) / 2
);
$text-color: #060b35;
$link-hover-active-color: #00acdc;
