@mixin size-y-x($y, $x) {
  height: $y;
  width: $x;
}

@mixin fonts-parametrs($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}
