$logo-size: 40px;
$main-text-color: #060b35;
$hover-text-color: #00acdc;
$after-content-height: 4px;
$after-content-width: 37px;
$card-height: 408px;
$card-width: 200px;
$section-height: (2 * $card-height + 48);
$section-width: (4 * $card-width + 3 * 50);
$image-height: 134px;
$image-width: 160px;
$secondary-text-color: #616070;
