$cards-number: 4;
$card-width-full: 200px;
$card-spacing: 48px;
$border-width: 1px;
$paddings-card: 16px;
$main-width:
  $cards-number * $card-width-full + ($cards-number - 1) * $card-spacing;
$card-width-inside:
  $card-width-full - $paddings-card * 2 - $border-width * 2;
