
$card-width: 200px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
$card-padding: 16px;
$container-padding-top: 50px;

$font-main-color:#060b35;
$font-secondary-color:#616070;
$font-hover-color:#00acdc;
