$base-body: 1200px;
$base-margin__left: 50px;
$base-size: 198px;
$base-width: 4 * $base-size + 3 * $base-margin__left;
$base-height: 406px;
$base-margin__top: 48px;
$base-shift: ($base-body - $base-width) / 2;
$container-shift-left: $base-size + $base-margin__left;
$container-shift-top: $base-height + $base-margin__top;
