@mixin animate($animation-name) {
  animation-name: $animation-name;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes hover-card {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes hover-card-title {
  0% {
    color: $color-main-accent;
  }
  100% {
    color: #34568b;
  }
}

@keyframes hover-nav-link {
  0% {
    color: $color-main-accent;
  }
  100% {
    color: $color-blue-accent;
  }
}

@keyframes hover-button {
  0% {
    color: white;
    background-color: $color-blue-accent;
  }
  100% {
    color: $color-blue-accent;
    background-color: white;
  }
}
