@mixin animate($animation-name) {
  animation-name: $animation-name;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes hover-card {
  100% {
    transform: scale(1.2);
  }
}

@keyframes hover-card-title {
  100% {
    color: #34568b;
  }
}

@keyframes hover-nav-link {
  100% {
    color: $blue-accent-color;
  }
}

@keyframes hover-button {
  100% {
    color: $blue-accent-color;
    background-color: white;
  }
}
