@media (max-width: $breakpoint-sm) {
  .main {
    grid-template-columns: repeat($grid-columns-sm, $grid-column-width);
  }
}

@media (min-width: $breakpoint-sm) {
  .main {
    grid-template-columns: repeat($grid-columns-md, $grid-column-width);
  }
}

@media (min-width: $breakpoint-md) {
  .main {
    grid-template-columns: repeat($grid-columns-lg, $grid-column-width);
  }
}

@media (min-width: $breakpoint-lg) {
  .main {
    grid-template-columns: repeat($grid-columns-xl, $grid-column-width);
  }
}
