.content {
  display: flex;
  flex-wrap: wrap;

  width: 944px;

  &__card {
    padding: 16px;
    background: #fff url(../images/imac.jpeg) 19px 32px/160px 134px no-repeat;

    &:nth-child(-n+4) {
      margin-bottom: 46px;
    }

    &:not(:nth-child(4n)) {
      margin-right: 48px;
    }
  }
}
