%size-description-code {
  padding-top: 4px;
  font-size: 10px;
  line-height: 14px;
  color: $secondary-color;
}

%size-description-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

%size-price-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

%size-price-name {
  font-size: 12px;
  line-height: 18px;
}
