%regular-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

%medium-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

%large-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

%link-style {
  text-decoration: none;
  text-transform: uppercase;
}

%adjust-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}
