%normal-text {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

%medium-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

%large-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
