%flex-between {
  display: flex;
  justify-content: space-between;
}

%flex-ai-center {
  display: flex;
  align-items: center;
}

%normal-font {
  font-weight: 500;
  font-size: 12px;
  color: #{$black-color};
}
