%flex {
  display: flex;
}

%title-font-styles {
  font-family: $basic-font-family;
  color: $basic-color;
  font-weight: $title-font-weight;
  line-height: $title-line-hright;
  font-size: $title-font-size;
}
