%flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}
