@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

%large-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  font-style: normal;
  color: #060b35;
}
