@function getMaxWidth (
  $cards-amount: 3, 
  $card-width: 200px, 
  $card-gap: 48px, 
  $page-side-padding: 40px
) {
  @return ($card-width * ($cards-amount + 1) + 
  $card-gap * $cards-amount + 
  $page-side-padding * 2) - 1px;
}

@function getMaxHeight (
  $cards-amount: 2,
  $card-height: 406px, 
  $card-gap: 46px, 
  $page-top-padding: 50px
) {
  @return $card-height * $cards-amount + 
    $card-gap * ($cards-amount - 1) + 
    $page-top-padding * 2;
}
