h2,
body,
p,
a,
div {
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
