
@mixin logo-image-size($logo-image-height) {
  width: $logo-image-height;
  height: $logo-image-height;
}

@mixin logo-card-size($card-image-width) {
  width: $card-image-width;
  height: (67 / 80) * $card-image-width;
}

@mixin padding-card($card-image-width) {
  padding-top: (1 / 5) * $card-image-width;
  padding-bottom: (1 / 10) * $card-image-width;
  padding-left: (1 / 10) * $card-image-width;
  padding-right: (1 / 10) * $card-image-width;
}
