@media (max-width: 1025px) {

  @for $index from 1 through 4 {
    .product-card--position-row-#{$index} {
      margin-left: $margin-left-1024 + ($index - 1) * $card-and-margin-size;
    }
  }

  @for $index from 5 through 8 {
    .product-card--position-row-#{$index} {
      margin-left: $margin-left-1024 + ($index - 5) * $card-and-margin-size;
      margin-top: $margin-top-second-row;
    }
  }
}
