@media (max-width: 487px) {
  .main-content {
    grid-template-columns: repeat(1, 200px);
  }

  .header {
    padding: 0 20px;
  }
}

@media (min-width: 488px) {
  .main-content {
    grid-template-columns: repeat(2, 200px);
  }

  .header {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 800px) {
  .header {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .main-content {
    grid-template-columns: repeat(4, 200px);
  }
}
