@media (min-width: 488px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: min-content;
    gap: 46px 48px;
    height: min-content;
    padding: 50px 0;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: min-content;
    gap: 46px 48px;
    height: min-content;
    padding: 50px 0;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: min-content;
    gap: 46px 48px;
    height: min-content;
    padding: 50px 0;
    justify-content: center;
  }
}
