@use "./variables" as *;

@mixin card-size($width, $height) {
  width: #{$width};
  height: #{$height};
}

@mixin header-decoration {
  color: black;
  text-decoration: none;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

@mixin header-decor-hover {
  color: $link-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

@mixin button-decoration {
  background-color: #00acdc;
  border-radius: 5px;
  width: 170px;
  height: 40px;
}

@mixin button-decor-hover {
  background-color: #fff;
  border-radius: 5px;
  color: #00acdc;
  border: 1px solid #00acdc;
}
