@mixin star-size($star-size) {
  height: $star-size;
  width: $star-size;
}

@mixin button-link-size ($button-link-height-width) {
  height: $button-link-height-width;
  width: $button-link-height-width;
}
