@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin bg-image {
  background: no-repeat center url(../images/star.svg);
}

@mixin bg-image-active {
  background-image: url(../images/star-active.svg);
}
