@mixin size($width: auto, $height: auto) {
  width: $width;
  height: $height;
}

@mixin font(
  $font-size,
  $line-height,
  $font-weight,
  $color
) {
  font-size: typography($font-size);
  line-height: line-height($line-height);
  font-weight: font-weight($font-weight);
  color: color($color);
}
