@mixin header-text-styles {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
