.nav__list {
  display: flex;
  padding: 0;
  list-style: none;
  font-weight: 500;
  font-size: 12px;
  height: 100%;
  margin: 0;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 23px 0;
  color: $color-main-accent;

  &:hover {
    color: $color-accent-blue;
  }
}

.is-active {
  color: $color-accent-blue;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: $color-accent-blue;
    border-radius: 8px;
  }
}
