* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-normal;
  line-height: 18px;
  font-style: normal;
  font-size: $font-size-small;
  color: $main-color;
}
