* {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
nav,
ul,
li,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ul {
  list-style: none;
}
