* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

body {
  margin: 0;
  line-height: 18px;
  color: $color-main-accent;
}

h2 {
  margin: 0;
}
