%margin-zero {
  margin: 0;
}

%text-dark-blue {
  color: rgba(6, 11, 53, 1);
}

%text-gray {
  color: rgb(97, 96, 112);
}

%font-size-twelve {
  font-size: 12px;
}

%line-height-eighteen {
  line-height: 18px;
}

%font-weight-bold {
  font-weight: 700;
}

%flex {
  display: flex;
}

%active-star {
  background-image: url(../images/star-active.svg);
}
