%positional-var {
  position: relative;
  display: flex;
  align-items: center;
}

%font-styles-500 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

%font-styles-400 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
