* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: $font-weight-normal;
  line-height: 18px;
  font-style: normal;
  font-size: $font-size-small;
  color: $main-black;
}

h1,
h2,
p,
div,
ul,
section,
li,
a,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
