* {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.page-catalog,
.page__body,
h2,
p {
  margin: 0;
  padding: 0;
}
