$font-stack: 'Roboto', sans-serif;
$card-width: 200px;
$card-height: 408px;
$row-width: 166px;
$card-color: #fff;
$side-text-color: #616070;
$button-color: #00acdc;
$button-height: 40px;
$default-font-weight: 400;
$blue-color: #00acdc;
$vertical-catal-pad: 50px;
$horiz-catal-pad: 40px;
$header-bgc: #fff;
$hover-title-color: #34568b;
$reviews-text-color: #060b35;
$title-text-color: #060b35;
$price-cost-text-color: #060b35;
$button-text-color: #fff;
$transition-duration: 300ms;
$padding-header-left: 50px;
$padding-header-right: 50px;
$button-hover-bgc: #fff;
$button-hover-color: #00acdc;
$nav-item-bgc: white;
$nav-link-hover-color: #00acdc;

$catalog-gap-row: 48px;
$catalog-gap-column: 46px;
$stars-width: 96px;
$star-size: 16px;
$star-gap: 4px;
