$main-padding: 41px;
$card-width: 200px;
$cards-row: 4;
$cards-distance: 50px;
$main-width: $card-width * $cards-row
  + $cards-distance * ($cards-row - 1) + 2 * $main-padding;
$main-text-color: #060b35;
$blue-sky-color: #00acdc;
$white-color: #fff;
$secondary-text: #616070;
