:root {
  --c-main-accent: #060b35;
  --c-main-accent-hover: #34568b;
  --c-secondary: #616070;
  --c-blue-accent: #00acdc;
  --c-white: #fff;
  --c-gray-elements: #f3f3f3;
}

$container-max-width: 1200px;
$card-width: 200px;
$tablet-media: 488px;
$tablet-landscape-media: 768px;
$desktop-media: 1024px;
$transition-duration: 0.3s;
$grid-row-gap: 46px;
$grid-col-gap: 48px;
$content-pad-inline-40: 40px;
$content-pad-inline-50: 50px;
$content-pad-block: 50px;
$fs-extra-small: 10px;
$fs-small: 12px;
$star-size: 16px;
$star-gap: 4px;
