$colorPrimary: #fff;
$colorSecondary: #00acdc;

$typographyPrimary: #060b35;
$typographySecondary: #616070;

$borderColor: #f3f3f3;

$fontWeight: 500;
$fontWeight_m: 700;
$fontWeight_l: 900;

$fontSize_s: 10px;
$fontSize: 12px;
$fontSize_m: 14px;

$lineHeight_s: 12px;
$lineHeight: 14px;
$lineHeight_m: 16px;
$lineHeight_l: 18px;

$logoSize: 40px;
$catalogCardWidth: 200px;
$borderWidth: 1px;
$borderRadius: 5px;

$starImg: "../../src/images/star.svg";
$starActiveImg: "../../src/images/star-active.svg";
