$color-of-background-light: #fff;
$color-general-text: #060b35;
$color-secondary-text: #616070;
$color-blue: #00acdc;
$color-card-background: #f3f3f3;
$card-right-shift: 48px;
$card-bottom-shift: 46px;
$card-paddings: 16px;
$card-width: 200px;
$cards-row: 4;
