$color-main-white: #fff;
$color-accent-blue: #00acdc;
$color-text-main: #060b35;
$color-text-secondary: #616070;

$card-width: 200px;
$catalog-item-horizontal-gap: 48px;
$catalog-item-vertical-gap: 46px;
