$logo-size: 40px;
$star-size: 16px;
$card-width: 200px;

$color-shadow: #0000000d;
$color-main-accent: #060b35;
$color-secondary: #616070;
$color-gray-light: #f3f3f3;
$color-blue-accent: #00acdc;
$color-title-hover: #34568b;
$color-card-bc: #fff;

$grid-cols:
  0 1,
  488px 2,
  768px 3,
  1024px 4;
