$nav-item-height: 60px;
$primary-gray: #060b35;
$secondary-color: #616070;
$color-active: #00acdc;

$card-number:4 ;
$card-width: 200px;

$card-margin-y: 46px;
$card-margin-x: 48px;

$catalog-padding-x : 40px;
$catalog-padding-y : 50px;

$catalog-width: ($card-number * $card-width)
  + (($card-number - 1) * $card-margin-x)
  + (2 * $catalog-padding-x);

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}
