//region logo
$logo-size: 40px;

//region header
$header-height: 60px;
$active-color: #00acdc;
$header-horizontal-margin: 50px;
$gap-link: 20px;
$border-hight: 4px;

//region card
$cell-width: 200px;
$link-height: 40px;
$base-shift-x: 48px;
$base-shift-y: 46px;
$color-dark: #060b35;
$color-grey: #616070;
$row-count: 4;

//region button
