@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$ff-primary: "Roboto", sans-serif;
$fw-thin: 400;
$fw-medium: 500;
$fw-bold: 700;
$fs-small: 10px;
$fs-primary: 12px;
$fs-large: 14px;
$fs-xlarge: 16px;

$color-primary: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$color-natural: #fff;
$color-light-grey: #f3f3f3;

$card-width: 200px;
$card-gap: 48px;
