@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$color-blue-accent: #00acdc;
$color-white: #fff;
$color-black: #000;
$color-title-hover: #34568b;
$size-logo: 40px;
$font-roboto: "Roboto", sans-serif;
$color-secondary: #616070;
$color-main-accent: #060b35;
$color-grey-element: #f3f3f3;
$color-yellow-starts: #ffde6a;
$card_width: 200px;
$card_height: 408px;
$between_gap_card: 48px;
$card_border: 1px solid $color-grey-element;
$grid-rows: 2;
$grid-columns: 4;
$card-count: 8;
