@mixin link-is-non-active {
  transition: transform 400ms ease;
}

@mixin link-is-active {
  transform: scale(1.2);
}

@mixin img-is-non-active {
  transition: transform 400ms ease, border 400ms ease;
}

@mixin img-is-active {
  cursor: pointer;
  transform: scale(1.2);
  border: 3px solid #f3f3f3;
}
