@keyframes scale {
  100% {
    transform: scale(1.2);
  }
}

@keyframes title {
  100% {
    color: $hovertitlecolor;
  }
}

@keyframes navcolor {
  100% {
    color: $blue-color;
  }
}

@keyframes button {
  100% {
    color: $blue-color;
    background-color: $bg-color;
  }
}
