html {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

body {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
