@import "../utils/variables";

.card {
  display: flex;
  flex-direction: column;
  width: 166px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    align-self: center;
  }

  &__title {
    font-weight: 500;
    font-size: inherit;
    line-height: 18px;
    color: $first-color;
    margin-bottom: 4px;
    margin-top: 40px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: $second-color;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;

    &-tag {
      font-size: 10px;
      color: $first-color;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-tag {
      font-size: inherit;
      color: $second-color;
    }

    &-value {
      font-weight: 700;
      font-size: 16px;
      color: $first-color;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 11px 70px;
    color: $white-color;
    background-color: $blue-color;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  &__button:hover {
    background-color: $white-color;
    color: $blue-color;
    border: 1px solid $blue-color;
  }
}
