@import './variables';

.catalog {
  padding: 50px 40px;
  display: grid;
  grid-gap: 46px 48px;
  grid-template-columns: $block-width;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $block-width);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, $block-width);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, $block-width);
  }
}
