$color__text--main: #060b35;
$color__text--secondary: #616070;
$color__text--accent: #00acdc;
$color__background--accent: #00acdc;
$color__text--changed: #34568b;
$color__background--hover: #fff;
$color__text--button: #fff;
$color__product--border: #f3f3f3;
