.container {
  width: 100%;

  &__card {
    --count-columns: 1;

    box-sizing: border-box;
    display: grid;
    gap: 46px 48px;
    justify-content: center;
    margin-block: 50px;
    margin-inline: 40px;
    grid-template-columns: repeat(var(--count-columns), 200px);

    @include m.change-size-display(2, 3, 4);
  }
}
