* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  font-weight: 400;
  color: #060b35;
}

a {
  text-decoration: none; /* no underline */
  line-height: 0;
}

ul {
  list-style: none;
}
