:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-color: #00acdc;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  transition-duration: hover 2s;
}

body {
  margin: 0;
}
