
%nav-text-style {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: $base-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

%card-text-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

%nav-link-hover-color {
  color: $header-hover-color;
}

%nav-line-after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  background-color: $header-hover-color;
  border-radius: 8px;
  bottom: 0;
  left: 10px;
  right: 10px;
}
