%text-link {
  text-decoration: none;
  text-transform: uppercase;
}

%position-center-ver-and-hor {
  display: flex;
  justify-content: center;
  align-items: center;
}

%position-center-hor {
  display: flex;
  justify-content: center;
}

%smallest-text-in-card {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}
