@function size($card) {
  @return 4*$card+3*$margin3cards+2*$padding2pcs;
}

@for $starCount from 0 through 5 {
  .stars--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
    width: 16px;
    height: 16px;
    border-radius: 0.5px;
    background: url("../images/star-active.svg") no-repeat center;
  }
}

.stars__star {
  width: 16px;
  height: 16px;
  background: url("../images/star.svg") no-repeat center;
}
