* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px;
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;
}
