@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  font-weight: 500;
  font-style: normal;
  color: $main-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 300ms ease;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
