* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  height: 40px;
  margin-right: 40px;
  display: block;
}
