@import './variables';
@import '../blocks/header';
@import '../blocks/card';
@import '../blocks/stars';

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
}

@media (min-width: 488px) {
  main {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, 200px);
  }
}
