.is-active {
  color: $blue-color;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 8px;
    background: $blue-color;
  }

}
