/* settings of the grid properties of the content part */

.cards_container {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  gap: 48px;
  row-gap: 46px;
  justify-content: center;
  padding: 50px 40px;
}
