@media (min-width: 488px) {
  .catalog__wrap {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .catalog__wrap {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .catalog__wrap {
    --column-count: 4;
  }
}
