@mixin justify-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin responsive-columns($columns) {
  grid-template-columns: repeat($columns, $card-width);
}
