@mixin tablet {
  @media (min-width: 488px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin notebook {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin quantity-coloms($count) {
  grid-template-columns: repeat($count, 200px);
}

@mixin hover {
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
