@use '../utils/variables.scss' as *;

.is-active {
  position: relative;
  display: inline-block;
  color: $link-active-color;
}

.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: $link-active-color;
}

.is-active:hover::after {
  width: 100%;
}
