body {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  margin: 0;

  font-family: Roboto, sans-serif;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3,
p {
  margin: 0;
}


