@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  height: 984px;

  &__position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1024px;

    & > :nth-child(n) {
      margin: 51px 24px 0;
    }

    & > :nth-last-child(-n + 4) {
      margin-top: 46px;
      margin-bottom: 73px;
    }
  }
}
