@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
}

main {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 950px;
  margin: 0 auto;
  gap: 50px;
}
