body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.catalog {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 1fr;
  column-gap: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 46px 48px;
  padding: 50px 40px;
  justify-content: center;
}

@media (min-width: 200px) {
  .content {
    grid-template-columns: repeat(1, 200px);
  }
}

@media (min-width: 488px) {
  .content {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(4, 200px);
  }
}
