/* #start of the main page styles */

* {
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;

  &:hover {
    transition-duration: 300ms;
  }
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  font-weight: 400;
  display: grid;
}

h2,
p {
  margin: 0;
  font-weight: 400;
}

/* #end of the main page styles */
