* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  background: #fff;
}

@media (min-width:488px) {
  .container {
    --column-count: 2;
  }
}
@media (min-width:768px) {
  .container {
    --column-count: 3;
  }
}
@media (min-width:1024px) {
  .container {
    --column-count: 4;
  }
}
