html,
body,
div,
span,
h1,
h2,
p,
a,
em,
img,
ul,
li,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "", none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
