* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,
h2,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
