* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $clr--white;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
p {
    margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
    list-style: none;
}
