@media (max-width: $breakpoint_mobile_small) {
  :root {
    --column-count: 1;
  }
}

@media (min-width: $breakpoint_mobile) {
  :root {
    --column-count: 2;
  }
}

@media (min-width: $breakpoint_tablet) {
  :root {
    --column-count: 3;
  }
}

@media (min-width: $breakpoint_desktop) {
  :root {
    --column-count: 4;
  }
}

@mixin background-stars($dgImage) {
  @for $starCount from 1 through 5 {
    &--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
      background-image: #{$dgImage};
    }
  }
}
