$nav-link-color: #00acdc;
$title-color: #060b35;
$hover-title-color: #34568b;
$gray-text: #616070;
$blue-background: #00acdc;
$border-color: #f3f3f3;
$content-width: 166px;
$content-height: 16px;

@mixin adaptation() {
  --columns-count: 1;

  grid-template-columns: repeat(var(--columns-count), 200px);

  @media (min-width: 488px) {
    --columns-count: 2;
  }

  @media (min-width: 768px) {
    --columns-count: 3;
  }

  @media (min-width: 1024px) {
    --columns-count: 4;
  }
}
