$active-color: #00acdc;
$main-accent-color: #060B35;
$secondary-color: #616070;
$card-border-color: #F3F3F3;
$button-hover-color: #fff;
$base-smooth: all 300ms linear 0s;
$title-card-hover: #34568b;
$active-stars: 1, 2, 3, 4, 5;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
