$main-color: #060b35;
$secondary-color: #616070;
$background-color: #fff;
$accent-color: #00acdc;

$card-width: 200px;
$card-side-margin: 48px;
$card-bottom-margin: 46px;
$container-width: 4 * $card-width + 3 * $card-side-margin;
