$default-font-weight: 500;
$default-font-family: "Roboto", helvetica, sans-serif;
$default-font-size: 12px;

$color-main-accent: #060b35;
$color-secondary-accent: #616070;
$color-blue-accent: #00acdc;
$color-white-accent: #fff;

$header-container-paddings: 0 50px;
$main-container-paddings: 50px 0 73px;
$card-container-paddings: 16px;

$card-width: 200px;
$border-width: 1px;
$border-radius: 5px;

$star-width: 16px;
$star-height: 16px;
$star-margin: 4px;
