//color text
$main-color: #060b35;
$dark-color: #616070;
$accent-color: #00acdc;

//header
$padding: 0 50px;
$logo-size: 40px;
$logo-margin: $logo-size * 0.25;

//card
$card-width: 200px;
$card-padding: 0 $card-width * 0.08;
$card-margin-top: $card-width * 0.25 0;
$card-margin-right: $card-width * 0.24;
$card-margin-bottom: $card-width * 0.23;

//nav
$nav-link-height: 60px;
$nav-item-gap: $nav-link-height / 3;

//image
$image-width: 160px;
$image-height: 134px;
$image-margin-left: (
  $image-width - $image-height) * 0.11;
$image-margin-top: (
  $image-width - $image-height) * 1.23;
$image-margin-bottom: (
  $image-width - $image-height) * 1.54;

// star
$star-size: 16px;
$star-gap: $star-size / 4;
