$main-color: #060b35;
$bg-color-primary: #fff;
$shadow-color: rgba(0, 0, 0, 0.05);
$font-roboto: Roboto, sans-serif;
$nav-link-color: #060b35;
$accent-color: #00acdc;
$secondary-color: #616070;
$border-color: #f3f3f3;
$font-weight-bold: 700;
