$color-blue-accent: #00acdc ;
$color-main-accent: #060b35 ;
$color-second-accent: #616070 ;
$color-dark-blue-accent: #34568b ;
$color-border: #f3f3f3 ;

// min width
$desktop-min-width: 1024px;
$tablet-min-width: 576px;
$mobile-min-width: 488px;
