$font-femily-card: Roboto, sans-serif;
$colorText-card: #060b35;
$colorText-card-hover: #34568b;
$increase-card-hover: 1.2;
$width-card: 200px;
$width-image-card: 160px;
$heigth-image-card: 134px;
$link-colorText-header: #060b35;
$link-colorTextHover-header: #00acdc;
$link-bottomLine-header: #00acdc;
$bg-buy: #00acdc;
$bg-hover-buy: #fff;
$text-color-buy: #fff;
$text-color-hover-buy: #00acdc;
$star-size: 16px;
$column-count: 4;
