$nav-hover-text-color: #00acdc;
$nav-text-color: #060b35;
$card-text-color: #616070;
$mobile-min-width: 488px;
$tablet-min-width: 768px;
$desktop-min-width: 1024px;
$column-count: 1;
$title-color-card: #00acdc;
$button-color-card: #00acdc;
$background-color-card: #fff;
$text-color-card: #616070;
