/* #region root font-family  */

$ff-roboto: Roboto, sans-serif;

/* #endregion */

/* #region root color */

$color-primary: #060b35;
$color-secondary: #616070;
$color-blue: #00acdc;
$color-white: #fff;

/* #endregion */

/* #region color link active */

$color-active: #00acdc;

/* #endregion */

/* #region root background-color */

$bg-white: #fff;

/* #endregion */

/* #region root border-color */

$border-white: #f3f3f3;

/* #endregion */
