$main-blue-color: #00acdc;
$main-color: #00acdc;
$text-accent-color: #060b35;
$text-secondary-color: #616070;
$white-color: #fff;
$breakpoints: (
  (0, 1),
  (488px, 2),
  (768px, 3),
  (1024px, 4)
);
