$primary-color: #060b35;
$background-color: #fff;
$background-border: #f3f3f3;
$secondary-color: #616070;
$button-color: #00acdc;
$column-count: auto-fill;
$color-text-active: #34568b;
$logo-size: 40px;
$star-size: 16px;
