$theme-color: #00acdc;
$main-color: #060b35;
$link-color: #060b35;
$secondary-color: #616070;
$button-color: #00acdc;
$background-color: #f3f3f3;
$transition-duration: 300ms;
$active-color: #34568b;
$active-background-color: #fff;
$bp-sm: 488px;
$bp-md: 768px;
$bp-lg: 1024px;
