$activ-color: rgba(0, 172, 220, 1);
$card-width: 200px;
$card-padding: 33px 17px 16px;
$width-content: 166px;
$column-gap: 48px;
$row-gap: 47px;
$hover-titl-accent: #34568b;
$blue-accent: #00ACDC;
$secondary: #616070;
$main-accent: #060B35;
$card-bc-color: #fff;
