$link-colorText-header: #000;
$link-colorTextHover-header: #00acdc;
$link-bottomLine-header: #00acdc;
$lg-min-width: 1200px;
$bg-buy: #00acdc;
$bg-hover-buy: #fff;
$text-color-buy: #fff;
$text-color-hover-buy: #00acdc;
$star-size: 16px;
$column-count: 4;

