$main-color: #060b35;
$accent-color: #00acdc;
$main-font-family: 'Roboto', sans-serif;
$main-font-size: 16px;
$logo-size: 40px;
$header-height: 60px;
$header-shadow-color: #0000000d;
$card-hover-title-color: #34568b;
$card-addiotioanl-color: #616070;
$card-border-color: #f3f3f3;
$button-secondary-color: #fff;
