/* Fonts */
$main-fonts: Roboto;

/* Sizes */
$card-border-radius: 5px;
$nav-underline-border-radius: 8px;
$product-card-width: 200px;
$nav-height-underline: 4px;

/* Colors */
$card-border-color: #f3f3f3;
$main-text-color: #060b35;
$second-text-color: #616070;
$main-blue-color: #00acdc;
$card-text-hover: #34568b;
$header-color-shadow: rgba(0, 0, 0, 0.05);

/* Images */
$product-image: url(../images/imac.jpeg);
$rating-star-active: url(../images/star-active.svg);
$rating-star: url(../images/star.svg);

/* paddings/margins */
$header-paddind-inline: 50px;
$horizontal-card-gap: 46px;
$vertical-card-gap: 48px;
