$blue-color: #00acdc;
$main-text-color: #060b35;
$secondary-text-color: #616070;
$border-color: #f3f3f3;
$white-color: #fff;
$card-title-hover-color: #34568b;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-base: 10px;
$line-height-base: 14px;
$card-width: 200px;
$card-height: 408px;
$stars-size: 16px;
$stars-margin: 4px;
$main-padding: 40px 50px;
$main-column-gap: 48px;
$main-row-gap: 46px;
