.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 198px;
  height: 406px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: $border-for-but-and-blocks;

  &__item-image {
    margin: 32px 20px 40px;
    width: 160px;
    height: 134px;
  }

  &__item-content {
    margin: 0 20px 16px;
  }
}
