.catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: auto;
  width: $catalog-width;
  padding: $catalog-padding-height $catalog-padding-width;

  &__card {
    margin-bottom: $card-margin-bottom;
    margin-right: $card-margin-right;

    &:nth-child(#{$cards-per-row}n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + #{$cards-per-row}) {
      margin-bottom: 0;
    }
  }
}
