ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  font-size: inherit;
}

body,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}
