.star {
  display: flex;

  &__stars {
    width: 16px;
    height: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $stars from 1 through 5 {
    &--#{$stars} :nth-child(-n+#{$stars}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
