.rating-stars {
  display: flex;

  &__item {
    width: 16px;
    height: 16px;
    margin: 0 2px;
    background-image: url("../images/star-active.svg");
    background-repeat: no-repeat;
    object-fit: fill;
    background-position: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      background-image: url("../images/star.svg");
    }
  }
}
