@import "../variable";

.header {
  display: flex;
  justify-content: space-between;

  position: relative;

  padding-left: 50px;
  padding-right: 50px;
  height: $headerHeight;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
