@import "../variable";

.nav {
  &__list {
    display: flex;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: $headerHeight;

    text-transform: uppercase;
  }

  &__link:hover {
    color: $mainColor;
  }

}

.is-active {
  position: relative;

  margin-left: 0;

  color: $mainColor;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    width: 37px;
    height: 4px;

    background-color: $mainColor;
    border-radius: 8px;
  }
}
