.product-card {
  @include align-items-center;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: $card-width;
  @include border-settings(1px, #f3f3f3, 5px);

  &__image {
    @include width-height(160px, 134px);
    margin-bottom: 40px;
  }

  &__btn {
    display: inline-block;
    @include width-height(166px, 40px);
    @include border-settings(1px, $color-blue, 5px);
    @include font-rules($fz-14, $fw-bold, $color-white);
    padding: 12px 56px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    background: $color-blue;
    cursor: pointer;
  }

  &__btn:hover {
    color: $color-blue;
    background-color: $color-white;
    border-color: $color-blue;
    transition: background-color 0.3ms;
  }
}
