.product-about {
  &__rating {
    @include justify-content_align-items(space-between, center);
  }
  
  &__title {
    @include font-rules($fz-12, $fw-normal, $color-dark-blue);
    line-height: 18px;
  }

  &__code {
    @include font-rules($fz-10, $fw-regular, $color-gray);
    margin: 4px 0 16px;
  }
  
  &__comments {
    @include font-rules($fz-10, $fw-regular, $color-dark-blue);
    line-height: 0;
  }

  &__price {
    @include justify-content_align-items(space-between, center);
    margin: 24px 0 16px;
  }
  
  &__price-text {
    @include font-rules($fz-12, $fw-regular, $color-gray);
  }
  
  &__price-value {
    @include font-rules($fz-16, $fw-bold, $color-dark-blue);
  }
}
