@mixin font-button {
  font-size: 14px;
  font-weight: 700;
}

@mixin font-normal {
  font-weight: 500;
  font-size: 12px;
}

@mixin font-price {
  font-size: 16px;
  font-weight: 700;
}

@mixin font-small {
  font-size: 11px;
  font-weight: 400;
}
