@mixin font-14px-700 {
  font-size: 14px;
  font-weight: 700;
}

@mixin font-12px-500 {
  font-weight: 500;
  font-size: 12px;
}

@mixin font-16px-700 {
  font-size: 16px;
  font-weight: 700;
}

@mixin font-12px-500 {
  font-weight: 500;
  font-size: 12px;
}

@mixin font-11px-400 {
  font-size: 11px;
  font-weight: 400;
}
