.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 944px;
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  height: 408px;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-bottom: 46px;

  &__logo {
    height: 134px;
    width: 160px;
    margin: 32px 19px 0;
  }

  &__title {
    margin: 40px 16px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    margin: 4px 16px 0;
    color: #616070;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 23px 16px 0;
    color: #616070;
  }

  &__price span {
    font-weight: 700;
    font-size: 16px;
    color: #060b35;
  }

  &__button {
    height: 40px;
    width: 166px;
    display: flex;
    justify-content: center;
    padding: 12px 0 0;
    margin: 16px 16px 14px;
    font-size: 14px;
    font-weight: 700;
    background: #00acdc;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__button:hover {
    color: #00acdc;
    background-color: white;
    border: 1px solid #00acdc;
  }

  .card:nth-child(4),
  .card:nth-child(8) {
    margin: 0;
  }
}
