//Colors
$color-main: #060b35;
$color-secondary: #616070;
$color-blue: #00acdc;
$color-white: #fff;
$color-border: #f3f3f3;
$color-link: #000e36;
$color-active-link: #00acdc;

//Sizes
$card-width: 200px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
