$primary-color: #060b35;
$secondary-color: #00acdc;
$background-color: #f9f9f9;
$border-color: #f3f3f3;
$hover-color: #34568b;
$dark-gray: #616070;
$white: #fff;
$font-family: Roboto, sans-serif;
$font-size: 12px;
$line-height: 18px;
$letter-spacing: 0.5px;
$breakpoint-1: 488px;
$breakpoint-2: 768px;
$breakpoint-3: 1024px;
