$main-color: #00acdc;
$text-accent-color: #060b35;
$text-secondary-color: #616070;
$white-color: #fff;
$border-color: #f3f3f3;
$color-active-links: #00acdc;
$text-color-hover: #34568b;
$text-size-main: 10px;
$text-size-secondary: 12px;
$text-size-third: 14px;
$text-size-largest: 16px;
$line-height-size-main: 14px;
$line-height-size-third: 16px;
$line-height-size-secondary: 18px;
$font-weight-main: 400;
$font-weight-secondary: 500;
$font-weight-largest: 700;
$color-active-links: #00acdc;
