$main-color: #060b35;
$second-color: #616070;
$accent-color: #00acdc;
$card-width: 200px;
$nav-links-color: #060b35;
$title-card-hover-color: #34568b;
$button-bg-color: #fff;
$transition-time: 300ms;
