:root {
  --moyo-blue: #00acdc;
  --moyo-black: #060b35;
}

$color-primary: #00acdc;
$color-text-dark: #060b35;
$color-text-muted: #616070;
$color-white: #fff;

// font
$font-main: Roboto, sans-serif;
$card-w: 200px;
$gap-y: 46px;
$gap-x: 48px;
$pad-vert: 50px;
$pad-hor: 40px;
