@media (min-width: 0) {
  .cards-container {
    --columns: 1;
  }
}

@media (min-width: 488px) {
  .cards-container {
    --columns: 2;
  }
}

@media (min-width: 768px) {
  .cards-container {
    --columns: 3;
  }
}

@media (min-width: 1024px) {
  .cards-container {
    --columns: 4;
  }
}
