html,
body,
div,
h1,
h2,
h3,
p,
a,
img,
ul,
li,
article,
header,
main,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;

  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}
