$blue: #00acdc;
$black: #060b35;
$gray: #616070;
$blue: #00acdc;
$white: #fff;

$font-size-buttom: 14px;
$font-size-small: 10px;
$font-size-normal: 12px;

$width-card: 200px;
$width-card-margin: 48px;
$width-container: (($width-card * 4) + ($width-card-margin * 3))
