$primary-color: #00acdc;
$link-color: #060b35;

$card-rowcount: 4;
$card-size: 200px;
$card-gap: 48px;
$padding-sides: 40px;

$field-size: $card-size * $card-rowcount +
  ($card-gap * ($card-rowcount - 1) + $padding-sides*2);
