$color-blue:#00acdc;
$color-white: #fff;
$text-gray: #616070;
$text-dark: #060b35;

$default-font-family: roboto, helvetica, sans-serif;
$default-font-size: 10px;
$default-line-height: 14px;

$font-weight-500: 500;
$font-weight-700: 700;
$bigger-line-height: 18px;
$border-radius: 5px;

$logo-size: 40px;
