@mixin backgroundImage {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin width-488 {
  @media (min-width: 488px) {
    @content;
  }
}

@mixin width-768 {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin width-1024 {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin background-properties {
  background-repeat: no-repeat;
  background-position: right;
}

@mixin sizeForHeader {
  height: 100vh;
  box-sizing: border-box;
}
