$cardMainColor: #fff;
$cardBlueColor: #00acdc;
$cardCaptionColor: rgba(97, 96, 112, 1);
$navColor: #060b35;
$cardContentTextColor: #060b35;
$cardContentTextColorOnHover: #34568b;
$cardHeight: 408px;
$carfWidth: 200px;
$cardIncreaser: 1.2;
$hoverTransitionDuration: 300ms;
