$main-color: #060b35;
$white-color: #fff;
$blue-color: #00acdc;
$secondary-color: #616070;
$gray-elements-color: #f3f3f3;
$card-width: 200px;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
