$white-color: #fff;
$gray-color: #f3f3f3;
$dark-color: #616070;
$title-color: #060b35;
$button-color: #00acdc;
$card-size: 200px;
$column-gap-size: 48px;
$row-gap-size: 46px;
$part-var: var(--amount-column - 1);
$main-var: var(--amount-column);
