$color-card-btn: rgba(0, 172, 220, 1);
$color-card-btn-border: rgba(0, 172, 220, 1);
$color-card-border: rgba(243, 243, 243, 1);
$color-card-id: rgba(97, 96, 112, 1);
$color-card-title: rgba(6, 11, 53, 1);
$color-card-title-hover: #34568b;
$color-decor: rgba(0, 172, 220, 1);
$color-header: rgba(6, 11, 53, 1);
