@mixin font-small {
  font-weight: 400;
  font-size: 11px;
}

@mixin font-medium {
  font-weight: 500;
  font-size: 12px;
}

@mixin font-big {
  font-weight: 700;
  font-size: 14px;
}

@mixin font-large {
  font-weight: 700;
  font-size: 16px;
}
