.page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  &__body {
    margin: 0;
    padding: 0;
  }

  &__header {
    margin: 0 auto;
  }

  &__catalog {
    max-width: 944px;
    margin: 0 auto;
    padding: 50px 0 70px 0;
  }
}

