body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

/* #region grid */

.container {
  margin: 50px 40px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 200px);
  gap: 48px 46px;
  place-items: end;

  @media (min-width: 488px) {
    & {
      grid-template-columns: repeat(2, 200px);
    }
  }

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(3, 200px);
    }
  }

  @media (min-width: 1024px) {
    & {
      grid-template-columns: repeat(4, 200px);
    }
  }
}

/* #endregion */
