* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.picture {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.padding {
  content: "";
  padding-bottom: 50px;
}
