* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  justify-content: center;
}

.picture {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}
