@media (max-width: 487px) {
  .product {
    max-width: 488px;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 488px) {
  .product {
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product {
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .product {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
  }
}
