@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin styleOfText($font-weight, $font-size, $line-height, $color) {
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin border($weight, $type, $color) {
  border: $weight, $type, $color;
}
