$text-color-main: #060b35;
$text-color-bottom: #00acdc;
$text-color-code: #616070;
$background-text: white;
$container-pad: 40px;
$card-width: 200px;
$card-margin: 48px;
$container-size: 4 * $card-width + $card-margin * 3 + $container-pad * 2;
