$color-main-accent: #060b35;
$color-secondary: #616070;
$color-accent-blue: #00acdc;
$starCount: 4;
$catalog-padding-top: 50px;
$catalog-padding-bottom: 72px;
$card-margin-right: 48px;
$card-margin-bottom: 46px;
$card-width: 200px;
