$small-font-weight: 400;
$medium-font-weight: 500;
$big-font-weight: 700;

$header-height: 60px;
$card-width: 200px;
$card-shift: 48px;
$container-width: $card-width * 4 + $card-shift * 3;

$color-blue: #00acdc;
$color-dark-blue: #060b35;
$color-gray: #616070;
$white-color: #fff;
