
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Times, serif;
}

@font-face {
  font-family: Roboto;
  src: url(/roboto/Roboto-Medium.ttf);
}
  
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url(/roboto/Roboto-Bold.ttf);
}
