%little-text {
  font-size: 10px;
  line-height: 14px;
}

%big-text {
  font-size: 12px;
  line-height: 18px;
}

%link-text {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
