@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-jc-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin smooth($action, $value) {
  transition: all 300ms;

  &:hover {
    #{$action}: $value;
  }
}

@mixin grid-paddings{
  padding: 50px 40px;
}

@mixin transition-smooth{
  transition: color 300ms;
}

