@media (min-width: $breakpoint-sm) {
  .cards {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: $breakpoint-md) {
  .cards {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: $breakpoint-lg) {
  .cards {
    grid-template-columns: repeat(4, $card-width);
  }
}
