html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  li {
    &:last-of-type {
      padding-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}
