$main-text-color: #060b35;
$second-text-color-gray: #616070;
$bg-color: #fff;
$accent-color: #00acdc;
$border-color: #f3f3f3;
$star-color-gray: #b1b1b1;
$star-color-active: #ffc107;
$haver-color: #34568b;
$max-width-card: 200px;
