$header-height: 60px;
$nav-color: #060b35;
$text-color: #616070;
$card-color-hover: #34568b;
$blue-color-hover: #00acdc;
$border-color: #f3f3f3;
$card-width: 200px;
$weight-nav: 500;
$weight-text: 400;
$weight-price: 700;
$button-color: #fff;
