$main-text-color: #060b35;
$grey-text-color: #616070;
$buttonAndActivesLinksColor: #00acdc;
$card-width: 200px;

@media (max-width: 487px) {
  .cardContainer {
    --column-count: 1;
  }
}

@media (min-width: 488px) {
  .cardContainer {
    --column-count: 2;
  }
}

@media (min-width: 768px) {
  .cardContainer {
    --column-count: 3;
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    --column-count: 4;
  }
}

@mixin cardIncrease {
  transform: scale(1.2);
}
