.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 50px;
  background-color: $fourth-color;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  font-size: 12px;
  font-weight: 500;

  &__img {
    width: 40px;
    height: 40px;
  }
}

.nav__items {
  display: flex;
  flex-direction: row;
  padding: 0;

  list-style: none;

  .item__link {
    color: $main-color;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    line-height: 60px;
    transition: color $transition;
  }

  .item__link:hover,
  .item__link.is-active {
    color: $third-color;
  }

  .list__item:not(:last-child) {
    margin-right: 20px;
  }
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 8px;
  background-color: $third-color;
}
