$card-main-color: #060b35;
$card-secondary-color: #616070;
$card-blue-color: #00acdc;
$main-background-color: #fff;
$box-shadow-color: #0000000d;
$default-link-color: black;
$active-link-color: #00acdc;
