$font-stack: "Roboto", sans-serif;
$card-width: 200px;
$spacing-card-right: 48px;
$spacing-card-bottom: 46px;

$colors: (
  main-accent:#060b35,
  blue-accent: #00acdc,
  secondary: #616070,
  color-white: #fff,
  gray-elements: #e5e5e5,
  border-color: #f3f3f3
);

$typography: (
  text-h2: 12px,
  text-caption: 10px,
  text-caption-big: 12px,
  text-price: 16px,
  text-btn: 14px,
  text-links: 12px
);

$font-weights: (
  weight-normal: 400,
  weight-medium: 500,
  weight-bold: 700
);

$line-heights: (
  line-height-small: 14px,
  line-height-big: 18px,
  line-height-btn: 16px
);

$box-shadows: (
  shadow-header: 0 2px 4px rgba(0, 0, 0, 0.05)
);
