$small-screen: 488px;
$medium-screen: 768px;
$large-screen: 1024px;
$card-width: 200px;
$link-color: #00acdc;
$height-line: 4px;
$border-radius-line: 8px;
$margin-top-line: 56px;
$horyzontal-gap: 46px;
$vertical-gap: 48px;
$vertical-padding: 50px;
$horizontal-padding: 40px;
