$back-color: #fff;
$button-color: #00acdc;
$main-color: #060b35;

$cardWidth: 200px;
$size-small: 10px;
$size-normal: 12px;
$size-big: 16px;

$weight-medium: 500;

$gapX: 46px;
$gapY: 48px;

$paddingX: 40px;
$paddingY: 50px;
