$back-color: #fff;
$button-color: #00acdc;
$main-color: #060b35;

$cardWidth: 200px;

$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-button: 14px;
$font-size-big: 16px;

$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-bolt: 700;

$line-height-small: 14px;
$line-height-medium: 16px;
$line-height-great: 18px;

$paddingX: 40px;
$paddingY: 50px;

$gapX: 48px;
$gapY: 46px;
