.content {
  display: grid;
  grid-gap: 46px 48px;
  max-width: 944px;
  grid-template-columns: repeat(1, auto);
  margin-top: 50px;
}

@media only screen and (min-width: 488px) {
  .content {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(4, auto);
  }
}
