* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.header {
  box-shadow: 0 2px 4px 0 #0000000d;
}

.main {
  display: flex;
  justify-content: center;
}
