$head-marg: 50px;
$hover-color: #00acdc;
$text-color: #060b35;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 #{$head-marg};

  &__list {
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
  }

  &__links {
    margin-left: 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    color: #{$text-color};
    line-height: 60px;
  }

  &__content {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .is-active,
  &__links:hover {
    color: #{$hover-color};
  }
}
