$text-color-main: #060b35;
$text-color-secondary: #616070;
$blue-accent: #00acdc;
$milk-back: #f3f3f3;
$white-main: #fff;
$base-card-width: 200px;
$column-count: 1;
$grid-var: (
488px: 2,
768px: 3,
1024px: 4
);
$all-transition-duration: 300ms;
