
$cartao-width: 200px;
$card-hover-color:#34568b;
$cartao-paddingtop: 33px;
$computador-width: 160px;
$computador-height: 134px;


$stars-size: 14px;
$stars-gap: 6px;

$color-gray-300: #d1d1d1;
$stars-empty-color: $color-gray-300;

$paddingright:17px;


$paddingleftcomputador:20px;
$marginbottomcomputador:40px;

$paddingleftproduto:17px;
$marginbottomproduto:4px;

$paddingleftcodigo:17px;
$marginbottomcodigo:18px;

$paddingleftrevisao:18px;
$marginbottomrevisao:24px;

$paddingleftpreco:17px;
$marginbottompreco:16px;

$buttonwidth:166px;
$buttonheight:40px;

$productcolor:#060b35;
  $codecolor: #616070;
  $revquantcolor:#060b35;
  $pricelabelcolor:#616070;
  $buttonbackgroundcolor:#00acdc;
  $buttoncolor: #fff;

  $gap-row: 46px;

$gap-col: 48px;

$catalog-padding: 50px 40px;












