html {
  font-size: $general-font-size;
  font-family: $general-font, $addition-font, sans-serif;
  line-height: $general-line-height;
  color: $text-color;
  font-weight: 400;
  font-style: normal;
}

.header-container,
.page__container {
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}
