// colors
$button-color: #fff;
$button-background: #00acdc;
$text-color: #060b35;
$subtitle-color: #616070;

// general
$general-font-size: 12px;
$general-line-height: 18px;
$general-font-family: "Roboto";
$addition-font-family: "Helvetica";
