main {
  --columns-count: 1;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--columns-count), 200px);
  gap: 46px 48px;
  padding: 50px 40px;

  @media (min-width: 488px) {
    --columns-count: 2;
  }

  @media (min-width: 768px) {
    --columns-count: 3;
  }

  @media (min-width: 1024px) {
    --columns-count: 4;
  }
}
