.container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  row-gap: 46px;
  column-gap: 48px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
  margin-block: 50px 72px;
}

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: $background-color;
  padding: 32px 16px 16px;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    color: $main-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 4px;
  }

  &__code {
    color: $secondary-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: flex-end;

    &-count {
      font-size: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-name {
    font-size: 12px;
    line-height: 18px;
    color: $secondary-color;
  }

  &__price-price {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-color;
  }

  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $background-color;
    width: 166px;
    height: 40px;
    background-color: $button-color;
    border-radius: 5px;
    border: 1px solid $button-color;

    &:hover {
      transition-duration: 0.3s;
      background-color: $background-color;
      color: $button-color;
    }
  }
}
