.card {
  width: 200px;
  margin-bottom: 50px;
  padding: 14px 14px 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__picture {
    display: block;
    width: 160px;
    height: 134px;
    margin: 16px 5px 45px;
  }
  
  &__name {
    margin-bottom: 5px;
    @include titleText(15px);
  }
  
  &__code {
    margin-bottom: 15px;
  }
  
  .rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &__stars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 15px;
      margin-left: -4px;

      & img {
        width: 15px;
        height: 12px;
        margin-left: 4px;
      }
    }
  }
    
  .price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    &__value {
      @include priceText(19px);
    }
  }
  
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    @include buttonText(16px);
    text-decoration: none;
    color: #fff;
    background-color: $page-color;
    border-radius: 5px;

    &:hover {
      color: $page-color;
      background-color: #fff;
      border: 1px solid $page-color;
    }
  }
}
