.catalog {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 1fr;

  gap: 48px 46px;

  justify-content: center;
  justify-items: center;

  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
