.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, $product-card-width);
  grid-template-rows: repeat(2, $product-card-height);
  gap: 46px 48px;
  padding: 50px 40px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $product-card-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $product-card-width);
  }

  @media (max-width: 487px) {
    grid-template-columns: $product-card-width;
  }
}
