@import "../utils/_variables";

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: $catalog-width;
  padding: 50px 40px;

  &__card {

    &:not(:nth-last-child(-n + 4)) {
      margin-bottom: $margin-size - $card-border;
    }

    &:not(:nth-child(4n)) {
      margin-right: $margin-size;
    }
  }
}
