.product-card {
  max-width: 200px;
  border: 1px solid $card-border-color;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  padding: 32px 16px 16px;

  transition: transform 300ms ease-in;

  &__title {
    font-size: $major-font-size;
    font-weight: $major-font-weight;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;

    color: $dark-blue;
    transition: color 300ms ease-in;

    margin: 40px 0 0;
  }

  &:hover {
    transform: scale(1.2);

    .product-card__title {
      color: $card-title-hover-color;
    }
  }

  &__img {
    margin: 0 auto;
    width: 160px;
    height: 134px;
  }

  &__code {
    font-size: $small-text-size;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
    color: $small-text-color;

    margin: 4px 0 0;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 0;
  }

  &__reviews {
    font-size: $small-text-size;
    line-height: 14px;
    color: $dark-blue;
  }

  &__price-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0 0;
  }

  &__item--price {
    font-size: $major-font-size;
    line-height: 18px;
    text-align: left;
    color: $small-text-color;
  }

  &__item--number {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    color: $dark-blue;
  }

  &__btn {
    display: block;
    margin-top: 16px;
    padding: 12px 70px;

    background-color: $light-blue;
    border-radius: 5px;
    width: 100%;
    height: 40px;

    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;

    transition: all 300ms ease-in;

    &:hover {
      background: none;
      border: 1px solid $light-blue;

      color: $light-blue;
    }
  }
}
