.cards-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 40px;
  max-width: getcatalogwidth($cards-width, $cards-count, $cards-margin);

  &__card {
    margin-bottom: 46px;

    &:not(:nth-child(4n)) {
      margin-right: $cards-margin;
    }
  }
}
