@import "../utulity/variables.scss";

.card {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;
  width: 200px;
  background: $white-color;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__logo {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__item {
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    color: $gray-color;
  }

  &__raiting {
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: center;
  }

  &__raiting-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: $main-color;
  }

  &__price {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__price-firstpart {
    color: $gray-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__price-secondpart {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-color;
  }

  &__button {
    padding: 12px;
    background: $blue-color;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
  }

  &__button:hover {
    background: $white-color;
    border: 1px solid $blue-color;
    border-radius: 5px;
    color: $blue-color;
  }

}
