@mixin count-columns() {
  --columns: 1;

  @media (min-width: $breakpoint-sm) {
    --columns: 2;
  }

  @media (min-width: $breakpoint-md) {
    --columns: 3;
  }

  @media (min-width: $breakpoint-lg) {
    --columns: 4;
  }
}
