$cardTitleColor: #34568b;
$navLinkColor: #00acdc;
$buttonBgColor: #fff;
$navLinkColor: #060b35;
$columnWidth: 200px;
$border_color: #f3f3f3;
$main_text_color: #060b35;
$second_color: #616070;
$button_color: #00acdc;
$button_color_hover: #fff;
$cardContentWidth: 166px;
$transitionTime: 0.3s;
$marg_pad: 0;
$width_height: 16px;
$poss: $width_height / 4;
$iterate: 0;
$numero_size: 0, 1, 2, 3, 4, 5;
$mainHeadercolor: #00acdc;
