html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: $text-secondary-color;
}

body {
  margin: 0;
}

p {
  margin-top: 0;
}

.main {
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 50px 40px;
}

@media (min-width: 488px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  background: #fff;
  margin-right: 48px;
  margin-bottom: 46px;
  transition-duration: 0.3s;

  &__productName {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $text-accent-color;
  }

  &:hover {
    transform: scale(1.2);
    .card__productName {
      color: #34568b;
    }
  }
  &__icon {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__productCode {
    margin-bottom: 16px;
  }
  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }
  &__review-count {
    color: $text-accent-color;
  }
  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  &__price-label {
    font-size: 12px;
    line-height: 18px;
  }
  &__price {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: $text-accent-color;
  }
  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 40px;
    border: $main-color;
    border-radius: 5px;

    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    background-color: $main-color;
    &:hover {
      color: $main-color;
      background-color: #fff;
    }
  }
}
