.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-right: 10px;
  width: $cardsWidth;

  &--distance {
    margin: 0 $cardsDistanseRight 46px 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  &__image-product {
    width: 160px;
    height: 134px;
    margin: 32px 19px 0;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $darkTextColor;
    margin: 40px 16px 0;
  }

  &__product-code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $lightTextColor;
    margin: 4px 0 0 16px;
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 16px 0;

    &-price {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $lightTextColor;
    }

    &-cost {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $darkTextColor;
    }
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blueTextColor;
    border-radius: 5px;
    width: 166px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 16px;

    &--hover:hover {
      background: #fff;
      color: #00acdc;
      border: 1px solid #00acdc;
    }
  }
}
