.card {
  display: flex;
  flex-direction: column;
  width: 198px;
  height: 406px;
  border: 1px solid $borderInCard;
  border-radius: 5px;
  transition: $transition-all;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    margin: 32px 19px 0;
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: 134px;
    // height: auto;
  }

  &__container {
    margin: 40px 16px 16px;
  }

  &__title {
    padding-bottom: 4px;

    &-h2 {
      font-weight: 500;
      font-size: $fsInTitle;
      line-height: 18px;
      margin: 0 ;

      &:hover {
        color: $textNavLinkHover;
      }
    }
  }

  &__subtitle {
    font-size: 10px;
    line-height: 14px;
    color: $color-grey;
    padding-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-black;
    padding-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &-left {
      font-size: $fsInTitle;
      line-height: 18px;
      color: $color-grey;
    }

    &-right {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
    }
  }

  &__link-button {
    display: block;
    margin: 0 auto;
    padding: 11px 69px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $colorBtn;

    background: $gbColor-bt;
    border: 1px solid $borderInBtn;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $colorBtn;
      background: $bgcolor-bt-hover;
    }
  }
}
