@import "../utils/variables";
@import "../utils/mixin";
@import "../utils/reset";

.cards {
  display: flex;
  flex-wrap: wrap;
  width: $cards-width;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  padding-top: 50px;
}
