
.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
  
  &__card {
    width: 200px;
    padding: 14px;
    margin-top: 50px;
    border: 1px solid $color-brd;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    }
  }
  
  &__imac {
    display: block;
    width: 160px;
    height: 134px;
    margin: 15px auto 45px;
  }
  
  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 6px;
  }
  
  &__code {
    margin-bottom: 15px;
  }
  
  &__recomand {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  
  &__cost {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: $color-fff;
    background: $color-all;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    background: $color-fff;
    color: $color-all;
    border: 1px solid $color-all;
  }
}
