.container {
  --colum-count: 1;

  justify-content: center;
  align-items: center;
  display: grid;
  padding: 50px 40px;

  grid-template-columns: repeat(var(--colum-count), 200px);
  gap: 46px 48px;
}

@media (min-width: 488px) {
  .container {
    --colum-count: 2;
  }
}

@media (min-width: 768px) {
  .container {
    --colum-count: 3;
  }
}

@media (min-width: 1024px) {
  .container {
    --colum-count: 4;
  }
}
