.catalog {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 200px;
  gap: 46px 48px;
  padding: 50px 40px;

  @include sm {
    grid-template-columns: repeat(2, 200px);
  }

  @include md {
    grid-template-columns: repeat(3, 200px);
  }

  @include lg {
    grid-template-columns: repeat(4, 200px);
  }
}
