.container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
}
