.container {
  width: calc(100% - 80px);
  margin: 0 auto;
  padding-top: 50px;

  @media (max-width: 201px) {
    width: 200px;
  }

  @media (min-width: 1025px) {
    width: 945px;
    margin: 0 auto;
    padding-top: 50px;
  }
}
