.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__container {
    display: flex;

    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      margin-left: $screen1024Margins;
      margin-right: $screen1024Margins;
    }
  }
}
