.container {
  padding: 50px 40px;
  display: grid;
  gap: 46px 48px;
  justify-content: center;

  @include grid-temp-col(1);

  @media (min-width: 488px) {
    @include grid-temp-col(2);
  }

  @media (min-width: 768px) {
    @include grid-temp-col(3);
  }

  @media (min-width: 1024px) {
    @include grid-temp-col(4);
  }
}
