.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #{$color-white};
  height: 60px;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  &__img {
    display: block;
  }
}
