/* #region header */

.container-for-header__position {
  position: sticky;
  top: 0;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  height: $heigth-for-header;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.image {
  object-fit: none;
}

.nav {
  display: flex;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

.nav__list {
  font-weight: 500;
  display: flex;
  margin: 0;
  padding: 0;
  height: $heigth-for-header;
  list-style: none;
}

.nav__item {
  display: flex;
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  @extend %position-center-ver-and-hor;
  @extend %text-link;
  color: #000;
}

.nav__link:hover,
.is-active {
  color: $color-product-blue;
}

.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 8px;
  background-color: $color-product-blue;
}

/* #endregion */
