.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  position: relative;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav {
  text-align: center;

  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    display: inline-block;
  }

  &__link {
    padding: 0;
    line-height: 60px;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #060b35;
    margin-left: 20px;
    text-transform: uppercase;
    height: 60px;

    &:hover {
      color: $main-color;
    }
  }
}

.is-active {
  position: relative;
  color: $main-color;
  margin-left: 0;
}

.is-active::after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: $main-color;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
}
