
@import "../utilits/variable.scss";
@import "../utilits/mixin.scss";
@import "../block/nav.scss";

.header {
  min-width: 1024px;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  height: 60px;
}

.logo {
  @include size-logo($size);
}
