html,
body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.card {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
    z-index: 10;
    color: #34568b;

    .card__title {
      color: #34568b;
    }
  }
}
