.is-active {
  color: $header-color;

  &::after {
    content: '';
    display: block;
    position: relative;
    background: $header-color;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    bottom: 4px;
  }
}
