.main {
  display: flex;
  flex-wrap: wrap;
  max-width: mainSize($cardsWidth,$cardsDistanseRight, $maxMainDistance);
  padding: {
    top: 50px;
    right: 40px;
    bottom: 73px;
    left: 40px;
  };


  @media (min-width: 1200px) {
    padding: {
      right: $maxMainDistance;
      left: $maxMainDistance;
    };

  }


}
