.main {
  margin: 0 auto;
  padding: 50px 40px;
  display: grid;
  gap: 46px 48px;

  justify-content: center;

  grid-template-columns: repeat(1, var(--card-width));
}

@media (min-width: 488px) {
  .main {
    grid-template-columns: repeat(2, var(--card-width));
  }
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(3, var(--card-width));
  }
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(4, var(--card-width));
  }
}
