.main {
  display: flex;
  flex-wrap: wrap;
  max-width: mainSize($cardsWidth,$cardsDistanseRight, $maxMainDistance);
  padding: 50px 40px 73px 40px;
  margin: auto;


  @media (min-width: 1200px) {
    padding: {
      right: $maxMainDistance;
      left: $maxMainDistance;
    };
  }

}
