.main {
  padding: 50px 0 72px;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, $width-card);
  row-gap: 46px;
  column-gap: 48px;
  justify-content: center;
  margin: 0 auto;
}
