.main {
  --column-count: 1;

  padding: 50px 40px 72px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 47px 49px;
  justify-content: center;
}

@media (min-width: 300px) {
  .container {
    --column-count: 2;
  }
}

@media (min-width: 488px) {
  .container {
    --column-count: 3;
  }
}

@media (min-width: 768px) {
  .container {
    --column-count: 4;
  }
}

@media (min-width: 1024px) {
  .container {
    --column-count: 4;
  }
}

.card {
  width: 200px;
  height: 420px;
}
