.nav {
  display: flex;
  align-items: stretch;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__section {
    list-style: none;
    display: flex;
    margin-left: 20px;
  }

  &__sectionApple--margin--0 {
    list-style: none;
    display: flex;
    margin-left: 0;
    margin-right: 0;
  }

  &__link {
    padding-bottom: 23px;
    padding-top: 23px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #060b35;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__link.is-active {
    position: relative;
  }

  .is-active.nav__link {
    color: #00acdc;
  }

  &__link:hover {
    color: #00acdc;
  }

  .is-active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #00acdc;
    bottom: 0;
    border-radius: 8px;
  }
}
