.nav {
  display: flex;
  height: 60px;
  line-height: 38px;
  margin-right: 50px;

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;
  }
  &__link {
    padding-top: 23px;
    padding-bottom: 21px;
    text-decoration: none;
    color: $main-accent;

    transition: color 0.33s;

    &:hover {
      color: $blue-accent;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  &__item {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.is-active {
  color: $blue-accent;
  padding-bottom: 19px;
  border-bottom: 4px solid $blue-accent;
  border-radius: 2px;
}
