* {
  box-sizing: border-box;
}

html {
  --color-blue: #00acdc;
  --color-white: #fff;
  --color-black: #060b35;
  --color-grey: #616070;
  --margin-side: 16px;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
div {
  padding: 0;
  margin: 0;
}
