.catalog {
  &__cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 4* $card-width + 3 * $card-margin + 2 * $card-padding;
    // max-width: 4 * $card-width + 3 * $card-margin + 2 * $card-padding;
    // padding: 50px $card-padding;
    }

    // &__card {
    //   margin: 0 $card-margin 46px 0;

    //   &:nth-child(4n) {
    //     margin-right: 0;
    //   }

    //   &:nth-last-child(-n + 4) {
    //     margin-bottom: 0;
    //   }
    // }
  }

