@import "../utils/_variables.scss";

.page {

  &__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 auto;
    width: 4 * $widthCard + 3 * $gapX + 2 * $paddingX;
    padding: $paddingY $paddingX;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    height: 60px;
    padding: 0 50px;
    box-shadow: 0 2px 4px 0 #0000000d;
  }

  &__logo {
    margin: 10px 0;
  }
}
