@import "./utils/variables.scss";

* {
  box-sizing: border-box;
}

body,
ul {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
  color: $main-accent;
}
