.products {
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;
  margin: 0 auto;
 }

@include responsive-products-grid;
