.card {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  max-width: $width-card;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__img {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__product-name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: $font-size-main;
    line-height: 18px;
    color: $color-txt-main;
  }

  &__product-code {
    font-size: $font-size-description;
    line-height: 14px;
    color: $color-txt-description;
    margin-bottom: 16px;
  }

  &__raiting {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__review {
    font-size: $font-size-description;
    color: $color-txt-main;
  }

  &__prise {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__prise-name {
    font-size: $font-size-main;
    line-height: 18px;
    color: $color-txt-description;
  }

  &__prise-num {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $color-txt-main;
  }

  &__btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: $color-interactiv;
    color: #fff;
    border: 1px solid $color-interactiv;
    border-radius: 5px;
  }

  &__btn:hover {
    background-color: #fff;
    color: $color-interactiv;
  }
}
