@import "./variables.scss";
@import "./extend.scss";

.product {
  width: 200px;
  padding: 0 14px 15px;

  display: flex;

  flex-direction: column;
  align-items: center;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    box-sizing: content-box;
    width: 160px;
    height: 134px;
    padding: 12px 0;
    margin: 15px 16px 0;
    border: 3px solid transparent;
    transition: transform 1s;
  }

  &__image:hover {
    transform: scale(1.2);
    border: 3px solid #f3f3f3;
  }

  &__name {
    margin: 30px 0 0;

    font-weight: $fw-semibold;
    font-size: $fs-md;
    line-height: 1.25em;
  }

  &__code {
    margin: 6px 0 0;
    align-self: flex-start;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    line-height: 1.18em;
  }

  &__rating {
    width: 100%;
    margin-top: 15px;

    @extend %display-justify-content;
  }

  &__stars .stars__rating:nth-child(-n+4) {
    background: url("../images/star-active.svg") no-repeat 50%;
  }

  &__rating--feedback {
    font-weight: $fw-regular;
    font-size: $fs-sm;
    margin: 0;
    align-self: center;
  }

  &__price {
    width: 100%;
    padding: 0;
    margin: 20px 0;

    @extend %display-justify-content;

    align-items: baseline;
  }

  &__price-title {
    margin: 0;
    font-size: $fs-sm;
    font-weight: $fw-regular;
    line-height: 1.18em;
  }

  &__cost {
    font-weight: $fw-bold;
    font-size: $fs-xl;
    margin: 0;
  }

  &__button {
    width: 100%;
    padding: 11px 58px;
    display: flex;
    line-height: 16px;

    justify-content: center;

    font-size: $fs-l;
    font-weight: $fw-bold;
    color: $standard-color;
    text-align: center;

    border: 1px solid $light-blue-color;
    border-radius: 5px;
    background-color: $light-blue-color;
    text-transform: uppercase;
    text-decoration: none;

    transition: background-color 1s;
  }

  &__button:hover {
    color: $light-blue-color;

    background-color: $standard-color;
  }

}
