.products {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 46px 48px;
  justify-content: center;
  padding: 50px 40px;

  .nav__conteiner {
    flex-wrap: wrap;
  }
 }

@media (min-width: 488px){
  .products {
    grid-template-columns: repeat(2, $card-width);
  }
  .nav__conteiner {
    flex-wrap: wrap;
  }
  .nav__item {
    margin: 0;
    justify-content: space-around;
  }
  .nav__item:not(:last-child){
    margin-right: 0;
  }
}

@media (min-width: 768px){
  .products {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: 1024px){
  .products {
    grid-template-columns: repeat(4, $card-width);
  }
}
