.rating {
  display: flex;
  flex-direction: row;

  &__stars {
    width: 15px;
    height: 15px;
    background-image: url("/images/star-active.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__stars:last-child {
    background-image: url("/images/star.svg");
  }
  
  &__stars:not(:first-child) {
    margin-left: 4px;
  }
}
