.section {
  display: flex;
  width: $cardWidth;
  background-color: white;
}

.section--wrap {
  margin-left: 48px;

  &:first-child {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
