.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__star {
    background-image: url(../images/star-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__star:nth-child(5) {
    background-image: url(../images/star.svg);
  }
}
