.stars {
  display: flex;
  flex-direction: row;
  
  &__star {
    background-image: url(/images/star.svg);
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    margin-right: 4px;
    background-position: center;
  }

  @for $starCount from 1 through 5 {
    &--#{$starCount} :nth-child(-n + #{$starCount}) {
      background-image: url("/images/star-active.svg");
    }
  }
}
