.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__star:nth-child(n+2) {
    margin-left: 4px;
  }
 
  @for $starCount from 1 through 5 {
    &--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
      background-image: url("../images/star-active.svg");
    }
  }
}

.stars-container--dist_bottom {
  margin-bottom: 24px;
}

.stars-container__review {
  font-size: 10px;
  line-height: 14px;
}
