.stars {
  display: flex;
  list-style: none;
}

.stars__star {
  background-image: url(../../src/images/star-active.svg);
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--4 > .stars__star:nth-child(1n + 5) {
  background-image: url(../../src/images/star.svg);
}
