.stars {
  display: flex;

  &__star {
    width: $starSize;
    height: $starSize;
    margin-right: $starGap;
    background: url(../images/star.svg) no-repeat center;
  }

}

.stars--4 :nth-child(-n+4) {
  background: url(../images/star-active.svg) no-repeat center;
}
