.main {
  &__wrapper {
    max-width: getWrapperWidth($card-width, $card-quantity, $card-right-gap);
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 auto;
  }

  &__card--position_dist {
    margin-right: $card-right-gap;
  }

  &__wrapper--position_dist &__card--position_dist:nth-last-child(-n + 4) {
    margin-top: 44px;
  }

  &__wrapper--position_dist &__card--position_dist:nth-child(4n) {
    margin-right: 0;
  }
}
