$headerHoverColor: #00acdc;
$headerTextColor: #060b35;
$headerHeight: 60px;
$screenMinWidth: 1024px;
$main-color: #060b35;
$second-color: #616070;
$blue-color: #00acdc;
$background-color: #fff;
$cardHoverColor: #34568b;
$cardTextButtonColor: #fff;
