$main-color: rgba(6, 11, 53, 1);
$secondary-color: #616070;
$blue-color: #00acdc;
$card-width: 200px;
$border-color: #f3f3f3;

@mixin responsive-products-grid {
  @media (min-width: 488px) {
    .products {
      grid-template-columns: repeat(2, $card-width);
    }
  }

  @media (min-width: 768px) {
    .products {
      grid-template-columns: repeat(3, $card-width);
    }
  }

  @media (min-width: 1024px) {
    .products {
      grid-template-columns: repeat(4, $card-width);
    }
  }
}
