:root {
  //colors
  --blue-color: #00acdc;
  --white-color: #fff;
  --text-color-black: #060b35;
  --secondary-color: #616070;
  --hover-color-cadr: #34568b;
  --hover-color-card-text: #00acdc;

  //cards margin
  --margin-left: 16px;
  //tansition time
  --tansition-time: 300ms;
  //cards width
  --card-width: 200px;
  //column amount
  --column-count: 1;
}
