@use './variable' as *;
@use 'stars';
@use 'product_card';

// #region body

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;

  overflow-x: hidden;

  // background-color: #e5e5e5;
}

// #endregion body

// #region header
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;

  // padding: 0 40px;

  // padding: 0 40px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    // margin: 0 auto;
    // display: flex;
    // max-width: 100%;
    // overflow: hidden;
    // flex-wrap: nowrap;
  }
  &__logo {
    width: 40px;
    height: 40px;

    // margin: 10px 419px 10px 50px;
    margin-left: 50px;
  }
}

// #endregion header

// #region menu
.menu {
  padding-inline-start: 0;

  height: 60px;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;

  &__item {
    margin-right: 20px;
    margin-bottom: 22.5px;
    margin-top: 22.5px;
    
    // height: 15px;
    align-items: center;
    display: flex;
    justify-content: center;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
  }

  &__link {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    text-decoration: none;
    color: black;
  }

  &:hover {
    color: #00acdc;
  }
}

.menu__item:last-child .menu__link {
  margin-right: 50px;
}

// #endregion menu
