$font-base: Roboto, sans-serif;
$primary-color: #060b35;

@mixin mx($value) {
  margin-right: $value;
  margin-left: $value;
}

%text-base {
  font-family: Roboto, sans-serif;
}

%size-width {
  width: 166px;
}
