.catalog {
  padding: $catalog-pad-y $catalog-pad-x;
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  gap: $catalog-gap-x $catalog-gap-y;

  @include screen-size($bp-2cols) {
    grid-template-columns: repeat(2, 200px);
  }

  @include screen-size($bp-3cols) {
    grid-template-columns: repeat(3, 200px);
  }

  @include screen-size($bp-4cols) {
    grid-template-columns: repeat(4, 200px);
  }
}
