%df-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%df-space-bet {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

// cards
%button-style {
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  height: $btn-hight;
  background-color: $button-blue-accent;
  border: 1px solid $button-blue-accent;
  border-radius: $border-radius-5;
  text-transform: uppercase;

  @extend %df-center;
}

%button-style-hover {
  text-decoration: none;
  color: $button-blue-accent;
  height: $btn-hight;
  background-color: #fff;
  border: 1px solid $button-blue-accent;
  border-radius: $border-radius-5;
  text-transform: uppercase;

  @extend %df-center;
}

// smooth animation
%smooth-animation {
  transition-duration: $tr-dur;
  transition-timing-function: $tr-ease;
}

// end
