// vars header
$header-height: 60px;

// end

// color
$nav-color: #060b35;
$nav-hover: #00acdc;
$text-base: #00acdc;
$bg-base: #00acdc;
$border-base: #00acdc;

// _cards_properties
$card-title-hover: #34568b;
$btn-hover-text: #00acdc;
$btn-hover-bg: #fff;
$main-accent: #060b35;
$secondary: #616070;
$button-blue-accent: #00acdc;
$border-radius-5: 5px;
$btn-hight: 40px;
$card-border-base: 1px solid #f3f3f3;
$card-width: 200px;

// endcolor

// layout_margins--paddings
$catalog-gap-x: 48px;
$catalog-gap-y: 46px;
$catalog-pad-x: 40px;
$catalog-pad-y: 50px;

// end

// brackpoints
$bp-2cols: 488px;
$bp-3cols: 768px;
$bp-4cols: 1024px;

// end

// animations
$tr-dur: 0.3s;
$tr-ease: ease;
$hover-scale: 1.2;

// end
