
$light-gray: #616070;
$black: #060b35;
$light-blue: #00acdc;
$light-white-color: #f3f3f3;
$white-color: white;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-medium: 12px;
$size: 16px;
$logo-size: 40px;
$card-width: 200px;
$right-gap: 48px;
$card-elem: 4;
$content-width: $card-width * $card-elem + $right-gap * ($card-elem - 1);
