
$light-gray: #616070;
$black: #060b35;
$light-blue: #00acdc;
$font-size-medium: 12px;
$star-size: 16px;
$logo-size: 40px;
$card-width: 200px;
$right-gap: 48px;
$card-elem: 4;
$content-width: $card-width * $card-elem + $right-gap * ($card-elem - 1);
