/* #region Button */

.btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  background-color: $blue-color;
  border-radius: 5px;
  padding: 12px 56px;
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    padding: 11px 55px;
    color: $blue-color;
    background-color: #fff;
    border: 1px solid $blue-color;
  }
}
/* #endregion */
