.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px 19px 40px;
  }

  &__title {
    font-family: Roboto, serif;
    color: #060b35;
    font-weight: 500;
    letter-spacing: 0.1px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 16px 4px;
    white-space: nowrap;

    &__title:hover.card__title {
      color: #34568b;
    }
  }
}
