@use './variables.scss' as vars;

.footer__button {
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: vars.$primary-color;
  border: none;
  color: vars.$second-color;
  font-family: Roboto, serif;
  letter-spacing: 0.1px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 16px 16px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  
  &:hover {
    background-color: vars.$second-color;
    border: 1px solid vars.$primary-color;
    color: vars.$primary-color;
  }
}
