.price {
  display: flex;
  margin-top: 24px;
  margin-bottom: 16px;

  &__product {
    font-family: Roboto, serif;
    color: #616070;
    font-size: 12px;
    text-decoration: center;
    letter-spacing: 0.1px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 85px;
  }

  &__number {
    font-family: Roboto, serif;
    color: #060b35;
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 700;
    line-height: 18px;
  }
}
