@use "../../other/variables";
@use "../../other/extends";

.buy-button {

  @include font-style (
    $color-white,
    $font-size-14,
    $line-height-16,
    $font-weight-700
  );

  height: 40px;
  padding: 12px 0;
  text-align: center;
  background-color: rgba(0, 172, 220, 1);
  border-radius: $border-radius;
  border: none;
  text-transform: uppercase;
  letter-spacing: -0.7px;

  &:hover {
    color: $color-blue;
    background-color: $color-white;
    border: 1px solid #00acdc;
  }
}
