
html {
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 50px;

  &__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__nav-item {
    display: inline-block;
    margin-left: 20px;

    &--is-active {
      margin-left: 0;
    }
  }

  &__nav-logo {
    height: 40px;
    width: 40px;
  }

  &__nav-logo-link {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &__nav-link {
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: $main-accent;
    display: block;
    height: 60px;
    line-height: 60px;
    margin-left: 0;

  }
  &__last {
    margin-right: 0;
  }

  &__nav-link:hover {
    color: $blue-accent;
  }


  }

  .is-active {
    font-weight: 500;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    height: 60px;
    line-height: 60px;
    color: $blue-accent;
    position: relative;
  }

  .is-active::after {
    content: '';
    height: 4px;
    width: 100%;
    background-color: $blue-accent;
    display: flex;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
  }









