.card {
  box-sizing: border-box;
  width: $card-width;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin: 0 0 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $text-accent-color;
  }

  &__code {
    margin-bottom: 16px;
    font-size: 10px;
    color: $text-secondary-color;
  }

  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__review-count {
    color: $text-accent-color;
    font-size: 10px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    color: $text-accent-color;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    border-radius: 5px;
    border: 1px solid $main-color;
    background: $main-color;

    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      color: $main-color;
      background: #fff;
    }
  }
}
