.card {
  display: block;
  box-sizing: border-box;
  width: $card-width;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__product-photo {
    display: flex;
    justify-content: center;
  }

  &__product-image {
    width: $image-width;
    height: $image-height;
    margin-bottom: 40px;
  }

  &__about-product {
    display: flex;
    flex-direction: column;
  }

  &__product-description {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $accent-font-color;
  }

  &__product-code {
    margin-bottom: 16px;
    line-height: 14px;
    color: $common-font-color;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__feedback-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__purchase {
    display: flex;
    flex-direction: column;
  }

  &__purchase-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    line-height: 18px;
  }

  &__product-price {
    align-self: center;
    font-size: 12px;
    color: $common-font-color;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    color: $accent-font-color;
  }

  &__buy-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: $selection-color;
    border: 1px solid $selection-color;
    border-radius: 5px;
    cursor: pointer;
  }

  &__buy-submit:hover {
    color: $selection-color;
    background-color: #fff;
  }

  &__feedback-number {
    font-size: 10px ;
    line-height: 14px;
    color: $accent-font-color;
  }
}
