.catalog {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: $catalog-width;
  flex-shrink: 0;
  padding: 50px 40px ;

  &--font_400 {
    font-size: 10px;
    font-weight: 400;
  }

  &__container-of-card {
    display: flex;
    align-items: center;
    margin: 0 48px 46px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
