.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: white;

  &__logo {
    margin-left: 50px;
  }

  &__image-container {
    display: flex;
    align-self: center;
  }
}

.nav {
  flex-shrink: 0;
  margin-right: 50px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    list-style: none;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__item:nth-child(1) {
    margin-left: 0;
  }

  &__link {
    display: flex;
    flex-direction: column;
    line-height: 14px;
    padding: 23px 0;
    text-decoration: none;
    cursor: pointer;
    color: $accent-font-color;
  }

  &__link:hover {
    color: $selection-color;
  }
}

.is-active {
  color: $selection-color;
  padding-bottom: 0;

  &::after {
    content: "";
    margin-top: 19px;
    height: 4px;
    border-radius: 2px;
    background: $selection-color;
  }
}
