.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #0000000d;

  &__container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
  }

  &__logo {
    height: 40px;
  }
}
