.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: white;

  &__logo {
    margin-left: 50px;
  }

  &__image-container {
    display: flex;
    align-self: center;
  }

  &__nav {
    margin-right: 50px;
  }
}
