.main {
  display: grid;

  gap: 46px 48px;
  padding: 50px 40px;
  justify-content: center;
  justify-items: center;

  @include smallest-screen;
  @include small-screen;
  @include medium-screen;
  @include large-screen;
}
