@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin smallest-screen {
  grid-template-columns: repeat(1, auto);
}

@mixin small-screen {
  @media (min-width: 488px) {
    grid-template-columns: repeat(2, auto);
  }
}

@mixin medium-screen {
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, auto);
  }
}

@mixin large-screen {
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, auto);
  }
}
