.card__button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: $text_color_hover_button;
  text-decoration: none;
  color: $background_color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid $text_color_hover_button;

  &:hover {
    color: $text_color_hover_button;
    background-color: $background_color;
    border: 1px solid $text_color_hover_button;
    border-radius: 5px;
  }

  &::after {
    position: center;
  }

  &-active:hover {
    color: $text_color_hover_button;
    background-color: $background_color;
    border: 1px solid $text_color_hover_button;
    border-radius: 5px;
  }
}
