.card {
  width: var(--card--width);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin-bottom: 40px;
    align-self: center;
    vertical-align: top;
    width: 160px;
    height: 134px;
    padding: 0;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    color: var(--grey-color);
    margin-bottom: 16px;
    font-style: normal;
  }

  &__price-and-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: center;
    height: 16px;
  }

  &__rev {
    font-weight: 400px;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    font-size: 12px;
    font-weight: 400px;
    color: var(--grey-color);
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
  }

  &__button {
    display: inline-block;
    text-align: center;
    width: 166px;
    height: 40px;

    background-color: var(--button-color);
    border-radius: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    color: var(--button-second-color);
    border: 1px solid transparent;
    cursor: pointer;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    transition: background-color 0.3s ease;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

  &__button:hover {
    background-color: var(---button-second-color);
    border-color: var(--button-color);
    color: var(--button-color);
  }

}
