$lightblue: #00acdc;
$main-first-color: #060b35;
$main-secondary-color: #616070;

.card {
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__container {
    padding: 0 120px;
  }

  &__productImage {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: $main-first-color;
    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: $main-secondary-color;
    margin-bottom: 16px;
  }

  &__starsMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    color: $main-first-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
  }

  &__textPrice {
    font-size: 12px;
    line-height: 18px;
    color: $main-secondary-color;
  }

  &__priceValue {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: $main-first-color;
  }

  &__button {
    background-color: $lightblue;
    border-radius: 5px;
    height: 40px;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $lightblue;
      border: 1px solid $lightblue;
      font-weight: 200px;
    }
  }
}
