.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 40px;
  width: 1024px;

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }

  &__card:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.card {
  border: 1px solid $border-color;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
  background-color: #fff;

  &__logo-img {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__title {
    font-size: $font-size-medium;
    line-height: 18px;
    font-weight: 500;
    color: $main-accent;
    margin: 0 0 4px;
  }

  &__product-code {
    font-size: $font-size-small;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__stars-review {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__review {
    color: $main-accent;
    font-weight: 400;
  }
  
  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $main-accent;
    margin-bottom: 16px;
  }
  
  &__price {
    font-size: $font-size-medium;
    font-weight: 400;
    line-height: 18px;
    color: $second-accent;
  }

  &__price-amount {
    font-size: $font-size-big;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    width: 166px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid $blue-accent;
    background-color: $blue-accent;
    text-transform: uppercase;
    transition: 0.2s;
  }

  &__buy:hover {
    color: $blue-accent;
    background-color: #fff;
    transition: color 0.2s;
  }
}
