.catalog {
  display: grid;

  padding: 50px 40px;

  grid-template-columns: repeat(1, auto);
  gap: 46px 48px;

  justify-content: center;
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, auto);
  }
}
