@import "../utils/function";

.catalog {
  padding: 50px $pading-main;
  margin: 0 auto;
  max-width: maxWidthMain(
    $card-margin-right,
    $width-card,
    $how-many-card,
    $pading-main
  );

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 $card-margin-right 46px 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
