.catalog {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1000px;

  &__container {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 48px 72px;
  }
}
