.container {
  &__cards {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: 50px $container-pading-right;
    flex-wrap: wrap;
    width: $container-width;
  }

  &__card {
    margin-bottom: 46px;
    margin-right: 48px;
  }
}
