.header {
  &--position {
    display: flex;
    position: relative;
    z-index: 1;

    margin: 0 50px;
  }

  &--content-conf {
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  &__logo {
    height: 40px;
    width: 40px;
  }
}
