.header {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  &__icon {
    margin: auto 0;
  }
}
