.headTable {
  padding: 0 50px;
  background-color: #fff;
  display: flex;
  height: 60px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 40px;
  width: 40px;
}
