.main {
  width: 100%;
  display: flex;
  justify-content: center;
  &__product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: calc(#{$card-width} * 4 + #{$card-gap} * 3);
    margin-top: 49px;
  }
}
