.catalog {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  padding-top: 27px;

  &__item {
    width: 25%;
    padding: 24px 25px;
    display: flex;
    justify-content: center;

    &:nth-last-child(-n + 4) {
      padding-bottom: 73px;
    }
  }
}
