.nav {
  margin-right: 50px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__links {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    line-height: 14px;
    padding: 23px 0;
    font-size: 12px;
    text-decoration: none;
    color: $black-color;
    text-transform: uppercase;
  }

  &__item :not(:first-child) {
    margin-left: 10px;
  }

  &__item :not(:last-child) {
    margin-right: 10px;
  }

  &__links:hover {
    color: $blue-color;
  }

  .is-active {
    color: $blue-color;
    padding-bottom: 0;
  }

  .is-active::after {
    content: "";
    background: $blue-color;
    border-radius: 2px;
    margin-top: 19px;
    height: 4px;
  }
}
