html {
  color: $main-color;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

body,
ul,
main,
li,
h2,
h1,
p,
div,
a {
  margin: 0;
  padding: 0;
}
