.price {

  display: flex;
  justify-content: space-between;
  margin: 24px 16px 0;
  align-items: flex-end;

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $details-color;

  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $font-color;
  }
}
