/* Price */
.product-card__price {
  font-size: 12px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 18px;
}

.product-card__price-word {
  color: #616070;
}

.product-card__number {
  font-weight: 700;
  font-size: 16px;
}
