.products {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 1fr);
  gap: 47px 49px;
  justify-content: center;

  height: 100vh;

  grid-auto-flow: column;

  margin-top: 50px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  line-height: 14px;
}
