.product-card {
  padding-top: 32px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #060b35;
}

.product-card:not(:nth-child(4n)) {
  margin-right: 48px;
}

.product-card:nth-last-child(-n + 4) {
  margin-top: 47px;
}
