.cards {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 1024px;
  margin: 0 auto;
  padding: 50px 40px;

  &__card {
    box-sizing: border-box;
    border: 1px solid #f3f3f3;
    background: white;
    border-radius: 5px;
    padding: 32px 16px 16px;
    width: 200px;
    margin-bottom: 46px;
    margin-right: 48px;
  }

  &__card:nth-child(4) {
    margin-right: 0;
  }

  &__card:nth-child(8) {
    margin-right: 0;
  }
}
