.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 32px 16px 16px;
  margin-right: $gap;

  &:not(:nth-child(4n)) {
    margin-right: $gap;
  }

  &:nth-last-child(-n + 4) {
    margin-top: 46px;
  }

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-color-main;
    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color: $text-color-secondary;
    margin-bottom: 16px;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-name {
    font-size: 12px;
    line-height: 18px;
    color: $text-color-secondary;
  }

  &__price-digits {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $text-color-main;
  }

  &__button {
    padding: 12px 0;
    background-color: #00acdc;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #00acdc;

    &:hover {
      background-color: #fff;
      color: #00acdc;
      border-color: #00acdc;
    }
  }
}
