.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  width: catalog-width($card-gap, $numb-of-gaps, $card-width, $cards-in-row);
  justify-content: space-between;
  margin: 0 auto;
}

.catalog__card {
  margin: 0 48px 46px 0;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
