.stars {
  display: flex;

  @for $starCount from 1 to 5 {
    &--#{$starCount} .star:nth-child(-n + #{$starCount}) {
      background-image: url("../images/star-active.svg");
    }
  }
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
