.stars {
  display: flex;

  &_star {
    background: url(../images/star.svg) no-repeat center;
    height: 16px;
    width: 16px;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  @for $starsCount from 1 through 5 {
    &--#{$starsCount} .stars__star:nth-child(-n + #{$starsCount}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
