$color-primary: #00acdc;
$color-text-main: #060b35;
$color-text-muted: #616070;
$card-width: 200px;
$star-size: 12px;
$font-main: Roboto, sans-serif;
$anim-delay: 300ms;
$color-primary-hover: #34568b;
$columns-count: 1;
$size-base: 16px;
