$blue: #00acdc;
$text-color: #060b35;
$white-border: #f3f3f3;
$text: #616070;
$white: #fff;
$hover-card-text: #34568b;
$columns-count: 4;
$card-image-width: 160px;
$star-size: 16px;
$star-margin-right: 4px;
