$color-background-header: #fff;
$color-link: #000;
$color-link-interaction: #00acdc;
$color-card-border: #f3f3f3;
$color-text-default: #060b35;
$color-button-text: #fff;
$color-button-primary: #00acdc;
$color-text-subheading: #616070;
