.card-block {
  display: grid;
  grid-template-columns: $card-width;

  gap: 46px 48px;
  padding: 50px 40px;
  margin: 0 auto;
  background-color: $color-card-background;
  font-family: Roboto, sans-serif;
  color: $color-main;
  font-size: 10px;
  line-height: 18px;
  justify-content: center;
}

@media screen and (min-width: 488px) {
  .card-block{
    grid-template-columns: repeat(2, $card-width);
  }
}

@media screen and (min-width: 768px) {
  .card-block{
    grid-template-columns: repeat(3, $card-width);
  }
}

@media screen and (min-width: 1024px) {
  .card-block{
    grid-template-columns: repeat(4, $card-width);
  }
}
