.container {
  display: flex;
  justify-content: space-between;
  height: $heigth-container;
  padding-right: $padding-for-container;
  padding-left: $padding-for-container;

  &__photo {
    height: 40px;
    align-self: center;
  }
}
