.products-list {
  display: grid;
  grid-template: 406px 406px / 200px 200px 200px 200px;
  gap: 48px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 72px;
}

@media (max-width: 1024px) {
  .products-list {
    grid-template: 406px 406px / 200px 200px 200px 200px;
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template: 406px 406px 406px / 200px 200px 200px;
  }
}

@media (max-width: 488px) {
  .products-list {
    grid-template: 406px 406px 406px 406px / 200px 200px;
  }
}

@media (max-width: 478px) {
  .products-list {
    grid-template: 406px 406px 406px 406px 406px 406px 406px / 200px;
  }
}
