.products-list {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / auto auto auto auto;
  gap: 48px;
  justify-content: center;
  margin-top: 50px ;
}

@media (max-width: 1024px) {
  .products-list {
    grid-template: 1fr 1fr 1fr 1fr / auto auto auto auto;
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template: 1fr 1fr 1fr / auto auto auto;
  }
}

@media (max-width: 488px) {
  .products-list {
    grid-template: 1fr 1fr / auto auto;
  }
}

@media (max-width: 478px) {
  .products-list {
    grid-template: 1fr / auto;
  }
}
