
.header {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0 50px 0 auto;

  &__li {
    position: relative;
    margin-right: 20px;
  }

  &__li:last-child {
    margin-right: 0;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    display: block;
    padding: 23px 0;
    color: $primary-text;
    transition: 0.3s;
    &--is-active {
      color: $secondary-color;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: $secondary-color;
      }
    }
  }

  &__link:hover {
    color: $secondary-color;
  }
}

.logo__img {
  width: 40px;
  height: 40px;
  margin: 10px 0 0 50px;
}
