.nav__list {
  margin: 0;
  padding: 0;

  display: flex;
  list-style: none;
}

.nav__value:not(:first-child) {
  margin-left: 20px;

  &:hover {
    cursor: pointer;
  }
}

.nav__link {
  @extend %nav-styles;

  &:hover {
    color: $colorForlinksHover;
  }
}

.is-active {
  @extend %nav-styles;
  color: $colorForlinksHover;
  padding-bottom: 0;

  &::after {
    content: "";
    position: relative;
    display: block;
    top: 19px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $colorForlinksHover;
  }
}
