.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  width: 100%;
  border-bottom: 1px solid $grey-100;
  border-radius: 5px;

  @include on-mobile-l {
    padding-inline: 30px;
    padding-top: 20px;
  }

  @include on-mobile-s {
    align-items: flex-start;
  }

  &__logo {
    flex: 1;
    display: flex;

    &-img {
      display: flex;

      width: 40px;
      height: 40px;

      @include on-mobile-l {
        width: 30px;
        height: 30px;
      }
    }
  }
}
