.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.home-link {
  display: flex;
  align-items: center;
}

.is-active {
  color: $hovered-header-item-color;
}
