.header {
  padding: 0 50px;
  box-shadow: 0 2px 4px 0 #0000000d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  &__logo {
    display: block;
    background-image: url(../images/logo.png);
    width: $logo-size;
    height: $logo-size;
  }
}
