.is-active {
  color: $main-color;
  position: relative;

  &:after {
    content: "";
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    height: 4px;
    position: absolute;
    background-color: $main-color;
    border-radius: 8px;
    pointer-events: none;
  }
}
