.is-active {
  position: relative;
  color: $color-blue-link;

  &::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    border-bottom: 4px solid;
    border-radius: 8px;

    color: $color-blue-link;
  }
}
