.is-active {
  color: $color-blue;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $color-blue;
    bottom: 0;
    left: 0;
    border-radius: 8px;
  }
}
