.is-active {
  color: rgba(0, 172, 220, 1);
  position: relative;

  &::after {
    content: "";
    border-bottom: 4px solid rgba(0, 172, 220, 1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
  }
}
