.nav-list {
  list-style: none;
  display: flex;
  padding: 0;

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #060b35;
    padding: 23px 0;
    &:hover {
      color: $color-blue;
    }
  }
}
