.nav {
  display: flex;
  align-items: center;
  background-color: $bg-color;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;

    & :first-child {
      margin-left: 0;
    }

    & :last-child {
      margin-right: 0;
    }
  }

  &__item {
    color: $bg-color;
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding: 23px 0;
    margin: 0;
    color: #060b35;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $link-color;
    }
  }
}

.is-active {
  color: $link-color;
}

.is-active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  background-color: $link-color;
  border-radius: 8px;
  width: 100%;
}
