.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-item {
  display: flex;
  margin: 0 10px;
  height: 60px;
}

.header__nav-lis .header__nav-item:first-of-type {
  margin-left: 0;
}

.header__nav-lis .header__nav-item:last-of-type {
  margin-right: 0;
}
