$text-font-weight-medium: 500;
$text-font-weight-high: 700;
$text-font-size-smallest: 10px;
$text-font-size-small: 12px;
$text-font-size-medium: 14px;
$text-font-size-big: 16px;
$text-line-height-small: 14px;
$text-line-height-medium: 16px;
$text-line-height-hight: 18px;
