@use "../utils/variables" as *;

.nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-family: "Roboto", sans-serif;
    color: $primary-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 23px 0;

    &:hover {
      color: $blue-link-color;
    }

    &--color {
      color: $blue-link-color;
    }
  }
}
