.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $card-width);
  gap: 46px 48px;

  @media screen and (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 200px);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 200px);
  }
}
