.stars {
  &__star {
    @include square($star-size);
    margin-right: 4px;
    background: url("../images/star.svg") center no-repeat;
  }

  @for $index from 1 through $stars-num {
    &--#{$index} > :nth-child(-n+#{$index}) {
      background-image: url("../images/star-active.svg");
    }
  }
}
