.stars {
  display: flex;
  width: 96px;
  justify-content: space-between;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @for $starCount from 1 through 5 {
    &--#{$starCount} .stars__star:nth-of-type(-n + #{$starCount}) {
      background-image: url(/images/star-active.svg);
    }
  }
}
