.card {
  padding: 32px 16px 16px;
  line-height: 18px;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  background-color: #fff;
  color: $secondary;

  &__stars-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 24px;
  }

  &__product-img-box {
    height: 134px;
    max-height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  &__product-img {
    height: inherit;
  }

  &__product-name {
    margin: 0 auto 4px;
    font-weight: 500;
    font-size: 12px;
    color: $main-accent;
  }

  &__code-words {
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price-word {
    font-size: 12px;
  }

  &__price-number {
    font-weight: 700;
    font-size: 16px;
    color: $main-accent;
  }

  &__btn {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $blue-accent;
    border-radius: 5px;
    background-color: $blue-accent;
    color: #fff;
    &:hover {
      border: 1px solid $blue-accent;
      background-color: #fff;
      color: $blue-accent;
      transition: background-color 0.3s ease-in-out;
    }
  }

}
