/* #region card */

.card-container__card {
  margin: 25px 24px 21px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 200px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;

  &__image {
    margin-top: 32px;
    margin-left: calc(50% - #{$image-width} / 2);
    width: #{$image-width};
    height: 134px;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;

    &--p1 {
      padding-top: 40px;
      padding-left: #{$left-shift};
      width: #{$inside-width};
      font-weight: 500;
      font-size: 12px;
      line-height: #{$general-line-height};
      color: #060b35;
    }
    
    &--p2 {
      padding-top: 4px;
      padding-left: calc(50% - 92px / 2 - 37px);
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #616070;
    }

    &--p3 {
      width: 53px;
      height: 16px;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #060b35;
      align-items: flex-end;
      flex: none;
    }

    &--p4 {
      padding-top: 24px;
      padding-left: #{$left-shift};
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: #{$inside-width};
      height: #{$general-line-height};
    }

    &--p5 {
      font-weight: 400;
      font-size: 12px;
      line-height: #{$general-line-height};
      color: #616070;
      display: flex;
      align-items: flex-end;
    }

    &--p6 {
      font-weight: 700;
      font-size: 16px;
      line-height: #{$general-line-height};
      color: #060b35;
      display: flex;
      align-items: flex-end;
      text-align: right;
    }
  }

  &__button {
    box-sizing: border-box;
    margin: 16px;
    margin-left: calc(50% - #{$inside-width} / 2);
    padding-top: 11px;
    width: #{$inside-width};
    height: 40px;
    background-color: #00acdc;
    border-radius: 5px;
    border: 1px solid #00acdc;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: #fff;
      color: #00acdc;
    }
  }
}

/* #endregion */
