@use '../../utils/variables' as *;

.card {
  width: $card-width;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform $transition;
  background: #fff;

  &:hover {
    transform: scale(1.2);
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    transition: color $transition;
  }

  &:hover .card__title {
    color: $title-hover;
  }

  &__stars {
    margin-bottom: 10px;
  }

  &__buy {
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1px solid $nav-hover;
    border-radius: 4px;
    background-color: $nav-hover;
    color: $color-white;
    text-decoration: none;
    transition: all $transition;

    &:hover {
      background-color: #fff;
      color: $nav-hover;
    }
  }
}
