.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, $width-card);
  grid-gap: 46px 48px;
  
  padding: 50px 40px;

  color: $main-text-color;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $width-card);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width-card);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $width-card);
  }
}
