/* #region icon */
.icon {
  display: flex;
  width: $icon-width;
  height: $icon-height;
  background-size: $icon-width $icon-height;
  background-position: center;

  &--screen {
    background-image: url(../images/imac.jpeg);
  }
}

/* #endregion */
