/* #region main */

.main {
  --cize-column: 1;

  &--catalog {
    display: grid;
    gap: 46px 48px;

    grid-template-columns: repeat(var(--cize-column), $card-width);

    justify-content: center;
    align-items: center;
    padding: 50px 40px;
  }
}

@media (min-width: 488px) {
  .main {
    --cize-column: 2;
  }
}

@media (min-width: 768px) {
  .main {
    --cize-column: 3;
  }
}

@media (min-width: 1024px) {
  .main {
    --cize-column: 4;
  }
}

/* #endregion */
