/* #region main */

.main {
  --cize-column: 1;

  &--catalog {
    display: grid;
    gap: $grid-vert $grid-horisont;

    grid-template-columns: repeat(var(--cize-column), $card-width);

    justify-content: center;
    align-items: center;

    @include grid-paddings;

  }
}

@media (min-width: 488px) {
  .main {
    --cize-column: 2;
  }
}

@media (min-width: 768px) {
  .main {
    --cize-column: 3;
  }
}

@media (min-width: 1024px) {
  .main {
    --cize-column: 4;
  }
}

/* #endregion */
