.product-card {
  width: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 32px 16px 16px;
  transition: transform 0.3s ease-in-out;

  &__img-wrapp {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__headline {
    margin-bottom: 16px;
  }

  &__title {
    @include font(12px, 500, $main-color, 18px);
    margin: 0 0 4px;
    transition: color 0.3s linear;
  }

  &:hover {
    transform: scale(1.2);
    cursor: pointer;

    .product-card__title {
      color: $hover-text-color;
    }
  }

  &__subtitle {
    @include font(10px, 400, $secondary-color, 14px);
    margin: 0;
  }

  &__review-wrapp {
    @include flex-justify-align(space-between, flex-end);
    margin-bottom: 24px;
  }

  &__review-content {
    @include font(10px, 400, $main-color, 14px);
    margin: 0;
  }

  &__price-wrapp {
    @include flex-justify-align(space-between, center);
    margin-bottom: 16px;
  }

  &__price-txt {
    @include font(12px, 400, $secondary-color, 18px);
    margin: 0;
  }

  &__price {
    @include font(16px, 700, $main-color, 18px);
    margin: 0;
  }

  &__button {
    @include flex-justify-align(center, center);
    @include font(14px, 700, $bg-color);
    background-color: $accent-color;
    border-radius: 5px;
    border: 1px solid $accent-color;
    height: 40px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $bg-color;
      color: $accent-color;
    }
  }
}
