.stars {
  display: flex;
  &__star {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background: url(../images/star.svg) center no-repeat;
  }

  @for $starCount from 1 through 4 {
    &__star:nth-child(#{$starCount}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
