.stars {
  display: flex;

  &__star {
    background: url("/images/star.svg") center no-repeat;
    display: flex;
    height: 16px;
    width: 16px;
  }
  
  &__star:not(:last-of-type) {
    margin-right: 4px;
  }
  
  @for $starCount from 1 through 5 {
    &--#{$starCount} &__star:nth-child(-n + #{$starCount}) {
      background-image: url("/images/star-active.svg");
    }
  }
}
