.stars {
  display: flex;
  list-style: none;
  padding: 0;

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin: 0;
    }
  }

  @for $stars-number from 1 to 6 {
    &--#{$stars-number - 1} > :nth-child(n + #{$stars-number}) {
      background-image: url(../images/star.svg);
    }
  }
}
