.stars-Wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  &__row {
    display: flex;
  }

  &__card-reviews {
    font-size: 10px;
    line-height: 16px;
    color: $black-color-for-text;
  }

  &__row--stars-4 {
    display: flex;
  }
}

.star {
  width: 16px;
  height: 16px;
  background-image: $star;
  background-repeat: no-repeat;
  background-position: center;
}

@for $starCount from 1 through 5 {
  .stars--#{$starCount} .stars__star:nth-child(-n + #{$starCount}) {
    background-image: $light-star;
  }
}
