* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  display: grid;
  margin-inline: auto;
  justify-items: center;
  align-items: center;
  grid-column-gap: 48px;
  grid-row-gap: 46px;
  padding-top: 50px;
  padding-bottom: 72px;
  max-width: 944px;

  @include two-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  @include three-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  @include four-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }
}
