.content {

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 50px;
    max-width: getRowWidth($card-width, $card-offset, $cards-per-row);

    & > :not(:nth-last-child(-n + 4)) {
      margin-bottom: 46px;
    }
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $card-offset;
  }
}

.page__content {
  display: flex;
  justify-content: center;
}
