.cards-grid {
  @include container-padding(50px, 40px);

  margin: 0 auto 72px;
  width: 100%;
  display: grid;
  gap: 46px 48px;
  justify-content: center;

  @include on-big-phone {
    @include grid-template-columns-200(2);
  }

  @include on-tablet {
    @include grid-template-columns-200(3);
  }

  @include on-desktop {
    @include grid-template-columns-200(4);
  }
}
