@use '../../utils/variables' as *;

.nav {
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: $nav-color;
    font-weight: 600;
    transition: color $transition;

    &.is-active {
      border-bottom: 2px solid $nav-hover;
      padding-bottom: 4px;
    }

    &:hover {
      color: $nav-hover;
    }
  }
}
