@mixin centered-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  width: 200px;
  height: 403px;
  padding: 14px 15px 15px;
  margin-bottom: 49px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  &__image {
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    width: 166px;
    height: 160px;
    padding: 10px 5px;
    transition-timing-function: ease-out;
    transition-duration: 0.5s;

    &:hover {
      transform: scale(1.2, 1.2);
      border: 3px solid #f3f3f3;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 300;
    margin: 36px 0 6px;
    line-height: 15px;
  }

  &__productGoods {
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__text {
  font-size: 11px;
}

.price__money {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 14px;
  display: inline-block;
}

.card__rating {
  font-size: 11px;
  margin-top: 13px;
}

.card__respond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.card__stars {
  display: flex;
}

.stars__block {
  background-image: url("../../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.stars__block:nth-child(-n+4) {
  background-image: url("../../images/star-active.svg");
}

.button__link {
  @include centered-block;
  margin-top: 6px;
  border-radius: 5px;
  line-height: 38px;
  color: white;
  background-color: #00acdc;
  font-weight: 600;
  padding: 0 56px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #00acdc;
  transition: 0.4s;
}

.button__link:hover {
  background-color: #fff;
  color: #00acdc;
}
