
.header {
  height: 60px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    max-width: 924px;
    margin: 0 auto;
  }
}
