
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 40px;
  max-width: 944px;
  margin: 0 auto;
  @media screen and (max-width: 1024px) {
    padding: 0 40px;
  }
}
