
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 944px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 50px;
  grid-gap: 15px;
  justify-items: center;
}
