.main {
  display: flex;
  justify-content: center;
}

.page__main {
  margin-top: 50px;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page__menu {
  position: relative;
}

.catalog {
  width: 1024px;
}

.catalog__card {
  margin: 0 24px 50px;
}
