
$darcBlue: #060b35;
$backgroundColor: #fff;
$borderColor: #f3f3f3;
$grey: #616070;
$blue: #00acdc;
$black: #000;
$buttonBorderDefault: rgba(255, 255, 255, 0);
$card-width: 200px;
$space-column: 48px;
$space-row: 46px;
$star-size: 16px;
$catalog-width: ($card-width * 4) + ($space-column * 3);
