@mixin width-with-spacing() {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin on-small-screen() {
  @media (min-width: $width-small) {
    @content;
  }
}

@mixin on-medium-screen() {
  @media (min-width: $width-medium) {
    @content;
  }
}

@mixin on-large-screen() {
  @media (min-width: $width-large) {
    @content;
  }
}

@mixin smooth-hover {
  transition: 300ms;
}
