$text-color: #060b35;
$main-blue-color: #00acdc;
$card-width: 200px;
$card-margin-right: 48px;
$main-horizontal-padding: 40px;
$main-width: 
  4 * $card-width + 3 * $card-margin-right + 2 * $main-horizontal-padding;
