$text-main-color: #060b35;
$text-secondary-color: #616070;
$accent-color: #00acdc;
$card-width: 200px;
$container-vertical-padding: 50px;
$container-horizontal-padding: 40px;
$container-vertical-gap: 46px;
$container-horizontal-gap: 48px;
$width-small: 488px;
$width-medium: 768px;
$width-large: 1024px;
