$card-width: 200px;
$card-margin-right: 48px;
$cards-amount: 4;
$color-dark: #060b35;
$color-gray: #616070;
$color-blue: #00acdc;
$width: $cards-amount * $card-width + ($cards-amount - 1) * $card-margin-right;
