%flexAbsoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexSpaseBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flexJustifyCenter {
  display: flex;
  justify-content: center;
}
