%flex-and-flx-center {
  display: flex;
  justify-content: center;
}

%flex-and-flx-btwn {
  display: flex;
  justify-content: space-between;
}

%brder-rad-btn-card {
  border-radius: 5px;
}

%font-style {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

%font-style-small {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

%font-style-medium {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

%font-style-big {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

%font-style-btn {
  font-size: 14px;
  font-weight: 700;
}
