$blue-color: #00acdc;
$main_text-color: #060b35;
$small_text-color:#616070;
$white-color: #ffff;

$text-height: 18px;

$cards-width: 200px;
$horisontal: 40px;
$vertical: 50px;

$card-horisontal_shift: 48px;
$card-vertical_shift: 46px;
