$star-size: 16px;
$logo-size: 40px;

$main-color: #060b35;
$secondary-color:#616070;
$interaction-color: #00acdc;
$main-background-color: #fff;
$transition: 0.3s;

$card-width: 200px;

$margin-between-cards: 48px;

$page-coloms: 4;
