$headerHeight: 60px;
$brandColor: #00acdc;
$headerContentMargin: 50px;

$productCardWidth: 200px;
$cardHorizontalContentMargins: 15px;
$cardContentWidth: $productCardWidth - $cardHorizontalContentMargins*2;

$betweenCards: 48px;
$quantityCardsInRow: 4;
$productsWidth: $productCardWidth * $quantityCardsInRow 
  + $betweenCards * ($quantityCardsInRow - 1);
