$blue-color: rgb(0, 172, 220);
$darkBlue-color: rgb(6, 11, 53);
$grey-color: rgb(97, 96, 112);
$product-card-width: 200px;
$card-margin-side: 25px;
$page-width: calc(4 * (2 * #{$card-margin-side} + #{$product-card-width}));
