$maine-color: #060b35;
$blue-color: #00acdc;
$maine-light-color: #616070;
$white-color: #fff;
$logo-size: 40px;
$star-size: 16px;

@mixin logo($logo-size) {
  width: $logo-size;
  height: $logo-size;
}

@mixin stars($star-size) {
  width: $star-size;
  height: $star-size;
}

%maine-text {
  font-size: 12px;
  font-weight: 500;
}

%small-text {
  font-size: 10px;
  font-weight: 400;
}
