%styles-for-header-links {
  margin: 0 10px;
  padding: 23px 0;

  text-align: center;

  text-transform: uppercase;
  text-decoration: none;
  line-height: 14px;
  font-size: 12px;
  font-weight: $normal-text;
  font-style: normal;
}
