@mixin logo-square ($size) {
  width: $size;
  height: $size;
}

@mixin margins {
  margin-right: $card-margin-ridth;
  margin-top: $card-margin-top;
}

@mixin style-secondary {
  color: $secondary-color;
  font-weight: 400;
}
