$button-background: #fff;
$button-background-hover: #00acdc;
$color-text-info: #060b35;
$header-color-blue: #00acdc;
$header-color-link: #060b35;
$card-title-hover: #34568b;
$transition: all 0.3s;
$width-column-grid: 200px;
