$body-font: Roboto, sans-serif;
$header-box-shadow-color: rgba(0, 0, 0, 0.05);
$card-width: 200px;
$photo-width: 160px;
$photo-height: 134px;
$first-color: #FFF;
$second-color: #00ACDC;
$first-text-color: #060B35;
$second-text-color: #616070;
$card-title-hover-color: #34568b;
$max-stars: 4;
