$bluesky: #00acdc;
$font-family: 'Roboto', sans-serif;
$nav-link-color: #060b35;
$big-margin: 50px;
$small-margin: 20px;
$border-radius: 8px;
$line-height: 60px;
$underline-width: 37px;
$underline-height: 4px;
