.is-active {
  color: $my-color;
  position: relative;
  margin-left: 0;

  &::after {
    content: "";
    height: 4px;
    border-radius: 8px;
    background-color: $my-color;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
