.catalog {
  display: flex;
  padding: 50px 128px;
  flex-wrap: wrap;
  justify-content: center;

  &__first-block {
    display: flex;
    justify-content: space-between;
  }

  &__second-block {
    display: flex;
    justify-content: space-between;
  }

  &__product-card {
    margin-bottom: 49px;
    margin-right: 48px;
  }
}
