@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "../utils/variables";

.header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  box-shadow: 0 2px 4px rgba(0%, 0%, 0%, 0.05%);
}

.nav {
  padding: 0;
  &__item {
    list-style: none;
  }

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__link {
    position: relative;
    display: flex;
    padding: 23px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: $PrimaryColor;
  }

  &__link:hover {
    color: #00acdc;
  }

}

.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  height: 4px;
  background-color: #00acdc;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  flex-basis: 40px;
  display: flex;
  text-align: center;
  align-items: center;
}
