.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0 50px;
  font-weight: 500;
  border: 1px solid $button-text;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-left: 20px;
}

.nav__item:first-child {
  margin: 0;
}

.nav__link {
  display: block;
  padding: 0;
  line-height: 60px;
  font-size: 12px;
  text-decoration: none;
  color: $dark-blue-color;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: $button-color;
}

.nav__link.is-active {
  color: $button-color;
  position: relative;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  border-radius: 8px;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: $button-color;
}
