$color: rgba(0, 172, 220, 1);

.links {
  position: absolute;
  right: 50px;
  top: 22.5px;
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  &__link {
    list-style-type: none;
  }

  &__text {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding: 18.5px 10px;
  }

  &__text:hover {
    color: $color;
  }

  &__text--is-active {
    color: rgba(0, 172, 220, 1);
    border-bottom: 4px solid $color;
  }
}
