.links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;

  &__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding: 18.5px 10px;
  }
    
  &__link:hover {
    color: rgba(0, 172, 220, 1);
  }
}

.is_active {
  color: rgba(0, 172, 220, 1);
  border-bottom: 4px solid rgba(0, 172, 220, 1);
}
