.nav {
  &__list {
    display: flex;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    position: relative;
    text-decoration: none;
    padding: 23px 0;
    font-weight: 500;
    color: #060b35;

    &:hover {
      color: #00acdc;
    }
  }

  &__item {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }
}

.is-active {
  color: #00acdc;

  &::after {
    content: "";
    position: absolute;
    background-color: #00acdc;
    display: inline-block;
    border-radius: 3px;
    height: 4px;
    width: 100%;
    bottom: 0;
  }
}
