.nav {
  margin-right: $margin-size;
  padding: 0;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    line-height: normal;
    justify-content: center;
    height: $link-height;
    margin-right: 20px;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $link-font-size;
    color: $link-color;
    transition: color 300ms;

    &:hover {
      color: $is-active;
    }
  }
}

.nav__list > .nav__item:first-child .nav__link {
  margin-left: 0;
}

.nav__list > .nav__item:last-child .nav__link {
  margin-right: 0;
}

.is-active {
  color: $is-active;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: $is-active;
}
