.nav {
  display: inline-block;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    color: #000;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: $my-color;
    }
  }
}
