@import "../variables.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0 2px 4px 0 $black-transparent;
}

.nav__list {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin: 23px 0;
  padding: 0;
}

.nav__item {
  align-items: center;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &-link {
    padding: 23px 0;
    text-decoration: none;
    color: $black-text;
  }

  &-link:hover {
    color: $border-blue;
  }
}

.is-active {
  color: $border-blue;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $border-blue;
  }
}

.logo {
  margin-top: 2px;
}
