html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
  
body {
  margin: 0;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 128px;

  &__first-block {
    display: flex;
    justify-content: space-between;
  }

  &__second-block {
    display: flex;
    justify-content: space-between;
  }
}
