$blue-color: #00acdc;
$white-color: #fff;
$like-white-color: #f3f3f3;
$dark-color: #060b35;
$grey-color: #616070;
$card-width: 200px;
$card-margin-bottom: 46px;
$card-margin-right: 48px;
$padding-horizont : 40px;
$padding-vertical : 50px;
$margin-top-rw-cont: 16px;
$margin-top-card-price: 24px;
$padding-buy-link: 12px;
$mt-buy-link: 16px;
$logo-size: 40px;
$star-size: 16px;
$height-size: 60px;
$width: (4 * $card-width) + (3 * $card-margin-right) + (2 * $padding-horizont);
