* {
  box-sizing: border-box;
}

body {
  @extend %text-header;
  background-color: $white-color;
  margin: 0;
}

html,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
var,
center,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
figure,
footer,
menu,
nav,
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resets {
  margin: 0;
}
