$color-link: #00acdc;
$color-card-main: #060b35;
$color-card-add: #616070;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
