.product-card {
  width: 200px;
  height: 406px;
  box-sizing: border-box;
  border: 1px solid $color-border-light;
  border-radius: 5px;
  font-style: normal;

  transition: transform $animation-duration ease-in-out;

  &__content {
    padding: 32px 16px 0;
  }

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__description {
    line-height: 18px;
  }

  &__title {
    margin: 0 0 4px;
    font-family: $font-family-default;
    font-size: $font-size-xs;
    font-weight: $font-weight-medium;
    line-height: 18px;
  }

  &__rate {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__code {
    font-size: $font-size-xxs;
    line-height: 14px;
    margin-bottom: 16px;
    color: $color-secondary;
  }

  &__text {
    color: $color-accent;
    font-size: $font-size-xxs;
    font-family: $font-family-default;
    font-weight: $font-weight-normal;
    line-height: 14px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: $font-size-xs;
    line-height: 18px;
    font-weight: $font-weight-normal;
    color: $color-secondary;
  }

  &__cost {
    font-size: $font-size-m;
    color: $color-accent;
    font-weight: $font-weight-bold;
    line-height: 18px;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 1;

    &__title{
      color: $color-blue-hover;
    }
  }
}

.button {
  display: block;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: $color-blue-accent;
  color: $color-white;
  font-size: $font-size-s;
  line-height: 40px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  margin: 16px 0;

  &:hover {
    background-color: $color-white;
    color: $color-blue-accent;
    border: 1px solid $color-blue-accent;
  }
}
