.is-active {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 23px 0;
  font-size: 12px;
  white-space: nowrap;
  transition: color $transitionDuration;
  color: $blueAccent;
}

.is-active::after {
  content: " ";
  position: absolute;
  left: 0;
  height: 4px;
  bottom: 0;
  width: 100%;
  border-radius: 2px;
  background-color: $blueAccent;
  color: $blueAccent;
}
