.card {
  display: flex;
  flex-direction: column;
  width: $cardWidth;
  height: 100%;
  border: 1px solid $grayAccent;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    height: 134px;
    width: 160px;
    align-self: center;
  }
  
  &__label {
    padding-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $mainColor;
  }
  
  &__code-product {
    font-size: 10px;
    line-height: 14px;
    padding-top: 4px;
    color: $color-secondary;
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $mainColor;
    align-self: flex-end;
    
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 16px;
    }
  
    &-label {
      font-size: 12px;
      line-height: 18px;
      color: $color-secondary;
    }
  }
  
  &__button {
    margin: 0 auto;
    display: flex;
    color: $whiteAccent;
    width: 100%;
    height: 40px;
    background-color: $blueAccent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    &:hover {
      border: 1px solid $blueAccent;
      background-color: $whiteAccent;
      border-radius: 5px;
      color: $blueAccent;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    gap: 17px;
  }

  &__text-reviews {
    font-size: 10px;
    line-height: 14px;
  }
}
