.catalog {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 40px;

  &__card {
    margin: 0 48px 46px 0 ;

    &:nth-child(4n) {
      margin-right: 0;
    }
    
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
