$mainColor: #060b35;
$blueAccent: #00acdc;
$whiteAccent: #fff;
$grayAccent: #f3f3f3;
$color-secondary: #616070;
$transitionDuration: 0.2s;
$starSize: 16px;
$logoSize: 40px;
$cardWidth: 200px;
$startBlockSize: 96px;
