.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    display: block;
    width: 40px;
    height: 40px;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__link {
    display: flex;
    position: relative;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
    height: 60px;

    &:hover {
      transition: 0.3s;
      color: $secondary-color;
    }

    &.is-active,
    &:hover {
      color: $secondary-color;
    }

    &.is-active::after {
      content: "";
      height: 4px;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $secondary-color;
      border-radius: 2px;
    }
  }
}
