.button {
  width: $card-button-width;
  height: $card-button-height;
  padding-block: $card-button-padding-block;
  padding-inline: $card-button-padding-inline;
  box-sizing: border-box;

  font-size: $card-button-font-size;
  font-weight: $card-button-font-weight;
  color: $card-button-color;
  text-decoration: none;

  background-color: $card-button-bg-color;
  border-radius: $card-button-brdr-radius;

  transition-duration: $transition-duration;

  &:hover {
    border: $card-button-brdr-width solid $card-button-brdr-color-hover;
    color: $card-button-color-hover;
    background-color: $card-button-bg-color-hover;
  }
}
