.price {
  line-height: $card-price-line-height;

  &__label {
    font-size: $card-price-label-font-size;
    font-weight: $card-price-label-font-weight;
  }

  &__value {
    font-size: $card-price-value-font-size;
    font-weight: $card-price-value-font-weight;
    color: $page-main-color;
  }
}
