.rating {
  &__reviews {
    font-size: $card-rating-reviews-font-size;
    font-weight: $card-rating-reviews-font-weight;
    line-height: $card-rating-reviews-line-height;
    color: $page-main-color;
  }
}
