@import "./variables";

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1024px;
  margin: 0 auto;
  padding: $catalog-padding;
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, $card-width);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, $card-width);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, $card-width);
  }
}
