$catalog-padding: 40px;
$card-width: 200px;
$card-height: 400px;
$card-padding: 16px;
$border-radius: 5px;
$color-border: #e1e7ed;
$color-primary: #00acdc;
$color-dark: #060b35;
$color-white: #fff;
$transition-time: 0.3s;
