.footerContainer {
  background-color: #262626;
  color: #fff;
  width: 956px;
  margin: 0 auto;
  padding: 56px 34px 40px;
  box-sizing: border-box;
}

/* FOOTER LOGO BLOCK */

.footerLogoBlock {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: flex-start;
  height: 60px;
}

.footerLogo {
  margin: 0;
  padding: 0;

  width: 191px;
  height: 20px;
}

/* FOOTER MENU BLOCK */

.footerMenuBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "lang work order"
    "social work order";
  grid-column-gap: 7px;
  justify-content: start;
  justify-items: start;
  align-items: center;
}

.footerMenuLangSelection {
  grid-area: lang;
  font-size: 13px;
  height: 40px;
  width: 230px;
  border: none;

  background: url(./images/globe.svg) no-repeat 5px center;
  background-size: 20px;
  padding-left: 40px;

  background-color: #3b3b3b;
  color: #fff;
}

.footerMenuSocial {
  grid-area: social;
  font-size: 16px;
  line-height: 19px;
}

.footerMenuSocialHash {
  color: green;
}

.footerMenuSocialIcons {
  display: flex;
  align-items: flex-start;
}

.footerMenuSocialIcons > img {
  width: 20px;
  margin-top: 20px;
}

.footerMenuSocialIcons > img:not(:last-child) {
  margin-right: 20px;
}

.footerMenuWork {
  grid-area: work;
  margin: 0;
  padding: 0;
  align-self: start;
}

.footerMenuWork > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerMenuOrder {
  margin: 0;
  padding: 0;
  grid-area: order;
  align-self: start;
}

.footerMenuOrder > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerMenuLink {
  text-decoration: none;
  font-size: 13px;
  line-height: 40px;
  color: #fff;
}

/* FOOTER MOBILE STORE BLOCK */

.footerMobileStoreBlock {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;

  height: 120px;
}

.footerMobileStoreLogo {
  height: 40px;
}

.footerMobileStoreLogo:not(:last-child) {
  margin-right: 40px;
}

/* FOOTER COPYRIGHT BLOCK */

.footerCopyrightBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: start;
  align-items: end;

  height: 40px;
}

.footerCopyrightBlock > a {
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  line-height: 13px;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .footerContainer {
    width: 100%;
    margin: 0;
    padding: 56px 8px 40px;
  }
}

@media (max-width: 639px) {
  .footerContainer {
    width: 100%;
    margin: 0;
    padding: 56px 5px 40px;
  }

  .footerMenuBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "lang"
      "social"
      "work"
      "order";
  }

  .footerMenuLangSelection {
    margin: 20px 0 15px;
  }

  .footerMenuSocial {
    margin: 20px 0;
  }

  .footerMobileStoreLogo:not(:last-child) {
    margin-right: 20px;
  }

  .footerCopyrightBlock {
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: 20px;

    font-size: 11px;
  }
}
