.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
  background-color: $main-white;

  font-weight: 500;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;

    margin: 0;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: $link-color;
    line-height: 60px;
    text-align: center;
    font-weight: 500;

    display: inline-block;
    padding: 0;

    transition: color 0.3s;
  }

  &__link:hover {
    color: $blue-accent;
  }
}

a.is-active {
  color: $blue-accent;
  position: relative;
}

.is-active::after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background-color: $blue-accent;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logo {
  display: flex;
  width: 40px;
  height: 40px;
}
