/* #region reset */
body,
nav,
ul,
h2,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
/* #endregion */
/* #region normalize */
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #060b35;
}
/* #endregion */
/* #region header */
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin: 10px 0;
}
/* #endregion */
/* #region nav */
.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 23px 0;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link:hover,
.nav__is-active {
  color: #00acdc;
}

.is-active::after {
  position: absolute;
  width: 37px;
  height: 4px;
  bottom: 0;
  border-radius: 8px;
  background: #00acdc;
  content: "";
}
/* #endregion */
/* #region card */
.card {
  padding: 32px 16px 16px;
  width: 200px;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  display: block;

  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__name {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.card__code {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card__rating {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.card__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.card__cost {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #00acdc;
  border-radius: 5px;
  border: 1px solid #00acdc;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.card__buy:hover {
  background-color: #fff;
  color: #00acdc;
}
/* #endregion */
/* #region stars */
.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(/src/images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 :first-child,
.stars--2 :nth-child(-n+2),
.stars--3 :nth-child(-n+3),
.stars--4 :nth-child(-n+4),
.stars--5 :nth-child(-n+5) {
  background-image: url(/src/images/star-active.svg);
}
/* #endregion */
/* #region catalog */
.catalog__container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 4 * 200px + (4 - 1) * 48;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.catalog__card {
  margin-right: 48px;
  margin-bottom: 46px;
}

.catalog__card:nth-child(4n) {
  margin-right: 0;
}

.catalog__card:nth-child(-n+4) {
  margin-bottom: 46px;
}
/* #endregion */
