body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #060b35;
}

@import './styles/variables';
@import './styles/header';
@import './styles/navigation';
@import './styles/card';
@import './styles/stars';
@import './styles/main';

