main {
  background-color: #fff;
  margin: 0 auto;
  width: 956px;
  padding: 0 34px 80px;
  box-sizing: border-box;
}

.city {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  padding: 56px 0 16px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.restaurantCard {
  width: 308px;
}

.restaurantCard:hover {
  background-color: #f5f5f5;
}

.restaurantCardPic {
  width: 308px;
}

.restaurantName {
  margin-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

.restaurantFood {
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
}

.restaurantTime {
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

@media (min-width: 640px) and (max-width: 1023px) {
  main {
    width: 100%;
    padding: 0 8px 80px;
  }

  .cardContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }

  .restaurantCard {
    width: 100%;
  }

  .restaurantCardPic {
    width: 100%;
  }
}

@media (max-width: 639px) {
  main {
    width: 100%;
    padding: 0 5px 80px;
  }

  .cardContainer {
    grid-template-columns: 1fr;
  }

  .restaurantCard {
    width: 100%;
  }

  .restaurantCardPic {
    width: 100%;
  }
}
