@import "./styles/utilites/variebles.scss";

.conteiner {
  display: flex;
  flex-wrap: wrap;
  padding: 50px $main-horizontal-padding 0;
  width: $main-width;
  margin: 0 auto;

  &__card {
    display: flex;
    width: $card-width;
    margin-right: $card-margin-right;
    margin-bottom: 46px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
  }
}
