.stars {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    background: url("../images/star.svg") no-repeat center;
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }

  &__item--active {
    background: url("../images/star-active.svg") no-repeat center;
  }
}
