body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
}

header {
  box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.menu_item {
  text-decoration: none;
  color: #000;
  display: inline-block;
  position: relative;
  padding: 23px 0;
}

.menu_item:not(:last-child) {
  margin-right: 20px;
}

.menu_item.is-active {
  color: #00acdc;
}

.menu_item.is-active::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #00acdc;
  color: #00acdc;
}

.menu_item:hover {
  color: #00acdc;
}

.rate,
.rating_value,
.price {
  display: flex;
}

.card {
  width: 200px;
  height: 403px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card > img {
  margin: 30px 20px 41px;
  bottom: 59.31%;
  width: 160px;
  height: 134px;
}

.name,
.code,
.feedbacks,
.price,
.buy {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 944px;
  height: 858px;
  justify-content: space-between;
  align-content: space-between;
}

.name {
  margin: 0 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.code {
  margin: 5px 15px;
}

.rate {
  justify-content: space-between;
  margin: 16px 15px 15px;
}

.rating_value {
  width: 91px;
  justify-content: space-between;
  margin-top: 1px;
}

.feedbacks {
  text-align: right;
}

.price {
  justify-content: space-between;
  margin: 21px 15px 20px;
  align-items: baseline;
}

.price-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.buy {
  text-decoration: none;
  padding: 11px 56px;
  margin: 15px 15px 20px;
  display: block;
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.buy:hover {
  background: #fff;
  color: #00acdc;
}
