
body {
  margin: 0;
  text-decoration: none;
  color: #000;
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
}

.nav-item:not(:first-child) {
  margin-left: 20px;
}

.nav-link {
  position: relative;
  font-size: 12px;
  line-height: 60px;
  font-weight: 500;
}

.nav-link:hover,
.is-active {
  color: #00acdc;
}

.is-active::after {
  content: "";
  height: 4px;
  background: #00acdc;
  position: absolute;
  border-radius: 8px;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  height: 40px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 944px;
  margin: 50px auto;
}

.card {
  box-sizing: border-box;
  max-width: 200px;
  font-family: Roboto;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  font-size: 11px;
  padding: 30px 14px 14px;
  margin-bottom: 51px;
}

.product-img {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 45px;
}

.card-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.code {
  margin-bottom: 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.stars {
  display: flex;
  align-items: center;
}

.star:not(:last-child) {
  margin-right: 6px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.feedback {
  margin: 0;
}

.price-title {
  margin: 0;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.button {
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  background: #00aadc;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background: white;
  border: 1px solid #00acdc;
  color: #00acdc;
}
