body {
  margin: 0;
  font-family: "Roboto" , sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 403px);
  grid-column-gap: 48px;
  grid-row-gap: 50px;
  justify-content: center;
}

@import "./header.scss";
@import "./card.scss";