* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 50px;
  margin-bottom: 50px;
}

.logo {
  margin: 10px 0;
}

main {
  width: 944px;
  margin: 0 auto;
  padding: 0 40px 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-row-gap: 50px;
}

@import "./scss/card";
@import "./scss/main-manu";
@import "./scss/rating";
