* {
  box-sizing: border-box;
}

html {
  color: #060b35;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

body {
  margin: 0;
}

.stars {
  display: flex;
  justify-content: space-between;
  width: 100px;
  /*dont undersand why need this padding, but its required to pass tests*/
  padding-right: 4px;
}

.stars__star {
  background-image: url(/images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.stars--1 .stars__star:nth-child(-n+1) {
  background-image: url(/images/star-active.svg);
}

.stars--2 .stars__star:nth-child(-n+2) {
  background-image: url(/images/star-active.svg);
}

.stars--3 .stars__star:nth-child(-n+3) {
  background-image: url(/images/star-active.svg);
}

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url(/images/star-active.svg);
}

.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url(/images/star-active.svg);
}

.page__content {
  margin: 0 auto;
}

.header {
  box-shadow: 0 0 6px #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header__logo {
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

.nav__item:first-of-type {
  margin-left: 0;
}

.nav__link {
  color: #060b35;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #00acdc;
}

.nav__link.is-active {
  color: #00acdc;
}

.nav__link.is-active::after {
  background-color: #00acdc;
  border-radius: 8px;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 40px;
  width: 1024px;
}

@media (min-width: 1200px) {
  .main-content {
    padding: 50px 128px;
    width: 1200px;
  }
}

.main-content__item {
  margin-bottom: 46px;
  margin-right: 48px;
}

.main-content__item:nth-child(4n) {
  margin-right: 0;
}

.main-content__item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.product-card {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: 200px;
}

.product-card__image {
  align-self: center;
  height: 134px;
  margin-bottom: 40px;
  vertical-align: bottom;
  width: 160px;
}

.product-card__name {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  margin-bottom: 4px;
}

.product-card__code {
  color: #616070;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 16px;
  align-self: flex-start;
}

.product-card__rating {
  align-items: center;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-bottom: 24px;
  line-height: 14px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  line-height: 18px;
  width: 100%;
}

.product-card__price-text {
  color: #616070;
}

.product-card__price-amount {
  font-weight: 700;
  font-size: 16px;
}

.product-card__button {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #00acdc;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.product-card__button:hover {
  background-color: #fff;
  border-color: #00acdc;
  color: #00acdc;
}

/*# sourceMappingURL=styles.css.map */
