body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 50px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
  height: 40px;
  width: 40px;
}

.header__navigation {
  color: #000;
  font-size: 12;
  line-height: 14;
  font-weight: 500;
}

.header__navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__navigation-item:not(:last-child) {
  margin-right: 20px;
}

.header__navigation-item a {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.header__navigation-item a:hover,
.header__navigation-item--active a {
  color: #00acdc;
}

.header__navigation-item--active a::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #00acdc;
  border-radius: 4px;
}

/*Catalog*/
.catalog {
  width: 944px;
  margin: 0 auto;
  padding: 0 40px 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-row-gap: 50px;
}

@media (min-width: 1200px) {
  .catalog {
    padding: 0 128px 50px;
  }
}

/* Product card */
.button {
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 170px;
  padding: 12px;
  border-radius: 5px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  color: #00acdc;
  background-color: #fff;
}

.rates {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.rates .rate {
  margin-right: 4px;
  width: 15px;
  height: 15px;
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rates--1-active .rate:nth-child(-n+1) {
  background-image: url(images/star-active.svg);
}

.rates--2-active .rate:nth-child(-n+2) {
  background-image: url(images/star-active.svg);
}

.rates--3-active .rate:nth-child(-n+3) {
  background-image: url(images/star-active.svg);
}

.rates--4-active .rate:nth-child(-n+4) {
  background-image: url(images/star-active.svg);
}

.rates--5-active .rate:nth-child(-n+5) {
  background-image: url(images/star-active.svg);
}

.product {
  box-sizing: border-box;
  width: 202px;
  padding: 30px 15px 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
}

.product__text {
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

.product__image {
  margin: 0 auto;
  margin-bottom: 45px;
  width: 160px;
  height: 134px;
  display: block;
}

.product__description {
  margin-bottom: 15px;
}

.product__title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.product__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.product__review {
  cursor: pointer;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.product__price-size {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

/*# sourceMappingURL=style.css.map */
