$Main_accent: #060b35;
$Secondary_accent: #616070;
$White: #fff;
$Blue_accent: #00acdc;
$Grey_elements: #f3f3f3;
$Yellow_stars: #ffde6a;
$buy-width: 166px;
$buy-height: 40px;
$card-width: 200px;
$image-width: 160px;
$image-height: 134px;
$spacing-lg: 32px;
$spacing-md: 16px;
$nav-link-color: #060b35;
$card-hover-color: #34568b;
$catalog-padding-vertical: 50px;
$catalog-padding-horisontal: 40px;
$catalog-gap: 48px 46px;
$border-size: 1px;
$border-radius: 5px;
$transition-time: 300ms;
$gap: 4px;
$star-size: 16px;
$star-width: $star-size;
$star-height: $star-size;
$title-font-size: 12px;
