$primary-color: #00acdc;
$secondary-color: #f3f3f3;
$font-family-roboto: Roboto, sans-serif;
$font-family-inter: 'Inter', sans-serif;
$star-width: 13px;
$star-height: 12px;
$border-radius: 5px;
$white: #fff;
$spacing-small: 10px;
$spacing-medium: 17px;
$spacing-large: 33px;
$text-color-dark: #060b35;
$text-color-light: #616070;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$transition-duration: 0.3s;
$hover-transition: all $transition-duration ease;
$card-width: 200px;
$card-height: 408px;
