.catalog {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-auto-flow: row;
  justify-content: center;
  grid-gap: 50px 48px;
  margin-bottom: 78px;

  @media (min-width: 1024px) {
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    padding: 0 128px;
  }
}
