.card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 50px 48px; 
  justify-content: center;

  @media (max-width: 1020px) {
    grid-template-columns: repeat(3, auto);
  }

  @media (max-width: 720px) { 
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: 450px) { 
    grid-template-columns: repeat(1, auto);
  }
}
