@import "variables";

.cards-list {
  margin: 50px auto;
  max-width: 1024px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-auto-flow: row;
  justify-content: space-between;
  grid-row-gap: 50px;

  padding: 0 40px;
  list-style: none;
}
