@import "./variables";

.card {
  box-sizing: border-box;
  width: $card-width;
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__picture {
    display: block;
    margin: 15px auto 45px;
    width: 160px;
    height: 134px;
  }

  &__headline {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 5px;
  }

  &__review {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 20px;
    cursor: pointer;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__price-value {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__btn {
    box-sizing: border-box;
    display: block;
    border: 1px solid $main-color;
    width: 170px;
    height: 40px;
    background-color: $main-color;

    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    text-align: center;

    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__btn:hover {
    background-color: #fff;
    color: $main-color;
  }
}

