@import "variable.scss";


.card-list {
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-column-gap: 48px;
  grid-row-gap: 50px;

  padding: 0 40px 0;
  margin: 0 auto;

  justify-content: center;

}
