.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top {
  display: flex;

  margin-top: 25px;
}

.bottom {
  display: flex;
}

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 25px 24px;
}

.card:first-child {
  margin-left: 50px;
}

.card:last-child {
  margin-right: 50px;
}

.strong {
  font-weight: bold;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
  margin: 5px 15px;
}

.name {
  font-size: 12px;
  line-height: 15px;
  margin-top: 45px;
  margin-bottom: 0;
  display: block;
}

.cost {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.product {
  margin: 30px 20px;
  display: flex;
  align-content: center;
  height: 134px;
  width: 160px;
}

.star {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.star_click {
  background: url("images/star-active.svg") center no-repeat;
}

.star-not_click {
  background: url("images/star.svg") center no-repeat;
  margin-right: 0;
}

.rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
}

.rate.price {
  margin-left: 0;
  align-items: flex-end;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #00acdc;
  color: white;
  margin: 15px;
  border: 1px solid #00acdc;
}

.button:hover {
  color: #00acdc;
  background-color: white;
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}
