@import "./variables";

.card-list {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-column-gap: 48px;
  grid-row-gap: 50px;
  justify-content: center;

  margin: 50px 0;
  padding: 0 50px;
}
