.card {
  font-family: "Roboto", sans-serif;
  width: 200px;
  height: 403px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.photo {
  width: 160px;
  height: 134px;

  margin: 30px 19px 0;
}

.par {
  font-weight: 400;
  margin: 0;
}

.name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 41px 14px 0;
}

.fw {
  line-height: 13px;
}

.code {
  font-size: 11px;
  margin: 5px 83px 0 14px;
}

.reviews_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16.5px 14px 0 15px;
}

.stars {
  width: 13px;
  height: 13px;
  align-self: center;
  justify-self: center;
}

.star {
  background: url(./img/star-active.svg);
  background-repeat: no-repeat;
}

.star1 {
  background: url(./img/star.svg);
  background-repeat: no-repeat;
}

.reviews {
  margin-left: 16px;
  font-size: 11px;
  justify-self: center;
  align-self: center;
}

.price_block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 20px 14px 0;
}

.price {
  font-size: 11px;
}

.value {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.button {
  margin: 20px 14px 14px;
  background: #00acdc;
  color: #fff;
  cursor: pointer;
  width: 170px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  border-style: none;
  text-transform: uppercase;
  box-sizing: border-box;
}

.button:hover {
  background: #fff ;
  border: 1px solid #00acdc ;
  color: #00acdc ;
}






