@import "variables";

.card-list {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-auto-flow: row;

  grid-column-gap: 48px;
  grid-row-gap: 50px;

  padding: 40px 50px 0;
  justify-content: center;

}

