.catalog {
  width: 944px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  grid-row-gap: 50px;

  @media (min-width: 1200px) {
    & {
      padding: 0 128px;
    }
  }
}
