@import 'menu';
@import 'product_cards';

.catalog {
  //border: solid red 1px;
  @extend %flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px 128px;

  .box {
    //border: solid red 1px;
    margin-bottom: 50px;
  }

}

@media (max-width: 1024px) {
  .catalog {
    margin: 50px 40px;
  }
}
