@import 'menu';
@import 'product_cards';



.catalog {
  width: $width-catalog;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;

  .box {
    margin-bottom: 50px;
  }

  @media (max-width: 1024px) {
    .catalog {
      margin: 50px 40px;
    }
  }

}
