@import 'menu';
@import 'product_cards';



.catalog {
  //border: solid red 1px;
  width: $width-catalog;
  @extend %flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px auto;

  .box {
    //border: solid red 1px;
    margin-bottom: 50px;
  }

}

@media (max-width: 1024px) {
  .catalog {
    margin: 50px 40px;
  }
}
