$card-color: #00acdc;

.main-menu {
  display: flex;
  justify-content: space-between;

  &--item {
    list-style: none;
    margin: 22.5px 0;
  }

  &--item a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #000;
    margin-left: 20px;

  }

  &--item a:hover {
    color: $card-color;
  }

  &--item_active a,
  &--item a:active {
    color: $card-color;
  }

  &--item_active a::after {
    display: block;
    position: relative;
    top: 19px;
    width: 100%;
    height: 4px;
    background-color: $card-color;
    border-radius: 8px;
    content: "";
  }
}
