@import "./variables";

.nav-list {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  list-style: none;

  &__paragraph {
    margin-right: 20px;
  }

  &__paragraph:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    line-height: 60px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    color: $main-color;
  }

  &__link-is-active {
    position: relative;
    color: $main-color;
  }

  &__link-is-active::after {
    content: "";
    position: absolute;
    background: $main-color;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
  }
}

