@mixin shadow {
  height: 60px;
  background: $white-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@mixin stars-active {
  @for $st from 1 through 4 {
    &:nth-child(#{$st}) {
      background: url(../images/star-active.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
