$text-color-main: #060b35;
$text-color-secondary: #616070;
$text-color-nav-selected: #00acdc;
$card-width: 200px;
$cards-margin: 50px;
$field-width: calc((#{$card-width} * 4) + (#{$cards-margin} * 3));
