$white-color:#fff;
$arial-color:#00acdc;
$bludark-color:#060b35;
$font-weight-style-bold: 700;
$width-section: 166px;
$family-fonts-medium: "Roboto-Medium", sans-serif;
$family-fonts-bold: "Roboto-bold", sans-serif;
