.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  padding: 16px;

  font-size: 12px;
  line-height: 18px;

  background-color: $white;
  border-radius: 5px;
  border: 1px solid $light-gray;

  transition: transform $duration linear;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    display: block;
    height: 134px;
    max-width: 160px;
    margin: 16px auto 0;
  }

  &__info {
    margin-top: 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    color: $darkblue;
    cursor: pointer;
    transition: color $duration linear;
  }

  &:hover &__title {
    color: #34568b;
  }

  &__subtitle {
    color: $gray;
    font-size: 10px;
    line-height: 14px;
    margin-top: 4px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  &__reviews {
    color: $darkblue;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;
    color: $gray;
    font-size: 12px;
    line-height: 18px;
  }

  &__btn {
    text-align: center;
    height: 40px;
    margin-top: 16px;

    text-decoration: none;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    background-color: $light-blue;
    border-radius: 5px;
    border: 1px solid $light-blue;
    transition: color $duration linear, background-color $duration linear;

    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $light-blue;
    }
  }
}

.value {
  color: $darkblue;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
