* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body,
h1,
p {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border-style: none;
}

button {
  padding-inline: 0;
  padding-block: 0;
  font-family: inherit;
}
