.header {
  width: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 50px;
  box-shadow: 0 2px 4 #0000000D;

  &__logo {
    height: $icon-size;
    width: $icon-size;
    margin: auto 0;
  }
}
