
.page {

  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 4*$card-size + 3*$card-margin;
    justify-content: center;
    margin: auto;
  }
  &__header {
    margin-bottom: 46px;
  }
}
