.card {
  // font-size: 12px;
  background-color: #fff;

  width: $width-card;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;

  margin-bottom: 48px;
  padding: 32px 16px 17px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s;

  &:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
  }

  &__img {
    max-width: $width-card - 40px;
    margin-bottom: 40px;
    height: 134px;
  }

  &__title {
    font-weight: 500;
    font-size: inherit;
    line-height: 18px;
    color: $main-text-color;
    margin-bottom: 4px;
  }

  &:hover &__title {
    color: #34568b;
    transition: 0.3s;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;
    color: #616070;
  }

  &__price {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    color: #616070;
  }

  &__price-bold {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    display: flex;
    width: 100%;
    height: 40px;

    border-radius: 5px;
    background-color: $hovering-color;

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color: $hovering-color;
      border: 1px solid $hovering-color;
      transition: 0.3s;
    }
  }

  &__raiting {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &-comments {
      font-size: 10px;
      color: $main-text-color;
    }
  }
}
