$header-text-color: #00acdc;
$header-link-color: #060b35;
$card-width: 200px;
$title-color: rgba(6, 11, 53, 1);
$code-color: rgba(97, 96, 112, 1);
$review-color: rgba(6, 11, 53, 1);
$price-color: rgba(0, 0, 0, 1);
$button-color: rgba(0, 172, 220, 1);
$button-text-color: rgba(255, 255, 255, 1);
$button-hover-color: #fff;
$button--hover-text-color: #00acdc;
