.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $border-color;
  &__goods-image {
    align-self: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 4px;
    color: $main-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
  }
  &__code {
    margin-bottom: 16px;
    color: $secondary-color;
    font-size: 10px;
    line-height: 140%;
  }

  &__rating {
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__stars {
    margin-right: 17px;
  }

  &__reviews {
    color: $main-color;
    font-size: 10px;
    line-height: 140%;
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    color: $secondary-color;
    font-size: 12px;
    line-height: 150%;
  }

  &__price {
    color: $main-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    margin-bottom: 16px;
  }

  &__buy-button {
    padding: 12px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    background-color: $link-color;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: $link-color;
      border-color: $link-color;
      background: #fff;
    }
  }
}
