@use "../../other/variables";
@use "../../other/extends";

.product-card {
  @extend %flex-center-center;

  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  padding: 16px;
  border: 1px solid rgba(243, 243, 243, 1);
  outline-offset: 1px;
  border-radius: $border-radius;
}
