$accent-color: #00acdc;
$gray: #f3f3f3;
$main-color: #060b35;
$sec-color: #616070;
$hover-text-color: #34568b;
$white: #fff;

$main-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

$roboto: "Roboto", sans-serif;

$card-width: 200px;
$card-img-width: 160px;
$card-img-height: 134px;
$card-border-radius: 5px;
$card-text-indent: 16px;
$card-text-indent-lg: 24px;

$font-size-ordinary: 10px;
$font-size-main: 12px;
$font-size-large: 14px;
$font-size-accent: 16px;

$line-height-large: 18px;
$line-height-main: 14px;
