$main-link-color: #060B35;
$active-link-color: #00ACDC;

$main-text-color: #060b35;
$secondary-text-color: #616070;

$main-button-color: #00acdc;
$secondary-button-color: #fff;

$card-title-color: #34568b;

$stars-count: 4;
$transition-speed: 300ms;
