$card-width: 200px;
$card-margin-r: 48px;
$container-padding: 40px;
$card-width-total: 4* $card-width;
$card-margin-r-total: 3 * $card-margin-r;
$container-padding-total: 2 * $container-padding;
$container-width: $card-width-total + $card-margin-r-total
  + $container-padding-total;
$text-color: #060b35;
