$font-text: 'Roboto', sans-serif;
$cor-texto-padrao: #000;
$cor-ative: #00acdc;
$background-color: #fff;
$button-color: #00acdc;
$main-color-text: #060b35;
$secondary-color-text: #616070;
$border-color: #f3f3f3;
