.catalog {
  @extend %flexStart;
  padding: $verticalPaddingsCatalog $horizontalPaddingsCatalog;
  max-width: $numberOfCardsInRow * $widthCard + $distanceBetweenCards * 3;
  flex-wrap: wrap;

  &__card {
    margin-bottom: 46px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $distanceBetweenCards;
  }

}
