.home-page {
  background-color: #fff;

}

.main {
  min-width: (4 * $cards-size-width)
    + (3 *($cards-margin-rights) + $min-padding-left-right);

  max-width: (4* $cards-size-width)
    + (3 *($cards-margin-rights) + $max-padding-left-right);


  margin: 0 auto;
  display: flex;
  padding: 50px 41px;
  flex-wrap: wrap;
}
