.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 50px;

  &__logo {
    align-self: center;
    height: 40px;
  }

  .nav {
    width: 757px;

    &__list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    &__link {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 60px;
      color: #060b35;
    }

    &__item {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: #00acdc;
        cursor: pointer;
      }
    }
  }
  .is-active {
    color: #00acdc;

    &.nav__item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #00acdc;
      border-radius: 8px;
    }
  }
  
  .nav__item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #00acdc;
    border-radius: 8px;
  }
}
