.header {
  font-family: Roboto, Arial, sans-serif;

  padding: 0 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  &__logo {
    display: block;
    width: 40px;
    height: 40px;
  }
}
