.header {
  @extend %flexBetween;
  padding: $headerPaddings;
  align-items: center;
  text-transform: uppercase;
  background: $whiteColor;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    @extend %flexCenter;
  }
}
