.is-active {
  position: relative;

  color: $color-accent-blue;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    border: solid 2px $color-accent-blue;
    border-radius: 8px;
  }
}
