.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid;
  background-color: rgba(0, 172, 220, 1);
  border-color: rgba(0, 172, 220, 1);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 172, 220, 1);
}
