.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;

  padding: 32px 16px 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: $page-color;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  &__container {
    width: 100%;
  }

  &__image {
    display: flex;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-color;
    margin-bottom: 4px;
  }

  &:hover &__title {
    color: $hover-color;
    transition: transform 0.3s;
  }

  &__code {
    color: $info-color;
    font-size: 10px;
    font-weight: 400;
    margin: 0 0 17px;
    padding: 0;
  }

  &__review-container {
    display: flex;
    justify-content: space-between;
  }

  &__review-label {
    color: $text-color;
    font-size: 10px;
    font-weight: 400;
    padding-top: 1px;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 16px;
  }

  &__price-label {
    color: $info-color;
    line-height: 18px;
    font-weight: 400;
    font-size: 12px;
  }

  &__price-value {
    font-size: 16px;
    font-weight: $font-bold;
    line-height: 18px;
    color: $text-color;
  }

  &__buy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: $page-color;
    background-color: $choice-color;
    border-radius: 5px;
    border: 1px solid $choice-color;
    font-size: 14px;
    font-weight: $font-bold;
    line-height: 16px;
    text-transform: uppercase;
    transition: color 0.3s background-color 0.3s;

    &:hover {
      background: $page-color;
      color: $choice-color;
    }
  }
}
