.model-name {
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(6, 11, 53, 1);
}

.model-code {
  height: 14px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(97, 96, 112, 1);
}
