html {
  color: #060b35;
  font-family: Roboto, sans-serif;
  $component-color: #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  font-size: 12px;
}

header {
  padding: 0;
  font-weight: 500;
}
