// @import "./functions-catalog.scss";

.card-holder {
  width: minWidth(4);
  padding: 50px 40px 74px;
  display: flex;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 1200px) {
    & {
      width: maxWidth(4);
      padding-left: 128px;
      padding-right: 128px;
    }
  }
}

.card {
  margin: 0 48px 46px 0;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}
