.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 168px;
  height: 364px;
  border: 1px solid;
  border-color: rgba(243, 243, 243, 1);
  border-radius: 5px;
  padding: 32px 16px 16px;
  margin-bottom: 49px;
  margin-right: 48px;

  &__photo {
    width: 160px;
    height: 134px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 40px;
  }

  &__model-name {
    margin-bottom: 2px;
  }

  &__model-code {
    margin-bottom: 16px;
  }

  &__price {
    margin-bottom: 16px;
  }

  &__reviews {
    margin-bottom: 24px;
  }
}

.product-card:nth-child(4),
.product-card:last-child {
  margin-right: 0;
}
