.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__star {
    margin: 2px;
    height: 16px;
    width: 16px;
    background: url("../../images/star.svg");
    background-repeat: no-repeat;
  }

  @for $childIndex from 1 through 5 {
    &--#{$childIndex} &__star:nth-child(-n+#{$childIndex}) {
      background-image: url("../../images/star-active.svg");
      background-repeat: no-repeat;
    }
  }
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text-reviews {
    font-size: 10px;
    font-weight: 400;
    color: rgba(97, 96, 112, 1);
  }
}
