.catalog {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  align-content: center;
  justify-content: center;

  max-width: 1024px;
  margin: 50px auto;
  padding: 0 16px;
}
