.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 944px;
  margin: 0 auto;

  &__cards {
    margin-bottom: 51px;
  }
}

@media all and (min-width: 1024px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: calc(100% - 256px);
  }
}
