.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 50px;
  margin-bottom: 50px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  font-weight: 500;
}

.logo_image {
  height: 40px;
}
