.header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 60px;
  background: $base-color;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    $logoSize: 40px;
    width: $logoSize;
    height: $logoSize;
  }
}
