@import "reset";
@import "variables";
@import "header";
@import "nav";
@import "catalog";
@import "card";
@import "stars";

html {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
}
