@mixin flex-row($align: center, $justify: flex-start) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin nav-align {
  height: var(--nav-height);
  line-height: var(--nav-height);
}
