:root {
  --header-bg: #fff;
  --active: #00acdc;
  --underline-h: 4px;
  --underline-w: 37px;
  --nav-height: 60px;
  --container-pad: 50px;
  --normalweight: 400;
  --boldweight: 700;
  --text-color: #060b35;
  --title-hover: #34568b;
  --text-detail: #616070;
  --border: #f3f3f3;
  --column-gap: 46px;
  --row-gap: 48px;
  --card-width: 200px;
  --transition: 300ms;
}
