@use "../other/variables";

@mixin font-style ($color, $font-size, $line-height,$font-weight ) {
  color: $color;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

%flex-align-center {
  display: flex;
  align-content: center;
}

%flex-center-center {
  @extend %flex-align-center;

  justify-content: center;
}
%flex-between-center {
  @extend %flex-align-center;

  justify-content: space-between;
}

%nav-bar-items {
  cursor: pointer;
  color: #00acdc;
}
