@import "_variables.scss";
@import "_mixins.scss";

.cards {
  @include centered-justify;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;

  &__wrapper {
    width: 200px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin: 0 24px 50px;
    padding: 30px 14px 15px;

    .cards__image {
      width: 160px;
      height: 134px;
      display: block;
      margin: 0 auto;
    }
  }

  &-title {
    margin-top: 45px;

    .cards-title__header {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;

    .cards__stars {
      display: flex;

      .cards__star--active {
        width: 15px;
        height: 15px;
        background: url("../images/star-active.svg") center no-repeat;
        margin-right: 4px;
      }

      .cards__star:nth-child(n+5) {
        background-image: url("../images/star.svg");
      }
    }
  }

  &__feedback,
  &-cost__price,
  &-title__code {
    font-size: 11px;
  }

  &-cost {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;

    .cards-cost__sum {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__button {
    font-family: $font;
    width: 170px;
    height: 40px;
    background: $content-button-color;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;

    &:hover {
      color: $content-button-color;
      background-color: #fff;
      border: 1px solid $content-button-color;
      cursor: pointer;
      transition: color 500ms ease-in-out;
    }
  }
}
