@import "./image";
@import "./text";
@import "./rating";
@import "./price";
@import "./button";
@import "./utils/variables";

.card {
  margin-bottom: 46px;

  padding: 32px $card-left-paddings $card-right-paddings;

  border: $card-border-width solid #f3f3f3;
  border-radius: 5px;

}

.card__container {
  display: flex;
  width: 166px;
}
