@import "./image";
@import "./text";
@import "./rating";
@import "./price";
@import "./button";
@import "./utils/variables";

.card {
  margin-bottom: 46px;

  padding: 32px $cardLeftPaddings $cardRightPaddings;

  border: $cardBorderWidth solid #f3f3f3;
  border-radius: 5px;

  background-color: #fff;

  letter-spacing: normal;
}

.card__container {
  display: flex;
  width: 166px;
}
