.card {
  &__container--price {
    @extend %flex-and-space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-text {
    font-size: 12px;
  }

  &__price-amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
}
