.card {
  &__container--rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
  }

  &__rating {
    font-size: 10px;
    font-weight: 400;
  }
}

.stars-star {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-right: 4px;
  background-image: url(../images/star.svg);
}

.stars--4 > :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
