.card {
  &__container--text {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  &__text-description {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &__text-code {
    padding-top: 4px;
    font-size: 10px;
    color: $color-secondary;
  }
}
