.card {
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: $background-color-card;
  width: 198px;
  height: 406px;
  transition: transform 300ms;

  &__logo {
    width: 160px;
    height: 134px;
    margin: 32px 19px 0;
  }

  &__info {
    margin: 36px 16px 16px;
    color: #060b35;

    &-title {
      width: 166px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      margin: 0 0 4px;
    }

    &-text {
      color: $card-text-color;
      line-height: 14px;
      font-size: 10px;
      margin: 0 0 16px;
    }

    &-rate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 24px;
    }

    &-price {
      display: flex;
      justify-content: space-between;
      margin: 0 0 16px;
    }

    &-button {
      cursor: pointer;
      width: 100%;
      padding: 12px 0;
      border-radius: 5px;
      background-color: $button-color-card;
      border: none;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      flex-shrink: 0;
    }

    &-button:hover {
      background-color: $background-color-card;
      color: $button-color-card;
      outline: 1px solid $button-color-card;
    }
  }

  &:hover {
    transform: scale(120%);

    .card__info-title {
      color: $title-color-card;
    }

    .card__info-button {
      background-color: $background-color-card;
      color: $button-color-card;
      outline: 1px solid $button-color-card;
    }
  }
}
