.stars {
  display: flex;
  align-items: center;

  &__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  }

  &__star:last-child {
    background-image: url(../images/star.svg);
  }
}

.rate-reviews {
  margin: 0;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 10px;
  line-height: 14px;
  color: $card-text-color;
}
