.card-container {
  margin-top: 50px;
  margin-left: 24px;
  margin-right: 24px;
  text-decoration: none;
  padding: 32px 16px 16px;
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}

.card-container:nth-child(n+5) {
  margin-top: 46px;
  margin-bottom: 50px;
}

.card-container__image {
  margin: 0 auto 40px;
  display: block;
  height: 134px;
}

.card-container__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  color: #060b35;
}

.card-container__product-code {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card-container__price {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  width: 166px;
  height: 18px;
}

.card-container__price-row {
  width: 31px;
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card-container__cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card-container a:hover {
  text-decoration: none;
}

.card-container__button {
  width: 166px;
  height: 40px;
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  border-color: #00acdc;
  color: #f3f3f3;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.card-container__button:hover {
  cursor: pointer;
  width: 166px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  border-color: #00acdc;
  color: #00acdc;
  text-decoration: none;
}
