@import "sass_style/variable.scss";

.stars {
  display: flex;
  align-items: center;
  &__star {
    background-image: url(/images/star.svg);
    background-position: center;
    width: $dimension;
    height: $dimension;
    background-repeat: no-repeat;
    margin-right: 4px;
  }
  &--4 &__star:nth-child(-n+4) {
    background-image: url(/images/star-active.svg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px $dimension $dimension;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: #060b35;
  margin-right: 48px;
  margin-bottom: 46px;
  &__image {
    display: block;
    height: 134px;
    align-self: center;
    margin: 0 auto 40px;
  }
  &__code {
    font-size: 10px;
    font-weight: 400;
    text-align: left;
    margin-bottom: $dimension;
    color: #616070;
    line-height: 14px;
  }
  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    width: 166px;
    margin-bottom: 4px;
  }
  &__review {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
  }
  &__price {
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $dimension;
  }
  &__price-text {
    font-weight: 400;
    font-size: 12px;
  }
  &__value {
    font-size: $dimension;
    font-weight: 700;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    width: 166px;
    margin-bottom: 24px;
  }
  &__buy-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: $blueColor;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: $dimension;
    text-transform: uppercase;
    color: #fff;
  }
  &__buy-link:hover {
    background: #fff;
    border: 1px solid $blueColor;
    border-radius: 5px;
    color: #00acdc;
  }
  &:nth-child(4n) {
    margin-right: 0;
  }
}
