.stars {
  display: flex;
  align-items: center;

  &__star {
    background-image: url(/images/star.svg);
    background-position: center;
    width: $dimension;
    height: $dimension;
    background-repeat: no-repeat;
    margin-right: 4px;
  }

  &--4 &__star:nth-child(-n+4) {
    background-image: url(/images/star-active.svg);
  }
}
