$nav-menu-margin: 0;
$nav-menu-padding: 0;
$box-sizing: border-box;
$accent-color: #00acdc;
$body-bg-color: aliceblue;
$header-bg-color: #fff;
$nav-link-height: 60px;
$logo-size: 40px;
$header-padding: 50px;
$menu-link-color: #060b35;
