.reviews {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

  margin-bottom: 24px;
  width: 166px;

  &__stars {
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;

    &:nth-child(-n + 4) {
      background-image: url(../images/star-active.svg);
    }
  }

  &__count {
    position: absolute;
    right: 0;
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
  }
}
