*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;

  @extend %font-roboto;
}

.button {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

a {
  transition: all 0.3s;
}
