html,
body,
div,
h1,
h2,
h3,
p,
span,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, system-ui, sans-serif;
}

$accentColor: #00acdc;
$mainColor: #060b35;
$secondaryColor: #616070;
