@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: roboto, arial, sans-serif;
}

@mixin navbarFont {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin buttonFont {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin productDescriptionFont {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

@mixin productCodeAndReviewFont {
  font-size: 11px;
  line-height: 13px;
}

@mixin productPriceFont {
  font-style: normal;
  font-weight: normal;
  @include productCodeAndReviewFont();
}
