$fonts: Roboto, sans-serif;
$color__black: #060b35;
$color__blue: #00acdc;
$color__white: #fff;
$color__gray: #616070;
$header__box-shadow: rgba(0, 0, 0, 0.05);
$border-color: #f3f3f3;
$global-radius: 5px;
