@import '../product_card/utils_product_card/variables_product_card';

// Основні стилі для тіла
html,
a,
h1,
h2,
h3,
h4,
h5,
h6,
body,
header,
nav,
ul,
li,
img,
p,
main {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

// body {
//  background-color: $secondary-color;
// }
