* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

.is-active {
  position: relative;

  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    background-color: $accent-color;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    height: 4px;
    width: 100%;
  }
}
