$fontSize: rem(12);
$fontFamily: "Roboto", sans-serif;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

$skyColor: #00acdc;
$darkColor: #060b35;
$grayColor: #616070;

$maxWiidth: 1200px;
$minWidth: 320px;

$cardWidth: 200px;
$cardMrgnRight: 48px;
$cardMrgnBottom: 46px;
