$cardWidth: 200px;
$cardGap: 48px;
$cardMrgnBottom: 46px;

$star-size: 16px;

$fontSize: 12px;
$fontFamily: "Roboto", sans-serif;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

$skyColor: #00acdc;
$darkColor: #060b35;
$grayColor: #616070;
