h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3em;
}

* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

$field: 16px;

.container {
  padding: 0 $field;
  margin: 0 auto;
  max-width: 1132px;
  width: 100%;
  &--catalog {
    max-width: 944 + $field * 2;
  }
  @media screen and (max-width: 1024px) {
    max-width: 924 + $field * 2;
  }
}

.btn {
  border-radius: var(--br-5);
  background-color: var(--blue);
  color: var(--light);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--blue);
  height: 40px;
  transition: .3s ease all;
  width: 100%;
  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
      color: var(--blue);
    }
  }
}
